div.jqZoomTitle {}
.jqZoomPup {
	overflow: hidden;
	background-color: #FFF;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 10;
	border-color: #ddd;
	border-style: solid;
	cursor: crosshair;
}
.jqZoomPup img {
	border: 0px;
}
.preload {
	-moz-opacity: 0.8;
	opacity: 0.8;
	filter: alpha(opacity=80);
	color: #333;
	font-size: 12px;
	font-family: Tahoma, Arial, sans-serif;
	text-decoration: none;
	border: 1px solid #CCC;
	background-color: white;
	padding: 8px;
	text-align: center;
	background-image: url(../images/zoomloader.gif);
	background-repeat: no-repeat;
	background-position: 43px 30px;
	width: 100px;
	height: 55px;
	z-index: 10;
	position: absolute;
	top: 3px;
	left: 3px;
}
.jqZoomWindow {
	border: 1px solid #eee;
	background-color: #FFF;
	margin-top: 2px;
}