#jquery-stickers {
	z-index: 30;
}
.stick {
	margin: 5px;
	padding: 15px;
	width: 200px;
	color: #000;
	z-index: 9999;
	position: relative;
	text-align: center;
}
.exit {
	width: 16px;
	height: 16px;
	float: right;
	margin: -5px -5px 0 0;
	cursor: pointer;
}
.classic {
	border: 1px solid #5bcf5d;
	background-color: #ecfae3;
	position: fixed;
	top: 20%;
	z-index: 1100;
}
.classic.error {
	border: 1px solid #5bcf5d;
	background-color: #F7C8D2;
}
.opacity {
	color: #555;
}
.next {
	border: 1px solid #5ebe49;
	font-weight: bold;
	background-color: #eee;
	color: #333;
	text-transform: uppercase;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Exo 2', sans-serif;
}
.prev {
	border: 1px solid #5ebe49;
	background-color: #FCC;
	color: #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.click-ex {
	width: 50px;
	height: 20px;
	border: 1px solid #5bcf5d;
	color: #555;
	float: left;
	padding-left: 25px;
	padding-top: 10px;
	margin-right: 10px;
	cursor: pointer;
}
.ex pre {
	width: 80%;
}