* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.validity-input_error {
	border: 1px solid red;
	background-color: rgba(255,0,0, 0.1);
}

.validity-input_success {
	border: 1px solid green;
	background-color: rgba(0,0,255 0.1);
}

.validity-input-msg {
	white-space: nowrap;
	font-size: 12px;
	background-color: #fff;
	padding: 5px 10px;
	z-index: 10;

	color: blue;
	border: 1px solid blue;
}

.validity-input-msg_static {
	border: none;
}

.validity-input-msg_error {
	border-color: red;
	color: red;
}

.validity-input-msg_success {
	padding: 5px;
	border-color: transparent;
	color: green;
}

.validity-tooltip_top {
	border-left: 5px solid transparent;
	border-bottom: 7px solid blue;
	border-right: 5px solid transparent;
}

.validity-tooltip_bottom {
	border-left: 5px solid transparent;
	border-top: 7px solid blue;
	border-right: 5px solid transparent;
}

.validity-tooltip_left {
	border-top: 5px solid transparent;
	border-right: 7px solid blue;
	border-bottom: 5px solid transparent;
}

.validity-tooltip_right {
	border-top: 5px solid transparent;
	border-left: 7px solid blue;
	border-bottom: 5px solid transparent;
}

.validity-input-msg_error .validity-tooltip_top {
	border-bottom-color: red;
}
.validity-input-msg_error .validity-tooltip_bottom {
	border-top-color: red;
}
.validity-input-msg_error .validity-tooltip_left {
	border-right-color: red;
}
.validity-input-msg_error .validity-tooltip_right {
	border-left-color: red;
}

.validity-input-msg_success .validity-tooltip_top {
	border-bottom-color: green;
}
.validity-input-msg_success .validity-tooltip_bottom {
	border-top-color: green;
}
.validity-input-msg_success .validity-tooltip_left {
	border-right-color: green;
}
.validity-input-msg_success .validity-tooltip_right {
	border-left-color: green;
}

.msgBox {
  display: none;
  opacity: 0;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.5;
  transition: all 0.5s;
}

.msgBox_error {
  color: #721c24;
  background-color: #f8d7da;
}

.msgBox_success {
  color: #155724;
  background-color: #d4edda;
}