<div class="cm-notification-container"><?= $vars['message'] ?></div>
<div class="cm-tabs-content">
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Новый слайд:&nbsp;</h1>
	</div>
	<div class="mainbox-body">
		<div class="tabs cm-j-tabs cm-track">
			<ul>
				<li id="basic" class="cm-js cm-active"><a>Общее</a></li>
				<li id="metadata" class="cm-js"><a>Фото</a></li>
			</ul>
		</div>
		<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""
			  enctype="multipart/form-data">
			<div id="content_basic" class="cm-tabs">
				<fieldset>
					<h2 class="subheader"> Информация </h2>

					<div class="form-field">
						<label class="cm-required" for="page">Подпись:</label>
						<input type="text" class="input-text-large main-input" value="" size="55" name="name"/>
					</div>
					<div class="form-field">
						<label for="page_descr">Описание:</label>
						<?= showEditor('body', ''); ?>
					</div>

                    <div class="form-field">
                        <label for="button">Кнопка:</label>
                        <input title="button" type="text" class="input-text-large main-input" name="button"/>
                    </div>
					<div class="form-field">
						<label for="page">URL:</label>
						<input type="text" class="input-text-large main-input" value="" size="55" name="url"/>
					</div>
					<div class="form-field">
						<label class="cm-required">Состояние:</label>

						<div class="select-field">
							<input type="radio" class="radio" value="1" id="page_data_0_a" name="active"
								   checked="checked"/>
							<label for="page_data_0_a">Вкл.</label>
							<input type="radio" class="radio" value="0" id="page_data_0_d" name="active"/>
							<label for="page_data_0_d">Выкл.</label>
						</div>
					</div>
				</fieldset>
			</div>
			<!--metdata start-->
			<div id="content_metadata" class="cm-tabs hidden">
				<fieldset>
					<h2 class="subheader">Фото</h2>

					<?php
						$path = "files/tmp/";
						$vars['path'] = $path;
						$vars['image_id'] = mktime();
						$_SESSION['tmp_image'] = $vars['image_id'];
						include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml";
					?>
					<input type="hidden" name="tmp_image" value="<?= $vars['image_id'] ?>"/>

				</fieldset>
			</div>
			<div class="buttons-container cm-toggle-button buttons-bg">
				<div class="cm-buttons-floating">
					<div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Создать" name="add"/>
                        </span>&nbsp;
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Создать и закрыть" name="add_close" class="cm-save-and-close"/>
                        </span> &nbsp;или&nbsp;&nbsp;
						<a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
					</div>
				</div>
			</div>
			<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>