<div class="cm-notification-container"><?= $vars['message'] ?></div>
<div>
    <div class="extra-tools float-right">
        <a class="tool-link" href="/admin/<?= $vars['action'] ?>/add">Добавить</a>
        <a class="tool-link cm-confirm"
           href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">Удалить</a>
    </div>
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Редактирование инфо-блока : <?= $vars['edit']['name'] ?></h1>
    </div>
    <div class="mainbox-body">
        <div class="tabs cm-j-tabs cm-track">
            <ul>
                <li id="basic" class="cm-js cm-active"><a>Общее</a></li>
                <li id="images" class="cm-js"><a>Изображение</a></li>
            </ul>
        </div>
        <div class="cm-tabs-content">
            <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
                <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>

                <div id="content_basic" class="cm-tabs">
                    <fieldset>
                        <div class="form-field">
                            <label class="cm-required" for="name">Название:</label>
                            <input title="" type="text" class="input-text-large main-input"
                                   value="<?= $vars['edit']['name'] ?>"
                                   size="55" name="name"/>
                        </div>
                        <div class="form-field">
                            <label>URL:</label>
                            <input title="" type="text" class="input-text-large main-input"
                                   value="<?= $vars['edit']['url'] ?>"
                                   size="55" name="url"/>
                        </div>
                        <div class="form-field">
                            <label>Описание:</label>
                          <?= showEditor('body', $vars['edit']['body']); ?>
                        </div>
                        <div class="form-field">
                            <label class="cm-required" for="page">Тип / позиция :</label>
                            <select title="" name="type_id">
                                <option value="0">- общий -</option>
                              <? foreach ($vars['types'] as $type) { ?>
                                  <option value="<?= $type['id'] ?>" <?= $type['id'] == $vars['edit']['type_id'] ? 'selected' : '' ?>>
                                    <?= $type['name'] ?>
                                  </option>
                              <? } ?>
                            </select>
                        </div>
                    </fieldset>
                </div>

                <div id="content_images" class="cm-tabs hidden">
                    <fieldset>
                      <? $vars['image_id'] = $vars['edit']['id'];
                      include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml"; ?>
                    </fieldset>
                </div>

                <div class="buttons-container cm-toggle-button buttons-bg">
                    <div class="cm-buttons-floating">
                        <div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Сохранить" name="update"/>
							</span>
                            <span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Сохранить и закрыть" name="update_close"
                                       class="cm-save-and-close"/>
							</span> или
                            <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
            </form>
        </div>
    </div>
</div>