<? if (isset($vars['photos']) && count($vars['photos']) > 0) { ?>
    <div class="owl-carousel slider_main">
	   <? foreach ($vars['photos'] as $photo) { ?>
            <div class="carousel__item">
                <img alt="<?= str_replace('"', "'", html_entity_decode($photo['name'])) ?>"
                     src="<?= getPathNoCache($photo['photo']) ?>">
                <div class="carousel-text">
                    <div class="carousel-text__inner container">
                        <div class="carousel-title text-uppercase text-right"><?= html_entity_decode($photo['name']) ?></div>
                        <div class="carousel-body text-uppercase font-weight-bold text-right"><?= html_entity_decode($photo['body']) ?></div>
				    <? if (isset($photo['url'], $photo['button']) && $photo['url'] != '' && $photo['button'] != '') { ?>
                            <div class="d-flex justify-content-end">
                                <a class="c-btn" href="<?= LINK . $photo['url'] ?>">
							 <?= htmlspecialchars_decode($photo['button']) ?>
                                </a>
                            </div>
				    <? } ?>
                    </div>
                </div>
            </div>
	   <? } ?>
    </div>
<? } ?>