<? if (!empty($vars['photos'])) { ?>
    <div class="slider">
        <div class="container">

            <div id="main-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
				<? foreach ($vars['photos'] as $key => $photo) { ?>
                        <div class="item <?= $key == 0 ? 'active' : '' ?>">
                            <img src="<?= Links::setDefaultImage($photo['photo']) ?>" title="<?= $photo['name'] ?>"
                                 alt="<?= $photo['name'] ?>" class="img-responsive"/>
                        </div>
				<? } ?>
                </div>

                <!-- Controls Starts -->
                <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!-- Controls Ends -->
            </div>


            <!-- 3 Column Banners Starts -->
            <div class="top-col-banners">
                <ul class="row list-unstyled justify-content-center">
				<? foreach ($vars['banners'] as $banner) { ?>
                        <li class="col-sm-4">
                            <a class="d-block" href="<?= Links::getLink($banner['url']) ?>"
                               title="<?= $banner['name'] ?>">
                                <img src="<?= Links::setDefaultImage($banner['photo']) ?>"
                                     title="<?= $banner['name'] ?>"
                                     alt="<?= $banner['name'] ?>"
                                     class="img-responsive img-center-xs"/>
                            </a>
                        </li>
				<? } ?>
                </ul>
            </div>
            <!-- 3 Column Banners Ends -->

        </div>
    </div>
<? } ?>