<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div class="cm-notification-container"></div>
<div id="message"><?=$vars['message']?></div>
<div>
	<div class="clear mainbox-title-container">
		<div class="extra-tools">
			<a href="/admin/users">Перейти к списку пользователей</a>
		</div>
		<h1 class="mainbox-title float-left">Отчет: <?=$vars['name']?></h1>
	</div>
	<div class="mainbox-body">
		<div id="ds_15014" class="clear">
            <?=$vars['view']?>
		</div>
	</div>
</div>