<?php if (isset($vars['news']) && count($vars['news']) > 0): ?>
    <div class="home-news">
        <h2>
            <a href="<?= LINK . '/news/all' ?>">
                <?= $vars['translate']['news'] ?>
            </a>
        </h2>
        <div class="row">
            <?php foreach ($vars['news'] as $item): ?>
                <div class="news-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <?php if (file_exists($item['photo'])): ?>
                            <img class="news-main-image" alt="<?= $item['name'] ?> фото"
                                 src="/<?= $item['photo']; ?>">
                    <?php endif; ?>
                    <div class="news-date"><?=$item['date_add']?></a></div>
                    <h4 class="news-title">
                        <a href="/news<?= Links::getLink($item['url']) ?>">
                            <?=$item['name']?>
                        </a>
                    </h4>
                    <div class="news-intro-text">

                        <?php if( strlen(strip_tags($item['body_m'])) > 60 ): ?>
                            <?=mb_strimwidth($item['body_m'], 0, 60, "...");?> <a href="/news<?= Links::getLink($item['url']) ?>"><?= $vars['translate']['details'] ?> ></a>
                        <?php else: ?>
                            <?=$item['body_m']?>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>


