<section class="page">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <?= isset($vars['breadcrumbs']) ? htmlspecialchars_decode($vars['breadcrumbs']) : '' ?>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1 class="page-title"><?= $vars['news']['name'] ?></h1>
            <?= htmlspecialchars_decode($vars['news']['body']) ?>
        </div>
    </div>
</section>