<section class="page">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <?= isset($vars['breadcrumbs']) ? htmlspecialchars_decode($vars['breadcrumbs']) : '' ?>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1 class="page-title"><?= $vars['translate']['news'] ?></h1>
            <div id="load-more" class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <?php if (isset($vars['news']) && count($vars['news']) > 0): ?>
                        <? include 'thumb.phtml' ?>
                        <div id="scroll-anchor"></div>
                    <?php endif; ?>
                </div>
                <?php if (!isset($vars['no-load'])): ?>
                    <div class="load-more-holder">
                        <i class="load-more-gif fa fa-refresh"></i>
                        <div class="btn-custom btn-more" data-offset="1" onclick="getMoreThumbs(this,'news')">
                            <?= $vars['translate']['download_more_news'] ?>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</section>