<?php foreach ($vars['news'] as $key => $news): ?>
    <div class="news-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <?php if (file_exists($news['photo'])): ?>
            <img class="news-main-image" alt="<?= $news['name'] ?> фото"
                 src="/<?= $news['photo']; ?>">
        <?php endif; ?>
        <div class="news-date"><?=$news['date_add']?></a></div>
        <h4 class="news-title">
            <a href="/news<?= Links::getLink($news['url']) ?>">
                <?=$news['name']?>
            </a>
        </h4>
        <div class="news-intro-text">

            <?php if( strlen(strip_tags($news['body_m'])) > 60 ): ?>
                <?=mb_strimwidth($item['body_m'], 0, 60, "...");?> <a href="/news<?= Links::getLink($item['url']) ?>"><?= $vars['translate']['details'] ?> ></a>
            <?php else: ?>
                <?=$news['body_m']?>
            <?php endif; ?>
        </div>
    </div>
<?php endforeach; ?>