@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-30px)
    }
    60% {
        transform: translateY(-15px)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(1080deg)
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(221, 187, 0, .2)
    }
    13% {
        background-color: rgba(221, 187, 0, .2)
    }
    15% {
        background-color: rgba(255, 234, 119, .9)
    }
    28% {
        background-color: rgba(255, 234, 119, .9)
    }
    30% {
        background-color: rgba(221, 187, 0, .2)
    }
    43% {
        background-color: rgba(221, 187, 0, .2)
    }
    45% {
        background-color: rgba(255, 234, 119, .9)
    }
    70% {
        background-color: rgba(255, 234, 119, .9)
    }
    74% {
        background-color: rgba(221, 187, 0, .2)
    }
    100% {
        background-color: rgba(255, 234, 119, .9)
    }
}

@keyframes borderPulse {
    0% {
        box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(221, 187, 0, .8)
    }
    40% {
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(221, 187, 0, .8)
    }
    80% {
        box-shadow: 0 0 0 3px #fff, 0 0 1px 3px rgba(221, 187, 0, .8)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 1;
        transform: scale(0)
    }
    50% {
        opacity: .5
    }
    to {
        -webkit-transform: scale(1);
        opacity: 0;
        transform: scale(1)
    }
}

@keyframes show-stat {
    0%,
    20% {
        transform: scale(1)
    }
    21%,
    84% {
        transform: scale(0)
    }
    85%,
    to {
        transform: scale(1)
    }
}

@keyframes show-icons {
    0%,
    20% {
        transform: scale(0)
    }
    21%,
    84% {
        transform: scale(1)
    }
    85%,
    to {
        transform: scale(0)
    }
}

@keyframes icon-change {
    0%,
    10% {
        transform: translateX(30px)
    }
    20%,
    30% {
        transform: translateX(0)
    }
    40%,
    50% {
        transform: translateX(-73px)
    }
    60%,
    70% {
        transform: translateX(-147px)
    }
    80%,
    to {
        transform: translateX(-219px)
    }
}

.messenger {
    width: 70px;
    height: 70px;
    position: fixed!important;
    bottom: 20px;
    right: 20px;
    z-index: 112
}

.messenger * {
    user-select: none
}

.messenger__switch {
    align-items: center;
    background-color: black;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 70px;
    justify-content: center;
    position: absolute;
    width: 70px
}

.messenger__static {
//-webkit-animation: show-stat 6s infinite;
    align-items: center;
//animation: show-stat 6s infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute
}

.messenger__static-icon {
    width: 19px;
    height: 19px;
    display: inline;
}

.messenger__static-caption {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 11px;
    margin: 0
}

.messenger__pulsation {
    -webkit-animation: pulse 2s infinite;
    -webkit-transform: scale(0);
    animation: pulse 2s infinite;
    background-color: black;
    border-radius: 50px;
    height: 84px;
    left: -7px;
    position: absolute;
    top: -7px;
    transform: scale(0);
    width: 84px;
    z-index: -1
}

.messenger__pulsation:nth-of-type(2n) {
    animation-delay: .5s
}

.messenger__pulsation.messenger-stop {
    animation: none
}

.messenger__icons {
//animation: show-icons 6s infinite;
//background-color: #fff;
    border-radius: 50px;
    height: 44px;
    overflow: hidden;
    position: absolute;
    width: 44px
}

.messenger__icons-line {
//-webkit-animation: icon-change 6s infinite;
//-webkit-animation-delay: 0s;
    -webkit-transform: translateX(30px);
//animation: icon-change 6s infinite;
//animation-delay: 0s;
    display: flex;
    height: 24px;
    left: 12px;
    position: absolute;
    top: 10px;
    transform: translateX(30px);
    transition: cubic-bezier(.13, 1.49, .14, -.4)
}

.messenger__icons-line img {
    width: 22px;
    height: 22px;
}

.messenger__icons-line.messenger-stop {
    animation-play-state: paused
}

.messenger__icon {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    margin: 0 50px 0 0;
    user-select: none
}

.messenger__icons.messenger-hide,
.messenger__static.messenger-hide {
    display: none
}

.messenger__close-icon:first-of-type {
    margin-left: 0
}

.messenger__close-icon {
    transform: rotate(180deg) scale(0);
    transition: all .12s ease-in
}

.messenger__close.messenger-show {
    line-height: 0;
    position: absolute;
    top: 42%;
    left: 42%
}

.messenger__close.messenger-show .messenger__close-icon {
    width: 19px;
    height: 19px;
    transform: rotate(0deg) scale(1);
}

.messenger__block {
    -webkit-transform: scale(0);
    -webkit-transform-origin: 80% 105%;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .1);
    border-radius: 7px;
    bottom: 85px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    right: 0;
    padding: 20px;
    position: absolute;
    transform: scale(0);
    transform-origin: 80% 105%;
    transition: all .12s ease-out;
    width: 255px;
    z-index: 9
}

.messenger__block.messenger-show {
    transform: scale(1)
}

.messenger__btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 8px 0;
    line-height: 1.2;
    text-decoration: none
}

.messenger__btn:before {
    background: #0084ff no-repeat 50%;
    border-radius: 50px;
    content: "";
    display: block;
    height: 40px;
    margin-right: 10px;
    width: 40px
}

.messenger__btn-caption {
    color: rgba(0, 0, 0, .87);
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0
}

.messenger__btn.messenger__btn_facebook:before {
    background-image: url('/tpl/widget/facebook.svg');
}

.messenger__btn.messenger__btn_viber:before {
    background: #7c529d url('/tpl/widget/viber.svg') no-repeat 50%
}

.messenger__btn.messenger__btn_telegram:before {
    background: #2ca5e0 url('/tpl/widget/telegram.svg') no-repeat 43%
}

.messenger__btn.messenger__btn_skype:before {
    background: #31c4ed url('/tpl/widget/skype.svg') no-repeat 45% 45%
}

.messenger__btn.messenger__btn_instagram:before {
    background: #dd2a7b url('/tpl/widget/instagram.svg') no-repeat 50% 50%;
}

.messenger__btn.messenger__btn_vkontakte:before {
    background: #597ba0 url('/tpl/widget/vkontakte.svg') no-repeat 50% 50%;
}

.messenger__block.messenger-show {
    display: flex
}

.messenger-bg {
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    opacity: 0;
    transition: opacity .3s linear 0s, width 0s linear .3s, height 0s linear .3s
}

.messenger-bg.active {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity .3s linear 0s, width 0s linear 0s, height 0s linear 0s
}

/** Custom */

.messenger__block {
    padding-bottom: 10px;
}

.service-signature {
    width: 100%;
    margin-top: 8px;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid #e4e4e4;
}

.service-signature a {
    font-size: 12px;
    text-decoration: none;
    color: black !important;
}

@media (max-width:900px) {
    .messenger {
        width: 46px;
        height: 46px;
        top: auto;
        right: 20px;
        bottom: 20px;
    }
}

@media (max-width:900px) {
    .messenger__switch {
        width: 46px;
        height: 46px
    }
}

@media (max-width:900px) {
    .messenger__static-caption {
        font-size: 6px
    }
}

@media (max-width:900px) {
    .messenger__pulsation {
        display: none
    }
}

@media (max-width:900px) {
    .messenger__close.messenger-show {
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
    }
}

@media (max-width:900px) {
    .messenger__block {
        right: 0;
        top: auto;
        bottom: 60px;
        transform-origin: 100% 0
    }
}

@media (max-width:900px) {
    .messenger-bg {
        display: none
    }
}

.messenger_owner {
    width: 100%;
    margin-top: 5px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #e4e4e4;
    color: black;
}

.messenger_owner p {
    font-size: 12px;
    font-family: open-sans-regular, Arial, sans-serif;
}

.messenger_owner p a {
    text-decoration: none;
    color: black !important;
}
