<div class="cm-notification-container"><div id="message"><?=$vars['message']?></div></div>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Редактирование видео:&nbsp;<?= $vars['edit']['name'] ?></h1>
	</div>
	<div class="extra-tools">
		<a class="tool-link" href="/admin/<?= $vars['action'] ?>/add">Добавить</a>
		<a class="tool-link cm-confirm" href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">Удалить это видео</a>
	</div>
	<div class="mainbox-body">
		<div class="cm-tabs-content">
			<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
				<input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>
				<div id="content_basic" style="display: block;">
					<fieldset>
						<h2 class="subheader"> Информация </h2>
						<div class="form-field">
							<label class="cm-required" for="name">Название:</label>
							<input type="text" class="input-text-large main-input" value="<?= $vars['edit']['name'] ?>" size="55" id="name" name="name"/>
						</div>
						<div class="form-field">
							<label for="body">Код видео:</label>
							<textarea class="input-textarea-long" rows="2" cols="55" id="body" name="body"><?= $vars['edit']['body'] ?></textarea>
						</div>
					</fieldset>
				</div>
				<div class="buttons-container cm-toggle-button buttons-bg">
					<div class="cm-buttons-floating">
						<div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Сохранить" name="update"/>
							</span>&nbsp;
							<span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Сохранить и закрыть" name="update_close" class="cm-save-and-close"/>
							</span> &nbsp;или&nbsp;&nbsp;
							<a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
						</div>
					</div>
				</div>
				<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
			</form>
		</div>
	</div>
</div>