<section class="page">
    <div class="container">
        <h1 class="product-head"><?= $vars['page']['name'] ?></h1>
        <div class="row section-10">
            <div class="col-xs-12 page-body body-text-default">
			 <? if (!empty($vars['page']['photo']) && file_exists($vars['page']['photo'])) { ?>
                    <img class="news-main-image" alt="<?= $vars['page']['name'] ?>"
                         src="/<?= $vars['page']['photo'] ?>">
			 <? } ?>
			 <?= htmlspecialchars_decode($vars['page']['body']) ?>
            </div>
        </div>
    </div>
</section>