<footer id="footer-area">
    <div class="footer-links">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="h5"><?= $vars['translate']['menu'] ?></div>
                    <ul>
				    <? foreach ($vars['menu'] as $menu) { ?>
                            <li>
                                <a href="<?= Links::getLink($menu['url']) ?>">
                                    <span><?= $menu['name'] ?></span>
                                </a>
                            </li>
				    <? } ?>
                    </ul>
                </div>

                <div class="col-md-5 col-sm-8 col-xs-12">
                    <div class="h5"><?= $vars['translate']['info_footer'] ?></div>
				<?= htmlspecialchars_decode($vars['block']['body']) ?>
                    <div class="m-t-30">
                        <form class="subs-form">
                            <div class="h5"><?= $vars['translate']['help_mail'] ?></div>
                            <div class="d-flex">
                                <input placeholder="<?= $vars['translate']['email'] ?>"
                                       title="<?= $vars['translate']['email'] ?>"
                                       type="email" required name="email" class="form-control">
                                <button onsubmit="gtag('event','send',{'event_category':'button_sign','event_action':'send'});return true;"
                                        type="submit" name="subscribe_mail"><?= $vars['translate']['mailer'] ?></button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="h5"><?= $vars['translate']['follow_us'] ?></div>
                    <ul>
                        <li>
                            <a onclick="gtag('event','click',{'event_category':'fb','event_action':'click'});return true;"
                               href="<?= $vars['contacts']['facebook']['value'] ?>" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a onclick="gtag('event','click',{'event_category':'inst','event_action':'click'});return true;"
                               href="<?= $vars['contacts']['instagram']['value'] ?>" target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a onclick="gtag('event','click',{'event_category':'youtube','event_action':'click'});return true;"
                               href="<?= $vars['contacts']['youtube']['value'] ?>" target="_blank">YouTube</a>
                        </li>
                    </ul>
                    <a id="bookmarkme" href="#" rel="sidebar" title="Magic-fireworks.com.ua">Добавить в закладки</a>
                </div>

                <div class="col-md-3 col-sm-8 col-xs-12 last">
                    <div class="h5"><?= $vars['translate']['contacts'] ?></div>
                    <ul>
                        <li><?= $vars['translate']['address'] ?> : <?= $vars['contacts']['address']['value'] ?></li>
				    <? foreach ($vars['contacts']['emails'] as $email) { ?>
                            <li>
                                <a onclick="gtag('event','click',{'event_category':'mail','event_action':'click'});return true;"
                                   class="default-color" href="mailto:<?= $email ?>">
                                    <span><?= $email ?></span>
                                </a>
                            </li>
				    <? } ?>
                    </ul>
				<? foreach ($vars['contacts']['phone'] as $phone) { ?>
                        <div class="lead" style="margin: 5px 0">

                            <a onclick="gtag('event','click',{'event_category':'button_tel','event_action':'click'});return true;"
                               style="color: white" href="tel:<?= $phone['row'] ?>">
                                <span><?= $phone['format'] ?></span>
                            </a>
                        </div>
				<? } ?>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div style="float: left;">
                <p> <?= $vars['translate']['copyright'] ?> </p>
            </div>
            <div style="float: right;">
                <a class="skylogic" target="_blank" href="https://skylogic.com.ua" title="Раскрутка сайтов Одесса">
                    <span>Раскрутка сайтов</span>
                </a>
            </div>
        </div>
    </div>
</footer>