<!-- Header Section Starts -->
<header id="header-area">
    <div class="container-fluid header-top">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="header-links">
					   <?= $vars['top-menu'] ?>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="header-links">
                            <ul class="nav navbar-nav pull-right">
						  <? if (empty($_SESSION['user_id'])) { ?>
                                    <li>
                                        <a href="<?= Links::getLink('/users/login') ?>">
								    <?= $vars['translate']['enter'] ?>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<?= Links::getLink('/users/registration') ?>">
								    <?= $vars['translate']['sign_up'] ?>
                                        </a>
                                    </li>
						  <? } else { ?>
                                    <li>
                                        <a href="<?= Links::getLink('/users/cabinet') ?>">
								    <?= $vars['translate']['cabinet'] ?>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="<?= Links::getLink('/users/logout') ?>">
								    <?= $vars['translate']['exit'] ?>
                                        </a>
                                    </li>
						  <? } ?>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row main-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 d-flex flex-column justify-content-around" itemscope
                         itemtype="https://schema.org/WebSite">
                        <div itemscope itemtype="https://schema.org/Organization">
                            <span style="display: none" itemprop="name"><?= $vars['settings']['sitename'] ?></span>
                            <div>
                                <div class="phones-header">
                                    <span><?= $vars['translate']['address'] ?> :</span>
                                    <span itemprop="address" itemscope
                                          itemtype="https://schema.org/PostalAddress">
                                    <span itemprop="streetAddress"> <?= $vars['contacts']['address']['value'] ?></span>
                                    <span style="display: none" itemprop="addressLocality">Odessa</span>
                                </span>
                                </div>
						  <? foreach ($vars['contacts']['phone'] as $phone) { ?>
                                    <a onclick="gtag('event','click',{'event_category':'tel','event_action':'click'});return true;"
                                       style="display: none" href="tel:<?= $phone['row'] ?>">
                                        <span itemprop="telephone"><?= $phone['format'] ?></span>
                                    </a>
						  <? } ?>
                            </div>
                            <div class="phones-header">
						  <? foreach ($vars['contacts']['phone'] as $phone) { ?>
                                    <a onclick="gtag('event','click',{'event_category':'button_tel','event_action':'click'});return true;"
                                       style="color: black" href="tel:<?= $phone['row'] ?>">

                                        <span itemprop="telephone"><?= $phone['format'] ?></span>
                                    </a>
						  <? } ?>
                            </div>
                        </div>
                        <meta itemprop="url"
                              content="<?= PROTOCOL . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ?>"/>
                        <!--                        <form id="search" method="GET" action="-->
				    <? //= LINK . '/catalog/search' ?><!--"-->
                        <!--                              itemprop="potentialAction"-->
                        <!--                              itemscope itemtype="https://schema.org/SearchAction">-->
                        <!--                            <meta itemprop="target"-->
                        <!--                                  content="-->
				    <? //= PROTOCOL . $_SERVER['HTTP_HOST'] ?><!--/search?word={word}"/>-->
                        <!--                            <div class="input-group">-->
                        <!--                                <input itemprop="query-input" type="text" class="form-control input-lg"-->
                        <!--                                       title="-->
				    <? //= $vars['translate']['search_word'] ?><!--" required name="word"-->
                        <!--                                       placeholder="-->
				    <? //= $vars['translate']['search_word'] ?><!--">-->
                        <!--                                <span class="input-group-btn">-->
                        <!--								<button class="btn btn-lg" type="submit">-->
                        <!--									<i class="fa fa-search"></i>-->
                        <!--								</button>-->
                        <!--							  </span>-->
                        <!--                            </div>-->
                        <!--                        </form>-->
                    </div>

                    <div class="col-md-6 col-sm-5 col-xs-12">
                        <div id="logo">
                            <a href="<?= Links::mainPage() ?>">
                                <img src="/tpl/default/img/logo.png"
                                     title="<?= $vars['title'] ?>" alt="<?= $vars['title'] ?>" class="img-responsive"/>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">

                        <div class="head-socials">
                            <a onclick="gtag('event','click',{'event_category':'inst','event_action':'click'});return true;"
                               href="<?= $vars['contacts']['instagram']['value'] ?>" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a onclick="gtag('event','click',{'event_category':'fb','event_action':'click'});return true;"
                               href="<?= $vars['contacts']['facebook']['value'] ?>" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                        <div class="phones-header">
                            <br><br>
                        </div>
                        <div class="height-45 m-t-10">
                            <div id="cart" class="btn-group btn-block">
                                <a href="<?= Links::getLink('/orders/checkout') ?>" class="btn btn-block btn-lg">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="basket-text"></span>
                                    <span id="cart-total" class="basket-total-sum"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Section Ends -->
<?= $vars['menu_catalogs'] ?>