<head>
    <title><?= $vars['meta']['title'] ?></title>
    <meta name="description" property="og:description" content="<?= $vars['meta']['description'] ?>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico?v=3">
    <link rel="canonical" href="https://<?= $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ?>"/>
    <meta property="og:title" content="<?= $vars['meta']['title'] ?>">
    <meta property="og:url" content="<?= PROTOCOL . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ?>">
    <meta property="og:image"
		content="<?= PROTOCOL . $_SERVER['HTTP_HOST'] . '/' . (!empty($vars['og_image']) ? $vars['og_image'] : 'tpl/default/img/logo.png') ?>">

    <?= $vars['webmaster'] ?>
    <?= $vars['styles'] ?>

    <!--[if lt IE 10]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->

    <?= !empty($vars['google']) ? htmlspecialchars_decode(html_entity_decode(str_ireplace('&#039;', "'", $vars['google']))) : '' ?>
    <!--  Google reCaptcha  -->
    <script type="application/javascript"
		  src="https://www.google.com/recaptcha/api.js?onload=InitializeCaptcha&render=explicit" async defer></script>
    <script type="application/javascript">
	   var InitializeCaptcha = function () {
		  $.each($('.g-recaptcha'), function (key, value) {
			 grecaptcha.render(value, {
				'sitekey': '<?php echo $vars['settings']['recaptcha_public_key'] ?>',
				'theme': 'light',
				'hl': '<?= $_SESSION['key_lang'] ?>'
			 });
		  });
	   };
    </script>

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300"
		rel="stylesheet" type="text/css">
    <!-- Global site tag (gtag.js) - Google Ads: 698219855 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-698219855"></script>
    <script>
	   window.dataLayer = window.dataLayer || [];

	   function gtag() {
		  dataLayer.push(arguments);
	   }

	   gtag('js', new Date());

	   gtag('config', 'AW-698219855');
    </script>

</head>


