<!-- Main Menu -->
<nav id="main-menu" class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="menu-text">
                <span>
                    <?= $vars['translate']['menu'] ?>
                </span>
                <button type="button" class="btn btn-navbar navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-cat-collapse">
                    <span class="sr-only">MENU</span>
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>

        <div class="collapse navbar-collapse navbar-cat-collapse">
            <ul class="nav navbar-nav">
			 <? foreach ($vars['catalogs'] as $catalog) { ?>
                <li <?= !empty($catalog['childs']) ? 'class="dropdown"' : '' ?>>
                    <a href="<?= Links::getLink('/catalog/' . $catalog['url']) ?>" class="dropdown-toggle"
                       data-hover="dropdown" data-delay="10">
				    <?= $catalog['name'] ?>
                    </a>
				<? if (count($catalog['childs']) > 5) { // если много дочерних каталогов
				    $number = ceil(count($catalog['childs']) / 3); ?>

                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
						  <? $counter = 0;
							 foreach ($catalog['childs'] as $key => $child) {
							 if ($counter % $number == 0) { ?>
						  <?= $counter != 0 ? '</ul>' : '' ?>
                                <ul class="list-unstyled">
							 <? } ?>
                                    <li>
                                        <a tabindex="-1"
                                           href="<?= Links::getLink('/catalog/' . $child['url']) ?>">
								    <?= $child['name'] ?>
                                        </a>
                                    </li>
							 <? $counter++;
								} ?>
                            </div>
                        </div>

				<? } else { // если мапло дочерних ?>
                        <ul class="dropdown-menu" role="menu">
					   <? foreach ($catalog['childs'] as $child) { ?>
                                <li>
                                    <a tabindex="-1" href="<?= Links::getLink('/catalog/' . $child['url']) ?>">
								<?= $child['name'] ?>
                                    </a>
                                </li>
					   <? } ?>
                        </ul>
				<? } ?>

				<? } ?>
                </li>

            </ul>
        </div>
    </div>
</nav>