<? if (isset($vars['meta']['text'])) { ?>
    <div class="container seo_block">
	   <? if ($vars['meta']['excerpt'] != '') { ?>
            <div id="exc_seo">
			 <?= htmlspecialchars_decode($vars['meta']['excerpt']) ?>
                <a href="#"
                   onclick="document.getElementById('seo_div').style.display = 'block'; document.getElementById('exc_seo').style.display = 'none'; return false;">
				<?= $vars['translate']['read_more'] ?>
                </a>
            </div>
            <div id="seo_div" style="display: none">
			 <?= htmlspecialchars_decode($vars['meta']['text']) ?>
                <a href="#"
                   onclick="document.getElementById('seo_div').style.display = 'none'; document.getElementById('exc_seo').style.display = 'block'; return false;">
				<?= $vars['translate']['turn'] ?>
                </a>
            </div>
	   <? } else { ?>
            <div id="seo_div" class="bot_text">
			 <?= htmlspecialchars_decode($vars['meta']['text']) ?>
            </div>
	   <? } ?>
    </div>
<? } ?>