<ul class="nav navbar-nav pull-left">
    <? foreach ($vars['menu'] as $link) { ?>
        <li>
            <a href="<?= Links::getLink($link['url']) ?>">
                <span><?= $link['name'] ?></span>
            </a>
        </li>
    <? } ?>
</ul>