<div class="cm-notification-container"></div>
<?= $vars['message'] ?>
<div>
    <div class="items-container multi-level">
        <form method="post" action="/admin/feedback/act/exist_notification">
            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                   class="table table-fixed hidden-inputs tb_sort">
                <tr>
                    <th width="30">ID</th>
                    <th width="150">Дата поступления</th>
                    <th>Имя</th>
                    <th>Телефон</th>
                    <th>Email</th>
                    <th>Статус</th>
                    <th>Менеджер</th>
                    <th width="60" style="text-align:center;"></th>
                </tr>
			 <?php
				foreach ($vars['list'] as $row) {
				    echo '<tr>
					<td><span>' . $row['id'] . '</span></td>
					<td><span>' . $row['date'] . '</span></td>
					<td><span>' . $row['name'] . '</span></td>
					<td><span>' . $row['phone'] . '</span></td>
					<td><span>' . $row['email'] . '</span></td>
					<td>
					<select name="status[]" class="input-text-medium">';
				    foreach ($vars['status'] as $row2) {
					   echo '<option value="' . $row2['id'] . '" ';
					   if ($row2['id'] == $row['status']) echo ' selected="selected"';
					   echo '>' . $row2['name'] . '</option>';
				    }
				    echo '</select></td>
					<td><input type="text" name="manager[]" value="' . $row['manager'] . '" class="input-text-medium"/></td>
					<td width="10%">
						<input type="hidden" value="' . $row['id'] . '" name="save_id[]" />
						<ul class="cm-tools-list tools-list">
							<li><a href="/admin/' . $vars['action'] . '/act/exist_notification/del/' . $row['id'] . '" class="cm-confirm">Удалить</a></li>
						</ul>
					</td>
                </tr>';
				}
			 ?>
            </table>
            <div class="cm-buttons-floating">
                <div class="cm-buttons-placeholder">
				<span class="submit-button cm-button-main">
					<input type="submit" value="Сохранить" name="save"/>
				</span>
                </div>
            </div>
        </form>
    </div>

    <div class="table-tools">
    </div>
<?= $vars['paging'] ?>