<!-- Filters  -->
<div id="filters">
    <div class="filters-header">
      <?= $vars['translate']['filters'] ?>
        <i class="fa fa-arrow-circle-down"></i>
    </div>

    <div class="filters-holder">
        <div class="filters-group">
            <div class="filter-group-title"> <?= $vars['translate']['appointment'] ?> </div>
          <? foreach ($vars['main_catalogs'] as $catalog) { ?>
              <a class="catalog-link <?= $catalog['id'] == $vars['catalog']['id'] ? 'active' : '' ?>"
                 href="<?=LINK . '/catalog/' .( $catalog['id'] == $vars['catalog']['id'] ? 'all' : $catalog['url']) ?> ">
                <?= $catalog['name'] ?>
              </a>
          <? } ?>
        </div>
      <? foreach ($vars['params_groups'] as $param_group) {
        if (!empty($param_group['childs'])) { ?>
            <div class="filters-group">
                <div class="filter-group-title">
                  <?= $param_group['name'] ?>
                </div>
                <div class="filter-list">
                  <? foreach ($param_group['childs'] as $param_item) { ?>
                      <div class="filter-item <?= in_array($param_item['id'], $vars['active_filters']) ? "checked" : '' ?>"
                           data-id="<?= $param_item['id'] ?>"
                           data-sub="<?= $param_item['sub'] ?>"
                           data-url="<?= $param_group['url'] ?>"
                           data-name="<?= $param_group['name'] ?>"
                      >
                          <span class="filter-name">
                            <?= $param_item['name'] ?>
                          </span>
                      </div>
                  <? } ?>
                </div>

            </div>
        <? } ?>
      <? } ?>
        <? if( !empty($vars['active_filters']) ) { ?>
            <div class="clear-filters">
                <i class="fa fa-close"></i>
                <?= $vars['translate']['clear_all_filters'] ?>
            </div>
        <? } ?>
    </div>
</div>