<section id="catalog">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <h1 itemprop="Name" class="main-heading2 category-name">
            <? if (!empty($_SESSION['search_word'])) { ?>
                <?= $vars['translate']['search_products'] ?> -
                <span>"<?= $_SESSION['search_word'] ?>"</span>
            <? } else { ?>
                <?= $vars['catalog']['name'] ?>
                <?= !empty($vars['page_num']) ? (' - ' . $vars['translate']['page'] . ' ' . $vars['page_num']) : '' ?>
            <? } ?>
        </h1>

        <p class="catalog_description"><?= $vars['translate']['catalog_description'] ?></p>

        <? if ($vars['count_numb'] > 0) { ?>
            <div class="row justify-content-center">
                <? echo $vars['list']; ?>
            </div>
        <? } else { ?>
            <div class="row justify-content-center">
                <h3 class="text-center"><?= $vars['translate']['not_found'] ?></h3>
            </div>
        <? } ?>
    </div>
</section>
