body {
    font: 12px/16px Arial, Helvetica, sans-serif;
}

#fileQueue {
    width: 400px;
    height: 300px;
    overflow: auto;
    border: 1px solid #E5E5E5;
    margin-bottom: 10px;
}

.manual-control {
    background: #77b17b75;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
}

div.manual-control {
    display: none;
}

div.show-element {
    display: block;
}
@media (max-width: 1200px) {
    .additional-images .image-sections,
    .additional-images input.input-text,
    .additional-images td .select-popup-container {
        float: initial !important;
        width: 100% !important;
    }

    .additional-images table {
        min-width: 420px;
    }

    .additional-images {
        overflow : scroll;
        margin   : 5px;
    }

    .col-sm-2.manual-control {
        margin-left : 15px;
    }
}

#tech-support-box {
    width                 : 480px;
    height                : 240px;
    background            : #FFF;
    display               : none;
    z-index               : 9999;
    position              : fixed;
    padding               : 10px;
    top                   : 50%;
    left                  : 50%;
    margin-left           : -250px;
    margin-top            : -110px;
    border                : 6px solid #EBEBEB;
    -moz-border-radius    : 6px;
    -webkit-border-radius : 6px;
    border-radius         : 6px;
}

#tech-support-box .form-field label {
    margin-left : -113px;
}

.status-user-field {
    display : flex;
}

.status-user-field .status-user {
    text-align : start;
}