#prelook-holder{position:fixed;top:0;left:0;right:0;bottom:0;display:none;background:rgba(0,0,0,.4);z-index:9999}.prelook-holder{position:absolute;top:0;left:0;right:0;bottom:0;width:100vw;height:100vh}#prelook{width:90%;max-width:600px;margin:2% auto;height:90%;position:relative;background:#fff}