.left_controls{
	width: 50%;
	float: left;
}
.left_controls .go_button{
	display: block;
	float: left;
	margin: 0 0 0 -189px;
	padding: 5px;
	color: #fff;
	background: #33ccff; /* Old browsers */
	background: -moz-linear-gradient(top,  #33ccff 0%, #078dba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33ccff), color-stop(100%,#078dba)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33ccff 0%,#078dba 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33ccff 0%,#078dba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33ccff 0%,#078dba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #33ccff 0%,#078dba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ccff', endColorstr='#078dba',GradientType=0 ); /* IE6-9 */
	border: 1px solid #007fa9;
	text-shadow: 0px 1px 0px #055c7a;
	text-decoration: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.left_controls .go_button:hover{
	background: #078dba; /* Old browsers */
	background: -moz-linear-gradient(top, #078dba 0%, #33ccff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#078dba), color-stop(100%,#33ccff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #078dba 0%,#33ccff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #078dba 0%,#33ccff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #078dba 0%,#33ccff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #078dba 0%,#33ccff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#078dba', endColorstr='#33ccff',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}
.notification_blocks.hidden{
	display: none;
}
#sms_text{
	resize: vertical;
	height: 100px;
	width: 300px;
}
.few_sym_left{
	font-weight: bold;
	color: red;
}
#template_preview{
	border: 1px solid #ececec;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}
.check_group{
	padding: 10px 10px;
	border: 3px solid #ececec;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.check_group legend{
	padding: 0 10px;
	border: 3px solid #ececec;
	background: #ececec;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.check_list{
	display: table-cell;
	vertical-align: middle;
	padding: 10px 5px;
}
.users_list{
	-webkit-columns: 250px 3;
	-moz-columns: 250px 3;
	-o-columns: 250px 3;
	columns: 250px 3;
	-webkit-column-gap: 5px;
	-moz-column-gap:5px;
	-o-column-gap:5px;
	column-gap: 5px;
	-webkit-column-rule: 1px solid transparent;
	-moz-column-rule: 1px solid transparent;
	-o-column-rule: 1px solid transparent;
	column-rule: 1px solid transparent;
	word-break: normal;
}
.users_list .addressee{
	display: inline-block;
	height: 50px;
	margin: 5px 0;
	vertical-align: top;
	width: 250px;
}
.users_list .addressee span{
	width: 100%;
	float: left;
}
.users_list .addressee input[type=text]{
	width: 85%;
	float: left;
	margin: 0 0 10px;
}
.users_list .addressee input[type=checkbox]{
	float: right;
}
.red{
	color: red;
}

@media screen and (max-width: 768px) {
	.left_controls {
		float: none;
		width: 100%;
		padding: 0 10px;
	}

	.left_controls .form-field {
		padding-left: 0;
	}

	.left_controls .form-field label {
		margin: 0;
	}

	.left_controls .go_button {
		margin: 0;
	}


}