.simpleTree {
	margin: 0;
	padding: 17px 10px 10px 10px;
	/*
	overflow:auto;
	width: 250px;
	height:350px;
	overflow:auto;
	border: 1px solid #444444;
	*/
}
.simpleTree li {
	list-style: none;
	margin: 0;
	padding: 0 0 0 34px;
	line-height: 14px;
}
.simpleTree li span {
	display: inline;
	clear: left;
	white-space: nowrap;
}
.simpleTree ul {
	margin: 0;
	padding: 0;
}
.simpleTree .root {
	margin-left: -16px;
}
.simpleTree .line {
	margin: 0 0 0 -16px;
	padding: 0;
	line-height: 3px;
	height: 3px;
	/*background: url(../../images/admin/line_bg.gif) 0 0 no-repeat transparent;*/
}
.simpleTree .line-last {
	margin: 0 0 0 -16px;
	padding: 0;
	line-height: 3px;
	height: 3px;
	background: url(../../images/admin/spacer.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over {
	margin: 0 0 0 -16px;
	padding: 0;
	line-height: 3px;
	height: 3px;
	background: url(../../images/admin/line_bg_over.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over-last {
	margin: 0 0 0 -16px;
	padding: 0;
	line-height: 3px;
	height: 3px;
	background: url(../../images/admin/line_bg_over_last.gif) 0 0 no-repeat transparent;
}
.simpleTree .folder-open {
	margin-left: -16px;
	background: url(../../images/admin/collapsable.gif) 0 -2px no-repeat;
	border: 1px solid #CCCCCC;
	background-color: #eeeeee;
}
.simpleTree .folder-open-last {
	margin-left: -16px;
	background: url(../../images/admin/collapsable-last.gif) 0 -2px no-repeat;
	border: 1px solid #CCCCCC;
	background-color: #eeeeee;
}
.simpleTree .folder-close {
	margin-left: -16px;
	background: url(../../images/admin/expandable.gif) 0 -2px no-repeat;
	border: 1px solid #CCCCCC;
	background-color: #eeeeee;
}
.simpleTree .folder-close-last {
	margin-left: -16px;
	background: url(../../images/admin/expandable.gif) 0 -2px no-repeat #fff;
	border: 1px solid #CCCCCC;
	background-color: #f2f2f2;
}
.simpleTree .doc {
	margin-left: -16px;
	/*background: url(../../images/admin/leaf.gif) 0 -1px no-repeat;*/
	border: 1px solid #CCCCCC;
	background-color: #f2f2f2;
}
.simpleTree .doc-last {
	margin-left: -16px;
	/*background: url(../../images/admin/leaf-last.gif) 0 -1px no-repeat ;*/
	border: 1px solid #CCCCCC;
	background-color: #f2f2f2;
}
.simpleTree .ajax {
	background: url(../../images/admin/spinner.gif) no-repeat 0 0 #ffffff;
	height: 16px;
	display: none;
}
.simpleTree .ajax li {
	margin: 0;
	padding: 0;
}
.simpleTree .trigger {
	margin-left: -32px;
	width: 28px;
	height: 11px;
	cursor: pointer;
}
.simpleTree .text {
	cursor: default;
}
.simpleTree .active {
	cursor: default;
	background-color: #f1f1f1;
	padding: 0px 2px;
	/*border: 1px dashed #444;*/
}
#drag_container {
	border: 1px dashed #767676;
}
#drag_container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#drag_container li {
	list-style: none;
	line-height: 18px;
	white-space: nowrap;
	padding: 1px 1px 0px 16px;
	margin: 0;
}
#drag_container li span {
	padding: 0;
}
#drag_container li.doc, #drag_container li.doc-last {
	/*background: url(../../images/admin/leaf.gif) no-repeat -17px 0 #ffffff;*/
	border: 1px solid #999;
}
#drag_container .folder-close, #drag_container .folder-close-last {
	background: url(../../images/admin/expandable.gif) no-repeat -17px 0 #ffffff;
}
#drag_container .folder-open, #drag_container .folder-open-last {
	background: url(../../images/admin/collapsable.gif) no-repeat -17px 0 #ffffff;
}
.contextMenu {
	display: none;
}