/*Default styles override*/
.form-field{
	width: 49%;
	display: inline-block;
	padding: 20px 0px;
}
.form-field label{
	width: auto;
	/*min-width: 150px;*/
	margin-left: 0px;
}
.form-field table{
	border-collapse: collapse;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.form-field table td{
	text-align: left;
}
.form-field table td.col-num1.active{
	background: rgba(208, 208, 208, 0.3);
}
.form-field table td.col-num2.active{
	background: rgba(208, 208, 208, 0.3);
}
.calendar-but{
	margin-left: -22px;
	padding-top: 0px;
}
#content_container{
	text-align: center;
}
.content_block{
	display: inline-block;
	width: 30%;
	position: relative;
	text-align: center;
	border: 2px solid rgba(0, 0, 0, 0.1);
	background: rgba(235, 235, 235, 0.51);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 1px;
	padding: 2px;
}
.content_block input[type=checkbox]{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 20px;
}
.content_block img{
	max-width: 150px;
	max-height: 150px;
}
.content_block p{
	font-size: 11px;
	text-align: left;
}
#publish_button, #push_to_queue{
	display: none;
}
.tb_sort td, .tb_sort th{
	font-size: 11px;
}

@media screen and (max-width: 768px) {
	.form-field{
		width: 100%;
		display: block;
	}
}