<section id="article_<?= $vars['article']['id'] ?>">
    <div class="container">
        <h1 class="main-title"><?= $vars['article']['name'] ?></h1>
        <div class="article-body">
          <?= htmlspecialchars_decode($vars['article']['body']) ?>
        </div>
    </div>
</section>




