<section id="blog">
    <div class="container">
        <h1 class="main-title"><?= $vars['translate']['blog'] ?></h1>
        <div id="load-more" class="row d-flex flex-wrap justify-content-center">
          <?= $vars['list'] ?>
        </div>
      <? if ($vars['no-load']) { ?>
          <div class="load-more-holder">
              <span class="load-more-gif fa fa-refresh"></span>
              <div class="btn-more" data-offset="1"
                   onclick="getMoreThumbs(this,'<?= $vars['table'] ?>')">
                <?= $vars['translate']['download_more_articles'] ?>
              </div>
          </div>
      <? } ?>
    </div>
</section>


