<?php $path = PROTOCOL . $_SERVER['HTTP_HOST']; ?>
<br>
Номер заказа : <b>№<?= $_SESSION['order_id'] ?></b>
<br>
<style>
    .table-products tr th,
    .table-products tr td {
        text-align : center;
        border     : 1px solid #cccccc;
        padding    : 10px;
        width      : 100px;
    }
</style>
<table class="table-products" cellpadding='0' cellspacing='0' width='100%' style='border-collapse:collapse;'>
    <tr>
        <th>Фото</th>
        <th width='200'>ОПИСАНИЕ</th>
        <td width="120" class="text-center">ЦЕНА ЗА ЕДИНИЦУ</td>
        <td width="120" class="text-center">ЦЕНА ЗА УПАКОВКУ</td>
        <td width="160" class="text-center">Кол-во</td>
        <th>Сумма</th>
    </tr>
    <?
    foreach ($vars['products'] as $product) {
	   $price = Numeric::getPrice($product, 1);
	   $summa = ($product['price_pack'] ?? $product['sum']) * $product['amount'];
	   $summa_all += $summa;
	   ?>
        <tr>
            <td>
                <a href="<?= $path . '/product/' . $product['url'] ?>">
                    <img src='<?= $path . Links::setDefaultImage(realpath($product['photo'])) ?>' width='100'
                         alt="<?= $product['name'] ?>" title="<?= $product['name'] ?>"/>
                </a>
            </td>
            <td>
                <a href='<?= $path . "/product/" . $product['url'] ?>'>
				<?= $product['name'] ?>
                    (<?= $product['code'] ?>)
                </a>
                <div> Размеры : <?= $product['sizes'] ?> </div>
                <div> Материал : <?= $product['material'] ?> </div>
                <div> Кол-во в упаковке : <strong> <?= $product['packaged'] ?> </strong></div>
            </td>

            <td class="text-center">
			 <?= Numeric::formatPrice($product['price']) ?>
            </td>
            <td class="text-center">
			 <?= Numeric::formatPrice($product['price_pack']) ?>
            </td>
            <td class="text-center">
			 <?= $product['amount'] ?>
            </td>
            <td> <?= Numeric::formatPrice($product['price_pack'] ?? $product['sum']) ?></td>
        </tr>
    <? } ?>
    <tr>
        <td colspan='6' align='right'>
            <div style='font-size:18px;'>
                Итого : <?= Numeric::formatPrice($summa_all) ?>
            </div>
        </td>
    </tr>
</table>