<div class="cm-notification-container">
	<div id="message"><?= $vars['message'] ?></div>
</div>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title float-left"><?= $vars['name'] ?></h1>
		<div class="tools-container">
			<span class="action-add"><a href="/admin/<?= $vars['action'] ?>/add">Добавить</a></span>
		</div>
		<div class="mainbox-title-select-holder">
			<input type="text" id="search_text" class="input-text-large" placeholder="Поиск" value="">
		</div>

		<script>
			document.getElementById("search_text").addEventListener("keyup", function () {
				var message = this.value;
				var xhr = new XMLHttpRequest();
				xhr.open("POST", '/admin/ajax/meta/search');
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				xhr.onreadystatechange = function () {
					if (this.readyState == 4) {
						if (this.status == 200) {
							var json = JSON.parse(this.responseText);
							if (json.status == true) $("#pagination_contents").html(json.content);
						}
					}
				};
				xhr.send("message=" + message);
			});
		</script>
	</div>
	<div class="text-left">
		<div class="alert alert-warning">URL адреса для мета данных относительные. Пример: <cite>/catalog/platya</cite></div>
	</div>
</div>
<div class="mainbox-body">
	<div id="ds_15014" class="clear"></div>
	<div id="content_manage_users">
		<form name="userlist_form" method="post" action="/admin/<?= $vars['action'] ?>/update">
			<div id="pagination_contents">
				<?= $vars['list'] ?>
			</div>
			<div class="buttons-container buttons-bg">
				<div class="cm-buttons-placeholder">
					<div class="cm-buttons-floating">
						<span class="submit-button cm-button-main cm-confirm cm-process-items">
							<input type="submit" value="Удалить выбранные" name="delete" class="cm-process-items">
						</span>
					</div>
				</div>
			</div>
			<input type="hidden" value="meta" id="action"/>
		</form>
	</div>
</div>