<div class="items-container multi-level">
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort table_982px">
		<tr>
			<th width="20" class="center"><input type="checkbox" class="check_all2" title="Отметить/снять все" value="Y"
												 name="check_all"></th>
			<th width="20">ID</th>
			<th width="110">URL</th>
			<th width="100">Тип</th>
			<th width="100">Состояние</th>
			<th width="100" style="text-align:center;">Действие</th>
		</tr>
		<?php
			foreach ($vars['list'] as $row) {
				if ($row['active'] == 1) $active = '<div class="selected-status status-a"><a> Вкл. </a></div>';
				else $active = '<div class="selected-status status-d"><a> Выкл. </a></div>';
				if ($row['type'] == 1) $type = 'По умолчанию';
				elseif ($row['type'] == 2) $type = 'Префикс';
				elseif ($row['type'] == 3) $type = 'Суффикс';
				elseif ($row['type'] == 4) $type = 'Мета данные каталога';
				elseif ($row['type'] == 5) $type = 'Мета данные товара';
				else $type = '';
				echo '<tr>
					<td class="center"><input type="checkbox" class="check-item" value="' . $row['id'] . '" name="id[]" /></td>
					<td><span>' . $row['id'] . '</span></td>
					
					<td><a href="/admin/' . $vars['action'] . '/edit/' . $row['id'] . '">' . mb_substr($row['url'], 0, 150) . '</a></td>
					<td align="center">' . $type . '</td>
					<td><input type="hidden" value="' . $row['id'] . '" name="save_id[]" />
						<div class="select-popup-container active_status" id="active' . $row['id'] . '">' . $active . ' </div>
					</td>
					<td width="10%">
						<a href="/admin/' . $vars['action'] . '/edit/' . $row['id'] . '" class="tool-link">Редактировать</a>
						&nbsp;&nbsp;|		
						<ul class="cm-tools-list tools-list">
							<li><a href="/admin/' . $vars['action'] . '/delete/' . $row['id'] . '" class="cm-confirm">Удалить</a></li>
						</ul>
					</td>
				</tr>';
			}
		?>
	</table>
</div>
<div class="table-tools">
	<a class="check_all" href="javascript:void(0);">Выбрать все</a>|
	<a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>
<? echo $vars['paging'] ?>