<div class="container">
    <div class="section-10">
        <h1 class="main-heading text-center">404</h1>
        <div class="content-box text-center">
            <h4 class="special-heading">oops !</h4>
            <h5><?= $vars['translate']['404_text'] ?></h5>
            <br/>
            <a href="/" class="btn btn-main text-uppercase">
                <?= $vars['translate']['to_home'] ?>
            </a>
        </div>
    </div>
    <div class="section-40"></div>
</div>