<div class="panel panel-smart">
    <form id="add-comment-form" class="comment-form d-block" method="POST" enctype="multipart/form-data">
        <div class="panel-heading">
            <div class="panel-title">
			 <?= $vars['translate']['can_add_review'] ?>
            </div>
        </div>

        <input type="hidden" name="type_id"
               value="<?= isset($vars['comment_type_id']) ? $vars['comment_type_id'] : 1 ?>">
        <div class="panel-body">
            <div class="form-group required-input">
                <input name="name" class="validate form-control"
                       type="text" placeholder="<?= $vars['translate']['name'] ?>">
            </div>
            <div class="form-group required-input">
            <textarea name="text" class="validate form-control" type="text"
                      placeholder="<?= $vars['translate']['review_text'] ?>" rows="3"></textarea>
            </div>
            <div class="form-group">
                <div class="btn btn-default btn-file w-100">
                    <input name="photo" type="file"
                           accept="<?= "image/" . implode(",image/", explode(',', EXT_IMAGE)) ?>">
                </div>
            </div>
            <div class="form-group">
                <div class="g-recaptcha"></div>
            </div>
            <div class="text-uppercase clearfix">
                <button class="btn btn-main centered" type="submit">
				<?= $vars['translate']['send_message'] ?>
                </button>
            </div>
        </div>
    </form>
</div>