<div class="panel panel-smart">
    <div class="panel-heading">
        <h3 class="panel-title">
		  <?= $vars['translate']['contact'] ?>
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal contact-form" method="post" role="form">
            <input type="hidden" name="form-type" value="contact">
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" class="validate form-control" name="name"
                           value="<?= $_POST['name'] ?>" required tabindex="1"
                           placeholder="<?= $vars['translate']['name'] ?>*"
                           title="<?= $vars['translate']['name'] ?>">
                </div>
                <div class="form-group ">
                    <input type="text" data-type="phone" value="<?= $_POST['phone'] ?>"
                           placeholder="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX"
                           class="form-control" required name="phone" tabindex="2"
                           title="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX"/>
                </div>
                <div class="form-group">
                    <input type="email" class="validate-email form-control" name="email"
                           value="<?= $_POST['email'] ?>" required tabindex="3"
                           placeholder="<?= $vars['translate']['email'] ?>*"
                           title="<?= $vars['translate']['email'] ?>">
                </div>
                <div class="form-group">
                <textarea type="text" rows="5" name="text" class="validate form-control"
                          placeholder="<?= $vars['translate']['message'] ?>*" required tabindex="4"
                          title="<?= $vars['translate']['message'] ?>"><?= $_POST['text'] ?></textarea>
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" tabindex="5"></div>
                </div>
                <div class="row justify-content-center">
                    <button onsubmit="gtag('event','send',{'event_category':'button_ask','event_action':'send'});return true;"
                            type="submit" style="width: 100%;" tabindex="6"
                            class="btn btn-main text-uppercase">
				    <?= $vars['translate']['submit'] ?>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>