<div id="subscribe-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
	   <div class="modal-content">

		  <div class="modal-body">
			 <button type="button" class="close" data-dismiss="modal">
				<img src="/images/times.svg" alt="">
			 </button>
			 <br>

			 <div class="swal2-success-custom" style="display: none">
				<div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
				    <div class="swal2-success-circular-line-left"
					    style="background-color: rgb(255, 255, 255);"></div>
				    <span class="swal2-success-line-tip"></span>
				    <span class="swal2-success-line-long"></span>
				    <div class="swal2-success-ring"></div>
				    <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
				    <div class="swal2-success-circular-line-right"
					    style="background-color: rgb(255, 255, 255);"></div>
				</div>
				<div class="swal2-success-custom-text"></div>
			 </div>

			 <div class="subscribe-modal-content">
				<p class="text-center subscribe-modal-content-title"><?= $vars['translate']['help_mail'] ?></p>
				<form>
				    <div class="input-group">
					   <input type="email"
							class="form-control subscribe-modal-input-email"
							placeholder="<?= $vars['translate']['email'] ?>"
							value="<?= $_SESSION['user_info']['email'] ?>"
							name="email"
							required>

					   <span class="input-group-btn">
                                    <button class="btn subscribe-modal-btn"
								    type="button"><?= $vars['translate']['mailer'] ?></button>
                                </span>
				    </div>
				</form>
				<div class="subscribe-validate"></div>
			 </div>
		  </div>
	   </div>
    </div>
</div>
