<div class="cm-j-tabs" id="navigation">
  <ul>
    <li <?= (!isset($vars['sub'])) ? ' class="cm-active"' : '' ?>>
<span>
        <a href="/admin/<?= $vars['action'] ?>">Общие</a>
        <i class="fa fa-chevron-down"></i>
      </span>
</li>

<li>
  <ul>
    <li <?= (isset($vars['sub']) && $vars['sub']=='all' ) ? ' class="cm-active"' : '' ?>>
      <span><a href="/admin/<?= $vars['action'] ?>/all">Все интерфейсы</a></span></li>

    <?php foreach($vars['menu'] as $i => $row) {
      $class='';
      if(isset($vars['sub'])&&$vars['sub']==$row['id']) $class='cm-active';
      if($row['cnt']==0) $class.=' hidden_li'; ?>
      <li class="<?= $class ?>">
              <span>
                <a href="/admin/translate/modules/<?= $row['id'] ?>"><?= $row['name'] ?> (<?= $row['cnt'] ?>)</a>
              </span>
      </li>
    <?php } ?>
  </ul>
  <?php if($i > 5) { ?>
    <a href="#" class="see-all">Показать все ...</a>
  <?php } ?>
</li>

</ul>
</div>