<?php if( $vars['settings'] ): ?>
    <table style="width: 100%;">
        <thead>
        <tr>
            <th>Активность</th>
            <th>Название</th>
            <th>Имя файла</th>
            <th>Начало URL</th>
            <th>Приоритет страниц</th>
            <th>Исключить страницы</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ( $vars['settings'] as $parametr ): ?>
            <tr>
                <td style="padding: 5px 0;">
                    <?php if($parametr['active'] == 1 ): ?>
                        <input type="checkbox" name="settings[<?=$parametr['param'];?>][active]" checked>
                    <?php else: ?>
                        <input type="checkbox" name="settings[<?=$parametr['param'];?>][active]">
                    <?php endif; ?>
                </td>
                <td style="padding: 5px 0;"><?=$parametr['name'];?></td>
                <td style="padding: 5px 0;"><input type="text" value="<?=$parametr['file_name'];?>" name="settings[<?=$parametr['param'];?>][file_name]"></td>
                <td style="padding: 5px 0;"><input type="text" value="<?=$parametr['start_url'];?>" name="settings[<?=$parametr['param'];?>][start_url]"></td>
                <td style="padding: 5px 0;">
                    <select name="settings[<?=$parametr['param'];?>][priority]" style="width: 100px;">
                        <?php $i = 1; ?>
                        <?php while ( $i >= 0.1 ): ?>
                            <?php if( strval($i) == $parametr['priority'] ): ?>
                                <option value="<?=$i;?>" selected><?=$i;?></option>
                            <?php else: ?>
                                <option value="<?=$i;?>"><?=$i;?></option>
                            <?php endif; ?>
                            <?php $i -= 0.1; ?>
                        <?php endwhile; ?>
                    </select>
                </td>
                <td style="padding: 5px 0;"><textarea name="settings[<?=$parametr['param'];?>][excluded]" id="" cols="30" rows="3"><?=$parametr['excluded'];?></textarea></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
