<div class="cm-notification-container"></div>
<?= $vars['message'] ?>
<div>
    <div class="mainbox-body">
        <div class="cm-tabs-content">
            <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
                <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>
                <div id="content_basic" style="display: block;">
                    <h2 class="subheader"><?= $vars['name'] ?></h2>
                    <?= $vars['settings'] ?>
                    <p>&nbsp;</p>
                    <p>*Для исключения страниц необходимо поместить url-адреса (url указанный в поле страницы) в поле "Исключить страницы" разделяя их с помощью ";".</p>
                </div>
                <div class="buttons-container cm-toggle-button buttons-bg">
                    <div class="cm-buttons-floating">
                        <div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Сохранить" name="update"/>
                        </span>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
            </form>
        </div>
    </div>
</div>