<? foreach ($vars['articles'] as $article) { ?>
    <div class="<?= !empty($vars['slide_down']) ? 'show-slide-down' : '' ?> col-12 col-sm-6 col-md-4">
        <div class="blog-item m-t-20 m-b-20">
            <a class="blog-image-holder" href="<?= LINK . '/blog/' . $article['url'] ?>">
                <img class="img-cover" src="<?= Links::setDefaultImage($article['photo']) ?>"/>
            </a>
            <div class="blog-item-name">
			 <?= $article['name'] ?>
            </div>
            <a class="blog-item-r-more" href="<?= LINK . '/blog/' . $article['url'] ?>">
			 <?= $vars['translate']['read_more'] ?> >
            </a>
        </div>
    </div>
<? } ?>