<div class="cm-notification-container"></div>
<?=$vars['message']?>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Редактирование фильтра:&nbsp;<?=$vars['edit']['name']?></h1>
	</div>
	<div class="extra-tools">
	
	<a class="tool-link" href="/admin/<?=$vars['action']?>/add">Добавить фильтр</a>
    <a class="tool-link cm-confirm" href="/admin/<?=$vars['action']?>/delete/<?=$vars['edit']['id']?>">Удалить этот фильтр</a>
	</div>
	<div class="mainbox-body"> 
		<div class="cm-tabs-content">
			<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="" enctype="multipart/form-data">
				<input type="hidden" value="<?=$vars['edit']['id']?>" name="id" />
				<div id="content_basic" style="display: block;">
					<fieldset>
						<h2 class="subheader"> Информация </h2>

						<?php if( $_SESSION['sort_params'] == 0 ) { ?>
							<div class="form-field">
								<label class="cm-required" for="filter-type">Тип группы фильтров:</label>
								<select name="type" id="filter-type">
									<option value="0">Общий</option>
									<?php
									foreach ($vars['types'] as $row) { ?>
										<option value="<?= $row['id'] ?>" <?= ($vars['edit']['type'] == $row['id']) ? 'selected' : '' ?> ><?= $row['name'] ?></option>
									<?php }
									?>
								</select>
							</div>
						<?php } ?>

						<div class="form-field">
							<label class="cm-required" for="page">Название:</label>
							<input type="text" class="input-text-large main-input" value="<?=$vars['edit']['name']?>" size="55" name="name" />
						</div>   
						<div class="form-field">
							<label class="cm-required" for="page">URL:</label>
							<input type="text" class="input-text-large main-input" value="<?=$vars['edit']['url']?>" size="55" name="url" />
						</div>
                        <div class="form-field">
                            <label class="cm-required" for="page">Раздел:</label>
                            <select name="sub">
                                <option value="0">Корень...</option>
                                <?php
                                foreach($vars['params'] as $row){
                                	echo"<option value='{$row['id']}'";if($row['id']==$vars['edit']['sub'])echo" selected";echo">{$row['name']}</option>";    
                                }
                                ?>
                            </select>
                        </div>
                        <? if($vars['type']['type']=='color'){ ?>
                        <div class="form-field">
							<label for="page">Цвет:</label>
							<input type="text" class="input-text-large main-input" value="<?=$vars['edit']['rgb']?>" name="rgb" id="colorpickerField1" style="width:55px; margin-right:5px;" />
                            <span id="cur_color" style="padding: 2px 10px 1px 10px; border: 1px solid #000; background-color: #<?=$vars['edit']['rgb'];?>;"></span>
						</div>
                        <? } ?>
						<div class="form-field">
							<label for="page_descr">Описание:</label>
							<?=showEditor('body', $vars['edit']['body']);?>
						</div>
						<div class="form-field">
							<label class="cm-required">Состояние:</label>
							<div class="select-field">
								<input type="radio" class="radio" value="1" id="page_data_0_a" name="active" <? if($vars['edit']['active']==1)echo' checked="checked"';?>>
								<label for="page_data_0_a">Вкл.</label>
								<input type="radio" class="radio" value="0" id="page_data_0_d" name="active" <? if($vars['edit']['active']==0)echo' checked="checked"';?>>
								<label for="page_data_0_d">Выкл.</label>
							</div>
						</div>
					</fieldset>

						<? if($vars['edit']['sub']!=0){

						//Загрузчик картинок выводится только для фильтров группы Бренды
						if($vars['type']['type'] == 'brend') {
					?>
                        <fieldset>
                            <h2 class="subheader">Лого бренда</h2>
                            <div style="margin-left:15px; overflow:auto;">

<?php
$vars['width'] = 360;
$vars['height'] = 160;
									
$path="files/tmp/";
$vars['path']=$path;
$vars['image_id']=mktime();
$_SESSION['tmp_image'] = $vars['image_id'];


if(file_exists("files/params/{$vars['edit']['id']}.jpg")) $vars['edit']['photo'] = "files/params/{$vars['edit']['id']}.jpg";
include $_SERVER['DOCUMENT_ROOT']."/tpl/admin/upload_img.phtml";
?>
                            </div>
                        </fieldset>
                    <? 		}
						} ?>
				</div>
				<div class="buttons-container cm-toggle-button buttons-bg">
					<div class="cm-buttons-floating">
						<div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Сохранить" name="update" />
							</span>&nbsp;
							<span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Сохранить и закрыть" name="update_close" class="cm-save-and-close" />
							</span> &nbsp;или&nbsp;&nbsp; 
							<a class="underlined tool-link" href="/admin/<?=$vars['action']?>">Отменить</a>
						</div>
					</div>
				</div>
				<input type="hidden" value="<?=$vars['action']?>" id="action" />
			</form>
		</div>
	</div>
</div>