<div class="cm-notification-container"></div>
<div id="message"><?= $vars['message'] ?></div>
<div>
	<div class="clear mainbox-title-container">
		<div class="tools-container">
			<span class="action-add"><a href="/admin/<?= $vars['action'] ?>/clearcache" class="cm-confirm">Очистить кэш</a> </span>
			<span class="action-add"> <a href="/admin/<?= $vars['action'] ?>/add">Добавить</a> </span>
		</div>
		<h1 class="mainbox-title float-left"><?= $vars['name'] ?> - </h1>

		<div class="mainbox-title-select-holder">
			<form method="post">
				<select name="sort_params" onchange="submit()">
					<option value="0">Корень...</option>
					<?php
						foreach ($vars['params'] as $row) {
							echo "<option value='{$row['id']}'";
							if ($row['id'] == $_SESSION['sort_params']) echo " selected";
							echo ">{$row['name']}</option>";
						}
					?>
				</select>
			</form>
		</div>
	</div>
</div>
<div class="mainbox-body">
	<div id="ds_15014" class="clear">

	</div>
	<div id="content_manage_users">
		<form name="userlist_form" method="post" action="/admin/<?= $vars['action'] ?>/update">
			<div id="pagination_contents">
				<?php echo $vars['list']; ?>
			</div>
			<div class="buttons-container buttons-bg">
				<div class="cm-buttons-placeholder">
					<div class="cm-buttons-floating">
						<span class="submit-button cm-button-main">
							<input type="submit" value="Сохранить" name="update" class="">
						</span>
						<span class="submit-button cm-button-main cm-confirm cm-process-items">
							<input type="submit" value="Удалить выбранные" name="delete" class="cm-process-items">
						</span>
					</div>
				</div>
			</div>
			<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>
</div>
</div>