<section id="catalog">
    <div class="container">
        <div class="row reverse-flex-xs">
            <div class="col-md-3">
			 <?= $vars['sidebar'] ?>
            </div>
            <div class="col-md-9" itemscope itemtype="https://schema.org/Product">
                <div class="hidden" itemprop="offers" itemscope itemtype="https://schema.org/AggregateOffer">
                    <meta itemprop="offerCount" content="<?= $_SESSION['count-product'] ?>">
                    <span itemprop="lowPrice"><?= $_SESSION['min-price'] ?></span>
                    <span itemprop="highPrice"><?= $_SESSION['max-price'] ?></span>
                    <span itemprop="priceCurrency">UAH</span>
                </div>
                <div class="hidden" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                    <span itemprop="ratingValue">4.8</span>
                    <span itemprop="reviewCount">11</span>
                </div>
                <h1 itemprop="Name" class="main-heading2">
				<? if (!empty($_SESSION['search_word'])) { ?>
				    <?= $vars['translate']['search'] ?> -
                        <span>"<?= $_SESSION['search_word'] ?>"</span>
				<? } else { ?>
				    <?= $vars['catalog']['name'] ?>
				    <?= !empty($vars['page_num']) ? (' - ' . $vars['translate']['page'] . ' ' . $vars['page_num']) : '' ?>
				<? } ?>
                </h1>
			 <? if (!empty($vars['catalog']['body']) && empty($vars['page_num'])) { ?>
                    <div class="row cat-intro">
                        <div class="col-sm-3">
                            <img src="<?= Links::setDefaultImage($vars['catalog']['photo']) ?>"
                                 alt="<?= $vars['catalog']['name'] ?>"
                                 class="img-responsive img-thumbnail"/>
                        </div>
                        <div class="col-sm-9 cat-body">
					   <?= htmlspecialchars_decode($vars['catalog']['body']) ?>
                        </div>
                    </div>
			 <? } ?>

                <div class="product-filter">
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post">
                                <div class="display">
                                    <button type="submit" name="sort_view" value="list"
                                            class="<?= $_SESSION['sort_view'] == 'list' ? 'active' : '' ?>">
                                        <i class="fa fa-th-list" title="List View"></i>
                                    </button>
                                    <button type="submit" name="sort_view" value="table"
                                            class="<?= $_SESSION['sort_view'] == 'table' ? 'active' : '' ?>">
                                        <i class="fa fa-th" title="Grid View"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 text-right">
                            <label class="control-label"><?= $vars['translate']['sort'] ?></label>
                        </div>
                        <div class="col-md-3 text-right">
                            <form method="post">
                                <select title="" name="catalog_sort_type"
                                        onchange="$(this).parent().submit()" class="form-control">
                                    <option value="0">По-умолчанию</option>
                                    <option value="1" <?= $_SESSION['catalog_sort_type'] == 1 ? 'selected' : '' ?> >
                                        Алфавит (А-Я)
                                    </option>
                                    <option value="2" <?= $_SESSION['catalog_sort_type'] == 2 ? 'selected' : '' ?>>
                                        Алфавит (Я-А)
                                    </option>
                                    <option value="3" <?= $_SESSION['catalog_sort_type'] == 3 ? 'selected' : '' ?>>
                                        Цена (возрастание)
                                    </option>
                                    <option value="4" <?= $_SESSION['catalog_sort_type'] == 4 ? 'selected' : '' ?>>
                                        Цена (убывание)
                                    </option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="load-more" class="row justify-content-center">
				<? if (empty($vars['list'])) { ?>
                        <h3 class="text-center"><?= $vars['translate']['not_found'] ?></h3>
				<? } else echo $vars['list'] ?>
                </div>

			 <? if (isset($vars['no-load']) && !$vars['settings']['paging_numbers']) { ?>
                    <div class="load-more-holder">
                        <span class="load-more-gif fa fa-refresh"></span>
                        <div class="btn-more" data-offset="1"
                             data-catalog="<?= $vars['catalog']['url'] ?>"
                             data-get="<?= !empty($_GET['filters']) ? ('filters=' . $_GET['filters']) : '' ?>"
                             onclick="getMoreThumbs(this,'<?= $vars['table'] ?>')">
					   <?= $vars['translate']['download_more_products'] ?>
                        </div>
                    </div>
			 <? } else echo $vars['paging']['paging'] ?? '' ?>

            </div>


        </div>
</section>