<section class="catalog">
    <div class="container">
        <h1 class="product-head">
		  <?= $vars['translate']['catalog'] ?>
        </h1>
        <div class="row justify-content-center">
		  <? include 'thumb.phtml' ?>
        </div>
    </div>
</section>