<h3 class="side-heading catalog-title-xs">
    <?= $vars['translate']['catalog'] ?>
</h3>
<div class="list-group catalog-list-xs">
    <? foreach ($vars['catalogs'] as $catalog) { ?>
        <div class="list-group-item <?= !empty($catalog['childs']) ? 'active' : '' ?>">
            <a href="<?= Links::getLink('/catalog/' . $catalog['url']) ?>">
                <i class="fa fa-chevron-<?= !empty($catalog['childs']) ? 'down' : 'right' ?>"></i>
			 <?= $catalog['name'] ?>
            </a>
		  <? if (!empty($catalog['childs'])) { ?>
                <ul>
				<? foreach ($catalog['childs'] as $child) {
				    $child['url'] = '/catalog/' . $child['url'];
				    $Link = Links::getPointParams($child) ?>
                        <li class="otm <?= $Link['class'] ?>">
                            <a href="<?= $Link['link'] ?>">
						  <?= $child['name'] ?>
                            </a>
                        </li>
				<? } ?>
                </ul>
		  <? } ?>
        </div>
    <? } ?>
</div>

<? if (!empty($vars['products'])) { ?>
    <div class="sidebar_product">
        <h3 class="side-heading">
		  <?= $vars['translate']['today_buy'] ?>
        </h3>
        <div class="list_product-sidebar">
		  <? foreach ($vars['products'] as $product) { ?>
                <div class="item-sidebar">
                    <div class="left_pr">
                        <a class="product-mini__img-holder" href="<?= LINK ?>/product/<?= $product['url'] ?>">
                            <img class="product-mini__img" src="<?= getPathNoCache($product['photo']) ?>"
                                 alt="<?= $product['name'] ?>">
                        </a>
                    </div>
                    <div class="right_pr">
                        <div class="product-mini__name"><?= $product['name'] ?></div>
                        <div class="product-mini__price">
                            <span><?= $vars['translate']['price'] ?> : </span><?= Numeric::getPrice($product)['price_format'] ?>
                        </div>
                        <div class="product-mini__buttons">
                            <a class="button hvr-sweep-to-right product-mini__button"
                               href="<?= LINK ?>/product/<?= $product['url'] ?>">Подробнее</a>
                        </div>
                    </div>
                </div>
		  <? } ?>
        </div>
    </div>
<? } ?>


<? if (!empty($vars['bestseller'])) { ?>
    <!-- Bestseller -->
    <h3 class="side-heading">
	   <?= $vars['translate']['bestseller'] ?>
    </h3>
    <div class="product-col side-product no-box-shadow">
        <div class="image">
            <img src="<?= Links::setDefaultImage($vars['bestseller']['photo']) ?>"
                 alt="bestseller" title="<?= $vars['translate']['bestseller'] ?>"
                 class="img-responsive img-center-sm"/>
        </div>
        <div class="caption">
            <h4>
                <a href="product-full.html">
				<?= $vars['bestseller']['name'] ?>
                </a>
            </h4>
            <div class="description">

            </div>
            <div class="price">
			 <? $price = Numeric::getPrice($product) ?>
                <span class="price-new"><?= $price['price_format'] ?></span>
			 <? if (($price['basePrice'] - $price['price']) != 0) { ?>
                    <span class="price-old"><?= $price['basePrice_format'] ?></span>
			 <? } ?>
            </div>
            <div class="cart-button button-group">
                <button type="button" class="btn btn-cart">
                    <i class="fa fa-shopping-cart"></i>
				<?= $vars['translate']['get_in_cart'] ?>
                </button>
            </div>
        </div>
    </div>
<? } ?>