<? foreach ($vars['catalogs'] as $key => $catalog) { ?>
    <div class="col-lg-4 col-sm-6 col-xs-12  m-b-30">
        <a class="catalog-thumb " href="<?= LINK . '/catalog/' . $catalog['url'] ?>">
            <img src="<?= Links::setDefaultImage($catalog['photo']) ?>" alt="<?= $catalog['name'] ?>"
                 title="<?= $catalog['name'] ?>" class="img-responsive"/>
            <div class="title-catalog-thumb">
			 <?= $catalog['name'] ?>
            </div>
        </a>
    </div>
<? } ?>