<div class="cm-notification-container"><div id="message"><?=$vars['message']?></div></div>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Редактирование:&nbsp;<?=$vars['edit']['comment']?></h1>
	</div>
	<div class="mainbox-body"> 
    <div class="tabs cm-j-tabs cm-track">
		<ul>
			<li id="basic" class="cm-js cm-active"><a >Название прав</a></li>
            <li id="modules" class="cm-js"><a >Модули</a></li>
            <li id="text_page" class="cm-js"><a >Подсистемы</a></li>
		</ul>
	</div>
		<div class="cm-tabs-content">
			<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
				<input type="hidden" value="<?=$vars['edit']['id']?>" name="id" />
				<div id="content_basic" class="cm-tabs">
					<fieldset>
						<h2 class="subheader"> Информация </h2>
						<div class="form-field">
							<label class="cm-required" for="page">Название:</label>
							<input type="text" class="input-text-large main-input" value="<?=$vars['edit']['comment']?>" size="55" name="name" />
						</div>
					</fieldset>
                </div>
				<div id="content_modules" class="cm-tabs hidden">   
                    <fieldset>
                        <h2 class="subheader"> Модули </h2>
                        <table width="50%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort table_550px" id="photos" style="margin-top: 0;">
                            <tr>
                                <th width="40%">Название модуля</th>
                                <th width="15%" style="text-align:center;">Чтение</th>
                                <th width="15%" style="text-align:center;">Изменение</th>
                                <th width="15%" style="text-align:center;">Удаление</th>
                                <th width="15%" style="text-align:center;">Добавление</th>
                            </tr>
					    <? $a=0;$e=0;$d=0;$r=0;$cnt=count($vars['modules']);
						foreach($vars['modules'] as $row) {
							$read='';$edit='';$del='';$add='';
							if($row['permission']==700||$row['permission']==600||$row['permission']==400||$row['permission']==800){$add=' checked="checked"';$a++;}
							if($row['permission']==200||$row['permission']==500||$row['permission']==600||$row['permission']==800){$edit=' checked="checked"';$e++;}
							if($row['permission']==300||$row['permission']==500||$row['permission']==700||$row['permission']==800){$del=' checked="checked"';$d++;}
							if($row['permission']!=000){$read=' checked="checked"';$r++;}
							echo'<tr><td>'.$row['name'].'<input type="hidden" value="'.$row['id'].'" name="module_id[]" /></td><td style="text-align:center;"><input type="checkbox" name="read['.$row['id'].']" '.$read.' id="read'.$row['id'].'" class="read_chmod" /></td><td style="text-align:center;"><input type="checkbox" name="edit['.$row['id'].']" '.$edit.' id="edit'.$row['id'].'" class="edit_chmod" /></td><td style="text-align:center;"><input type="checkbox" name="del['.$row['id'].']" '.$del.' id="del'.$row['id'].'" class="del_chmod" /></td><td style="text-align:center;"><input type="checkbox" name="add['.$row['id'].']" '.$add.' id="add'.$row['id'].'" class="add_chmod" /></td></tr>';
						}
						echo'<tr><td style="font-style:italic;">Выделить все</td><td style="text-align:center;"><input type="checkbox" value="" id="read_all"';
					    if($cnt==$a)echo' checked="checked"';
                        echo' /></td><td style="text-align:center;"><input type="checkbox" value="" id="edit_all"';
                        if($cnt==$e)echo' checked="checked"';
                        echo' /></td><td style="text-align:center;"><input type="checkbox" value="" id="del_all"';
                        if($cnt==$d)echo' checked="checked"';
                        echo' /></td><td style="text-align:center;"><input type="checkbox" value="" id="add_all"';
                        if($cnt==$r)echo' checked="checked"';
                        echo' /></td></tr>'; ?>
                        </table>
                    </fieldset>
                </div>
				<div id="content_text_page" class="cm-tabs hidden">
                    <fieldset>
                        <h2 class="subheader"> Подсистемы </h2>
                        <table width="60%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort table_550px" id="photos" style="margin-top: 0;">
                            <?echo'<tr><th width="30%">Модули</th>';
							foreach($vars['subsystem2'] as $row)echo'<th width="23.33%" style="text-align:center;">'.$row['title'].'</th>';
							echo'</tr>';
                            foreach($vars['modules'] as $row){
                            	echo'<tr><td>'.$row['name'].'<input type="hidden" value="'.$row['id'].'" name="module_subsystem_id[]" /></td>';
								foreach($vars['subsystem2'] as $row2){
									$checked='';
									foreach($vars['permission'] as $row3)if($row3['permission']!=000&&$row3['permission']!=''&&$row3['module_id']==$row['id']&&$row3['subsystem_id']==$row2['id'])$checked=' checked="checked"';
									echo'<td style="text-align:center;"><input type="checkbox" value="'.$row['id'].'-'.$row2['id'].'" name="subsystem_id[]" '.$checked.' id="subsystem'.$row2['id'].'" class="'.$row2['name'].'_all" /></td>';
								}
                            }
                            echo'<tr><td style="font-style:italic;">Выделить все</td><td style="text-align:center;"><input type="checkbox" value="" id="config_all" /></td><td style="text-align:center;"><input type="checkbox" value="" id="help_all" /></td><td style="text-align:center;"><input type="checkbox" value="" id="translate_all" /></td><td style="text-align:center;"><input type="checkbox" value="" id="chmod_all" /></td></tr>';?>
                        </table>
                    </fieldset>
				</div>
				<div class="buttons-container cm-toggle-button buttons-bg">
					<div class="cm-buttons-floating">
						<div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Сохранить" name="update" />
							</span>&nbsp;
							<span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Сохранить и закрыть" name="update_close" class="cm-save-and-close" />
							</span> &nbsp;или&nbsp;&nbsp; 
							<a class="underlined tool-link" href="/admin/<?=$vars['action']?>">Отменить</a>
						</div>
					</div>
				</div>
				<input type="hidden" value="<?=$vars['action']?>" id="action" />
			</form>
		</div>
	</div>
</div>