<div class="items-container multi-level">
  <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort table_550px">
    <tr>
      <th width="10" class="center"><input type="checkbox" class="check_all2" title="Отметить/снять все" value="Y" name="check_all"></th>
      <th width="20">ID</th>
      <th width="100">Название</th>
      <th width="80">Действие</th>
    </tr>

    <? foreach ($vars['list'] as $row) {
      echo '<tr><td class="center"><input type="checkbox" class="check-item" value="' . $row['id'] . '" name="id[]" /></td><td><span>' . $row['id'] . '</span><input type="hidden" value="' . $row['id'] . '" name="save_id[]" /></td><td><input type="text" value="' . $row['comment'] . '" name="comment[]" class="input-text" /></td><td width="10%"><a href="/admin/' . $vars['action'] . '/edit/' . $row['id'] . '" class="tool-link">Редактировать</a>&nbsp; | &nbsp;<ul class="cm-tools-list tools-list"><li><a href="/admin/' . $vars['action'] . '/delete/' . $row['id'] . '" class="cm-confirm">Удалить</a></li></ul></td></tr>';
    } ?>

  </table>
</div>

<div class="table-tools"><a class="check_all" href="javascript:void(0);">Выбрать все</a>|<a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a></div>