<?php if (isset($vars['list']) && count($vars['list']) > 0) { ?>
    <section class="bg-white">
        <div class="section-10">
            <div class="title-head holder-center">
                <span><?= $vars['translate']['expo-text'] ?></span>
            </div>
            <div class="container">
                <div class="row expo-holder">
                    <div class="owl-carousel slider_expo">
                      <?php foreach ($vars['list'] as $key => $photo) { ?>
                          <a href="<?=(isset($photo['url'])&&$photo['url']!=''?$photo['url']:'#')?>" class="expo-item">
                              <img alt="expo_<?= $key + 1 ?>" src="<?= getPathNoCache($photo['photo']) ?>">
                          </a>
                      <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </section>
<?php } ?>