<section class="page">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <?= isset($vars['breadcrumbs']) ? htmlspecialchars_decode($vars['breadcrumbs']) : '' ?>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1 class="page-title"><?= $vars['page']['name'] ?></h1>

            <?php
            $wrapper_tab_column = '';

            if ($vars['page']['url'] == 'kryuingam'){
                $wrapper_tab_column = 'wrapper_tab-column ';
            }

            if( !empty($vars['infoblocks']) ):
                $iblocks_output = $tabs_head = $tabs_content = '';
                $iblocks_output .= '<div class="row">';
                    foreach ($vars['infoblocks'] as $iblock):

                        if(!isset($group)):
                            $group = $iblock['group'];
                        elseif($group != $iblock['group']):
                            if($tabs_head != '' && $tabs_content != ''):
                                $iblocks_output .= '<div class="tabs-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">';
                                $iblocks_output .= '<ul class="tabs-header">';
                                $iblocks_output .= $tabs_head;
                                $iblocks_output .= '</ul>';
                                $iblocks_output .= '<div class="tabs-content">';
                                $iblocks_output .= $tabs_content;
                                $iblocks_output .= '</div>';
                                $iblocks_output .= '</div>';
                                $tabs_head = $tabs_content = '';
                            endif;
                            $group = $iblock['group'];
                            $iblocks_output .= '</div>';
                            $iblocks_output .= '<div class="row">';
                        endif;

                        if(!isset($iblock_type)):
                            $iblock_type = $iblock['type'];
                        elseif($iblock_type != $iblock['type']):
                            if($iblock_type == 'tab' || $iblock_type == 'anchor'):
                                $iblocks_output .= '<div class="tabs-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">';
                                $iblocks_output .= '<ul class="tabs-header">';
                                $iblocks_output .= $tabs_head;
                                $iblocks_output .= '</ul>';
                                $iblocks_output .= '<div class="tabs-content">';
                                $iblocks_output .= $tabs_content;
                                $iblocks_output .= '</div>';
                                $iblocks_output .= '</div>';
                                $tabs_head = $tabs_content = '';
                            endif;

                            $iblock_type = $iblock['type'];

                            $iblocks_output .= '</div>';
                            $iblocks_output .= '<div class="row">';

                        endif;

                        switch ($iblock_type) {
                            case 'tab' :
                                $cooperation = null;
                                if ($iblock['iblock']['id'] == 66){
                                    $cooperation = 'show_coperation ';
                                }
                                $tabs_head .= '<li class="'.$cooperation.'tab-button" data-infoblock-id="' . $iblock['iblock']['id'] . '">' . $iblock['iblock']['name'] . '</li>';
                                $tabs_content .= '<h3 class="tab-title">' . $iblock['iblock']['name'] . '</h3>';
                                $tabs_content .= '<div class="tab-content tab_' . $iblock['iblock']['id'] . '">';
                                $tabs_content .= htmlspecialchars_decode($iblock['iblock']['body']);
                                $tabs_content .= '</div>';
                                $cooperation = null;
                                break;

                            case 'anchor':
                                $tabs_head .= '<li class="tab-anchor-link"><a href="#tab_' . $iblock['iblock']['id'] . '">' . $iblock['iblock']['name'] . '</a></li>';
                                $tabs_content .= '<div id="tab_' . $iblock['iblock']['id'] . '" class="iblock-content">';
                                $tabs_content .= '<h3>' . $iblock['iblock']['name'] . '</h3>';
                                $tabs_content .= htmlspecialchars_decode($iblock['iblock']['body']);
                                $tabs_content .= '</div>';
                                break;

                                case 'link':
                                $tabs_head .= '<li class="tab-anchor-link"><a href="' . $iblock['iblock']['url'] . '">' . $iblock['iblock']['name'] . '</a></li>';
                                $tabs_content .= '<div>';
                                $tabs_content .= '';
                                $tabs_content .= '';
                                $tabs_content .= '</div>';
                                break;

                            default:
                                $iblocks_output .= '<div class="iblock-item col-lg-' . $iblock['col_lg']. ' col-md-' . $iblock['col_md'] . ' col-sm-' . $iblock['col_sm'] . ' col-xs-' . $iblock['col_xs'] . '">';
                                $iblocks_output .= htmlspecialchars_decode($iblock['iblock']['body']);
                                $iblocks_output .= '</div>';
                        }

                    endforeach;
                if( $tabs_head != '' && $tabs_content != '' ):
                    $iblocks_output .= '<div class="tabs-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">';
                    $iblocks_output .= '<ul class="'.$wrapper_tab_column.'tabs-header">';
                    $iblocks_output .= $tabs_head;
                    $iblocks_output .= '</ul>';
                    $iblocks_output .= '<div class="tabs-content">';
                    $iblocks_output .= $tabs_content;
                    $iblocks_output .= '</div>';
                    $iblocks_output .= '</div>';
                endif;
                $iblocks_output .= '</div>';
                echo $iblocks_output;
            endif;
             ?>
            <?= htmlspecialchars_decode($vars['page']['body']) ?>
        </div>
    </div>
</section>