<section id="breadcrumbs">
    <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <? foreach ($vars['links'] as $key => $item) { ?>
            <li class="<?= $item['url'] == '#' ? 'active' : '' ?>" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="<?= $item['url'] ?>" itemprop="item">
                    <span itemprop="name"><?= $item['name'] ?></span>
                    <meta itemprop="position" content="<?= $key + 1 ?>"/>
                </a>
            </li>
        <? } ?>
    </ul>
</section>