<head>
    <title><?= $vars['meta']['title'] ?></title>
    <meta name="description" property="og:description" content="<?= $vars['meta']['description'] ?>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/svg+xml" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" sizes="36x36" href="/android-icon-48x48.png">
        <link rel="icon" sizes="48x48" href="/android-icon-48x48.png">
        <link rel="icon" sizes="96x96" href="/android-icon-96x96.png">
        <link rel="icon" sizes="144x144" href="/android-icon-144x144.png">
        <link rel="icon" sizes="192x192" href="/android-icon-192x192.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-config" content="/browserconfig.xml" />
    <link rel="canonical" href="https://<?= $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ?>"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta property="og:title" content="<?= $vars['meta']['title'] ?>">
    <meta property="og:url" content="<?= PROTOCOL . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ?>">
    <meta property="og:image"
          content="<?= PROTOCOL . $_SERVER['HTTP_HOST'] . '/' . (!empty($vars['og_image']) ? $vars['og_image'] : 'tpl/default/img/logo.png') ?>">

  <?php  echo $vars['webmaster']; ?>
  <?= $vars['styles'] ?>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

  <!--[if lt IE 10]>
  <script src="/js/html5shiv.min.js"></script>
  <![endif]-->

<!--    --><?//= !empty($vars['google']) ? htmlspecialchars_decode(html_entity_decode(str_ireplace('&#039;', "'", $vars['google']))) : '' ?>
    <!--  Google reCaptcha  -->
    <script type="application/javascript"
            src="https://www.google.com/recaptcha/api.js?onload=InitializeCaptcha&render=explicit" async defer></script>
    <script type="application/javascript">
      var InitializeCaptcha = function () {
        $.each($('.g-recaptcha'), function (key, value) {
          grecaptcha.render(value, {
            'sitekey': '<?= $vars['recaptcha_public_key'] ?>',
            'theme': 'light',
            'hl': '<?= $_SESSION['key_lang'] ?>'
          });
        });
      };
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KC1QRRVZF3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KC1QRRVZF3');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K2DGD44');</script>
    <!-- End Google Tag Manager -->



    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300"
          rel="stylesheet" type="text/css">
</head>


