<!-- Header Section Starts -->
<header id="header-area-pc" class="top-line text-center">
    <div class="overlay">
        <button class="burger-button" type="button">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </button>
        <div class="logo">
            <a class="brand" href="/"><img src="/tpl/default/img/logo.png"></a>
        </div>
        <a class="binct-phone-number-4" href="tel:<?= $vars['settings']['viber'] ?>" class="link call-button"></a>
        <div class="mobile-hidden">
            <span class="close-mobile-menu"></span>
            <?= $vars['top-menu'] ?>
            <div class="header-contacts">
                <ul class="header-phones">
                    <?php foreach ($vars['contacts']['phone'] as $key => $phone): ?>
                        <?php $key++ ?>
                        <li class="header-phone">
                            <span class="pull-center">
                                <a class="default-color binct-phone-number-<?= $key ?> " href="tel:+<?= $phone['raw'] ?>" onclick="gtag('event','click',{'event_category':'tel','event_action':'click'});return true;">
                                    <span><?= $phone['format'] ?></span>
                                </a>
                            </span>
                        </li>
                    <?php endforeach; ?>
                </ul>

                <div class="header-address">
                    <p><?= $vars['settings']['address']?></p>
                </div>
                <div class="header-social-icons">
                    <a href="<?= $vars['settings']['shop_link']?>">
                        <img class="social-icon" src="/tpl/default/img/shop.svg">
                    </a>
                    <a href="<?= $vars['settings']['facebook']?>" onclick="gtag('event','click',{'event_category':'facebook','event_action':'click'});return true;">
                        <img class="social-icon" src="/tpl/default/img/facebook.svg">
                    </a>
                    <a href="<?= $vars['settings']['instagram']?>" onclick="gtag('event','click',{'event_category':'inst','event_action':'click'});return true;">
                        <img class="social-icon" src="/tpl/default/img/instagram.svg">
                    </a>
                </div>
                <div class="header-footer">
                    <p>Copyright © 2020 Mor Post</p>
                    <a href="https://skylogic.com.ua/" target="_blank" rel="nofollow noopener">Создание сайта</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Section Ends -->