<!-- Main Menu -->
<nav id="main-menu" class="navbar" role="navigation">
    <div class="navbar-header">
        <div class="menu-text">
            <span>Каталог</span>
            <button type="button" class="btn btn-navbar navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-cat-collapse">
                <span class="sr-only">Каталог</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
    <? if($vars['catalogs']): ?>
        <div class="collapse navbar-collapse navbar-cat-collapse">
            <ul class="nav navbar-nav">
                <? foreach ($vars['catalogs'] as $catalog) { ?>
                    <li<?= !empty($catalog['childs']) ? ' class="dropdown"' : '' ?>>
                        <a href="<?= Links::getLink('/catalog/' . $catalog['url']) ?>" class="dropdown-toggle"
                        data-hover="dropdown" data-delay="10">
                            <?= $catalog['name'] ?>
                        </a>
                        <? if( !empty($catalog['childs']) ): ?>
                            <span class="has-childs"></span>
                            <div class="dropdown-menu">
                                <ul class="list-unstyled">
                                    <? foreach ($catalog['childs'] as $key => $child): ?>
                                        <li>
                                            <a tabindex="-1"
                                                href="<?= Links::getLink('/catalog/' . $child['url']) ?>">
                                                <?= $child['name'] ?>
                                            </a>
                                        </li>
                                    <? endforeach; ?>
                                </ul>
                            </div>
                        <? endif; ?>
                    </li>
                <? } ?>
            </ul>
        </div>
    <? endif; ?>
</nav>