<?
	$cnt=$vars['cnt']-count($vars['phones']);
	echo '<article>';
	foreach($vars['phones'] as $t){
		echo '<a href="callto:'.$t['phone'].'">&nbsp;'.$t['phone'].'&nbsp;</a>';
		if(!empty($vars['soc'])){
			$sc='';
			if($t['vb']==1)$sc.='&nbsp;<a href="viber://chat?number='.$t['phone'].'"><img src="/files/storage/'.$vars['soc']['viber'].'" width="32">&nbsp;</a>';
			if($t['wu']==1)$sc.='&nbsp;<a href="whatsapp://send?phone='.$t['phone'].'"><img src="/files/storage/'.$vars['soc']['whatsapp'].'" width="32">&nbsp;</a>';
			if($t['tg']!='')$sc.='&nbsp;<a href="tg://resolve?domain='.$t['tg'].'"><img src="/files/storage/'.$vars['soc']['telegham'].'" width="32">&nbsp;</a>';
			if($sc!='')echo$sc.'<br>';
		}
	}
	if($cnt>0)for($i=$cnt;$i>0;$i--){
		$r=rand(0,count($vars['rand'])-1);
		echo '<a href="callto:'.$vars['rand'][$r]['phone'].'">&nbsp;'.$vars['rand'][$r]['phone'].'&nbsp;</a>';
		if(!empty($vars['soc'])){
			$sc='';
			if($vars['rand'][$r]['vb']==1)$sc.='&nbsp;<a href="viber://chat?number='.$vars['rand'][$r]['phone'].'"><img src="/files/storage/'.$vars['soc']['viber'].'" width="32">&nbsp;</a>';
			if($vars['rand'][$r]['wu']==1)$sc.='&nbsp;<a href="whatsapp://send?phone='.$vars['rand'][$r]['phone'].'"><img src="/files/storage/'.$vars['soc']['whatsapp'].'" width="32">&nbsp;</a>';
			if($vars['rand'][$r]['tg']!='')$sc.='&nbsp;<a href="tg://resolve?domain='.$vars['rand'][$r]['tg'].'"><img src="/files/storage/'.$vars['soc']['telegham'].'" width="32">&nbsp;</a>';
			if($sc!='')echo$sc.'<br>';
		}
		$vars['rand'][$r]=$vars['rand'][count($vars['rand'])-1];
		unset($vars['rand'][count($vars['rand'])-1]);
	}
	echo '</article>';