<nav class="navbar navbar-expand-md navbar-light">
    <div class="navbar-collapse" id="navbar">
        <ul class="navbar-nav text-center">
            <? foreach ($vars['menu'] as $link) { ?>
                <li class="nav-item">
                    <a class="nav-link" href="<?= Links::getLink($link['url']) ?>">
                        <span><?= $link['name'] ?></span>
                    </a>
                </li>
            <? } ?>
        </ul>
    </div>
</nav>