<? if (isset($vars['wide']) && !is_null($vars['wide'])) { ?>
    <div class="container-fluid">
        <div class="row">
          <? if (isset($vars['wide']['type']) && $vars['wide']['type'] == 'map') { ?>
              <div id="map">Google MAP</div>
          <? } else if(file_exists($vars['wide']['img'])) { ?>
                <div class="wide-top-img">
                    <img alt="wide_img" src="<?=getPathNoCache($vars['wide']['img'])?>">
                </div>
          <? } ?>
        </div>
    </div>
<? } ?>