<div class="cm-notification-container"><?= $vars['message'] ?></div>
<div class="cm-tabs-content">
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Новый раздел меню : </h1>
    </div>
    <div class="mainbox-body">
        <div class="tabs cm-j-tabs cm-track">
            <ul>
                <li id="basic" class="cm-js cm-active"><a>Общее</a></li>
                <li id="content" class="cm-js"><a>Контент</a></li>
                <li id="metadata" class="cm-js"><a>Мета данные</a></li>
            </ul>
        </div>
        <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
            <div id="content_basic" class="cm-tabs">
                <fieldset>
                    <h2 class="subheader"> Информация </h2>

                    <div class="form-field">
                        <label for="elm_parent_id" class="cm-required">Родительский раздел:</label>
                        <select id="elm_parent_id" name="sub">
                            <option value="0">- Корневой раздел -</option>
                          <? foreach ($vars['catalog'] as $row)
                            echo "<option value='{$row['id']}'>{$row['name']}</option>"; ?>
                        </select>
                    </div>
                    <div class="form-field">
                        <label class="cm-required" for="page">Название:</label>
                        <input title="Название" type="text" class="input-text-large main-input" value="" size="55"
                               name="name"/>
                    </div>
                    <div class="form-field">
                        <label for="page">URL:</label>
                        <input title="URL:" type="text" class="input-text-large main-input" value=""
                               size="55" name="url"/>
                    </div>
                    <div class="form-field">
                        <label class="cm-required">Состояние:</label>

                        <div class="select-field">
                            <input type="radio" class="radio" value="1" id="page_data_0_a" name="active"
                                   checked="checked"/>
                            <label for="page_data_0_a">Вкл.</label>
                            <input type="radio" class="radio" value="0" id="page_data_0_d" name="active"/>
                            <label for="page_data_0_d">Выкл.</label>
                        </div>
                    </div>


                </fieldset>
            </div>

            <!--description start-->
            <div id="content_content" class="cm-tabs hidden">
                <fieldset>
                    <h2 class="subheader"> Текст </h2>
                  <?= showEditor('body', ''); ?>
                    <h2 class="subheader">Изображение</h2>
                    <div>
                      <?
                      $path = "files/tmp/";
                      $vars['path'] = $path;
                      $vars['image_id'] = mktime();
                      $_SESSION['tmp_image'] = $vars['image_id'];
                      include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml";
                      ?>
                        <input type="hidden" name="tmp_image" value="<?= $vars['image_id'] ?>"/>

                    </div>
                </fieldset>
            </div>
            <!-- description end-->

            <!--metdata start-->
            <div id="content_metadata" class="cm-tabs hidden">
                <fieldset>
                    <h2 class="subheader"> Meta данные </h2>

                    <div class="form-field">
                        <label for="page_page_title">Заголовок раздела:</label>
                        <input type="text" class="input-text-large" value="" size="55" id="page_page_title"
                               name="title"/>
                    </div>
                    <div class="form-field">
                        <label for="page_meta_keywords">META ключевые слова:</label>
                        <textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_keywords"
                                  name="keywords"></textarea>
                    </div>
                    <div class="form-field">
                        <label for="page_meta_descr">META описание:</label>
                        <textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_descr"
                                  name="description"></textarea>
                    </div>
                </fieldset>
            </div>
            <!--metdata end-->

            <div class="buttons-container cm-toggle-button buttons-bg">
                <div class="cm-buttons-floating">
                    <div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Создать" name="add"/>
                        </span>
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Создать и закрыть" name="add_close" class="cm-save-and-close"/>
                        </span> или
                        <a class="underlined tool-link" href="/admin/menu">Отменить</a>
                    </div>
                </div>
            </div>
            <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
        </form>
    </div>
</div>