<script type="text/javascript">
	$(function () {
		$("#tree").treeview({
			collapsed: true,
			animated: "medium",
			control: "#sidetreecontrol",
			persist: "location"
		});
	})
</script>

	<div id="navigation" class="cm-j-tabs">
		<ul>
			<li class="cm-active">
				<span>
					<a href="/admin/menu">Корень</a>
				<i class="fa fa-chevron-down"></i>
				</span>
			</li>
			<li>
				<? echo $vars['cat_menu']; ?>
			</li>
		</ul>
	</div>
