<div class="cm-notification-container"><?= $vars['message'] ?></div>
<div class="cm-tabs-content">
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Редактирование раздел меню : <?= $vars['edit']['name'] ?></h1>
    </div>
    <div class="extra-tools">
        <a class="tool-link" href="/admin/menu/add">Добавить</a>
        <a class="tool-link cm-confirm" href="/admin/menu/delete/<?= $vars['edit']['id'] ?>">Удалить</a>
        <div class="float-right preview-link">
            <a href="/<?= $vars['edit']['url'] ?>" title="<?= $vars['edit']['url'] ?>" class="tool-link"
               target="_blank">Предпросмотр</a>
        </div>
    </div>
    <div class="mainbox-body">
        <div class="tabs cm-j-tabs cm-track">
            <ul>
                <li id="basic" class="cm-js cm-active"><a>Общее</a></li>
                <li id="content" class="cm-js"><a>Контент</a></li>
                <li id="metadata" class="cm-js"><a>Мета данные</a></li>
            </ul>
        </div>
        <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
            <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>

            <div id="content_basic" class="cm-tabs">
                <fieldset>
                    <h2 class="subheader"> Информация </h2>

                    <div class="form-field">
                        <label for="elm_parent_id" class="cm-required">Родительский раздел:</label>
                        <select id="elm_parent_id" name="sub">
                            <option value="0">- Корневой раздел -</option>
                          <? foreach ($vars['catalog'] as $row) {
                            echo "<option value='{$row['id']}'";
                            if ($row['id'] == $vars['edit']['sub']) echo " selected";
                            echo ">{$row['name']}</option>";
                          } ?>
                        </select>
                    </div>
                    <div class="form-field">
                        <label class="cm-required" for="page">Название:</label>
                        <input title="Название" type="text" class="input-text-large main-input"
                               value="<?= $vars['edit']['name'] ?>"
                               size="55" name="name"/>
                    </div>
                    <div class="form-field">
                        <label class="cm-required" for="page">URL:</label>
                        <input title="URL" type="text" class="input-text-large main-input"
                               value="<?= $vars['edit']['url'] ?>"
                               size="55" name="url"/>
                    </div>
                    <div class="form-field">
                        <label class="cm-required">Состояние:</label>

                        <div class="select-field">
                            <input type="radio" class="radio" value="1" id="page_data_0_d"
                                   name="active" <? if ($vars['edit']['active'] == 1) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_d">Вкл.</label>

                            <input type="radio" class="radio" value="0" id="page_data_0_a"
                                   name="active" <? if ($vars['edit']['active'] == 0) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_a">Выкл.</label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <!--description start-->
            <div id="content_content" class="cm-tabs hidden">
                <fieldset>
                    <h2 class="subheader"> Текст </h2>
                    <?= showEditor('body', $vars['edit']['body']); ?>
                </fieldset>
                <fieldset>
                    <h2 class="subheader">Информационные блоки</h2>
                    <span class="action-add" style="margin:8px 28px 8px 8px;">
                        <a href="#" id="menu_add_iblock" rel="add">Подключить инф. блок</a>
                    </span>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0"
                           class="table table-fixed hidden-inputs tb_sort table_1100px"
                           id="page_info_blocks_tb" style="margin-top: 10px;">
                        <thead>
                        <tr class="noDrop">
                            <th width="260">Инфо. блоки</th>
                            <th>Сорт.</th>
                            <th>col-lg</th>
                            <th>col-md</th>
                            <th>col-sm</th>
                            <th>col-xs</th>
                            <th>Группа</th>
                            <th>Назначение</th>
                            <th width="70"></th>
                        </tr>
                        </thead>
                        <tbody id="load_info_block">
                        <?php if(!empty($vars['infoblocks'])): ?>
                            <?= $vars['infoblocks']; ?>
                        <?php endif; ?>
                        </tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <h2 class="subheader">Изображение</h2>
                    <div>
                      <? $vars['image_id'] = $vars['edit']['id'];
                      include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml"; ?>
                    </div>
                </fieldset>
            </div>
            <!-- description end-->


            <!--metdata start-->
            <div id="content_metadata" class="cm-tabs hidden">
                <fieldset>
                    <h2 class="subheader"> Meta данные </h2>

                    <div class="form-field">
                        <label for="page_page_title">Заголовок раздела:</label>
                        <input type="text" class="input-text-large" value="<?= $vars['edit']['title'] ?>" size="55"
                               id="page_page_title" name="title"/>
                    </div>
                    <div class="form-field">
                        <label for="page_meta_keywords">META ключевые слова:</label>
                        <textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_keywords"
                                  name="keywords"><?= $vars['edit']['keywords'] ?></textarea>
                    </div>
                    <div class="form-field">
                        <label for="page_meta_descr">META описание:</label>
                        <textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_descr"
                                  name="description"><?= $vars['edit']['description'] ?></textarea>
                    </div>
                </fieldset>
            </div>
            <!--metdata end-->

            <div class="buttons-container cm-toggle-button buttons-bg">
                <div class="cm-buttons-floating">
                    <div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Сохранить" name="update"/>
                        </span>
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Сохранить и закрыть" name="update_close"
                                   class="cm-save-and-close"/>
                        </span> или
                        <a class="underlined tool-link" href="/admin/menu">Отменить</a>
                    </div>
                </div>
            </div>
            <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
        </form>
    </div>
</div>