<div class="cm-notification-container"></div>
<?=$vars['message']?>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Новый шаблон:&nbsp;</h1>
	</div>
	<div class="extra-tools"></div>
	<div class="mainbox-body"> 
		<div class="cm-tabs-content">
			<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
				<div id="content_basic" style="display: block;">
					<fieldset>
						<h2 class="subheader"> Информация </h2>
						<div class="form-field">
							<label for="reset">Тип уведомления</label>
							<select id="notification_type" name="type">
								<? foreach($vars['types'] as $row){
									echo '<option value="'.$row['url'].'">'.$row['name'].'</option>';
								}?>
							</select>
						</div>
					</fieldset>
					<fieldset class="notification_blocks" id="sms_edit_block">
						<div class="form-field">
							<label class="cm-required" for="page">Название шаблона:</label>
							<input type="text" class="input-text-large main-input" value="" size="55" name="sms_name" />
						</div>
						<div class="left_controls">
							<div class="form-field">
								<label class="cm-required" for="page">Тело сообщения:</label>
								<textarea id="sms_text" name="sms_text" placeholder="Введите текст" class="input-textarea-long"></textarea>
							</div>
						</div>
						<div class="left_controls">
							<!--configs-->
							<input type="hidden" id="sms_length_cyr" value="<?=$vars['sms_length_cyr'];?>"/>
							<input type="hidden" id="sms_length_lat" value="<?=$vars['sms_length_lat'];?>"/>
							<input type="hidden" id="max_sms_length_cyr" value="<?=$vars['sms_length_cyr']*3;?>"/>
							<input type="hidden" id="max_sms_length_lat" value="<?=$vars['sms_length_lat']*3;?>"/>
							<div class="form-field">
								<label for="page">Осталось символов:</label>
								<span id="sms_symbol_counter"><?=$vars['sms_length_lat'];?></span>
							</div>
							<div class="form-field">
								<label for="page">Количество сообщений:</label>
								<span id="sms_counter">0</span>
							</div>
							<div class="form-field">
								<input type="button" class="go_button" style="margin-left: 0;" id="translit" value="Перевести в транслит">
							</div>
						</div>
						<div class="form-field">
							<label for="reset">Модуль</label>
							<select name="sms_module">
								<? foreach($vars['modules'] as $row){
									echo '<option value="'.$row['controller'].'">'.$row['name'].'</option>';
								}?>
							</select>
						</div>
						<div class="form-field">
							<label for="page_descr" class="cm-required">Описание шаблона:</label>
							<textarea name="sms_descr" class="input-textarea-long" rows="5" placeholder="Введите описание уведомления"></textarea>
						</div>
					</fieldset>
					<fieldset class="notification_blocks hidden" id="email_edit_block">
						<div class="form-field">
							<label class="cm-required" for="page">Название шаблона:</label>
							<input type="text" class="input-text-large main-input" value="" size="55" name="email_name" />
						</div>
						<div class="form-field">
							<label class="cm-required" for="page">(Тема письма):</label>
							<input type="text" class="input-text-large main-input" value="" size="55" name="email_theme" />
						</div>
						<div class="form-field">
							<label for="page_descr" class="cm-required">Шаблон:</label>
							<?=showEditor('email_text', '');?>
						</div>
						<div class="form-field">
							<label for="reset">Модуль</label>
							<select name="email_module">
								<? foreach($vars['modules'] as $row){
									echo '<option value="'.$row['controller'].'">'.$row['name'].'</option>';
								}?>
							</select>
						</div>
						<div class="form-field">
							<label for="page_descr" class="cm-required">Описание шаблона:</label>
							<textarea name="email_descr" class="input-textarea-long" rows="5" placeholder="Введите описание уведомления"></textarea>
						</div>
					</fieldset>
					<fieldset class="notification_blocks hidden" id="push_edit_block">
						<div class="form-field">
							<label class="cm-required" for="page">Название шаблона:</label>
							<input type="text" class="input-text-large main-input" value="" size="55" name="push_name" />
						</div>
						<div class="form-field">
							<label class="cm-required" for="page">Заголовок уведомления:</label>
							<input type="text" class="input-text-large main-input" value="" size="55" name="push_theme" />
						</div>
						<div class="form-field">
							<label for="page_descr" class="cm-required">Текст:</label>
							<textarea name="push_text" class="input-textarea-long" rows="5" placeholder="Введите текст уведомления"></textarea>
						</div>
						<div class="form-field">
							<label for="reset">Модуль</label>
							<select name="push_module">
								<? foreach($vars['modules'] as $row){
									echo '<option value="'.$row['controller'].'">'.$row['name'].'</option>';
								}?>
							</select>
						</div>
						<div class="form-field">
							<label for="page_descr" class="cm-required">Описание шаблона:</label>
							<textarea name="push_descr" class="input-textarea-long" rows="5" placeholder="Введите описание уведомления"></textarea>
						</div>
					</fieldset>
					<fieldset class="notification_blocks hidden" id="tray_edit_block">
						<div class="form-field">
							<label class="cm-required" for="page">Название шаблона:</label>
							<input type="text" class="input-text-large main-input" value="" size="55" name="tray_name" />
						</div>
						<div class="form-field">
							<label class="cm-required" for="page">Заголовок уведомления:</label>
							<input type="text" class="input-text-large main-input" value="" size="55" name="tray_theme" />
						</div>
						<div class="form-field">
							<label for="page_descr" class="cm-required">Текст:</label>
							<textarea name="tray_text" class="input-textarea-long" rows="5" placeholder="Введите текст уведомления"></textarea>
						</div>
						<div class="form-field">
							<label for="reset">Модуль</label>
							<select name="tray_module">
								<? foreach($vars['modules'] as $row){
									echo '<option value="'.$row['controller'].'">'.$row['name'].'</option>';
								}?>
							</select>
						</div>
						<div class="form-field">
							<label for="page_descr" class="cm-required">Описание шаблона:</label>
							<textarea name="tray_descr" class="input-textarea-long" rows="5" placeholder="Введите описание уведомления"></textarea>
						</div>
					</fieldset>
				</div>
				<div class="buttons-container cm-toggle-button buttons-bg">
					<div class="cm-buttons-floating">
						<div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Добавить" name="add" />
							</span>&nbsp;&nbsp;или&nbsp;&nbsp;
							<a class="underlined tool-link" href="/admin/menu">Отменить</a>
						</div>
					</div>
				</div>
				<input type="hidden" value="<?=$vars['action']?>" id="action" />
			</form>
		</div>
	</div>
</div>