<div class="cm-notification-container"></div>
<div id="message"><?=$vars['message']?></div>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title float-left">История отправки уведомлений</h1>
	</div>
	<div class="mainbox-body">
		<div id="ds_15014" class="clear"></div>
		<div id="content_manage_users">
			<form name="userlist_form" method="post" action="/admin/<?=$vars['action']?><?=$vars['path']?>">
				<div id="pagination_contents">
					<div class="items-container multi-level">
						<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort">
							<tr>
								<th width="4%">id</th>
								<th width="10%">Дата</th>
								<th width="6%">Тип</th>
								<th width="15%">Кому</th>
								<th width="15%">Номер/email</th>
								<th width="32%">Текст</th>
								<th>Статус</th>
								<th width="8%">Переход</th>
							</tr>
							<?php
								foreach($vars['history']['list'] as $row)
								{
									echo'<tr>
											<td>'.$row['id'].'</td>
											<td>'.$row['date_sended'].'</td>
											<td>'.$row['type'].'</td>
											<td>'.$row['user_id'].'</td>
											<td>'.$row['number'].'</td>
											<td>'.htmlspecialchars_decode($row['text']).'</td>
											<td>'.$row['status'].'</td>
											<td>'.$row['clicked'].'</td>
										</tr>';
								}
							?>
						</table>
					</div>
				</div>
				<?=$vars['history']['paging']?>
				<div class="buttons-container buttons-bg">
					<div class="cm-buttons-placeholder">
						<div class="float-left">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Сохранить" name="update" class="">
							</span>или
							<span class="submit-button cm-button-main cm-confirm cm-process-items">
								<input type="submit" value="Удалить выбранные" name="delete" class="cm-process-items">
							</span>
						</div>
					</div>
					<div class="cm-buttons-floating hidden"></div>
				</div>
				<input type="hidden" value="<?=$vars['action']?>" id="action" />
				<input type="hidden" value="subscribers" id="action2" />
			</form>
			</div>
		</div>
	</div>
</div>