<div class="cm-notification-container"></div>
<div id="message"><?=$vars['message']?></div>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title float-left"><?=$vars['name'];?></h1>
	</div>
	<div class="mainbox-body">
		<div id="ds_15014" class="clear"></div>
			<div class="left_controls">
				<fieldset>
					<h3>Общая информация</h3>
					<div class="form-field">
						<label>Ваш agentik ключ</label>
						<span><?=$vars['api_key'];?></span>
					</div>
					<div class="form-field">
						<label>Баланс счета</label>
						<span <? if($vars['balance']<=10) echo 'style="color:red;"';?>><?=$vars['balance'];?></span>
						<a href="http://agentik.com/users/pay" target="_blank"/>Пополнить счёт</a>
					</div>
					<div class="form-field">
						<label>Кол-во отправленных уведомлений</label>
						<span><?=$vars['history']['count'];?></span>
					</div>
					<div class="form-field">
						<label></label>
						<span><a href="http://agentik.com/" target="_blank"/>Перейти в Agentik</a></span>
					</div>

				</fieldset>
			</div>
			<div class="left_controls">
				<fieldset>
					<h3>Функции</h3>
					<div class="form-field">
						<span><a href="/admin/sender/act/sendone" class="go_button">Отправка уведомления</a></span>
					</div>
					<div class="form-field">
						<span><a href="/admin/sender/act/sendmany" class="go_button">Массовая отправка уведомлений</a></span>
					</div>
					<div class="form-field">
						<span><a href="/admin/sender/act/templates" class="go_button">Шаблоны сообщений</a></span>
					</div>
					<div class="form-field">
						<span><a href="/admin/sender/act/configure" class="go_button">Настройки модуля</a></span>
					</div>
					<div class="form-field">
						<span><a href="/admin/sender/act/history" class="go_button">История уведомлений</a></span>
					</div>
				</fieldset>
			</div>
		<div class="left_controls">
			<fieldset>
				<h3>Настройки</h3>
				<? if(isset($vars['setts'])) {
				foreach($vars['setts'] as $row) { ?>
				<div class="form-field">
					<label><?=$row['comment'];?></label>
					<?
						if($row['type']=='text') $input='<input type="text" name="value'.$row['id'].'" value="'.$row['value'].'" class="input-text-large" />';
						elseif($row['type']=='checkbox')
						{
							$checked='';
							if($row['value']==1)$checked=' checked="checked"';
							$input='<label class="switch">
											<input type="checkbox" name="value'.$row['id'].'" value="1" '.$checked.' class="switch-input"  />
											<span class="switch-label" data-on="Да" data-off="Нет"></span>
											<span class="switch-handle"></span>
										</label>';
						}
						elseif($row['type']=='radio')
						{
							$checked0='';
							$checked1='';
							if($row['value']==1)$checked1=' checked="checked"';
							else $checked0=' checked="checked"';

							$input='<input type="radio" name="value'.$row['id'].'" value="0" '.$checked0.' />
										<input type="radio" name="value'.$row['id'].'" value="1" '.$checked1.' />';
						}
						elseif($row['type']=='textarea')$input='<textarea name="value'.$row['id'].'" class="input-textarea-large" style="resize: none; height:80px;>'.$row['value'].'</textarea>';
						echo $input;
						echo'<input type="hidden" value="'.$row['id'].'" name="save_id[]" />';
					?>
				</div>
				<? }
				} ?>
			</fieldset>
		</div>
		<div id="ds_15014" class="clear"><br/></div>
			<div class="buttons-container buttons-bg">
				<div class="cm-buttons-floating hidden" style="display: none;">
					<div class="cm-buttons-placeholder">
						<div class="float-left">
								<span class="submit-button cm-button-main">
									<input type="submit" value="Сохранить" name="update" class="">
								</span>
						</div>
					</div>
					<div class="cm-buttons-floating hidden"></div>
				</div>
			</div>
			<input type="hidden" value="<?=$vars['action']?>" id="action" />
	</div>
</div>