<div class="cm-notification-container"></div>
<?=$vars['message']?>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Рассылка:&nbsp;</h1>
	</div>
	<div class="extra-tools"></div>
	<div class="mainbox-body">
		<div class="cm-tabs-content">
				<div id="content_basic" style="display: block;">
					<fieldset>
						<div class="left_controls">
							<div class="form-field">
								<label for="reset">Тип рассылки</label>
								<select id="notification_type">
									<? foreach($vars['types'] as $row){
										echo '<option value="'.$row['url'].'">'.$row['name'].'</option>';
									} ?>
								</select>
							</div>
						</div>
						<div class="left_controls">
							<? if(isset($vars['templates']) && !empty($vars['templates'])) { ?>
							<div class="form-field">
								<label for="reset">Шаблон сообщения</label>
								<select id="notification_template" class="send_one_set_template" data-description="false" data-clean="true">
									<option value="0">Выберите шаблон</option>
									<? foreach($vars['templates'] as $row){
										echo '<option value="'.$row['id'].'">'.$row['name'].'</option>';
									} ?>
								</select>
							</div>
							<? } ?>
						</div>
					</fieldset>
					<div class="notification_blocks" id="sms_edit_block">
						<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
						<fieldset>
							<h2 class="subheader">SMS рассылка</h2>
							<div class="left_controls">
								<div class="left_controls">
									<div class="form-field">
										<label class="cm-required" for="page">Тело сообщения:</label>
										<textarea id="sms_text" name="sms_text" placeholder="Введите текст" class="input-textarea-long"></textarea>
									</div>
								</div>
							</div>
							<div class="left_controls">
								<!--configs-->
								<input type="hidden" id="sms_length_cyr" value="<?=$vars['sms_length_cyr'];?>"/>
								<input type="hidden" id="sms_length_lat" value="<?=$vars['sms_length_lat'];?>"/>
								<input type="hidden" id="max_sms_length_cyr" value="<?=$vars['sms_length_cyr']*3;?>"/>
								<input type="hidden" id="max_sms_length_lat" value="<?=$vars['sms_length_lat']*3;?>"/>
								<div class="form-field">
									<label for="page">Осталось символов:</label>
									<span id="sms_symbol_counter"><?=$vars['sms_length_lat'];?></span>
								</div>
								<div class="form-field">
									<label for="page">Количество сообщений:</label>
									<span id="sms_counter">0</span>
								</div>
								<div class="form-field">
									<label>Баланс счета</label>
									<span <? if($vars['balance']<=10) echo 'style="color:red;"';?>><?=$vars['balance'];?></span>
									<a href="http://agentik.com/users/pay" target="_blank"/>Пополнить счёт</a>
								</div>
								<div class="form-field">
									<input type="button" class="go_button" style="margin-left: 0;" id="translit" value="Перевести в транслит">
								</div>
							</div>
							<div class="form-field">
								<label for="page">Описание шаблона:</label>
								<span id="sms_description">---</span>
							</div>
							<? if(isset($vars['users']) && !empty($vars['users'])) { ?>
								<div class="clear"></div>
								<fieldset class="check_group">
									<legend align="center"><strong>АДРЕСАТЫ</strong></legend>
									<div class="check_list"> <input type="checkbox" class="check_stat" target="all" value="1"/><strong>Все</strong>
									<? foreach($vars['statuses'] as $row){
										echo '&nbsp;&nbsp;&nbsp;<input type="checkbox" class="check_stat" target="'.$row['id'].'" value="1"/><strong>'.$row['name'].'</strong>';
									} ?>
										<p class="red">* Формат телефона должен быть вида: 380999999999 !! В противном случае сообщение не будет отправлено."</p>
									</div>
									<div class="clear"><hr/></div>
								<div class="users_list">
									<?
										$i=1;
										foreach($vars['users'] as $row){
											if($row['phone']!='') echo '<div class="addressee">
												<span>'.$i.'. '.$row['name'].'</span>
												<input type="text" name="phones[]" class="input-text-medium" value="'.$row['phone'].'"/>
												<input type="checkbox" class="check_'.$row['status_id'].' check_all" value="1" name="check[]"/>
												</div>';
											$i++;
										} ?>
								</div>
								</fieldset>
							<? } ?>
						</fieldset>
						<div class="buttons-container cm-toggle-button buttons-bg">
							<div class="cm-buttons-floating">
								<div class="cm-buttons-placeholder">
									<span class="submit-button cm-button-main">
										<input type="submit" value="Отправить" name="send"/>
									</span>&nbsp;&nbsp;или&nbsp;&nbsp;
									<a class="underlined tool-link" href="/admin/sender">Отменить</a>
								</div>
							</div>
						</div>
						</form>
					</div>
					<div class="notification_blocks hidden" id="email_edit_block">
						<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
							<fieldset>
								<h2 class="subheader">Email рассылка</h2>
								<div class="form-field">
									<label class="cm-required" for="page">Тема письма:</label>
									<input type="text" class="input-text-large main-input" id="email_theme" value="" size="55" name="email_theme"/>
								</div>
								<div class="form-field">
									<label class="cm-required" for="page_descr">Шаблон:</label>
									<?=showEditor('email_text', '');?>
								</div>
								<div class="form-field">
									<label for="page">Описание шаблона:</label>
									<span id="email_description">---</span>
								</div>

							<? if(isset($vars['users']) && !empty($vars['users'])){ ?>
								<div class="clear"></div>
								<fieldset class="check_group">
									<legend align="center"><strong>АДРЕСАТЫ</strong></legend>
								<div class="check_list"><strong>Адресаты:</strong> <input type="checkbox" class="check_stat" target="all" value="1"/>Все
									<? foreach($vars['statuses'] as $row){
										echo '&nbsp;&nbsp;&nbsp;<input type="checkbox" class="check_stat" target="'.$row['id'].'" value="1"/>'.$row['name'].'';
									} ?>
								</div>
								<div class="users_list">
									<?
										$i=1;
										foreach($vars['users'] as $row){
											if($row['phone']!='') echo '<div class="addressee">
												<span>'.$i.'. '.$row['name'].'</span>
												<input type="text" name="emails[]" class="input-text-medium" value="'.$row['email'].'"/>
												<input type="checkbox" class="check_'.$row['status_id'].' check_all" value="1" name="email_check[]"/>
												</div>';
											$i++;
										} ?>
								</div>
								</fieldset>
							<? } ?>
							</fieldset>
							<div class="buttons-container cm-toggle-button buttons-bg">
								<div class="cm-buttons-floating">
									<div class="cm-buttons-placeholder">
									<span class="submit-button cm-button-main">
										<input type="submit" value="Отправить" name="send"/>
									</span>&nbsp;&nbsp;или&nbsp;&nbsp;
										<a class="underlined tool-link" href="/admin/sender">Отменить</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!--scripts-->
				<script>
					$(document).ready(function(){
						$("#sms_phone").mask("380999999999");
					});
				</script>
				<!--scripts-->
				<input type="hidden" value="<?=$vars['action']?>" id="action" />
		</div>
	</div>
</div>