<? if(isset($vars['template']) && !empty($vars['template']))?>
<div class="preview_content">
	<div class="float-left" style="width: 85%;">
		<div class="form-field">
			<label>Название шаблона</label>
			<span><?=$vars['template']['name'];?></span>
		</div>
		<? if($vars['template']['type']!='sms') { ?>
		<div class="form-field">
			<label>Тема письма/Заголовок уведомления</label>
			<span><?=$vars['template']['theme'];?></span>
		</div>
		<? } ?>
		<div class="form-field">
			<label>Тело письма/Тело уведомления</label>
			<span><?=htmlspecialchars_decode($vars['template']['text']);?></span>
		</div>
		<div class="form-field">
			<label>Описание шаблона</label>
			<span style="font-size: 12px;"><?=htmlspecialchars_decode($vars['template']['description']);?></span>
		</div>
	</div>
	<? if($_SESSION['admin']['id']=='1'){ ?>
	<div class="float-right">
		<a href="#" id="edit_template">Редактировать шаблон</a>
	</div>
	<? } ?>
</div>
<div class="edit_content" style="display: none;">
	<div class="float-left" style="width: 85%;">
		<form method="post" action="">
			<input type="hidden" name="template_id" value="<?=$vars['template']['id'];?>"/>
			<div class="form-field">
				<label>Название шаблона</label>
				<input type="text" class="input-text-long" name="template_name" value="<?=$vars['template']['name'];?>"/>
			</div>
			<? if($vars['template']['type']!='sms') { ?>
			<div class="form-field">
				<label>Тема письма/Заголовок уведомления</label>
				<input type="text" class="input-text-long" name="template_theme" value="<?=$vars['template']['theme'];?>"/>
			</div>
			<? }
			else{
				echo '<input type="hidden" name="template_theme" value=""/>';
			}?>
			<div class="form-field">
				<label>Тело письма/Тело уведомления</label>
				<? if($vars['template']['type']=='email') { ?>
					<textarea name="template_text" rows="5" id="elm2" class="input-textarea-long"><?=htmlspecialchars_decode($vars['template']['text']);?></textarea>
				<? }
				else {?>
					<textarea name="template_text" rows="5" class="input-textarea-long"><?=htmlspecialchars_decode($vars['template']['text']);?></textarea>
				<? } ?>
			</div>
			<div class="form-field">
				<label>Описание шаблона</label>
				<?=showEditor('template_description', $vars['template']['description']);?>
			</div>
			<div class="buttons-container cm-toggle-button buttons-bg">
				<div class="cm-buttons-floating">
					<div class="cm-buttons-placeholder">
						<span class="submit-button cm-button-main">
							<input type="submit" value="Сохранить" name="save"/>
						</span>&nbsp;&nbsp;или&nbsp;&nbsp;
						<a class="underlined tool-link" href="/admin/sender">Вернуться в Модуль рассылки</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="float-right">
		<a href="#" id="close_edit_template">Вернуться к просмотру</a>
	</div>
</div>
<div class="clear"></div>