<div class="cm-notification-container"></div>
<?=$vars['message']?>
<div>
	<div class="clear mainbox-title-container">
		<div class="tools-container">
			<? if($_SESSION['admin']['id']=='1'){ ?>
			<span class="action-add">
				<a href="/admin/<?=$vars['action']?>/act/addtemplate/">Добавить новый шаблон</a>
			</span>
			<? } ?>
		</div>
		<h1 class="mainbox-title">Управление шаблонами</h1>
	</div>
	<div class="extra-tools"></div>
	<div class="mainbox-body"> 
		<div class="cm-tabs-content">
				<div id="content_basic" style="display: block;">
					<fieldset>
						<h2 class="subheader">Просмотр текущих шаблонов</h2>
						<div class="left_controls">
							<div class="form-field">
								<label for="reset">Выберите тип</label>
								<select id="notification_type">
									<? foreach($vars['types'] as $row){
										echo '<option value="'.$row['url'].'">'.$row['name'].'</option>';
									}?>
								</select>
							</div>
						</div>
						<div class="left_controls">
							<div class="form-field">
								<label for="reset">Выберите шаблон</label>
								<select id="notification_template" class="template_preview_selector">
									<option value="0">Выберите шаблон</option>
									<? if(isset($vars['templates']) && !empty($vars['templates'])) {
										foreach($vars['templates'] as $row){
											echo '<option value="'.$row['id'].'">'.$row['name'].'</option>';
										}
									} ?>
								</select>
							</div>
						</div>
						<h2 class="subheader">Область просмотра</h2>
						<div id="template_preview">
							Выберите шаблон для просмотра.
						</div>
					</fieldset>
					<div class="notification_blocks hidden" id="email">
						<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
							<fieldset>
								<h2 class="subheader">Email уведомление</h2>
								<div class="form-field">
									<label class="cm-required" for="page">Название (ТЕМА письма):</label>
									<input type="text" class="input-text-large main-input" value="" size="55" name="name" />
								</div>
								<div class="form-field">
									<label for="page_descr">Шаблон:</label>
									<?=showEditor('body', '');?>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<!--scripts-->
				<script>
					$(document).ready(function(){
						$("#sms_phone").mask("380999999999");
					});
				</script>
				<!--scripts-->
				<input type="hidden" value="<?=$vars['action']?>" id="action" />
		</div>
	</div>
</div>