<div class="cm-notification-container"></div>
<?= $vars['message'] ?>
<div class="cm-tabs-content">
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Редактирование :&nbsp;<?= $vars['edit']['name'] ?></h1>
	</div>
	<div class="extra-tools">

		<a class="tool-link" href="/admin/tasks/add">Добавить задание</a>
		<a class="tool-link cm-confirm" href="/admin/tasks/delete/<?= $vars['edit']['id'] ?>">Удалить задание</a>

		<div class="float-right preview-link">
			<!--<a href="/<?= $vars['edit']['url'] ?>" title="<?= $vars['edit']['url'] ?>" class="tool-link" target="_blank">Выполнить сейчас</a>-->
		</div>
	</div>
	<div class="mainbox-body">
		<?
			include "form.phtml";
		?>

		<fieldset>
			<h2 class="subheader"> 50 последних записей </h2>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs">
				<tr>
					<th width="150">Начало</th>
					<th width="150">Конец</th>
					<th width="150">Заняло времени</th>
					<th width="180">Состояние</th>
					<th>Статус</th>
				</tr>
				<?php
					foreach ($vars['logs'] as $row) {
						if ($row['date_end'] == '0000-00-00 00:00:00') {
							$interval = '--';
						} else {
							$datetime1 = new DateTime($row['date_start']);
							$datetime2 = new DateTime($row['date_end']);
							$interval = $datetime1->diff($datetime2);
							$interval = $interval->format('%H:%i:%s');
						}
						if ($row['busy'] == 1) $status = 'Выполняется сейчас';
						else $status = 'Отработан';
						if ($row['status'] == 'ok') $row['status'] = '<span style="color:green;">' . $row['status'] . '</span>';
						else $row['status'] = '<span style="color:red;">' . $row['status'] . '</span>';
						echo '<tr>
								<td><span>' . $row['date_start'] . '</span></td>
								<td><span>' . $row['date_end'] . '</span></td>
								<td><span>' . $interval . '</span></td>
								<td><span>' . $status . '</span></td>
								<td><span>' . $row['status'] . '</span></td>
							</tr>';
					}
				?>
			</table>
		</fieldset>
	</div>
</div>
</div>

<script>
	var editor = CodeMirror.fromTextArea(document.getElementById("body"), {
		mode: 'application/x-httpd-php',
		autoCloseTags: true,
		lineNumbers: true,
		matchBrackets: true,
		styleActiveLine: true,
		autoCloseTags: true,
		indentUnit: 4,
		indentWithTabs: true,
		enterMode: "keep",
		tabMode: "shift"
	});
</script>