<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
	<div id="content_basic" class="cm-tabs">
		<fieldset>
			<h2 class="subheader"> Информация </h2>

			<?
				if (isset($vars['edit'])) {
					echo '
                    <div class="form-field">
                        <label for="page">Дата создания:</label>
                        ' . $vars['edit']['date'] . '
                    </div>
                     <div class="form-field">
                        <label for="page">Последний запуск:</label>
                        ' . $vars['edit']['date_end'] . '
                    </div>
                     <div class="form-field">
                        <label for="page">Статус:</label>
                        ';
					if ($vars['edit']['busy'] == 1) echo 'Выполняется сейчас';
					else echo 'Запуск в ' . $vars['edit']['next_update'];
					echo '
                    </div>';
					$common = explode(' ', $vars['edit']['common']);
				}
			?>
			<div class="form-field">
				<label class="cm-required" for="page">Название:</label>
				<input type="text" class="input-text-large main-input"
					   value="<? if (isset($vars['edit'])) echo $vars['edit']['name']; ?>" size="55" name="name"/>
			</div>

			<div class="form-field">
				<label for="page">Общие параметры:</label>
				<select name="common" id="common_options" onchange="select_common_option()" style="width: 300px;">
					<option value="--">-- Общие параметры --</option>
					<option
						value="* * * * *"<? if (isset($vars['edit']) && $vars['edit']['common'] == '* * * * *') echo ' selected'; ?>>
						Раз в минуту (* * * * *)
					</option>
					<option
						value="*/5 * * * *"<? if (isset($vars['edit']) && $vars['edit']['common'] == '*/5 * * * *') echo ' selected'; ?>>
						Раз в 5 минут (*/5 * * * *)
					</option>
					<option
						value="0,30 * * * *"<? if (isset($vars['edit']) && $vars['edit']['common'] == '0,30 * * * *') echo ' selected'; ?>>
						2 раза в час (0,30 * * * *)
					</option>
					<option
						value="0 * * * *"<? if (isset($vars['edit']) && $vars['edit']['common'] == '0 * * * *') echo ' selected'; ?>>
						Раз в час (0 * * * *)
					</option>
					<option
						value="0 0,12 * * *"<? if (isset($vars['edit']) && $vars['edit']['common'] == '0 0,12 * * *') echo ' selected'; ?>>
						2 раза в день (0 0,12 * * *)
					</option>
					<option
						value="0 0 * * *"<? if (isset($vars['edit']) && $vars['edit']['common'] == '0 0 * * *') echo ' selected'; ?>>
						Раз в день (0 0 * * *)
					</option>
					<option
						value="0 0 * * 0"<? if (isset($vars['edit']) && $vars['edit']['common'] == '0 0 * * 0') echo ' selected'; ?>>
						Раз в неделю (0 0 * * 0)
					</option>
					<option
						value="0 0 1,15 * *"<? if (isset($vars['edit']) && $vars['edit']['common'] == '0 0 1,15 * *') echo ' selected'; ?>>
						1 и 15 числа (0 0 1,15 * *)
					</option>
					<option
						value="0 0 1 * *"<? if (isset($vars['edit']) && $vars['edit']['common'] == '0 0 1 * *') echo ' selected'; ?>>
						Раз в месяц (0 0 1 * *)
					</option>
					<option
						value="0 0 1 1 *"<? if (isset($vars['edit']) && $vars['edit']['common'] == '0 0 1 1 *') echo ' selected'; ?>>
						Раз в год (0 0 1 1 *)
					</option>
				</select>
			</div>

			<div class="form-field">
				<label for="page">Минута:</label>
				<select name="minute" style="width: 300px;">
					<option value="--">-- Общие параметры --</option>
					<option value="*"<? if (isset($common) && $common[0] == '*') echo ' selected'; ?>>Раз в минуту (*)
					</option>
					<option value="*/2"<? if (isset($common) && $common[0] == '*/2') echo ' selected'; ?>>Раз в 2 минуты
						(*/2)
					</option>
					<option value="*/5"<? if (isset($common) && $common[0] == '*/5') echo ' selected'; ?>>Раз в 5 минут
						(*/5)
					</option>
					<option value="*/10"<? if (isset($common) && $common[0] == '*/10') echo ' selected'; ?>>Раз в 10
						минут (*/10)
					</option>
					<option value="*/15"<? if (isset($common) && $common[0] == '*/15') echo ' selected'; ?>>Раз в 15
						минут (*/15)
					</option>
					<option value="0,30"<? if (isset($common) && $common[0] == '0,30') echo ' selected'; ?>>Раз в 30
						минут (0,30)
					</option>
					<?
						for ($i = 0; $i <= 59; $i++) {
							$numb = $i;
							if (strlen($numb) == 1) $numb = '0' . $i;
							echo '<option value="' . $i . '"';
							if (isset($common) && $common[0] == $numb) echo ' selected';
							echo '>:' . $numb . '</option>';
						}
					?>
				</select>
			</div>

			<div class="form-field">
				<label for="page">Час:</label>
				<select name="hour" style="width: 300px;">
					<option value="--">-- Общие параметры --</option>
					<option value="*"<? if (isset($common) && $common[1] == '*') echo ' selected'; ?>>Каждый час (*)
					</option>
					<option value="*/2"<? if (isset($common) && $common[1] == '*/2') echo ' selected'; ?>>Раз в два часа
						(*/2)
					</option>
					<option value="*/3"<? if (isset($common) && $common[1] == '*/5') echo ' selected'; ?>>Раз в 3 часа
						(*/3)
					</option>
					<option value="*/4"<? if (isset($common) && $common[1] == '*/10') echo ' selected'; ?>>Каждые 4 часа
						(*/4)
					</option>
					<option value="*/6"<? if (isset($common) && $common[1] == '*/15') echo ' selected'; ?>>Каждые 6
						часов (*/6)
					</option>
					<option value="0,12"<? if (isset($common) && $common[1] == '0,30') echo ' selected'; ?>>Раз в 12
						часов (0,12)
					</option>
					<?
						for ($i = 0; $i <= 23; $i++) {
							$numb = $i;
							if (strlen($numb) == 1) $numb = '0' . $i;
							echo '<option value="' . $i . '"';
							if (isset($common) && $common[1] == $numb) echo ' selected';
							echo '>' . $numb . ':00</option>';
						}
					?>
				</select>
			</div>

			<div class="form-field">
				<label for="page">День:</label>
				<select name="day" style="width: 300px;">
					<option value="--">-- Общие параметры --</option>
					<option value="*"<? if (isset($common) && $common[2] == '*') echo ' selected'; ?>>Каждый день (*)
					</option>
					<option value="*/2"<? if (isset($common) && $common[2] == '*/2') echo ' selected'; ?>>Раз в два дня
						(*/2)
					</option>
					<option value="1,15"<? if (isset($common) && $common[2] == '1,15') echo ' selected'; ?>>1 и 15 числа
						(1,15)
					</option>
					<?
						for ($i = 0; $i <= 31; $i++) {
							$numb = $i;
							if (strlen($numb) == 1) $numb = '0' . $i;
							echo '<option value="' . $i . '"';
							if (isset($common) && $common[2] == $numb) echo ' selected';
							echo '>' . $numb . '</option>';
						}
					?>
				</select>
			</div>

			<div class="form-field">
				<label for="page">Месяц:</label>
				<select name="month" style="width: 300px;">
					<option value="--">-- Общие параметры --</option>
					<option value="*"<? if (isset($common) && $common[3] == '*') echo ' selected'; ?>>Каждый месяц (*)
					</option>
					<option value="*/2"<? if (isset($common) && $common[3] == '*/2') echo ' selected'; ?>>Раз в два
						месяца (*/2)
					</option>
					<option value="*/4"<? if (isset($common) && $common[3] == '*/4') echo ' selected'; ?>>Раз в 3 месяца
						(*/4)
					</option>
					<option value="1,7"<? if (isset($common) && $common[3] == '1,7') echo ' selected'; ?>>Каждые 6
						месяцев (1,7)
					</option>

					<?
						for ($i = 1; $i <= 12; $i++) {
							$name = $i;
							if (strlen($i) == 1) $name = '0' . $i;
							echo '<option value="' . $i . '"';
							if (isset($common) && $common[3] == $i) echo ' selected';
							echo '>' . Date::getMonth($name, true) . ' (' . $name . ')</option>';
						}
					?>

				</select>
			</div>

			<div class="form-field">
				<label for="page">День недели:</label>
				<select name="weekday" style="width: 300px;">
					<option value="--">-- Общие параметры --</option>
					<option value="*"<? if (isset($common) && $common[4] == '*') echo ' selected'; ?>>Каждый день (*)
					</option>
					<option value="1-5"<? if (isset($common) && $common[4] == '1-5') echo ' selected'; ?>>Каждый будний
						день (1-5)
					</option>
					<option value="0,6"<? if (isset($common) && $common[4] == '1,6') echo ' selected'; ?>>Каждый
						выходной день (6,0)
					</option>
					<option value="1,3,5"<? if (isset($common) && $common[4] == '1,3,5') echo ' selected'; ?>>Каждый
						понедельник, среду и пятницу (1,3,5)
					</option>
					<option value="2,4"<? if (isset($common) && $common[4] == '2,4') echo ' selected'; ?>>Каждый вторник
						и четверг (2,4)
					</option>

					<?
						for ($i = 0; $i <= 6; $i++) {
							echo '<option value="' . $i . '"';
							if (isset($common) && $common[4] == "$i") echo ' selected';
							echo '>' . Date::getDay($i) . ' (' . $i . ')</option>';
						}
					?>
				</select>
			</div>

			<div class="form-field">
				<label class="cm-required">Состояние:</label>

				<div class="select-field">
					<input type="radio" class="radio" value="1" id="page_data_0_a"
						   name="active"<? if ((isset($vars['edit']) && $vars['edit']['active'] == 1) || !isset($vars['edit'])) echo ' checked="checked"'; ?> />
					<label for="page_data_0_a">Вкл.</label>
					<input type="radio" class="radio" value="0" id="page_data_0_d"
						   name="active"<? if ((isset($vars['edit']) && $vars['edit']['active'] == 0)) echo ' checked="checked"'; ?> />
					<label for="page_data_0_d">Выкл.</label>
				</div>
			</div>

			<?
				if (isset($vars['edit'])) {
					echo '<div class="form-field">
                        <label for="body">Cron code:</label>
                        <textarea class="input-textarea-long" rows="10" cols="55" id="body" name="body">' . htmlspecialchars($vars['edit']['body']) . '</textarea>
                     </div>';
				}
			?>
		</fieldset>
	</div>

	<div class="cm-buttons-floating">
		<div class="cm-buttons-placeholder">
			<?
				if (isset($vars['edit'])) {
					echo '
                <input type="hidden" value="' . $vars['edit']['id'] . '" name="id" />
                <span class="submit-button cm-button-main">
                    <input type="submit" value="Сохранить" name="update" />
                </span>&nbsp;
                <span class="submit-button cm-button-main cm-save-and-close">
                    <input type="submit" value="Сохранить и закрыть" name="update_close" class="cm-save-and-close" />
                </span>';
				} else {
					echo '
                <span class="submit-button cm-button-main">
                    <input type="submit" value="Создать" name="add" />
                </span>&nbsp;
                <span class="submit-button cm-button-main cm-save-and-close">
                    <input type="submit" value="Создать и закрыть" name="add_close" class="cm-save-and-close" />
                </span>';
				}
			?>


			&nbsp;или&nbsp;&nbsp;
			<a class="underlined tool-link" href="/admin/menu">Отменить</a>
		</div>
	</div>

	<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
</form>