<div class="items-container multi-level">
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs table_982px">
		<tr>
			<th width="20" class="center"><input type="checkbox" class="check_all2" title="Отметить/снять все" value="Y"
												 name="check_all"></th>
			<th width="20">ID</th>
			<th width="150">Название</th>
			<th width="100">Частота</th>
			<th width="140">Последний запуск</th>
			<th width="140">Статус</th>
			<th width="110">Состояние</th>
			<th width="170" style="text-align:center;">Действие</th>
		</tr>
		<?php
			foreach ($vars['list'] as $row) {
				if ($row['active'] == 1) $active = '<div class="selected-status status-a"><a> Вкл. </a></div>';
				else $active = '<div class="selected-status status-d"><a> Выкл. </a></div>';
				$status = 'Запуск в <br />' . $row['next_update'];
				if ($row['busy'] == 1) $status = 'Выполняется сейчас';
				foreach ($vars['common'] as $key => $value) {
					if ($row['common'] == $key) {
						$row['common'] = $value;
						break;
					}
				}
				echo '<tr>
					<td class="center"><input type="checkbox" class="check-item" value="' . $row['id'] . '" name="id[]" /></td>
					<td><span>' . $row['id'] . '</span></td>
					<td><input type="text" value="' . $row['name'] . '" name="name[]" class="input-text" style="width:160px;"></td>
					<td><span>' . $row['common'] . '</span></td>
					<td><span>' . $row['date_end'] . '</span></td>
					<td><span>' . $status . '</span></td>
					<td><input type="hidden" value="' . $row['id'] . '" name="save_id[]" />
						<div class="select-popup-container active_status" id="active' . $row['id'] . '">' . $active . ' </div>
					</td>

					<td width="10%">
						<a href="/admin/' . $vars['action'] . '/edit/' . $row['id'] . '" class="tool-link">Редактировать</a>
						&nbsp;|&nbsp;		
						<ul class="cm-tools-list tools-list">
							<li><a href="/admin/' . $vars['action'] . '/delete/' . $row['id'] . '" class="cm-confirm">Удалить</a></li>
						</ul>
					</td>
				</tr>';
			}
		?>
	</table>
</div>
<div class="table-tools">
	<a class="check_all" href="javascript:void(0);">Выбрать все</a>|
	<a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>