<style>
  .dropdown-menu {
    padding: 0;
    width: 100%
  }

  .dropdown-menu > li {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    padding: 3px 15px
  }

  .dropdown-menu > li:hover {
    background: #aaa
  }

  .img-soc {
    border: 1px solid #ccc;
    cursor: pointer;
    width: 39px;
    height: 39px;
    object-fit: cover;
    object-position: top;
    transition: all .3s ease-in-out
  }

  .img-soc:hover {
    object-position: bottom
  }
</style>
<div class="cm-notification-container">
  <div id="message"><?= $vars['message'] ?></div>
</div>

<div style="margin-bottom: 15px;">
  <div class="clear mainbox-title-container">
    <div class="tools-container"><span class="action-add"> <a href="#" data-target="#add_soc" data-toggle="modal">Добавить</a> </span>
    </div>
    <h1 class="mainbox-title float-left"><?= $vars['name'] ?></h1>
  </div>
</div>

<div class="mainbox-body">
  <div id="ds_15014" class="clear"></div>
  <div id="content_manage_users">
    <form name="userlist_form" method="post" action="/admin/<?= $vars['action'] ?>/update">
      <div id="pagination_contents"><?= $vars['list'] ?></div>
      <div class="buttons-container buttons-bg">
        <div class="cm-buttons-placeholder">
          <div class="cm-buttons-floating">
						<span class="submit-button cm-button-main">
							<input type="submit" value="Обновить" name="update" class="">
						</span>
            <span class="submit-button cm-button-main cm-confirm cm-process-items">
							<input type="submit" value="Очистить выбранные" name="delete" class="cm-process-items">
						</span>
          </div>
        </div>
      </div>
      <input type="hidden" value="<?= $vars['action'] ?>" id="action">
    </form>

    <!-- modal	-->
    <div class="modal fade" id="add_soc" tabindex="-1" role="dialog" aria-labelledby="add_soc">
      <div class="modal-dialog" role="document">
        <form id="insert_soc" class="modal-content" enctype="multipart/form-data">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Добавление ссылки на соц сеть</h4></div>
          <div class="modal-body">
            <div class="message"></div>
            <div class="form-field">
              <label for="icon_add" class="cm-required">Иконка:</label><input type="hidden" id="icon_add" name="icon">
              <div style="position:relative">
                <div class="btn btn-block btn-default" id="dLabel" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false" style="text-align:left">
                  <span>Выбор иконки</span>
                  <span class="caret pull-right" style="margin-top:9px"></span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li data-icon="facebook" data-name="Facebook" data-link="https://facebook.com/"><i
                        class="fa fa-facebook"></i> Facebook
                  </li>
                  <li data-icon="twitter" data-name="Twitter" data-link="https://twitter.com/"><i
                        class="fa fa-twitter"></i> Twitter
                  </li>
                  <li data-icon="pinterest" data-name="Pinterest" data-link="https://pinterest.com/"><i
                        class="fa fa-pinterest"></i> Pinterest
                  </li>
                  <li data-icon="instagram" data-name="Instagram" data-link="https://instagram.com/"><i
                        class="fa fa-instagram"></i> Instagram
                  </li>
                  <li data-icon="google-plus" data-name="Google+" data-link="https://plus.google.com/"><i
                        class="fa fa-google-plus"></i> Google+
                  </li>
                  <li data-icon="youtube" data-name="YouTube" data-link="https://youtube.com/"><i
                        class="fa fa-youtube"></i> YouTube
                  </li>
                  <li data-icon="vimeo" data-name="Vimeo" data-link="https://vimeo.com/"><i class="fa fa-vimeo"></i>
                    Vimeo
                  </li>
                  <li data-icon="linkedin" data-name="LinkedIn" data-link="https://www.linkedin.com/"><i
                        class="fa fa-linkedin"></i> LinkedIn
                  </li>
                  <li data-icon="vk" data-name="ВКонтакте" data-link="https://vk.com/"><i class="fa fa-vk"></i>
                    ВКонтакте
                  </li>
                  <li data-icon="odnoklassniki" data-name="Одноклассники" data-link="https://ok.ru/"><i
                        class="fa fa-odnoklassniki"></i> Одноклассники
                  </li>
                  <li data-icon="skype" data-name="Skype" data-link=""><i class="fa fa-skype"></i> Skype</li>
                  <li data-icon="telegram" data-name="Telegram" data-link=""><i class="fa fa-telegram"></i> Telegram
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-field">
              <label for="photo_add" class="cm-required">Изображение:</label>
              <span class="img-soc"
                    style="border:1px solid #ccc;cursor:pointer;display:inline-block;height:39px;width:39px"><img
                    src="/files/default.jpg" style="width:39px;height:39px"></span>
              <input type="file" class="form-control" id="photo_add" name="photo_insert"
                     accept="<?= "image/" . implode(",image/", explode(',', EXT_IMAGE)) ?>"
                     style="display:none">
              <input type="hidden" class="form-control ph" name="photo">
              <input type="hidden" class="form-control tph" name="tphoto">
            </div>
            <div class="form-field"><label for="name_add" class="cm-required">Название:</label><input type="text"
                                                                                                      class="form-control"
                                                                                                      id="name_add"
                                                                                                      name="name"></div>
            <div class="form-field"><label for="link_add" class="cm-required">Ссылка:</label><input type="text"
                                                                                                    class="form-control"
                                                                                                    id="link_add"
                                                                                                    name="link"></div>
            <div class="form-field"><label class="cm-required">Состояние:</label>
              <div class="select-field"><input type="radio" class="radio" value="1" id="page_data_0_a" name="active"
                                               checked="checked"><label for="page_data_0_a">Вкл.</label><input
                    type="radio" class="radio" value="0" id="page_data_0_d" name="active"><label for="page_data_0_d">Выкл.</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="insert" data-url="add">Добавить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          </div>
        </form>
      </div>
    </div>
    <div class="modal fade" id="upd_soc" tabindex="-1" role="dialog" aria-labelledby="add_soc">
      <div class="modal-dialog" role="document">
        <form id="update_soc" class="modal-content" enctype="multipart/form-data">
          <input type="hidden" name="id">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Добавление ссылки на соц сеть</h4>
          </div>
          <div class="modal-body">
            <div class="message"></div>
            <div class="form-field">
              <label for="icon_upd" class="cm-required">Иконка:</label><input type="hidden" id="icon_upd" name="icon">
              <div style="position:relative">
                <div class="btn btn-block btn-default" id="dLabel2" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false" style="text-align:left">
                  <span>Выбор иконки</span>
                  <span class="caret pull-right" style="margin-top:9px"></span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li data-icon="facebook" data-name="Facebook" data-link="https://facebook.com/"><i
                        class="fa fa-facebook"></i> Facebook
                  </li>
                  <li data-icon="twitter" data-name="Twitter" data-link="https://twitter.com/"><i
                        class="fa fa-twitter"></i> Twitter
                  </li>
                  <li data-icon="pinterest" data-name="Pinterest" data-link="https://pinterest.com/"><i
                        class="fa fa-pinterest"></i> Pinterest
                  </li>
                  <li data-icon="instagram" data-name="Instagram" data-link="https://instagram.com/"><i
                        class="fa fa-instagram"></i> Instagram
                  </li>
                  <li data-icon="google-plus" data-name="Google+" data-link="https://plus.google.com/"><i
                        class="fa fa-google-plus"></i> Google+
                  </li>
                  <li data-icon="youtube" data-name="YouTube" data-link="https://youtube.com/"><i
                        class="fa fa-youtube"></i> YouTube
                  </li>
                  <li data-icon="vimeo" data-name="Vimeo" data-link="https://vimeo.com/"><i class="fa fa-vimeo"></i>
                    Vimeo
                  </li>
                  <li data-icon="linkedin" data-name="LinkedIn" data-link="https://www.linkedin.com/"><i
                        class="fa fa-linkedin"></i> LinkedIn
                  </li>
                  <li data-icon="vk" data-name="ВКонтакте" data-link="https://vk.com/"><i class="fa fa-vk"></i>
                    ВКонтакте
                  </li>
                  <li data-icon="odnoklassniki" data-name="Одноклассники" data-link="https://ok.ru/"><i
                        class="fa fa-odnoklassniki"></i> Одноклассники
                  </li>
                  <li data-icon="skype" data-name="Skype" data-link=""><i class="fa fa-skype"></i> Skype</li>
                  <li data-icon="telegram" data-name="Telegram" data-link=""><i class="fa fa-telegram"></i> Telegram
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-field">
              <label for="photo_upd" class="cm-required">Изображение:</label>
              <!--<span class="img-soc" style="background-repeat: no-repeat;background-position:0 0;border:1px solid #ccc;cursor:pointer;display:inline-block;height:39px;width:39px">--><img
                  class="img-soc" src="/files/default.jpg"><!--</span>-->
              <input type="file" class="form-control" id="photo_upd" name="photo_insert"
                     accept="<?= "image/" . implode(",image/", explode(',', EXT_IMAGE)) ?>"
                     style="display:none">
              <input type="hidden" class="form-control ph" name="photo">
              <input type="hidden" class="form-control tph" name="tphoto">
            </div>
            <div class="form-field">
              <label for="name_upd" class="cm-required">Название:</label>
              <input type="text" class="form-control" id="name_upd" name="name">
            </div>
            <div class="form-field">
              <label for="link_upd" class="cm-required">Ссылка:</label>
              <input type="text" class="form-control" id="link_upd" name="link">
            </div>
            <div class="form-field">
              <label class="cm-required">Состояние:</label>
              <div class="select-field">
                <input type="radio" class="radio" value="1" id="page_data_0_b" name="active" checked="checked">
                <label for="page_data_0_b">Вкл.</label>
                <input type="radio" class="radio" value="0" id="page_data_0_c" name="active">
                <label for="page_data_0_c">Выкл.</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="update" data-url="update">Обновить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script>
  function updatePage() {
    $.ajax({
      type: 'post', data: 's=s', dataType: 'json', url: '/admin/ajax/socials/view', success: function (req2) {
        $('#pagination_contents').html(req2.content)
      }
    })
  }
  $(document).on('change', '[name="photo_insert"]', function () {
    var fd = new FormData($('.modal.in form.modal-content')[0]);
    $.ajax({
      type: 'post', data: fd, url: '/admin/ajax/socials/addImg', dataType: 'json', success: function (req) {
        if (req.timg !== 0) {
          $('.modal.in .img-soc').attr('src', '/' + req.timg);
          $('.modal.in .tph').val(req.timg);
          $('.modal.in .ph').val(req.img);
        }
        $('.modal.in .message').html(req.message).show(200);
        setTimeout(function () {
          $('.modal.in .message').html('').hide(200)
        }, 3000)
      }, contentType: false, processData: false
    })
  });
  $(document).ready(function () {
    $(document).on('click', '.img-soc', function () {
      $(this).prev('label').click()
    });
    $(document).on('click', '.modal-footer>.btn-primary', function () {
      $.ajax({
          type: 'post',
          data: $('#' + $(this).attr('id') + '_soc').serialize(),
          dataType: 'json',
          url: '/admin/ajax/socials/' + $(this).data('url'),
          success: function (req) {
              if (req.success === 1) {
                  $('#message').html(req.message).show();
                  setTimeout(function () {
                      $('#message').hide()
                  }, 3000);
                  $('.modal.in').modal('hide');
                  updatePage()
          } else $('.modal.in .message').html(req.message);
        }
      })
    });
    $(document).on('click', '.dropdown-menu>*', function () {
      $('.modal.in [name="name"]').val($(this).data('name'));
      $('.modal.in [name="link"]').val($(this).data('link'));
      $('.modal.in [data-toggle="dropdown"]>span:first-child').html($(this).html());
      $('.modal.in [name="icon"]').val($(this).data('icon'))
    });
    $(document).on('click', '.edit-soc', function (e) {
      e.preventDefault();
      $('#upd_soc [name="name"]').val($(this).data('name'));
      $('#upd_soc [name="link"]').val($(this).data('link'));
      $('#upd_soc [name="icon"]').val($(this).data('icon'));
      $('#upd_soc [name="id"]').val($(this).data('id'));
      if ($(this).data('photo').length > 0) {
        $('#upd_soc [name="photo"]').val($(this).data('photo'));
        $('#upd_soc .img-soc').attr('src', '/' + $(this).data('photo'))
      } else {
        $('#upd_soc .img-soc').attr('src', '/files/default.jpg')
      }
      $('#dLabel2 span:first-child').html($('.dropdown-menu>li[data-icon="' + $(this).data('icon') + '"]').html())
    })
  })
</script>