<div class="items-container multi-level">
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort table_982px">
		<tr class="noDrop">
			<th width="20"></th>
			<th width="20" class="center"><input type="checkbox" class="check_all2" title="Отметить/снять все" value="Y" name="check_all"></th>
			<th width="30">ID</th>
			<th width="40">icon</th>
			<th width="40">img</th>
			<th width="140">Название</th>
			<th>URL</th>
			<th width="110">Состояние</th>
			<th width="170" style="text-align:center;">Действие</th>
		</tr>
<?
	foreach($vars['list'] as $row){
		if($row['active']==1)$active='<div class="selected-status status-a"><a> Вкл. </a></div>';
		else $active='<div class="selected-status status-d"><a> Выкл. </a></div>';
		echo '<tr id="sort'.$row['id'].'"><td class="move"></td>
			<td class="center"><input type="checkbox" class="check-item" value="'.$row['id'].'" name="id[]"/></td>
			<td><span>'.$row['id'].'</span></td>
			<td><span class="fa fa-'.$row['icon'].'"></span></td>
			<td><span style="background:url(/'.$row['photo'].') no-repeat 0 0;height:39px;width:39px"></span></td>
			<td>'.$row['name'].'</td>
			<td><input type="text" value="'.$row['link'].'" name="link[]" class="input-text" style="width:100%"></td>
			<td><input type="hidden" value="'.$row['id'].'" name="save_id[]"/>
				<div class="select-popup-container active_status" id="active'.$row['id'].'">'.$active.' </div>
			</td>
			<td width="10%">
				<a href="#" data-toggle="modal" data-target="#upd_soc" class="tool-link edit-soc" data-id="'.$row['id'].'" data-name="'.$row['name'].'" data-link="'.$row['link'].'" data-icon="'.$row['icon'].'" data-photo="'.$row['photo'].'">Редактировать</a>&nbsp;|&nbsp;<a href="/admin/'.$vars['action'].'/delete/'.$row['id'].'" class="cm-confirm">Удалить</a>
			</td>
		</tr>';
	}
?>
	</table>
</div>
<div class="table-tools">
	<a class="check_all" href="javascript:void(0);">Выбрать все</a>|
	<a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>