<section id="basket-page">
    <div class="container">
	   <? if (isset($vars['status'])) { ?>
            <div class="section-20">
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
					   <?= $vars['translate']['tnx_for_order'] ?>
                            №
					   <?= $_SESSION['order_id'] ?>
                        </h3>
                    </div>
                    <div class="panel-body">
				    <?= htmlspecialchars_decode($vars['message']) ?>
                    </div>
                </div>
            </div>
	   <? } else { ?>
		  <?= isset($vars['message']) ? showInfoMessage($vars['message'], true) : '' ?>
            <div class="main-heading text-center">
			 <?= $vars['translate']['order_text'] ?>
            </div>

		  <?= $vars['products-table'] ?>

            <section class="registration-area">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-smart">
                            <div class="panel-heading">
                                <h3 class="panel-title">
							 <?= $vars['translate']['info_order'] ?>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" method="POST" role="form">
                                    <input type="hidden" name="user_id" value="<?= $_SESSION['user_id'] ?>">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
								    <?= $vars['translate']['fio'] ?> :
                                        </label>
                                        <div class="col-sm-8">
                                            <input title="<?= $vars['translate']['fio'] ?>" required
                                                   value="<?= fillField('name') ?>"
                                                   type="text" class="form-control" name="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPhone" class="col-sm-4 control-label">
								    <?= $vars['translate']['phone'] ?> :
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="phone" required
                                                   data-type="phone" placeholder="(0XX) XXX-XX-XX"
                                                   value="<?= fillField('phone') ?>"
                                                   title="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-4 control-label">
								    <?= $vars['translate']['email'] ?> :
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" name="email"
                                                   value="<?= fillField('email') ?>"
                                                   title="<?= $vars['translate']['email'] ?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
								    <?= $vars['translate']['payment'] ?> :
                                        </label>
                                        <div class="col-sm-8">
                                            <select name="payment_id" title="" class="form-control">
									   <? foreach ($vars['payments'] as $type) { ?>
                                                    <option value="<?= $type['id'] ?>"
											 <?= $type['base'] ? ' selected ' : '' ?>>
											 <?= $type['name'] ?>
                                                    </option>
									   <? } ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
								    <?= $vars['translate']['delivery'] ?> :
                                        </label>
                                        <div class="col-sm-8">
                                            <select id="delivery" name="delivery_id" class="form-control"
                                                    title="<?= $vars['translate']['delivery'] ?>">
                                                <option>-- -- --</option>
									   <? foreach ($vars['delivery'] as $id => $name) { ?>
                                                    <option value="<?= $id ?>">
											 <?= $name ?>
                                                    </option>
									   <? } ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="delivery_city"></div>
                                    <div id="delivery_department"></div>
                                    <div id="delivery_address" class="form-group">
                                        <label class="col-sm-4 control-label">
								    <?= $vars['translate']['address'] ?> :
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="address"
                                                   value="<?= fillField('address') ?>"
                                                   title="<?= $vars['translate']['address'] ?> ">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">
								    <?= $vars['translate']['comments_order'] ?> :
                                        </label>
                                        <div class="col-sm-8">
                                            <textarea name="comment" class="form-control" rows="4"
                                                      title="<?= $vars['translate']['comments_order'] ?>"><?= fillField('comment') ?></textarea>
                                        </div>
                                    </div>
                                    <hr/>
                                    <dl class="dl-horizontal total">
                                        <dt><?= $vars['translate']['total_sum'] ?> :</dt>
                                        <dd class="basket-total-sum"></dd>
                                    </dl>
                                    <hr/>
                                    <div class="text-uppercase clearfix">
                                        <a href="/" class="btn btn-main pull-left">
                                            <span class="hidden-xs"><?= $vars['translate']['continue_shopping'] ?></span>
                                            <span class="visible-xs"><?= $vars['translate']['continue'] ?></span>
                                        </a>
                                        <button onsubmit="gtag('event','send',{'event_category':'button_book','event_action':'send'});return true;"
                                                type="submit" name="order_action" value="CS:GO"
                                                class="btn btn-main pull-right">
								    <?= $vars['translate']['to_order'] ?>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="panel panel-smart">
                            <div class="panel-heading">
                                <h3 class="panel-title">
							 <?= $vars['translate']['card_terms'] ?>
                                </h3>
                            </div>
                            <div class="panel-body">
						  <?= htmlspecialchars_decode($vars['info-block']['body']) ?>
                            </div>
                        </div>
				    <? if (empty($_SESSION['user_id'])) { ?>
                            <div class="panel panel-smart">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><?= $vars['translate']['auth'] ?></h3>
                                </div>
                                <div class="panel-body">
                                    <p> <?= $vars['translate']['enter_text_for_order'] ?> </p>
                                    <form id="login-form" class="form-inline" method="POST" role="form">
                                        <div class="form-group">
                                            <input type="email" placeholder="<?= $vars['translate']['email'] ?? '' ?>"
                                                   maxlength="64" minlength="7" value="<?= $_POST['email'] ?? '' ?>"
                                                   required name="email" title="E-mail" class="form-control"
                                                   tabindex="1"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="<?= $vars['translate']['password'] ?>"
                                                   maxlength="32" minlength="7" value="<?= $_POST['password'] ?>"
                                                   required name="password"
                                                   title="<?= $vars['translate']['password'] ?>"
                                                   tabindex="2" class="form-control"/>
                                        </div>
                                        <button type="submit" name="sign_up_action" value="DOTA2" class="btn btn-main">
								    <?= $vars['translate']['enter'] ?>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="panel panel-smart">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
								<?= $vars['translate']['create_acc'] ?>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <p> <?= $vars['translate']['new_acc_info'] ?> </p>
                                    <a href="<?= Links::getLink('/users/registration') ?>" class="btn btn-main">
								<?= $vars['translate']['sign_up_action'] ?>
                                    </a>
                                </div>
                            </div>
				    <? } else { ?>

                            <div class="panel panel-smart">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
								<?= $vars['translate']['order_history_check'] ?>
                                    </h3>
                                </div>
                            </div>
				    <? } ?>
                    </div>
                </div>
            </section>
	   <? } ?>
    </div>
</section>