<section id="reviews">
    <div class="container">
        <h1 class="main-title"><?= $vars['title'] ?></h1>
        <div id="load-more" class="row d-flex flex-wrap justify-content-center section-30">
            <div class="col-xs-12 col-sm-6 col-md-4"> <?= $vars['form'] ?></div>
		  <?= $vars['list'] ?>
        </div>

	   <? if ($vars['no-load']) { ?>
            <div class="load-more-holder">
                <span class="load-more-gif fa fa-refresh"></span>
                <div class="btn-more" data-offset="1"
                     onclick="getMoreThumbs(this,'<?= $vars['table'] ?>')">
				<?= $vars['translate']['download_more_reviews'] ?>
                </div>
            </div>
	   <? } ?>

    </div>
</section>