<? foreach ($vars['reviews'] as $review) {
    $href = $src = Links::setDefaultImage($review['photo']);
    if (!empty($review['video'])) {
	   $class = 'video-holder';
	   $href = $review['video'];
	   if ($src == '/tpl/default/img/default-image.jpg')
		  $src = 'https://img.youtube.com/vi/' . getYouTubeCode($review['video']) . '/0.jpg';
    } else $class = ''; ?>
    <div class="<?= !empty($vars['slide_down']) ? 'show-slide-down' : '' ?> col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-smart comment-thumb">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="review-author">
				    <?= $review['author'] ?>
                    </div>
                    <div class="review-date">
				    <?= date_format(date_create($review['date']), 'd.m.Y'); ?>
                    </div>
                </div>
            </div>
            <div class="panel-body">
			 <? if ($src != '/tpl/default/img/default-image.jpg') { ?>
                    <a class="review-image-holder <?= $class ?>"
                       data-fancybox data-small-btn="true" href="<?= $href ?>">
                        <img class="img-cover" src="<?= $src ?>"/>
                    </a>
			 <? } ?>
                <div class="review-text">
				<?= htmlspecialchars_decode($review['text']) ?>
                </div>
            </div>
        </div>
    </div>
<? } ?>