<? echo'<div class="cm-j-tabs" id="navigation"><ul><li';
if(!isset($vars['sub']))echo' class="cm-active"';
echo'><span><a href="/admin/'.$vars['action'].'">Общие</a></span></li><li';
if(isset($vars['sub'])&&$vars['sub']=='all')echo' class="cm-active"';
echo'><span><a href="/admin/'.$vars['action'].'/all">Все параметры</a></span></li>';
foreach($vars['menu'] as $i => $row) {
    $class='';
    if(isset($vars['sub'])&&$vars['sub']==$row['id'])$class='cm-active';
    if($row['cnt']==0)$class.=' hidden_li';
    echo'<li class="'.$class.'"><span><a href="/admin/config/modules/'.$row['id'].'">'.$row['name'].' ('.$row['cnt'].')</a></span></li>';	
}
echo'</ul>';
if($i>5)echo'<a href="#" class="see-all">Показать все ...</a>';
echo'</div>';