<section id="product" itemscope itemtype="https://schema.org/Product">
    <meta class="hidden" itemprop="brand" content="<?= $vars['product']['name'] . ' ' . $vars['product']['code'] ?>"/>
    <div class="hidden" itemprop="aggregateRating"
         itemscope itemtype="https://schema.org/AggregateRating">
        <span itemprop="ratingValue"><?= $vars['product']['rating'] ?></span>
        <span itemprop="reviewCount"><?= $vars['product']['rating_count'] ?></span>
    </div>
    <div class="hidden" itemprop="review" itemscope itemtype="https://schema.org/Review">
        <meta itemprop="author" content="Тест имени для отзыва"/>
        <meta itemprop="datePublished" content="2016-06-06"/>
    </div>
    <div class="product-info full">
        <div class="col-md-12 col-xs-12 col-sm-12 text-sm-center">
            <h1 itemprop="name" class="main-heading2 category-name product-name">Установка импульсного
                орошения </h1>
            <span class="product-name-color"><?= $vars['product']['name'] ?></span>
        </div>
    </div>
    <? if (!empty($vars['product']['body'])) { ?>
        <!-- Product Description -->
        <div class="product-info-box">
            <div class="content" itemprop="description">
                <div class="col-xs-12 col-md-12">
                    <?= htmlspecialchars_decode($vars['product']['body']) ?>
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <div class="col-lg-6 bg-white">
                    <div class="contact-form-container request-form">
                        <?= $vars['request-form'] ?>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <img src="/tpl/default/img/request_image.jpg">
                    </div>
                </div>
            </div>
        </div>
    <? } ?>
</section>


