<? $i = 0; ?>
<? foreach ($vars['products'] as $key => $product) {
    $class = 'product-full col-xs-6 col-sm-4';
  if ( $_SESSION['sort_view'] == 'table' && isset($vars['md-4']) ):
      if( $_SESSION['page_type'] == 'category' ):
          $class .= ' col-md-4';
      else:
          $class .= ' col-md-2';
      endif;
  elseif ( $_SESSION['sort_view'] == 'list' && isset($vars['md-4']) ):
      $class = 'col-xs-12';
  else:
    $class .= ' col-md-2';
  endif;
  ?>
    <div class="<?= $class ?>">
        <div class="product-col <?= ($_SESSION['sort_view'] == 'list' && isset($vars['md-4'])) ? 'list clearfix' : '' ?>">
            <a class="image d-block" href="<?= Links::getLink('/product/' . $product['url']) ?>">
                <img src="<?= Links::setDefaultImage($product['photo']) ?>" alt="<?= $product['name'] ?>"
                     title="<?= $product['name'] ?> фото"
                     class="img-responsive img-center-sm"/>
            </a>
            <div class="caption">
                <div class="thumb-title">
                    <a href="<?= Links::getLink('/product/' . $product['url']) ?>">
                        Установка импульсного орошения <h3 class="product-name"><?= $product['name'] ?></h3>
                    </a>
                </div>
                <a class="read_more" href="<?= Links::getLink('/product/' . $product['url']) ?>">
                    <?= $vars['translate']['read_more'] ?>
                </a>
            </div>
        </div>
    </div>
    <? $i++; ?>
    <? if($i == 4 && $_SESSION['page_type'] == 'category' && $_SESSION['sort_view'] != 'list'): ?>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
        <div id="load-more" class="row justify-content-center">
        <? unset($_SESSION['page_type']); ?>
    <? endif; ?>
<? } ?>
