<?php
	require_once('Fieldlist.php');
	$import_fields = array();
	//Вытаскиваем наш список полей и делаем из них поля для импорта
	foreach($export_fields as $key => $val) {
		$import_key = str_replace("export_","",$key);
		$import_fields[$import_key] = $val;
	}

?>

<table>
	<? $z=0;
		foreach($import_fields as $name => $translate) { ?>
		<tr>
			<td style="width:200px;"><?=$translate?></td>
			<td>
				<select style="width:200px;" name="<?=$name?>">
					<option value="" style="color:#666666;">Пусто</option>
					<?
						$i = 0;
						foreach ($vars['cols'] as $row) {
							echo '<option value="col' . $i . '"';
							if ($translate==$row) echo ' selected';
							echo '>' . $row . '</option>';
							$i++;
						}
					?>
				</select>
			</td>
		</tr>
		<?
			$z++;
		} ?>
</table>