<fieldset>
	<h2 class="subheader"> Экспорт </h2>

	<div class="form-group" >
		<label class="cm-required" for="page">Каталог:</label>
		<select name="cat_id">
			<option value="0">Корень...</option>
			<?php
				foreach ($vars['catalog'] as $row) {
					if ($row['sub'] == 0 && $vars['edit']['id'] != $row['id']) {
						echo "<option value='{$row['id']}'";
						if ($row['id'] == $vars['edit']['sub']) echo " selected";
						echo ">{$row['name']}</option>";
						foreach ($vars['catalog'] as $row2) {
							if ($row['id'] == $row2['sub'] && $vars['edit']['id'] != $row2['id']) {
								echo "<option value='{$row2['id']}'";
								if ($row2['id'] == $vars['edit']['sub']) echo " selected";
								echo ">&nbsp;&nbsp;&nbsp;{$row2['name']}</option>";
								foreach ($vars['catalog'] as $row3) {
									if ($row2['id'] == $row3['sub'] && $vars['edit']['id'] != $row3['id']) {
										echo "<option value='{$row3['id']}'";
										if ($row3['id'] == $vars['edit']['sub']) echo " selected";
										echo ">&nbsp;&nbsp;&nbsp; - {$row3['name']}</option>";
									}
								}
							}
						}
					}
				}
			?>
		</select>
	</div>
	<?php
		require_once('Fieldlist.php');
		//Подгружаем названия полей в Excell для выгрузки
		require_once('Letterlist.php');



	?>

	<table>
		<? $i=0;
			foreach($export_fields as $name => $translate) { ?>
			<tr>
				<td style="width:200px;"><?=$translate?></td>
				<td>
					<select class="exportSelect" name="<?=$name?>">
						<option value="" style="color:#666666;">Пусто</option>
						<? $z=0;
							foreach($letterlist as $letter) { ?>
							<option <? if($z==$i) { echo 'selected'; } ?> value="<?=$letter?>"><?=$letter?></option>
						<? $z++;
						} ?>
					</select>
				</td>
			</tr>
		<? $i++;
			} ?>
	</table>
</fieldset>
<div class="impexpbuttons"><span class="cm-button-main"><input type="button" value="Обнулить" id="resetExportSelect" /></span></div>