<div class="cm-notification-container"><?= $vars['message'] ?></div>
<div class="cm-tabs-content">
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Новый филиал : </h1>
	</div>
	<div class="mainbox-body">
		<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""
			  enctype="multipart/form-data">
			<div id="content_basic" class="cm-tabs">
				<fieldset>
					<h2 class="subheader"> Информация </h2>

					<div class="form-field">
						<label class="cm-required">Состояние:</label>
						<div class="select-field">
							<input type="radio" class="radio" value="1" id="page_data_0_a" name="active"
								   checked="checked"/>
							<label for="page_data_0_a">Вкл.</label>
							<input type="radio" class="radio" value="0" id="page_data_0_d" name="active"/>
							<label for="page_data_0_d">Выкл.</label>
						</div>
					</div>
                    <div class="form-field">
                        <label>Название:</label>
                        <input title="Название" type="text" class="input-text-large main-input"  name="name"/>
                    </div>
                    <div class="form-field">
                        <label>Адрес:</label>
                        <input title="Адрес" type="text" class="input-text-large main-input"  name="address"/>
                    </div>
                    <div class="form-field">
                        <label>Координаты на карте:</label>
                        <input title="в GoogleMaps правой кнопкой мышки на выбраную точку и пунк 'что тут?' там буду серым шрифтом циферки! вот их сюда" type="text" class="input-text-large main-input"  name="map"/>
                    </div>
                    <div class="form-field">
                        <label>Zoom на карте:</label>
                        <input title="Zoom на карте" type="number" min="1" class="input-text-large main-input" value="18"  name="map_zoom"/>
                    </div>
                    <div class="form-field">
                        <label>
                            <span class="add_button" data-elem="phones"><span class="fa fa-plus"></span></span>
                            Телефоны:
                        </label>
                        <input type="text" class="input-text-large main-input"  name="phones[]"/>
                    </div>
                    <div class="form-field">
                        <label>
                            <span class="add_button" data-elem="emails"><span class="fa fa-plus"></span></span>
                            E-mails:
                        </label>
                        <input type="text" class="input-text-large main-input"  name="emails[]"/>
                    </div>
				</fieldset>
			</div>

			<div class="buttons-container cm-toggle-button buttons-bg">
				<div class="cm-buttons-floating">
					<div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Создать" name="add"/>
                        </span>&nbsp;
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Создать и закрыть" name="add_close" class="cm-save-and-close"/>
                        </span> &nbsp;или&nbsp;&nbsp;
						<a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
					</div>
				</div>
			</div>
			<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>