<div class="cm-notification-container"><?= $vars['message'] ?></div>
<div class="cm-tabs-content">
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Редактирование:<?= $vars['edit']['name'] ?></h1>
    </div>
    <div class="extra-tools">
        <a class="tool-link" href="/admin/<?= $vars['action'] ?>/add">Добавить</a>
        <a class="tool-link cm-confirm"
           href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">Удалить</a>
        <div class="float-right preview-link">
            <a href="/news/<?= $vars['edit']['url'] ?>" title="<?= $vars['edit']['url'] ?>" class="tool-link"
               target="_blank">Предпросмотр</a>
        </div>
    </div>
    <div class="mainbox-body">
        <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""
              enctype="multipart/form-data">
            <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>

            <div id="content_basic" class="cm-tabs">
                <fieldset>
                    <h2 class="subheader"> Информация </h2>
                    <div class="form-field">
                        <label class="cm-required">Состояние:</label>
                        <div class="select-field">
                            <input type="radio" class="radio" value="1" id="page_data_0_a"
                                   name="active" <? if ($vars['edit']['active'] == 1) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_a">Вкл.</label>
                            <input type="radio" class="radio" value="0" id="page_data_0_d"
                                   name="active" <? if ($vars['edit']['active'] == 0) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_d">Выкл.</label>
                        </div>
                    </div>

                    <div class="form-field">
                        <label>Название:</label>
                        <input title="Название" type="text" class="input-text-large main-input" value="<?= $vars['edit']['name'] ?>"
                               name="name"/>
                    </div>
                    <div class="form-field">
                        <label>Адрес:</label>
                        <input title="Адрес" type="text" class="input-text-large main-input" value="<?= $vars['edit']['address'] ?>"
                               name="address"/>
                    </div>
                    <div class="form-field">
                        <label>Координаты на карте: </label>
                        <input title="в GoogleMaps правой кнопкой мышки на выбраную точку и пунк 'что тут?' там буду серым шрифтом циферки! вот их сюда"
                               type="text" class="input-text-large main-input" value="<?= $vars['edit']['map'] ?>" name="map"/>
                    </div>
                    <div class="form-field">
                        <label>Zoom на карте:</label>
                        <input title="Zoom на карте" type="number" min="1" class="input-text-large main-input"
                               value="<?= (int)$vars['edit']['map_zoom'] ?>" name="map_zoom"/>
                    </div>
                    <div class="form-field">
                        <label>
                            <span class="add_button" data-elem="phones"><span class="fa fa-plus"></span></span>
                            Телефоны:
                        </label>
                      <? foreach (explode('|&|', $vars['edit']['phones']) as $key => $phone) { ?>
                          <input <?= $key != 0 ? 'style="margin-top: 10px"' : '' ?> type="text"
                                                                                    class="input-text-large main-input"
                                                                                    value="<?= $phone ?>"
                                                                                    name="phones[]"/>
                      <? } ?>
                    </div>
                    <div class="form-field">
                        <label>
                            <span class="add_button" data-elem="emails"><span class="fa fa-plus"></span></span>
                            E-mails:
                        </label>
                      <? foreach (explode('|&|', $vars['edit']['emails']) as $key => $mail) { ?>
                          <input <?= $key != 0 ? 'style="margin-top: 10px"' : '' ?> type="text"
                                                                                    class="input-text-large main-input"
                                                                                    value="<?= $mail ?>"
                                                                                    name="emails[]"/>
                      <? } ?>
                    </div>
                </fieldset>
                <fieldset>
                    <h2 class="subheader">Фото</h2>
                    <div class="form-field">
                        <label class="cm-required">Показывать фото:</label>
                        <div class="select-field">
                            <input type="radio" class="radio" value="1" id="page_data_0_a"
                                   name="show_photo" <? if ($vars['edit']['show_photo'] == 1) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_a">Да</label>
                            <input type="radio" class="radio" value="0" id="page_data_0_d"
                                   name="show_photo" <? if ($vars['edit']['show_photo'] == 0) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_d">Нет</label>
                        </div>
                    </div>

                  <? $vars['image_id'] = $vars['edit']['id'];
                  include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml"; ?>

                    <input type="hidden" name="tmp_image" value="<?= $vars['image_id'] ?>"/>
                </fieldset>
            </div>
            <div class="buttons-container cm-toggle-button buttons-bg">
                <div class="cm-buttons-floating">
                    <div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Сохранить" name="update"/>
                        </span>
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Сохранить и закрыть" name="update_close"
                                   class="cm-save-and-close"/>
                        </span> или
                        <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                    </div>
                </div>
            </div>
            <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
        </form>
    </div>
</div>