<div class="items-container multi-level">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"
           class="table table-fixed hidden-inputs tb_sort table_982px">
        <tr class="noDrop">
            <th width="30"></th>
            <th width="30">ID</th>
            <th>Название</th>
            <th width="100" class="center">Состояние</th>
            <th width="170" class="center">Действие</th>
        </tr>
      <? foreach ($vars['list'] as $row) {
        if ($row['active'] == 1) $active = '<div class="selected-status status-a"><a> Вкл. </a></div>';
        else $active = '<div class="selected-status status-d"><a> Выкл. </a></div>'; ?>
          <tr id="sort<?= $row['id'] ?>">
              <td class="move"></td>
              <td>
                  <span><?= $row['id'] ?></span>
                  <input type="hidden" value="<?= $row['id'] ?>" name="save_id[]"/></td>
              <td><?= $row['name'] ?></td>
              <td>
                  <div class="select-popup-container active_status" id="active<?= $row['id'] ?>">
                    <?= $active ?>
                  </div>
              </td>
              <td>
                  <a href="/admin/<?= $vars['action'] . '/edit/' . $row['id'] ?>">Редактировать</a> |
                  <ul class="cm-tools-list tools-list">
                      <li>
                          <a href="/admin/<?= $vars['action'] . '/delete/' . $row['id'] ?>"
                             class="cm-confirm">Удалить</a>
                      </li>
                  </ul>
              </td>
          </tr>
      <? } ?>
    </table>
</div>