<div class="cm-notification-container"><?= $vars['message'] ?></div>
<div class="cm-tabs-content">
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Редактирование: <?= $vars['edit']['name'] ?></h1>
    </div>
    <div class="extra-tools">
        <a class="tool-link" href="/admin/<?= $vars['action'] ?>/add">Добавить</a>
        <a class="tool-link cm-confirm"
           href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">Удалить</a>
    </div>
    <div class="mainbox-body">
        <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""
              enctype="multipart/form-data">
            <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>
            <div id="content_basic" class="cm-tabs">
                <fieldset>
                    <h2 class="subheader"> Информация </h2>
                    <div class="form-field">
                        <label class="cm-required">Состояние:</label>

                        <div class="select-field">
                            <input type="radio" class="radio" value="1" id="page_data_0_a"
                                   name="active" <? if ($vars['edit']['active'] == 1) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_a">Вкл.</label>
                            <input type="radio" class="radio" value="0" id="page_data_0_d"
                                   name="active" <? if ($vars['edit']['active'] == 0) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_d">Выкл.</label>
                        </div>
                    </div>

                    <!--  Only photos now  -->
                    <div class="form-field" style="display: none">
                        <label class="cm-required">Тип файла:</label>
                        <div class="select-field">
                            <input onclick="$('#photo-block').slideDown();$('#video-block').slideUp()" type="radio"
                                   class="radio" value="1"
                                   name="type" <? if ($vars['edit']['type'] == 1) echo ' checked="checked"'; ?> >
                            <label>Фото</label>
                            <input onclick="$('#photo-block').slideUp();$('#video-block').slideDown()" type="radio"
                                   class="radio" value="0"
                                   name="type" <? if ($vars['edit']['type'] == 0) echo ' checked="checked"'; ?> >
                            <label>Видео</label>
                        </div>
                    </div>

                    <fieldset id="photo-block" <? if ($vars['edit']['type'] == 0) echo 'style="display: none"'; ?>>
                        <h2 class="subheader">Фото</h2>
                      <? $vars['image_id'] = $vars['edit']['id'];
                      include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml"; ?>
                        <input type="hidden" name="tmp_image" value="<?= $vars['image_id'] ?>"/>

                    </fieldset>

                    <fieldset id="video-block" <? if ($vars['edit']['type'] == 1) echo 'style="display: none"'; ?>>
                        <h2 class="subheader">Видео</h2>
                        <div class="form-field">
                            <label class="cm-required" for="page">URL <span
                                        style="color: lightcoral">( youtube ) </span>:</label>
                            <input type="text" class="main-input" value="<?= $vars['edit']['video'] ?>" name="video"/>
                        </div>
                      <? if (isset($vars['edit']['video']) && $vars['edit']['video'] != '') { ?>
                          <iframe width="1200" height="600" src="<?= $vars['edit']['video'] ?>"
                                  frameborder="0" allowfullscreen></iframe>
                      <? } ?>
                    </fieldset>
                </fieldset>
            </div>
            <div class="buttons-container cm-toggle-button buttons-bg">
                <div class="cm-buttons-floating">
                    <div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Сохранить" name="update"/>
                        </span>
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Сохранить и закрыть" name="update_close"
                                   class="cm-save-and-close"/>
                        </span> или
                        <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                    </div>
                </div>
            </div>
            <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
        </form>
    </div>
</div>