<div class="items-container multi-level">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"
           class="table table-fixed hidden-inputs tb_sort table_982px">
        <tr class="noDrop">
            <th width="30"></th>
            <th width="30" class="center">
                <input type="checkbox" class="check_all2" name="check_all"
                       title="Отметить/снять все" value="Y">
            </th>
            <th width="40">ID</th>
            <th width="180">Фото</th>
            <th class="center"> _ - _</th>
            <th width="100">Состояние</th>
            <th class="center" width="170">Действие</th>
        </tr>
      <? foreach ($vars['list'] as $row) {
        if ($row['active'] == 1) $active = '<div class="selected-status status-a"><a> Вкл. </a></div>';
        else $active = '<div class="selected-status status-d"><a> Выкл. </a></div>';
        if (file_exists($row['photo'])) $src = "/" . $row['photo'] . "?" . time();
        else $src = "/tpl/admin/images/no_image.gif";

        if ($row['type'] == 0)
          $type = array(
              'name' => 'Видео',
              'src' => '<iframe width="150" height="100" src="' . $row['video'] . '"></iframe>'
          );
        else  $type = array(
            'name' => 'Фото',
            'src' => '<img src="' . $src . '" style="max-height:100px;max-width:150px;" />'
        ); ?>

          <tr id="sort<?= $row['id'] ?>">
              <td class="move"></td>
              <td class="center">
                  <input title="" type="checkbox" class="check-item" value="<?= $row['id'] ?>" name="id[]"/>
              </td>
              <td>
                  <span><?= $row['id'] ?></span>
                  <input type="hidden" value="<?= $row['id'] ?>" name="save_id[]"/>
              </td>
              <td><?= $type['src'] ?></td>
              <td><span></span></td>
              <td>
                  <div class="select-popup-container active_status" id="active<?= $row['id'] ?>">
                    <?= $active ?>
                  </div>
              </td>
              <td>
                  <a href="/admin/<?= $vars['action'] . '/edit/' . $row['id'] ?>">Редактировать</a> |
                  <ul class="cm-tools-list tools-list">
                      <li>
                          <a href="/admin/<?= $vars['action'] . '/delete/' . $row['id'] ?>"
                             class="cm-confirm">Удалить
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
      <? } ?>
    </table>
</div>
<div class="table-tools">
    <a class="check_all" href="javascript:void(0);">Выбрать все</a>|
    <a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>