<? foreach ($vars['photos'] as $photo) { ?>
    <div class="<?= !empty($vars['slide_down']) ? 'show-slide-down' : '' ?> col-12 col-sm-6 m-b-30">
        <a class="gallery-image-holder" data-fancybox data-small-btn="true"
           href="<?= Links::setDefaultImage(bigPhoto($photo['photo'])) ?>">
            <img class="img-cover" alt="photo_<?= $photo['id'] ?>"
                 src="<?= Links::setDefaultImage($photo['photo']) ?>"/>
        </a>
    </div>
<? } ?>