<div class="container">
    <div class="row section-20 justify-content-center">
      <? if (!empty($vars['bonuses'])) { ?>

      <? } else { ?>
          <h2 class="text-center">
            <?= $vars['translate']['no-bonuses-now'] ?>
              <i class="fa fa-frown-o m-l-15"></i>
          </h2>
      <? } ?>
    </div>
</div>