<div class="container">
    <div class="row section-20 justify-content-center">
        <div class="col-12 col-md-4">
            <form method="post" class="sing-up-form">
                <div class="form-group  required-input">
                    <input type="password" placeholder="<?= $vars['translate']['password'] ?>"
                           maxlength="32" minlength="7" tabindex="1" required
                           name="password" title="<?= $vars['translate']['password'] ?>"/>
                </div>
                <div class="form-group  required-input">
                    <input type="password" placeholder="<?= $vars['translate']['password_repeat'] ?>"
                           maxlength="32" minlength="7" tabindex="2" required
                           name="password_repeat" title="<?= $vars['translate']['password_repeat'] ?>"/>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" name="sign_up_action" tabindex="3"
                           value="<?= $vars['translate']['save'] ?>">
                </div>
            </form>
        </div>
    </div>
</div>