<? echo '<div class="cm-notification-container"><div id="message">'.$vars['message'].'</div></div>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title pull-left">'.$vars['name'].'</h1>
		<div id="plook" class="btn btn-default pull-right">Предпросмотр</div>
	</div>
	<div class="mainbox-body">
		<div class="cm-tabs-content">
			<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""><input type="hidden" value="'.$vars['edit']['id'].'" name="id"/><input type="hidden" value="'.$vars['edit']['type'].'" name="type"/>
				<div id="content_basic" class="cm-tabs">
					<fieldset>
						<h2 class="subheader"> Стили </h2>
						<div class="form-field">
							<label for="style_id">Стиль письма:</label>';
	if(isset($vars['styles']['list'])&&$vars['styles']['list']!=NULL&&$vars['styles']['list']!=''){
		echo '<select id="style_id" name="style_id" style="min-width:200px"><option value="0">Нет</option>';
		foreach($vars['styles']['list'] as $i=>$s)echo '<option value="'.$s['id'].'"'.($vars['edit']['style_id']==$s['id']?'selected="selected"':'').'>'.$s['name'].'</option>';
		echo '</select>';
	}else echo '<div class="alert alert-warning">У вас еще нет ни одного стиля для писем! <a class="pull-right btn btn-default" href="/admin/mails/act/addstyle" style="margin-top:-7px">Добавить стиль</a></div>';
	echo '</div>
						<div class="form-field">
							<label class="cm-required" for="name">Название (адм):</label>
							<input type="text" class="input-text-large main-input" value="'.$vars['edit']['name'].'" size="55" name="name" id="name" style="width:100%"/>
						</div>
						<div class="form-field">
							<label class="cm-required" for="title">Заголовок:</label>
							<input type="text" class="input-text-large main-input" value="'.$vars['edit']['title'].'" size="55" name="title" id="title" style="width:100%"/>
						</div>
						<div class="form-field">
							<label for="m_header">Шапка:</label>
							<textarea class="input-textarea-long" rows="8" style="width:100%;resize:none" id="m_header" name="m_header">'.$vars['edit']['header'].'</textarea>
						</div>
						<div class="form-field">
							<label for="body">Содержимое:</label>
							<textarea class="input-textarea-long" rows="8" style="width:100%;resize:none" id="body" name="body">'.$vars['edit']['body'].'</textarea>
						</div>
						<div class="form-field">
							<label for="footer">Подвал:</label>
							<textarea class="input-textarea-long" rows="8" style="width:100%;resize:none" id="footer" name="footer">'.$vars['edit']['footer'].'</textarea>
						</div>
						<div class="form-field">
							<label class="cm-required">Состояние:</label>
							<div class="select-field">
								<input type="radio" class="radio" value="1" id="page_data_0_a" name="active"'.($vars['edit']['active']==1?' checked="checked"':'').'/>
								<label for="page_data_0_a">Вкл.</label>
								<input type="radio" class="radio" value="0" id="page_data_0_d" name="active"'.($vars['edit']['active']==0?' checked="checked"':'').'/>
								<label for="page_data_0_d">Выкл.</label>
							</div>
						</div>
					</fieldset>
				</div><div class="buttons-container cm-toggle-button buttons-bg"><div class="cm-buttons-floating hidden" style="display:block"><div class="cm-buttons-placeholder"><span class="submit-button cm-button-main"><input type="submit" value="Сохранить" name="update"/></span>&nbsp;<span class="submit-button cm-button-main cm-save-and-close"><input type="submit" value="Сохранить и закрыть" name="update_close" class="cm-save-and-close"/></span>&nbsp;&nbsp;или&nbsp;&nbsp;<a class="underlined tool-link" href="/admin/menu">Отменить</a></div></div></div><input type="hidden" value="'.$vars['action'].'" id="action"/>
			</form>
		</div>
	</div>
</div><div id="prelook-holder"><div class="prelook-holder"></div><div id="prelook"></div></div>';