<div class="cm-notification-container"><div id="message"><?=$vars['message']?></div></div>
<div>
	<div class="clear mainbox-title-container">
		<div class="tools-container">
			<span class="action-add"> <a href="/admin/<?=$vars['action']?>/add">Добавить письмо</a> </span>
			<span class="action-add"> <a href="/admin/<?=$vars['action']?>/act/addstyle">Добавить стиль</a> </span>
		</div>
		<h1 class="mainbox-title float-left"><?=$vars['name']?></h1>
	</div>
</div>
<div class="mainbox-body">
	<div id="content_manage_users">
        <form name="userlist_form" method="post" action="<?= StringLibrary::getUrl2('delete') ?>">
			<div id="pagination_contents"><?=$vars['list']?></div>
			<div class="buttons-container cm-toggle-button buttons-bg">
				<div class="cm-buttons-floating hidden" style="display: block;">
					<div class="cm-buttons-placeholder">
						<span class="submit-button cm-button-main">
							<input type="submit" value="Сохранить" name="update" class="">
						</span>или
						<span class="submit-button cm-button-main cm-confirm cm-process-items">
							<input type="submit" value="Удалить выбранные" name="delete" class="cm-process-items">
						</span>или
						<span class="submit-button cm-button-main cm-process-items">
							<input type="submit" value="Вкл/выкл. выбранные" name="changestate" class="cm-process-items">
						</span>
					</div>
				</div>
				<div class="cm-buttons-floating hidden"></div>
			</div>
			<input type="hidden" value="<?=$vars['action']?>" id="action"/>
		</form>
	</div>
</div>
</div>
</div>