<div class="items-container multi-level">
  <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort table_982px">
    <tr>
      <th width="20" class="center"><input type="checkbox" class="check_all2" title="Отметить/снять все" value="Y" name="check_all"></th>
      <th width="30">ID</th>
      <th>Заголовок письма</th>
      <th width="100">Состояние</th>
      <th width="200" style="text-align:center;">Действие</th>
    </tr>

    <? foreach ($vars['list'] as $row) {
      if ($row['active'] == 1) $active = '<div class="selected-status status-a"><a> Вкл. </a></div>';
      else $active = '<div class="selected-status status-d"><a> Выкл. </a></div>';
      echo '<tr><td class="center"><input type="checkbox" class="check-item" value="' . $row['id'] . '" name="id[]"/></td><td><span>' . $row['id'] . '</span></td><td><input type="text" value="' . $row['title'] . '" name="name[]" class="input-text" style="width:100%"></td><td><input type="hidden" value="' . $row['id'] . '" name="save_id[]"/><div class="select-popup-container active_status" id="active' . $row['id'] . '">' . $active . ' </div></td><td width="10%"><a id="vlook" href="#" class="tool-link" data-type="' . $row['type'] . '" data-id="' . $row['id'] . '">Предпросмотр</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/admin/' . $vars['action'] . '/edit/' . $row['id'] . '" class="tool-link">Редактировать</a></td></tr>';
    } ?>

  </table>
</div>

<div class="table-tools">
  <a class="check_all" href="javascript:void(0);">Выбрать все</a> | <a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>

<?= $vars['paging'] ?>

<div id="prelook-holder">
  <div class="prelook-holder"></div>
  <div id="prelook"></div>
</div>