<section id="contacts">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <?= isset($vars['breadcrumbs']) ? htmlspecialchars_decode($vars['breadcrumbs']) : '' ?>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1 class="page-title"><?= $vars['page']['name'] ?></h1>
        </div>
    </div>
    <div class="contacts-content">
        <div class="contact-info">
            <?php if($vars['contacts']['phone']): ?>
                <?= $vars['translate']['phone_short'] ?>:
                <?php foreach ($vars['contacts']['phone'] as $key => $phone): ?>
                <?php $key++ ?>
                    <a onclick="gtag('event','click',{'event_category':'tel','event_action':'click'});return true;"
                       class="default-color binct-phone-number-<?= $key ?> " href="tel:<?= $phone['format'] ?>">
                        <?= $phone['format'] ?>
                    </a><br>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php if($vars['contacts']['emails']): ?>
                <?= $vars['translate']['email'] ?>:
                <? foreach ($vars['contacts']['emails'] as $email): ?>
                    <a onclick="gtag('event','click',{'event_category':'post','event_action':'click'});return true;"
                       class="default-color" href="mailto:<?= $email ?>">
                        <span><?= $email ?></span>
                    </a><br>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php if($vars['contacts']['address']['value']): ?>
                <?= $vars['translate']['address'] ?>:
                <?= $vars['contacts']['address']['value'] ?>
            <?php endif; ?>
            <a class="popup-with-form callback-wrap-button w-auto word-nowrap" href="#form-popup"><?= $vars['translate']['details'] ?></a>
        </div>
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2311.290926327933!2d30.747957715673362!3d46.456550586255624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c633d94f52d683%3A0x8083bbbf66c8a669!2z0L_RgNC-0YHQvy4g0JPQsNCz0LDRgNC40L3QsCwgNTUsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1594818000732!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</section>


