<div class="content-container">
    <div class="body-pc">
        <div class="start-layer">
            <div class="shadow">
                <h1><?= html_entity_decode($vars['translate']['start_layer_1']); ?></h1>
                <p><?= html_entity_decode($vars['translate']['start_layer_2']); ?></p>
                <p class="blue-back"><?= html_entity_decode($vars['translate']['start_layer_3']); ?></p>
                <div class="buttons">
                    <div class="wrap_btn">
                        <a href="#send_apply" data-btneffects-first="btneffects-flash" target=""
                           class="popup-with-form t-btn js-click-stat " style="color:#ffffff;background-color:#d39d31;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;text-transform:uppercase;">
                            <table style="width:100%; height:100%;">
                                <tbody>
                                <tr>
                                    <td><?= $vars['translate']['send_apply'] ?></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="t-btn_wrap-effects t-btn_wrap-effects_md">
                                <div class="t-btn_effects"></div>
                            </div>
                        </a>
<!--                        <a href="#home_about" class="main-btn-apply btn-apply">-->
<!--                            <span>--><?//= $vars['translate']['details'] ?><!--</span>-->
<!--                        </a>-->
                    </div>
                </div>

                <a href="#home_about" class="arrow-down"><img src="/tpl/default/img/arrow-down.svg"></a>
            </div>
        </div>
        <div id="home_about" class="about">
            <div class="about-header">
                <h2 class="title"><?= $vars['translate']['documents_title'] ?></h2>
                <?= htmlspecialchars_decode($vars['about_text']['body']); ?>
            </div>
            <div class="documents">
                <h2 class="title"><?= $vars['translate']['documents_title'] ?></h2>
                <div class="map flex-container">
                    <div class="flex-row">
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/passport.svg"><h6><a href="/pomosch-s-dokumentami">Паспорт
                                    моряка</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/work-book.svg"><h6><a href="/posluzhnaya-kniga">Послужная
                                    книжка моряка</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/sertificate.svg"><h6><a href="#">Сертификаты</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/refresh_docs.svg"><h6><a
                                        href="/obnovlenie-dokumentov-ryadovogo-sostava">Обновление документов рядового состава</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/worker-diploma.svg"><h6><a
                                        href="/rabochiy-diplom">Рабочий диплом</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/extention.svg"><h6><a href="#">Продление
                                    эндорсмента</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/refresh_offecer_docs.svg"><h6><a href="#">Обновление
                                    документов офицерского состава</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/course_kvalif.svg"><h6><a
                                        href="/kursy-povysheniya-kvalifikacii">Курсы повышения квалификации</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/exam.svg"><h6><a href="/ekzamen-gkk">Экзамен
                                    ГКК</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/medical.svg"><h6><a href="/medicinskaya-komissiya">Медицинская
                                    комиссия</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/gmsbb.svg"><h6><a href="#">ГМССБ</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/trb.svg"><h6><a href="#">Training Record Book</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/tanker_docs.svg"><h6><a href="#">Танкерные
                                    документы</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/rank.svg"><h6><a href="#">Присвоение звания</a></h6>
                        </div>
                        <div class="flex-item">
                            <img src="/tpl/default/img/docs_icons/passenger fleet_docs.svg"><h6><a
                                        href="/dokumenty-dlya-passazhirskogo-flota">Документы для пассажирского флота</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prosncons">
            <div class="flex-container">
                <div class="flex-row">
                    <div class="flex-column-left">
                        <h2><?= $vars['translate']['prosncons_title'] ?></h2>
                        <a href="#" class="prosncons-button"><?= $vars['translate']['details'] ?></a>
                    </div>
                    <div class="flex-column-right"></div>
                </div>
                <div class="prosncons-content">
                    <div class="row">
                        <div class="iblock-item col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <?php if (!empty($vars['pluses'])): ?>
                                <div class="hww-top-text">
                                    <?= htmlspecialchars_decode($vars['pluses']['body']); ?>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="iblock-item col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <?php if (!empty($vars['minuses'])): ?>
                                <div class="hww-top-text">
                                    <?= htmlspecialchars_decode($vars['minuses']['body']); ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="row">
                        <div class="iblock-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <?php if (!empty($vars['pluses_minuses_after'])): ?>
                                <div class="hww-top-text">
                                    <?= htmlspecialchars_decode($vars['pluses_minuses_after']['body']); ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-consalt-company">
            <div class="hcc-title">
                <?= $vars['translate']['hcc_title'] ?>
            </div>
            <div class="hcc-bottom-text">
                <?= $vars['translate']['hcc_bottom_text'] ?>
            </div>
        </div>
        <div class="how-we-work">
            <h2 class="hww-title">
                <?= $vars['translate']['hww_title'] ?>
            </h2>
            <?php if (!empty($vars['hww_text'])): ?>
                <div class="hww-top-text">
                    <?= htmlspecialchars_decode($vars['hww_text']['body']); ?>
                </div>
            <?php endif; ?>
            <div class="steps-container">
                <div class="step step-1">
                    <div class="step-content">
                        <div class="step-content-text">
                            <?= $vars['translate']['home_step_1'] ?>
                        </div>
                    </div>
                </div>
                <div class="step step-2">
                    <div class="step-content">
                        <div class="step-content-text">
                            <?= $vars['translate']['home_step_2'] ?>
                        </div>
                    </div>
                </div>
                <div class="step step-3">
                    <div class="step-content">
                        <div class="step-content-text">
                            <?= $vars['translate']['home_step_3'] ?>
                        </div>
                    </div>
                </div>
                <div class="step step-4">
                    <div class="step-content">
                        <div class="step-content-text">
                            <?= $vars['translate']['home_step_4'] ?>
                        </div>
                    </div>
                </div>
            </div>
            <?php if (!empty($vars['hww_banner'])): ?>
                <div class="hww-banner-wrapp">
                    <div class="hww-banner-img"><img
                                src="<?= Links::setDefaultImage(str_replace('_s.', '.', $vars['hww_banner']['photo'])) ?>"
                                alt=""></div>
                    <div class="hww-banner-text">
                        <div class="hww-banner-text-content">
                            <?= htmlspecialchars_decode($vars['hww_banner']['body']); ?>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <div class="hww-callback-wrapp">
                <div class="hww-callback-text">
                    <?= $vars['translate']['hww_callback_text'] ?>
                </div>
                <a href="/contacts" class="hww-callback"><?= $vars['translate']['hww_callback'] ?></a>
            </div>
        </div>
        <div class="how-we-work" style="min-height:20vh;">
        <think_text></think_text>
        </div>
        <div class="home-news-reviews">
            <?php if (!empty($vars['news-block'])): ?>
                <?= $vars['news-block']; ?>
            <?php endif; ?>
            <?php if (!empty($vars['slider'])): ?>
                <div class="home-reviews">
                    <h2><?= $vars['translate']['reviews_title'] ?></h2>
                    <?= $vars['slider']; ?>
                </div>
            <?php endif; ?>
        </div>
        <div class="writed-about-us">
            <h2><?= $vars['translate']['writed_about_us'] ?></h2>
            <?php if (!empty($vars['wau_bloks'])): ?>
                <div class="row">
                    <?php foreach ($vars['wau_bloks'] as $wau_blok): ?>
                        <div class="wau-item col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <?php if (file_exists($wau_blok['photo'])): ?>
                                <div class="wau-item-img">
                                    <a data-fancybox="gallery"
                                       href="<?= Links::setDefaultImage(str_replace('_s.', '.', $wau_blok['photo'])) ?>">
                                        <img src="<?= Links::setDefaultImage(str_replace('_s.', '.', $wau_blok['photo'])) ?>"
                                             alt="<?= $wau_blok['name'] ?> фото">
                                    </a>
                                </div>
                            <?php endif; ?>
                            <?= htmlspecialchars_decode($wau_blok['body']); ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
        </div>
        <div class="home-contacts">
            <div class="contacts-content">
                <div class="contact-info">
                    <?php if ($vars['contacts']['phone']): ?>
                        <?= $vars['translate']['phone_short'] ?>:
                        <?php foreach ($vars['contacts']['phone'] as $key => $phone): ?>
                        <?php $key++ ?>
                            <a onclick="gtag('event','click',{'event_category':'tel','event_action':'click'});return true;"
                               class="default-color binct-phone-number-<?= $key ?> " href="tel:<?= $phone['row'] ?>">
                                <span><?= $phone['format'] ?></span>
                            </a><br>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <?php if ($vars['contacts']['emails']): ?>
                        <?= $vars['translate']['email'] ?>:
                        <? foreach ($vars['contacts']['emails'] as $email): ?>
                            <a onclick="gtag('event','click',{'event_category':'post','event_action':'click'});return true;"
                               class="default-color" href="mailto:<?= $email ?>">
                                <span><?= $email ?></span>
                            </a><br>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <?php if ($vars['contacts']['address']['value']): ?>
                        <?= $vars['translate']['address'] ?>:
                        <?= $vars['contacts']['address']['value'] ?>
                    <?php endif; ?>
                    <button type="button"><?= $vars['translate']['details'] ?></button>
                </div>
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2311.290926327933!2d30.747957715673362!3d46.456550586255624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c633d94f52d683%3A0x8083bbbf66c8a669!2z0L_RgNC-0YHQvy4g0JPQsNCz0LDRgNC40L3QsCwgNTUsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1594818000732!5m2!1sru!2sua"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var delay_popup = 15000;
    var open_first_modal = function(){
        if (!$('.mfp-bg').hasClass('mfp-ready')){
            $.magnificPopup.open({
                items: {
                    src: '#fast-popup', // can be a HTML string, jQuery object, or CSS selector
                    type: 'inline'
                }
            });
        }
    };
    setTimeout(open_first_modal, delay_popup);
</script>



