<? if (!empty($vars['advantages'])) { ?>
    <section class="section-20">
        <div class="main-title"><?= $vars['translate']['advantages'] ?></div>
        <div id="advantages" class="owl-carousel owl-theme custom-owl">
          <? foreach ($vars['advantages'] as $advantage) { ?>
              <div class="adv-item">
                  <div class="adv-image-holder">
                      <img alt="<?= $advantage['name'] ?>"
                           src="<?= Links::setDefaultImage($advantage['photo']) ?>">
                  </div>
                  <div class="adv-title"><?= $advantage['name'] ?></div>
                  <div class="adv-body text-center">
                    <?= htmlspecialchars_decode($advantage['body']) ?>
                  </div>
              </div>
          <? } ?>
        </div>
    </section>
<? } ?>
