<div class="cm-notification-container"></div>
<div id="message"><?= $vars['message'] ?></div>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title float-left"><?= $vars['name'] ?></h1>
	</div>
</div>
<div class="mainbox-body">
	<div id="ds_15014" class="clear">

	</div>
	<div id="content_manage_users">
		<form name="userlist_form" method="post" action="">
			<div id="pagination_contents">
				<?php echo $vars['list']; ?>
			</div>
			<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>
</div>
</div>