<div class="cm-notification-container"></div>
<div id="message"><?= $vars['message'] ?></div>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title float-left"><?= $vars['name'] ?></h1>
	</div>
	<div class="extra-tools">
		<a class="tool-link" target="_blank"
		   href=" https://oauth.vk.com/authorize?client_id=<?= $vars['client_id'] ?>&scope=notify,friends,photos,offline,wall,group&redirect_uri=blank.html&display=popup&response_type=token">Получить
			ссылку с токеном</a>
	</div>
</div>
<div class="mainbox-body">
	<div id="ds_15014" class="clear"></div>
	<div id="content_manage_users">
		<form name="userlist_form" method="post" action="/admin/<?= $vars['action'] ?>/update" class="container-fluid">
			<fieldset class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Выбор контента для постинга</label>
						<select id="content_type" class="form-control">
							<option value="null">Выберите тип контента</option>
							<option value="product">Товар</option>
							<option value="news">Новость</option>
						</select>
					</div>

					<div class="form-inline">
						<div class="form-group">
							<div>Отобразить контент:</div>

							<label>с</label> <input type="text" class=" input-text cm-calendar hasDatepicker " style="width: 125px;"
												 value="<?= date("Y-m-d H:i:s", strtotime("-1 week")); ?>" size="150" name="date_from" id="date_from"/>

								<img alt="Календарь" title="Календарь" rev="date_from"
										 class="cm-external-focus calendar-but" src="/tpl/admin/images/icons/calendar.png">

								<label>по</label> <input type="text" class=" input-text cm-calendar hasDatepicker" style="width: 125px;"
													value="<?= date("Y-m-d H:i:s"); ?>" size="55" name="date_to" id="date_to"/>
								<img alt="Календарь" title="Календарь" rev="date_to"
										 class="cm-external-focus calendar-but" src="/tpl/admin/images/icons/calendar.png">
						</div>
					</div>

					<br>

					<div class="form-group">
						<div class="cm-toggle-button">
							<div class="cm-buttons-placeholder">
								<span class="submit-button cm-button-main">
									<input type="button" id="show_content" value="Отобразить контент"/>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-4 control-label">Id приложения</label>
							<div class="col-sm-8">
								<input type="text" value="<?= $vars['client_id'] ?>" disabled id="app_id" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">Текущей токен</label>
							<div class="col-sm-8">
								<input type="text" value="<?= $vars['access_token'] ?>" disabled id="access_token" class="form-control">
								</div>
						</div>


						<div class="form-group">
							<label class="col-sm-4 control-label">Secret клиента</label>
							<div class="col-sm-8">
								<input type="text" value="<?= $vars['client_secret'] ?>" disabled id="client_secret" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label">Id группы</label>
							<div class="col-sm-8">
								<input type="text" value="<?= $vars['group_id'] ?>" id="group_id" disabled class="form-control">
							</div>
						</div>
					</div>

					<table>
						<tr>
							<td class="col-num1">
								<input type="radio" name="post_in" rel="1" id="post_on_wall" value="wall"
											 checked="checked">
								<label for="post_on_wall">Пост на стену</label>
							</td>
						</tr>
						<tr>
							<td class="col-num2">
								<input type="radio" name="post_in" rel="2" id="post_in_album" value="album">
								<label for="post_in_album">Пост в альбом</label>
							</td>
						</tr>
						<tr>
							<td class="col-num2">
								<label>Альбом</label>
								<select id="album_id" disabled style="max-width: 200px;">
									<option value="null">Выберите альбом</option>
									<? if (isset($vars['albums']) && !empty($vars['albums'][0])) {
										foreach ($vars['albums'] as $row) {
											echo '<option value="' . $row->aid . '">' . $row->title . '</option>';
										}
									} ?>
								</select>
							</td>
						</tr>
					</table>
				</div>
			</fieldset>
			<fieldset>
				<div class="form-field" style="width: 100%;">
					<h2>Контент к публикации:</h2>
					<div class="table-tools">
						<a class="check_all" href="javascript:void(0);">Выбрать все</a>|
						<a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
					</div>
					<div id="content_container">
						<!--CONTENT WILL APPEAR HERE-->
					</div>
				</div>
				<div class="buttons-container cm-toggle-button buttons-bg">
					<div class="cm-buttons-placeholder">
						<span class="submit-button cm-button-main">
							<input type="button" value="Поставить в очередь на публикацию" name="push_to_queue" id="push_to_queue" style="text-transform: none;"/>
						</span> &nbsp;&nbsp;&nbsp;
						<span class="submit-button cm-button-main">
							<input type="button" value="Опубликовать" name="publish" id="publish_button"/>
						</span>
					</div>
				</div>
			</fieldset>
			<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>