<div class="items-container multi-level">
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort">
		<tr>
			<th width="10" class="center">
				<input type="checkbox" class="check_all2" title="Отметить/снять все" value="Y"
					   name="check_all"></th>
			<th width="10">ID</th>
			<th>Дата добавления <br/>в очередь</th>
			<th width="100" class="center">Тип публикации</th>
			<th width="60" class="center">id группы</th>
			<th width="60" class="center">id альбома</th>
			<th width="60" class="center">Фото</th>
			<th width="230">Описание</th>
			<th width="60">Ссылка</th>
			<th width="80">Статус</th>
		</tr>
		<?php
			$status =array('В очереди','Публикуется','Опубликован');
			foreach ($vars['list']['list'] as $row) {
				$src = str_replace('.jpg','_s.jpg',$row['image']) . "?" . time();
				echo '<tr>
					<td class="center"><input type="checkbox" class="check-item" value="' . $row['id'] . '" name="id[]" /></td>
					<td>' . $row['id'] . '</td>
					<td>' . $row['date_add'] . '</td>
					<td>' . $row['publish_type'] . '</td>
					<td>' . $row['group_id'] . '</td>
					<td>' . $row['album_id'] . '</td>
					<td><img src="' . $src . '" width="60"/></td>
					<td>' . htmlspecialchars_decode($row['text']) . '</td>
					<td><a href="' . $row['url'] . '" target="_blank" title="'.$row['url'].'"><img src="/tpl/admin/images/external-link.png"</a></td>
					<td>' . $status[$row['status']] . '</td>
				</tr>';
			}
		?>
	</table>
</div>
<div class="table-tools">
	<a class="check_all" href="javascript:void(0);">Выбрать все</a>|
	<a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>
<? echo $vars['list']['paging'] ?>