<div class="items-container multi-level">
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort">
		<tr>
			<th width="10">ID</th>
			<th width="150">Дата публикации</th>
			<th class="center">Текст</th>
			<th width="60">Ссылка</th>
			<th width="80">Статус</th>
		</tr>
		<?php
			$status = array('В очереди','Публикуется','Опубликован');
			foreach ($vars['list']['list'] as $row) {
				$src = str_replace('.jpg','_s.jpg',$row['image']) . "?" . time();
				echo '<tr>
					<td>' . $row['id'] . '</td>
					<td>' . $row['date'] . '</td>
					<td>' . htmlspecialchars_decode($row['message']) . '</td>
					<td><a href="' . $row['where'] . '" target="_blank" title="'.$row['where'].'"><img src="/tpl/admin/images/external-link.png"</a></td>
					<td>' . $row['status'] . '</td>
				</tr>';
			}
		?>
	</table>
</div>
<div class="table-tools">
	<a class="check_all" href="javascript:void(0);">Выбрать все</a>|
	<a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>
<? echo $vars['list']['paging'] ?>