<? if (isset($vars['news']) && count($vars['news']) > 0) { ?>
    <div class="news-block">
        <div class="container">
            <a href="<?= LINK . '/news/all' ?>" class="product-head">
			 <?= $vars['translate']['news'] ?>
            </a>
            <div class="row">
			 <? include 'thumb.phtml' ?>
            </div>
        </div>
    </div>
<? } ?>