<section class="news">
    <div class="container">
        <h1 class="product-head">
		  <?= $vars['news']['name'] ?>
        </h1>
        <div class="row m-b-20">
            <div class="col-xs-12 news-body">
			 <? if (file_exists($vars['news']['photo'])) { ?>
                    <img class="news-main-image" alt="<?= $vars['news']['name'] ?>"
                         src="/<?= xsPhoto($vars['news']['photo']) ?>">
			 <? } ?>
			 <?= htmlspecialchars_decode($vars['news']['body']) ?>
            </div>
        </div>

        <div class="load-more-holder">
            <a class="btn-custom btn-more" title="<?= $vars['next']['name'] ?>"
               href="<?= Links::getLink($vars['next']['url']) ?>">
			 <?= $vars['next']['header'] ?>
                <i class="fa fa-angle-double-right"></i>
            </a>
        </div>

    </div>
</section>