<section class="news">
    <div class="container">
        <h1 class="product-head">
		  <?= $vars['translate']['news'] ?>
        </h1>
        <div id="load-more" class="row section-10">
		  <? if (isset($vars['news']) && count($vars['news']) > 0) { ?>
			 <? include 'thumb.phtml' ?>
                <div id="scroll-anchor"></div>
		  <? } ?>
        </div>
	   <? if (!isset($vars['no-load'])) { ?>
            <div class="load-more-holder">
                <i class="load-more-gif fa fa-refresh"></i>
                <div class="btn-custom btn-more" data-offset="1" onclick="getMoreThumbs(this,'news')">
				<?= $vars['translate']['download_more_news'] ?>
                </div>
            </div>
	   <? } ?>
    </div>
</section>