<? foreach ($vars['news'] as $key => $news) { ?>
    <div class="col-sm-12 col-md-6">
        <div class="product-col list clearfix">
            <div class="image">
                <img src="<?= Links::setDefaultImage(xsPhoto($news['photo'])) ?>"
                     alt="<?= $news['name'] ?>" title="<?= $news['name'] ?>"
                     class="img-responsive"/>
            </div>
            <div class="caption">
                <div class="thumb-title">
                    <a href="<?= Links::getLink('/news/' . $news['url']) ?>">
				    <?= $news['name'] ?>
                    </a>
                </div>
                <div class="description">
				<?= htmlspecialchars_decode($news['body_m']) ?>
                </div>

                <div class="cart-button button-group">
                    <a href="<?= Links::getLink('/news/' . $news['url']) ?>" type="button" class="btn btn-cart">
                        <i class="fa fa-angle-double-right"></i>
				    <?= $vars['translate']['read_more'] ?>
                    </a>
                </div>
            </div>
        </div>
    </div>
<? } ?>