<? foreach ($vars['products'] as $key => $product) { ?>
    <div class="product-basket-thumb <?= $vars['thumb-size'] ?>">
        <div class="delete-from-cart"
             onclick="DeleteFromBasket(<?= $product['cart_id'] ?>,this)">
            <i class="fa fa-trash"></i>
        </div>
        <a class="thumb-image" href="<?= LINK . '/product/' . $product['url'] ?>">
            <img src="<?= Links::setDefaultImage($product['photo']) ?>" alt="<?= $product['name'] ?>"
                 title="<?= $product['name'] ?>" class="img-cover"/>
        </a>
        <a class="product-thumb-title" href="<?= LINK . '/product/' . $product['url'] ?>">
		  <?= $product['name'] ?>
        </a>

	   <? if ($product['price']) { ?>
            <div class="price">
			 <? $price = Numeric::getPrice($product) ?>
                <span class="price-new"><?= $price['price_format'] ?>. </span>
			 <?= ($price['basePrice'] - $price['price']) != 0 ? '<span class="base-price">' . $price['basePrice_format'] . '</span>' : '' ?>
            </div>
	   <? } ?>

	   <? if (!empty($vars['thumb-size'])) { ?>

	   <? } ?>

    </div>
<? } ?>