<section id="product" itemscope itemtype="https://schema.org/Product">
    <meta class="hidden" itemprop="brand" content="<?= $vars['product']['name'] . ' ' . $vars['product']['code'] ?>"/>
    <div class="hidden" itemprop="aggregateRating"
	    itemscope itemtype="https://schema.org/AggregateRating">
	   <span itemprop="ratingValue"><?= $vars['product']['rating'] ?></span>
	   <span itemprop="reviewCount"><?= $vars['product']['rating_count'] ?></span>
    </div>
    <div class="hidden" itemprop="review" itemscope itemtype="https://schema.org/Review">
	   <meta itemprop="author" content="Тест имени для отзыва"/>
	   <meta itemprop="datePublished" content="2016-06-06"/>
    </div>
    <div class="container">
	   <!-- Product Info -->
	   <div class="row product-info full">
		  <div class="col-sm-4 images-block">
			 <a itemprop="image" href="<?= Links::setDefaultImage(bigPhoto($vars['product']['photo'])) ?>">
				<img src="<?= Links::setDefaultImage($vars['product']['photo']) ?>"
					alt="<?= $vars['product']['name'] ?>" class="img-responsive thumbnail"/>
			 </a>
			 <ul class="list-unstyled list-inline">
				<? foreach ($vars['photos'] as $key => $photo) { ?>
				    <li>
					   <a href="<?= Links::setDefaultImage(bigPhoto($photo['photo'])) ?>">
						  <img src="<?= Links::setDefaultImage($photo['photo']) ?>"
							  alt="photo_<?= $key ?>" class="img-responsive thumbnail"/>
					   </a>
				    </li>
				<? } ?>
			 </ul>
		  </div>
		  <div class="col-sm-8 product-details">
			 <div class="panel-smart">
				<h1 itemprop="name"><?= $vars['product']['name'] ?></h1>
				<hr/>
				<meta itemprop="sku" content="<?= $vars['product']['code'] ?>">
				<? include $_SERVER['DOCUMENT_ROOT'] . '/tpl/default/product/rating.phtml' ?>
				<hr/>
				<ul class="list-unstyled manufacturer" itemprop="offers" itemscope
				    itemtype="https://schema.org/Offer">
				    <link itemprop="url" href="<?= PROTOCOL . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ?>"/>
				    <? foreach (array('code', 'sizes', 'material', 'packaged') as $param) {
					   if (!empty($vars['product'][$param])) { ?>
						  <li>
							 <span><?= $vars['translate'][$param] ?> : </span>
							 <?= $vars['product'][$param] ?>
						  </li>
					   <? } ?>
				    <? } ?>
				    <li>
					   <span><?= $vars['translate']['status'] ?> : </span>
					   <? if ($vars['product']['stock'] && $vars['product']['active']) { ?>
						  <strong class="label label-success">
							 <link itemprop="availability" href="https://schema.org/InStock">
							 <?= $vars['translate']['in-stock'] ?>
						  </strong>
					   <? } else { ?>
						  <strong class="label label-danger">
							 <link itemprop="availability" href="https://schema.org/OutOfStock">
							 <?= $vars['translate']['out-stock'] ?>
						  </strong>
					   <? } ?>
				    </li>
				    <li>
					   <? $price = Numeric::getPrice($vars['product']) ?>
					   <span><?= $vars['translate']['price_one'] . ': ' ?></span>
					   <span class="price-one">
                                <span class="bold"><?= $price['price_format'] ?></span>
                                <meta itemprop="price" content="<?= $price['price'] ?>">
                                <meta itemprop="priceCurrency" content="UAH">
                                <?= ($price['basePrice'] - $price['price']) != 0 ? '<span class="old">' . $price['basePrice_format'] . '</span>' : '' ?>
                            </span>
				    </li>
				</ul>
				<hr/>
				<div class="price">
				    <span class="price-head"><?= $vars['translate']['price'] . ': ' ?></span>
				    <span
					   class="price-new"><?= Numeric::formatPrice($price['price'] * $vars['product']['packaged']) ?></span>
				</div>
				<hr/>
				<? if ($vars['product']['stock'] && $vars['product']['active']) { ?>
				    <div class="options">
					   <form class="row" method="post">
						  <div class=" m-b-15  col-xs-12  col-sm-6  col-md-3">
							 <div class="input-group quantity-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
									   data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
								<input title="Qt" type="text" data-id="<?= $vars['product']['id'] ?>"
									  name="amount"
									  class="form-control input-number" value="1" min="1" max="100">
								<span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
									   data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
							 </div>
						  </div>
						  <input type="hidden" name="product_id" value="<?= $vars['product']['id'] ?>"/>
						  <input type="hidden" name="price_id" value="<?= $vars['product']['price_id'] ?>"/>
						  <div class="cart-button button-group col-xs-12  col-sm-6 buy-product">
							 <button
								onclick="gtag('event','click',{'event_category':'button_basket','event_action':'click'});return true;"
								type="button" class="btn btn-cart">
								<i class="fa fa-shopping-cart"></i>
								<span><?= $vars['translate']['get_in_cart'] ?></span>
							 </button>
						  </div>
					   </form>
					   <button
						  onsubmit="gtag('event','send',{'event_category':'button_book','event_action':'send'});return true;"
						  class="btn btn-cart-quick buy" data-toggle="modal" data-target="#quick_order">
						  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
						  <span>
                          <?= $vars['translate']['quick_buy'] ?>
                                                            </span>
					   </button>
				    </div>
				<? } ?>
			 </div>
		  </div>
	   </div>

	   <ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" href="#panel1">Описание</a></li>

		  <li><a data-toggle="tab" href="#panel3">Информация для заказа</a></li>
	   </ul>
	   <div class="tab-content">
		  <div id="panel1" class="tab-pane fade in active">
			 <? if (!empty($vars['product']['body'])) { ?>
				<div class="content panel-smart" itemprop="description">
				    <?= htmlspecialchars_decode($vars['product']['body']) ?>
				</div>
			 <? } ?>
		  </div>
		  <div id="panel3" class="tab-pane fade">
			 <?= htmlspecialchars_decode($vars['some-info']['body']) ?>
		  </div>
	   </div>

	   <? if (!empty($vars['other_in_category'])) { ?>
		  <div class="product-info-box">
			 <h4 class="heading"><?= $vars['translate']['other_product'] ?></h4>
			 <div class="row">
				<?= $vars['other_in_category'] ?>
			 </div>
		  </div>
	   <? } ?>

    </div>
</section>


