<div class="product-mini">
    <a class="product-mini__img-holder" href="<?= LINK ?>/product/<?= $product['url'] ?>">
        <img class="product-mini__img" src="<?= getPathNoCache($product['photo']) ?>" alt="<?= $product['name'] ?>">
    </a>
    <div class="product-mini__name"><?= $product['name'] ?></div>
    <div class="product-mini__price"><?= Numeric::getPrice($product)['price_format'] ?></div>
    <div class="product-mini__buttons"><a class="button hvr-sweep-to-right product-mini__button"
                                          href="<?= LINK ?>/product/<?= $product['url'] ?>">Подробнее</a>
        <button class="button hvr-sweep-to-right product-mini__button buy">Купить</button>
    </div>
</div>