<?
    //UPDATE `product` SET `rating_count`= FLOOR( RAND() * (82-29) + 29 )
    //UPDATE `product` SET `rating`= ROUND( RAND() * (4.98-4.6) + 4.6, 1 )
?>

<? if (isset($vars['product']['rating']) && isset($vars['product']['rating_count'])) { ?>
    <div class="rating_section" itemscope="" itemtype="https://schema.org/AggregateRating">
	   <span itemprop="itemReviewed" class="hidden"><?= $vars['product']['name']; ?></span>
	   <span itemprop="ratingValue" class="hidden"><?= $vars['product']['rating'] ?></span>
	   <span itemprop="bestRating" class="hidden">5</span>
	   <span itemprop="worstRating" class="hidden">1</span>
	   <span itemprop="ratingCount" class="hidden"><?= $vars['product']['rating_count'] ?></span>

	   <div class="block-rating">
		  <div class="rating">
			 <? for ($i = 5; $i > 0; $i--) { ?>
				<span class="rating rating-active">☆</span>
			 <? } ?>
		  </div>

		  <div class="vote">
			 <span>Рейтинг: <?= $vars['product']['rating'] ?> - </span>
			 <span><?= $vars['product']['rating_count'] ?> голосов</span>
		  </div>
	   </div>
    </div>
<? } ?>

