<? foreach ($vars['products'] as $key => $product) {
    $price = Numeric::getPrice($product);
    $class = 'col-sm-6';
    if ($_SESSION['sort_view'] == 'table' && isset($vars['md-4'])) $class .= ' col-md-4';
    else if ($_SESSION['sort_view'] == 'list' && isset($vars['md-4'])) $class = 'col-xs-12';
    else $class .= ' col-md-3' ?>
    <div class="<?= $class ?>">
        <div class="product-col <?= ($_SESSION['sort_view'] == 'list' && isset($vars['md-4'])) ? 'list clearfix' : '' ?>">
            <a class="image d-block" href="<?= Links::getLink('/product/' . $product['url']) ?>">
                <img src="<?= Links::setDefaultImage($product['photo']) ?>" alt="<?= $product['name'] ?>"
                     class="img-responsive img-center-sm"/>
            </a>
            <div class="caption">
                <div class="thumb-title">
                    <a href="<?= Links::getLink('/product/' . $product['url']) ?>">
				    <?= $product['name'] ?>
                    </a>
                </div>
                <div class="description">
                    <ul>
				    <? foreach (array('code', 'sizes', 'material', 'packaged') as $param) {
					   if (!empty($product[$param])) { ?>
                                <li>
                                    <span><?= $vars['translate'][$param] ?> : </span>
							 <?= $product[$param] ?>
                                </li>
					   <? } ?>
				    <? } ?>
                        <li>
                            <span><?= $vars['translate']['price_pack'] ?> : </span>
                            <span class="price_one"><?= Numeric::formatPrice($product['price'] * $product['packaged']) ?></span>
                        </li>
                    </ul>
                </div>
                <div class="price">
                    <span class="price-new"><?= $price['price_format'] ?></span>
				<? if (($price['basePrice'] - $price['price']) != 0) { ?>
                        <span class="price-old"><?= $price['basePrice_format'] ?></span>
				<? } ?>
                </div>
                <form method="post">
                    <input type="hidden" name="amount" value="1"/>
                    <input type="hidden" name="product_id" value="<?= $product['id'] ?>"/>
                    <input type="hidden" name="price_id" value="<?= $product['price_id'] ?>"/>
                    <div class="cart-button button-group buy-product">
                        <button onclick="gtag('event','click',{'event_category':'button_basket','event_action':'click'});return true;"
                                type="button" class="btn btn-cart ">
                            <i class="fa fa-shopping-cart"></i>
					   <?= $vars['translate']['get_in_cart'] ?>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<? } ?>