<?php if(!empty($vars['iblocks'])): ?>
    <?php $i=1; ?>
    <?php foreach ($vars['iblocks'] as $iblock_row): ?>
        <tr data-row="<?= $i; ?>">
            <td>
                <select name="info_block_id[]">
                    <option <?php if($iblock_row->iblock == 0): ?>selected="selected"<?php endif; ?> value="0">Выберите информационный блок</option>
                    <?php foreach ($vars['infoblocks'] as $infoblock): ?>
                        <option <?php if($iblock_row->iblock == $infoblock['id']): ?>selected="selected"<?php endif; ?> value="<?= $infoblock['id']; ?>"><?= $infoblock['name']; ?></option>
                    <?php endforeach; ?>
                </select>
            </td>
            <td>
                <input type="text" value="<?php if($iblock_row->sort): ?><?= $iblock_row->sort; ?><?php else: ?>0<?php endif; ?>" name="sort[]" class="input-text" style="width:40px;">
            </td>
            <td>
                <select name="col_lg[]">
                    <?php for($j = 0; $j <= 12; $j++):?>
                        <option <?php if($iblock_row->col_lg == $j): ?>selected="selected"<?php endif; ?> value="<?= $j; ?>"><?= $j; ?></option>
                    <?php endfor; ?>
                </select>
            </td>
            <td>
                <select name="col_md[]">
                    <?php for($j = 0; $j <= 12; $j++):?>
                        <option <?php if($iblock_row->col_md == $j): ?>selected="selected"<?php endif; ?> value="<?= $j; ?>"><?= $j; ?></option>
                    <?php endfor; ?>
                </select>
            </td>
            <td>
                <select name="col_sm[]">
                    <?php for($j = 0; $j <= 12; $j++):?>
                        <option <?php if($iblock_row->col_sm == $j): ?>selected="selected"<?php endif; ?> value="<?= $j; ?>"><?= $j; ?></option>
                    <?php endfor; ?>
                </select>
            </td>
            <td>
                <select name="col_xs[]">
                    <?php for($j = 0; $j <= 12; $j++):?>
                        <option <?php if($iblock_row->col_xs == $j): ?>selected="selected"<?php endif; ?> value="<?= $j; ?>"><?= $j; ?></option>
                    <?php endfor; ?>
                </select>
            </td>
            <td>
                <select name="info_block_group[]">
                    <?php for($j=1; $j <= count($vars['iblocks']); $j++): ?>
                        <option <?php if($iblock_row->group == $j): ?>selected="selected"<?php endif; ?> value="<?= $j; ?>">Группа <?= $j; ?></option>
                    <?php endfor; ?>
                </select>
            </td>
            <td>
                <select name="info_block_type[]">
                    <?php foreach ($vars['iblocks_types'] as $key => $value): ?>
                        <option <?php if($iblock_row->type == $key): ?>selected="selected"<?php endif; ?> value="<?= $key; ?>"><?= $value; ?></option>
                    <?php endforeach; ?>
                </select>
            </td>
            <td>
                <ul class="cm-tools-list tools-list">
                    <li><a href="javascript:void(0);" class="del_iblock">Удалить</a></li>
                </ul>
            </td>
        </tr>
        <?php $i++; ?>
    <?php endforeach; ?>
<?php endif; ?>
