<div class="items-container multi-level table-responsive">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"
           class="table table-fixed hidden-inputs tb_sort table_982px">
        <tr class="noDrop">
            <th width="30"></th>
            <th width="20" class="center">
                <input type="checkbox" class="check_all2" name="check_all"
                       title="Отметить/снять все" value="Y">
            </th>
            <th width="50">ID</th>
            <th>Название</th>
            <th>URL</th>
            <th width="110">Состояние</th>
            <th class="center" width="160">Действие</th>
        </tr>
      <? foreach ($vars['list'] as $row) {
        if ($row['active'] == 1) $active = '<div class="selected-status status-a"><a> Вкл. </a></div>';
        else $active = '<div class="selected-status status-d"><a> Выкл. </a></div>'; ?>
          <tr id="sort<?= $row['id'] ?>">
              <td class="move"></td>
              <td class="center">
                  <input title="" type="checkbox" class="check-item" value="<?= $row['id'] ?>" name="id[]"/>
              </td>
              <td><span><?= $row['id'] ?></span></td>
              <td>
                  <input title="Название" type="text" value="<?= $row['name'] ?>" name="name[]" class="input-text">
              </td>
              <td>
                  <input title="URL" type="text" value="<?= $row['url'] ?>" name="url[]" class="input-text">
              </td>
              <td>
                  <input type="hidden" value="<?= $row['id'] ?>" name="save_id[]"/>
                  <div class="select-popup-container active_status" id="active<?= $row['id'] ?>"><?= $active ?></div>
              </td>
              <td>
                  <a href="/admin/<?= $vars['action'] . '/edit/' . $row['id'] ?>" class="tool-link">Редактировать</a> |
                  <ul class="cm-tools-list tools-list">
                      <li>
                          <a href="/admin/<?= $vars['action'] . '/delete/' . $row['id'] ?>"
                             class="cm-confirm">
                              Удалить
                          </a>
                      </li>
                  </ul>
              </td>
          </tr>
      <? } ?>
    </table>
</div>
<div class="table-tools">
    <a class="check_all" href="javascript:void(0);">Выбрать все</a>|
    <a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>