<div class="cm-notification-container">
    <div id="message"><?= $vars['message'] ?></div>
</div>
<div>
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Новый товар:&nbsp;</h1>
    </div>
    <div class="extra-tools">
    </div>
    <div class="mainbox-body">
        <div class="tabs cm-j-tabs cm-track">
            <ul>
                <li id="basic" class="cm-js cm-active"><a>Общее</a></li>
                <li id="text_page" class="cm-js"><a>Контент</a></li>
                <li id="metadata" class="cm-js"><a>Мета данные</a></li>
            </ul>
        </div>
        <div class="cm-tabs-content">
            <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""
                  enctype="multipart/form-data">
                <div id="content_basic" class="cm-tabs">
                    <fieldset>
                        <h2 class="subheader"> Информация </h2>
                        <div class="form-field">
                            <label class="cm-required" for="name">Название:</label>
                            <input type="text" class="input-text-large main-input" value="" size="55" id="name"
                                   name="name"/>
                        </div>
                        <div class="form-field">
                            <label for="url">URL:</label>
                            <input type="text" class="input-text-medium main-input" value="" size="55" id="url"
                                   name="url"/>
                        </div>

                        <div class="form-field">
                            <label for="url">Поставщик:</label>
                            <select title="Поставщик" name="provider_id">
                              <? foreach ($vars['providers'] as $provider) { ?>
                                  <option value="<?= $provider['id'] ?>"
                                      <?= $provider['base'] ? 'selected="selected"' : "" ?>>
                                    <?= $provider['name'] ?>
                                  </option>
                              <? } ?>
                            </select>
                        </div>

                        <div class="form-field">
                            <label class="cm-required">Состояние:</label>
                            <div class="select-field">
                                <input type="radio" class="radio" value="1" id="page_data_0_a" name="active"
                                       checked="checked"/>
                                <label for="page_data_0_a">Вкл.</label>
                                <input type="radio" class="radio" value="0" id="page_data_0_d" name="active"/>
                                <label for="page_data_0_d">Выкл.</label>
                            </div>
                        </div>

                    </fieldset>
                    <fieldset>
                        <h2 class="subheader">Каталог</h2>
                        <div style="margin-left:15px; max-height:300px; overflow:auto;">
                          <? foreach ($vars['catalog'] as $row) {
                            if ($row['sub'] == 0) {
                              echo '<input name="cat_id[]" type="checkbox" id="cat' . $row['id'] . '" value="' . $row['id'] . '"><label for="cat' . $row['id'] . '">' . $row['name'] . '</label><br>';
                              foreach ($vars['catalog'] as $row2) {
                                if ($row['id'] == $row2['sub']) {
                                  echo '&nbsp;&nbsp;&nbsp;&nbsp;<input name="cat_id[]" type="checkbox" class="cat' . $row['id'] . '" id="cat' . $row2['id'] . '" value="' . $row2['id'] . '"><label for="cat' . $row2['id'] . '">' . $row2['name'] . '</label><br>';
                                  foreach ($vars['catalog'] as $row3) if ($row2['id'] == $row3['sub']) echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="cat_id[]" type="checkbox" class="cat' . $row2['id'] . '" id="cat' . $row3['id'] . '" value="' . $row3['id'] . '"><label for="cat' . $row3['id'] . '">' . $row3['name'] . '</label><br>';
                                }
                              }
                            }
                          } ?>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2 class="subheader">Цена</h2>
                      <?= $vars['price'] ?>
                    </fieldset>
                    <fieldset>
                        <h2 class="subheader">Настройки</h2>
                        <div style="margin-left:15px;">
                          <? foreach ($vars['status'] as $row) echo '<input name="status_id[]" type="checkbox" id="status' . $row['id'] . '" value="' . $row['id'] . '"><label for="status' . $row['id'] . '">' . $row['comment'] . '</label><br>'; ?>
                        </div>
                    </fieldset>
                </div>
                <!--Basic end-->
                <!--text_page start-->
                <div id="content_text_page" class="cm-tabs hidden">
                    <fieldset>
                        <h2 class="subheader">Краткое товара</h2>
                        <textarea style="width: 100%" name="body_m" rows="7"></textarea>
                    </fieldset>
                    <fieldset>
                        <h2 class="subheader">Описание товара</h2>
                      <?= showEditor('body', ''); ?>
                    </fieldset>
                    <fieldset>
                        <h2 class="subheader">Обложка</h2>
                      <?
                      $path = "files/tmp/";
                      $vars['path'] = $path;
                      $vars['image_id'] = mktime();
                      $_SESSION['tmp_image'] = $vars['image_id'];
                      include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml"; ?>
                        <input type="hidden" name="tmp_image" value="<?= $vars['image_id'] ?>"/>
                    </fieldset>
                </div>
                <!--text_page end-->
                <!--metdata start-->
                <div id="content_metadata" class="cm-tabs hidden">
                    <fieldset>
                        <h2 class="subheader"> Meta данные </h2>
                        <div class="form-field">
                            <label for="page_page_title">Заголовок раздела:</label>
                            <input type="text" class="input-text-large" value="" size="55" id="page_page_title"
                                   name="title"/>
                        </div>
                        <div class="form-field">
                            <label for="page_meta_keywords">META ключевые слова:</label>
                            <textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_keywords"
                                      name="keywords"></textarea>
                        </div>
                        <div class="form-field">
                            <label for="page_meta_descr">META описание:</label>
                            <textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_descr"
                                      name="description"></textarea>
                        </div>
                    </fieldset>
                </div>
                <!--metdata end-->

              <? if (isset($vars['params'])) echo $vars['params']; ?>
                <div class="buttons-container cm-toggle-button buttons-bg">
                    <div class="cm-buttons-floating">
                        <div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Создать" name="add"/>
							</span>&nbsp;
                            <span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Создать и открыть" name="add_open"
                                       class="cm-save-and-close"/>
							</span> &nbsp;или&nbsp;&nbsp;
                            <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
            </form>
        </div>
    </div>
</div>