<div class="cm-notification-container">
    <div id="message"><?= $vars['message'] ?></div>
</div>
<div class="cm-tabs-content">
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Редактирование товара: <?= $vars['edit']['name'] ?></h1>
    </div>
    <div class="extra-tools">
        <a class="tool-link" href="/admin/<?= $vars['action'] ?>/add">Добавить товар</a>
        <a class="tool-link cm-confirm" href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">
            <span>Удалить этот товар</span>
        </a>
        <div class="float-right preview-link">
            <a href="/product/<?= $vars['edit']['url'] ?>" title="<?= $vars['edit']['url'] ?>" class="tool-link"
               target="_blank">Предпросмотр</a>
        </div>
    </div>
    <form class="cm-form-highlight cm-check-changes"
          name="page_update_form" method="post"
          enctype="multipart/form-data">
        <div class="mainbox-body">
            <div class="tabs cm-j-tabs cm-track">
                <ul>
                    <li id="basic" class="cm-js cm-active"><a>Общее</a></li>
                    <li id="text_page" class="cm-js"><a>Контент</a></li>
                    <li id="images" class="cm-js"><a>Изображения</a></li>
                    <li id="metadata" class="cm-js"><a>Мета данные</a></li>
                </ul>
            </div>
            <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id">
            <!--Basic start-->
            <div id="content_basic" class="cm-tabs">
                <fieldset>
                    <h2 class="subheader"> Информация </h2>
                    <div class="form-field">
                        <label class="cm-required" for="name">Название:</label>
                        <input type="text" class="input-text-large main-input" value="<?= $vars['edit']['name'] ?>"
                               size="55" id="name" name="name">
                    </div>
                    <div class="form-field">
                        <label class="cm-required" for="url">URL:</label>
                        <input type="text" class="input-text-large main-input" value="<?= $vars['edit']['url'] ?>"
                               size="55" id="url" name="url">
                    </div>

                    <div class="form-field">
                        <label for="packaged">Кол-во в упаковке:</label>
                        <input type="number" min="1" class="input-text-large main-input"
                               value="<?= $vars['edit']['packaged'] ?>" id="packaged" name="packaged">
                    </div>

                    <div class="form-field">
                        <label for="sizes">Размеры:</label>
                        <input type="text" class="input-text-large main-input" value="<?= $vars['edit']['sizes'] ?>"
                               size="55" id="sizes" name="sizes">
                    </div>

                    <div class="form-field">
                        <label for="material">Материал:</label>
                        <input type="text" class="input-text-large main-input" value="<?= $vars['edit']['material'] ?>"
                               size="55" id="material" name="material">
                    </div>

                    <div class="form-field">
                        <label for="url">Поставщик:</label>
                        <select title="Поставщик" name="provider_id">
                            <? foreach ($vars['providers'] as $provider) { ?>
                                <option value="<?= $provider['id'] ?>"
                                    <?= $provider['id'] == $vars['edit']['provider_id'] ? 'selected="selected"' : "" ?>>
                                    <?= $provider['name'] ?>
                                </option>
                            <? } ?>
                        </select>
                    </div>

                    <div class="form-field">
                        <label class="cm-required">Состояние:</label>
                        <div class="select-field">
                            <input type="radio" class="radio" value="1" id="page_data_0_a"
                                   name="active" <? if ($vars['edit']['active'] == 1) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_a">Вкл.</label>
                            <input type="radio" class="radio" value="0" id="page_data_0_d"
                                   name="active" <? if ($vars['edit']['active'] == 0) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_d">Выкл.</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <h2 class="subheader">Каталог</h2>
                    <div style="margin-left:15px; max-height:300px; overflow:auto;">
                        <?php
                        foreach ($vars['catalog'] as $row) {
                            if ($row['sub'] == 0) {
                                echo ' <input name="cat_id[]" type="checkbox" id="cat' . $row['id'] . '" value="' . $row['id'] . '"';
                                if ($row['product_id'] == $vars['edit']['id']) echo ' checked="checked"';
                                echo '><label for="cat' . $row['id'] . '">' . $row['name'] . '</label><br >';
                                foreach ($vars['catalog'] as $row2) {
                                    if ($row['id'] == $row2['sub']) {
                                        echo '&nbsp;&nbsp;&nbsp;&nbsp;<input name="cat_id[]" type="checkbox" class="cat' . $row['id'] . '" id="cat' . $row2['id'] . '" value="' . $row2['id'] . '"';
                                        if ($row2['product_id'] == $vars['edit']['id']) echo ' checked="checked"';
                                        echo '><label for="cat' . $row2['id'] . '">' . $row2['name'] . '</label><br >';

                                    }
                                }
                            }
                        }
                        ?>
                    </div>
                </fieldset>
                <fieldset>
                    <h2 class="subheader">Цена</h2>
                    <?= $vars['price'] ?>
                </fieldset>
                <fieldset>
                    <h2 class="subheader">Настройки</h2>
                    <div style="margin-left:15px;">
                        <? foreach ($vars['status'] as $row) {
                            echo ' <input name="status[]" type="checkbox" value="' . $row['id'] . '"';
                            if ($row['product_id'] != '') echo ' checked="checked"';
                            echo '><label for="status' . $row['id'] . '">' . $row['comment'] . '</label><br >';
                        } ?>
                    </div>
                </fieldset>
            </div>
            <!--Basic end-->

            <div id="content_text_page" class="cm-tabs hidden">
                <fieldset>
                    <h2 class="subheader">Краткое описание товара</h2>
                    <textarea style="width: 100%" name="body_m" rows="7"><?= $vars['edit']['body_m'] ?></textarea>
                </fieldset>
                <fieldset>
                    <h2 class="subheader">Описание товара</h2>
                    <?= showEditor('body', $vars['edit']['body']); ?>
                </fieldset>
                <fieldset>
                    <h2 class="subheader">Параметры товара (только информационная таблица в описании)</h2>
                    <table id="fchs" class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="45%">Название</th>
                            <th width="45%">Значение</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="fch-holder">
                            <td>
                                <input class="form-control" type="text" data-data="name">
                            </td>
                            <td>
                                <input class="form-control" type="text" data-data="value">
                            </td>
                            <td>
                                <div class="btn btn-danger del-fch">&times;</div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <div id="add_fch" class="btn btn-default">Добавить</div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <textarea id="feats" name="feats" style="display:none"><?= $vars['edit']['feats'] ?></textarea>
                </fieldset>
            </div>

            <div id="content_images" class="cm-tabs hidden">
                <fieldset>
                    <h2 class="subheader">Обложка</h2>
                    <? $vars['image_id'] = $vars['edit']['id'];
                    include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml"; ?>
                    <input type="hidden" name="tmp_image" value="<?= $vars['image_id'] ?>"/>
                </fieldset>
                <?= $vars['photo'] ?>
            </div>


            <!--metdata start-->
            <div id="content_metadata" class="cm-tabs hidden">
                <fieldset>
                    <h2 class="subheader"> Meta данные </h2>
                    <div class="form-field">
                        <label for="page_page_title">Заголовок раздела:</label>
                        <input type="text" class="input-text-large" value="<?= $vars['edit']['title'] ?>" size="55"
                               id="page_page_title" name="title">
                    </div>
                    <div class="form-field">
                        <label for="page_meta_keywords">META ключевые слова:</label>
                        <textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_keywords"
                                  name="keywords"><?= $vars['edit']['keywords'] ?></textarea>
                    </div>
                    <div class="form-field">
                        <label for="page_meta_descr">META описание:</label>
                        <textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_descr"
                                  name="description"><?= $vars['edit']['description'] ?></textarea>
                    </div>
                </fieldset>
            </div>
            <!--metdata end-->

            <div class="modal fade" tabindex="-1" role="dialog" id="modalDuplicateProd">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Дублировать товар</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Отметьте пункты, которые необходимо скопировать: </label>
                            </div>
                            <div class="form-group">
                                <label for="copy_description">
                                    <input type="checkbox" id="copy_description" name="copy_description"
                                           value="Описание" checked="checked">
                                    <span>Описание</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="copy_meta">
                                    <input type="checkbox" id="copy_meta" name="copy_meta" value="Мета-данные"
                                           checked="checked">
                                    <span>Мета-данные</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="copy_price">
                                    <input type="checkbox" id="copy_price" name="copy_price" value="Цены"
                                           checked="checked">
                                    <span>Цены</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="copy_filters">
                                    <input type="checkbox" id="copy_filters" name="copy_filters" value="Фильтры"
                                           checked="checked">
                                    <span>Фильтры</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="copy_recommend">
                                    <input type="checkbox" id="copy_recommend" name="copy_recommend"
                                           value="С этим товаром покупают" checked="checked">
                                    <span>С этим товаром покупают</span>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="cm-buttons-placeholder">
								<span class="submit-button cm-button-main">
									<input name="copy_product" class="submit-button cm-button-main"
                                           value="Дублировать запись" type="submit">
								</span>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
        <div class="buttons-container cm-toggle-button buttons-bg">
            <div class="cm-buttons-floating">
                <div class="cm-buttons-placeholder">
				<span class="submit-button cm-button-main">
					<input type="submit" value="Сохранить" name="update">
				</span>
                    <span class="submit-button cm-button-main">
					<input type="submit" value="Сохранить и закрыть" name="update_close"
                           class="cm-save-and-close-product">
				</span> или

                    <span class="submit-button ">
                        <input type="submit" onclick="return confirm('Копировать товар ?')"
                               value="Копировать товар" name="copy">
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>