<div class="cm-notification-container"></div>
<div id="message"><?= $vars['message'] ?></div>
<div style="margin-bottom: 15px;">
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title float-left"><?= $vars['name'] ?></h1>
		<div class="tools-container">
			<span class="action-add">
				<a href="/admin/<?= $vars['action'] ?>/add<? if (isset($vars['curr_cat']['id'])) echo '/1/cat/' . $vars['curr_cat']['id']; ?>">Добавить</a>
			</span>
		</div>
		<a href="#" class="filter-toggle"><i class="icon icon-filter"></i></a>
	</div>
</div>
<div class="mainbox-body">
	<div id="ds_15014" class="toggle_on_mobile clear">
		<div class="container-fluid section-border">

			<form class="row cm-disable-empty " method="POST" name="search_form"
                  action="<?= StringLibrary::getUrl2('page', $_SESSION['return_link']) ?>"
                  style="padding: 10px;">

						<div class="nowrap search-field">
							<label>Найти: <?= $_SESSION['search_admin']['word'] ?></label>

							<div class="break">
								<input type="text" class="search-input-text"
											 value="<?= $_SESSION['search_admin']['word'] ?>" size="20" name="word"/>
								<input type="image" title="Поиск" alt="Поиск" class="search-go"
											 src="/tpl/admin/images/search_go.gif">&nbsp;
							</div>
                            <?// unset($_SESSION['search_admin']['word']) ?>
						</div>

						<div class="nowrap search-field">
							<label>Цена:</label>

							<div class="break">
								<input type="text" class="input-text-price" onfocus="this.select();"
											 value="<?= $_SESSION['search_admin']['price_from'] ?>" size="1"
											 name="price_from">&nbsp;&ndash;&nbsp;
								<input type="text" class="input-text-price" onfocus="this.select();"
											 value="<?= $_SESSION['search_admin']['price_to'] ?>" name="price_to" size="1">
							</div>
						</div>

						<div class="nowrap search-field">
							<label>Поиск по статусам:</label>

							<div class="break clear correct-picker-but">
								<select name="cat_id" style="width:200px">
									<option value="0">- Все статусы -</option>
									<?php
									foreach ($vars['status'] as $row) {
										echo "<option value='status-{$row['id']}'";
										if ('status-' . $row['id'] == "{$_SESSION['search_admin']['cat_id']}") echo " selected='selected'";
										echo ">{$row['name']}</option>";
									}
									?>
								</select>
							</div>
						</div>

                <div class="nowrap search-field">
                    <label>Поиск по поставщикам:</label>

                    <div class="break clear correct-picker-but">
                        <select name="provider_id" style="width:160px">
                            <option value="0">- Все поставщики -</option>
                            <?php
                            foreach ($vars['providers'] as $provider) {
                                echo "<option value='provider-{$provider['id']}'";
                                if ('provider-' . $provider['id'] == "{$_SESSION['search_admin']['provider_id']}") echo " selected='selected'";
                                echo ">{$provider['name']}</option>";
                            }
                            ?>
                        </select>
                    </div>
                </div>

                <?php if (isset($vars['paramsForSearch'])) echo $vars['paramsForSearch'] ?>

						<div class="buttons-container">
							<span class="submit-button "><input type="submit" value="Поиск"
																									name="dispatch[products.manage]"></span>
							<span class="submit-button "><input type="submit" value="Очистить" name="clear"></span>
						</div>
			</form>

		</div>
	</div>

	<div id="content_manage_users">
        <form name="userlist_form" method="post" action="<?= StringLibrary::getUrl2('delete') ?>">
			<div id="pagination_contents">
				<?=$vars['list'] ?>
			</div>

			<div class="buttons-container cm-toggle-button buttons-bg">
				<div class="cm-buttons-floating">
					<div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Сохранить" name="update" class="">
							</span>
							<span class="submit-button cm-button-main cm-confirm cm-process-items">
								<input type="submit" value="Удалить" name="delete" class="cm-process-items">
							</span>
						<span class="submit-button cm-button-main cm-process-items">
								<input type="submit" value="Вкл/выкл." name="changestate" class="cm-process-items">
							</span>
					</div>
				</div>
			</div>
			<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>