<div class="nowrap search-field">
	<label>Поиск по параметрам:</label>

	<div class="break clear correct-picker-but">
		<select name="params" style="width:200px">
			<option value="">- Все параметры -</option>
			<?php
			foreach ($vars['params'] as $row) {
				if ($row['sub'] == 0) {
					echo "<option value='{$row['id']}'";
					if ($row['id'] == $_SESSION['search_admin']['params']) echo " selected='selected'";
					echo ">{$row['name']}</option>";
					foreach ($vars['params'] as $row2) {
						if ($row['id'] == $row2['sub']) {
							echo "<option value='{$row2['id']}'";
							if ($row2['id'] == $_SESSION['search_admin']['params']) echo " selected='selected'";
							echo ">&nbsp;&nbsp;&nbsp;{$row2['name']}</option>";
						}
					}
				}
			}
			?>
		</select>
	</div>
</div>