<? foreach ($vars['price'] as $key => $row) { ?>
    <tr id="price_<?= $row['id'] ?>" class="<?= $key % 2 != 0 ? 'hhh' : 'normal' ?>">
        <td><input type="text" value="<?= $row['code'] ?>" name="price_code[]" class="input-text"/></td>
        <td><input type="text" value="<?= $row['basePrice'] ?>" name="price_basePrice[]" class="input-text"/></td>
        <td><input type="text" value="<?= $row['discount'] ?>" name="price_discount[]" class="input-text"/></td>
        <td><input type="text" value="<?= $row['price'] ?>" name="price_price[]" class="input-text"/></td>
        <td><input type="text" value="<?= $row['stock'] ?>" name="price_stock[]" class="input-text"/></td>
        <td>
            <input type="hidden" value="<?= $row['product_photo_id'] ?>" name="price_photo_id[]"/>
            <input type="hidden" value="<?= $row['texture_photo_id'] ?>" name="price_texture_id[]"/>
            <input type="hidden" value="<?= $row['id'] ?>" name="save_price_id[]"/>
            <ul class="cm-tools-list tools-list">
                <li><a href="'<?= $row['id'] ?>" class="delprice" rel="<?= $vars['rel'] ?>">Удалить</a></li>
            </ul>
        </td>
    </tr>
<? } ?>