<label for="type_discount"><b>Тип скидки : </b></label>
<input type="radio" name="type_discount" id="type_discount0"
       value="0" <?= (isset($vars['edit']['type_discount']) && $vars['edit']['type_discount'] == 0)  ? ' checked="checked"' : '' ?> />
<label for="type_discount0"> Скидка %</label>
<span style="margin: 5px"> </span>
<input type="radio" name="type_discount" id="type_discount1"
       value="1" <?= (isset($vars['edit']['type_discount']) && $vars['edit']['type_discount'] == 1) ? ' checked="checked"' : '' ?> />
<label for="type_discount1">Скидка значение</label>
<style>
    #price_tb input{
        max-width: 90px;
    }
</style>
<table width="100%" cellspacing="0" cellpadding="0" border="0"
       class="table table-fixed hidden-inputs tb_sort table_1100px"
       id="price_tb" style="margin-top: 10px;">
    <tr class="noDrop">
        <th>Артикул</th>
        <th>Базовая цена</th>
        <th>Скидка</th>
        <th>Цена</th>
        <th>На складе</th>
        <th width="70"></th>
    </tr>
    <tbody id="load_price">
    <?= $vars['price'] ?>
    </tbody>
</table>