<div class="cm-notification-container">
    <div id="message">
      <?= $vars['message'] ?>
    </div>
</div>

<div>
    <div class="clear mainbox-title-container">
        <div class="tools-container">
            <span class="action-add">
                <a href="/admin/<?= $vars['action'] . $vars['path'] ?>/add_provider">Добавить</a>
            </span>
        </div>
        <h1 class="mainbox-title float-left"><?= $vars['name'] ?></h1>
    </div>
    <div class="mainbox-body">
        <div id="ds_15014" class="clear"></div>
        <div id="content_manage_users">
            <form name="userlist_form" method="post" action="/admin/<?= $vars['action'] . $vars['path'] ?>">
                <div id="pagination_contents">
                    <div class="items-container multi-level">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0"
                               class="table table-fixed hidden-inputs tb_sort">
                            <tr>
                                <th width="30">ID</th>
                                <th>Название</th>
                                <th>Сортировка</th>
                                <th width="120" style="text-align:center;">По умолчанию</th>
                                <!--                                <th width="80">Наценка</th>-->
                                <!--                                <th width="80">Валюта</th>-->
                                <!--                                <th width="80">Курс</th>-->
                                <!--                                <th width="150">Групповая переоценка</th>-->
                                <th width="80">&nbsp;</th>
                            </tr>
                          <? foreach ($vars['list'] as $i => $row) { ?>
                              <tr>
                                  <td><input type="hidden" class="check-item" value="<?= $row['id'] ?>"
                                             name="id[]"/><span><?= $row['id'] ?></span></td>
                                  <td><input type="text" value="<?= $row['name'] ?>" name="name[]"
                                             class="input-text-large"></td>
                                  <td><input type="text" value="<?=$row['sort']?>" name="sort[]" class="input-text" style="width:40px;" /></td>
                                  <td align="center">
                                      <input type="radio" value="<?= $row['id'] ?>"
                                             name="default" <?= ($row['default'] == 1) ? "checked" : '' ?> />
                                  </td>
                                <? /*
                                  <td><input type="text" value="<?= $row['price'] ?>" name="price[]"
                                             class="input-text-large" style="width:30px; text-align:center;"/> %
                                  </td>
                                  <td>
                                      <select name="currency_id[<?= $i ?>]">
                                        <?php foreach ($vars['currencies'] as $currency) { ?>
                                            <option value="<?= $currency['id'] ?>" <?= ($row['currency_id'] == $currency['id']) ? 'selected' : '' ?>><?= $currency['name'] ?></option>
                                        <?php } ?>
                                      </select>
                                  </td>
                                  <td style="text-align:center;">
                                      <input
                                              type="text"
                                              name="currency_rate[<?= $i ?>]"
                                              value="<?= number_format($row['currency_rate'], 4) ?>"
                                              style="width:100%; text-align:center;"/>
                                  </td>
                                  <td style="text-align:center;"><input name="isgroup[<?= $i ?>]" type="checkbox"/></td>
 */ ?>
                                  <td style="text-align:center;">
                                      <ul class="cm-tools-list tools-list">
                                          <li>
                                              <a href="/admin/<?= $vars['action'] ?>/delete/<?= $row['id'] . $vars['path'] ?>"
                                                 class="cm-confirm">Удалить</a></li>
                                      </ul>
                                  </td>
                              </tr>
                          <? } ?>
                        </table>
                    </div>
                </div>
                <div class="buttons-container buttons-bg">
                    <div class="cm-buttons-placeholder">
                        <div class="cm-buttons-floating">
                            <span class="submit-button cm-button-main">
                                <input type="submit" value="Сохранить" name="update" class="">
                            </span>
                            <span class="submit-button cm-button-main cm-confirm cm-process-items">
                                <input type="submit" value="Удалить выбранные" name="delete" class="cm-process-items">
                            </span>
                        </div>
                    </div>
                    <div class="cm-buttons-floating hidden"></div>
                </div>
                <input type="hidden" value="meta" id="action"/>
                <input type="hidden" value="redirects" id="action2"/>
            </form>
        </div>
    </div>
</div>
</div>