.w-100 {
    width: 100% !important;
    max-width: 100% !important;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.d-block{
    display: block;
}

.list-group-item a span {
    text-transform: capitalize;
}


@media (max-width: 580px) {
    /*.row{*/
    /*flex-direction: column;*/
    /*}*/
}
@media (max-width: 768px) {
    #seo_div table {
        width: 100% !important;
    }
    .row{
        justify-content: center;
    }

    .product-col {
        padding: 0;
    }

    .description ul {
        padding: 0 !important;
    }
}