.section-10 {
    padding: 10px 0;
}

.section-15 {
    padding: 15px 0;
}

.section-20 {
    padding: 20px 0;
}

.section-25 {
    padding: 25px 0;
}

.section-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-40 {
    padding: 40px 0;
}

.section-50 {
    padding: 50px 0;
}

.section-60 {
    padding: 60px 0;
}

.section-100 {
    padding: 100px 0;
}

.m-10 {
    margin: 10px;
}
.m-l-0{
    margin-left: 0;
}

.m-l-5 {
    margin-left: 5px;
}

.m-r-5 {
    margin-right: 5px;
}

.p-l-0 {
    padding-left: 0 !important;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-15 {
    margin-left: 15px;
}
.margin--auto{
    margin-right: auto;
    margin-left: auto;
}

.m-t-5 {
    margin-right: 5px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-20 {
    margin-bottom: 20px;
}


.m-b-40 {
    margin-bottom: 40px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.transition-3 {
    transition: 0.3s;
}

.font-size-48 {
    font-size: 48px;
}

@media (max-width: 768px) {
    .m-t-sm-15{
        margin-top: 15px ;
    }
    .sm-m-10 {
        margin: 10px;
    }

    .sm-m-t-30 {
        margin-top: 30px;
    }

    .sm-p-b-60 {
        padding-bottom: 60px;
    }
}
@media (max-width: 576px) {
    .m-t-xs-15{
        margin-top: 15px ;
    }
}

@media (max-width: 480px) {
    .xs-m-t-30 {
        margin-top: 30px;
    }
}