/* Large Devices Styles Starts */

@media (min-width: 1200px) {

/* Tooltip Styles Starts */
	
	.header-links .tooltip{
		display:none !important;
	}
	
/* Main Menu Styles Starts */	
	
	#main-menu .navbar-collapse.collapse {
		display:inline-block !important;
	}
	.container {
		width: 100%;
		max-width: 1320px;
		box-sizing: border-box;
	}
	section.banner img{
		width: 100%;
	}
	
}

/* Medium Devices Styles Starts */

@media (min-width: 992px) and (max-width: 1199px) {

/* Tooltip Styles Starts */
	
	.header-links .tooltip{
		display:none !important;
	}

/* Cart Style Starts */	

	#cart .btn{
	}
		
/* Main Menu Styles Starts */	
	
	#main-menu .navbar-collapse.collapse {
		display:inline-block !important;
	}		
		
/* Products Box Styles */

	.product-col.list .image{
		padding:20px 30px 10px 0;
	}
	.product-col .btn-cart{
		margin-top:5px;
	}
			
/* Genric Styles Starts */

	.img-center-md{
		margin-left:auto;
		margin-right:auto;
	}

}
@media (min-width: 992px) {
	.product-col.list .image {
		max-width: 210px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

/* Main Menu Styles Starts */	

	#main-menu .navbar-nav > li a{
		font-size:16px;
	}
	
/* Products Box Styles */

	.product-col.list .image{
		max-width: 210px;
		padding:20px 30px 10px 0;
	}	
	
/* Pagination Styles Starts */

	.pagination{
		margin-bottom:15px; 
	}
	.results{	
		padding-top:5px;
	}
			
/* Genric Styles Starts */

	.img-center-sm{
		margin-left:auto;
		margin-right:auto;
	}
	
}
@media (max-width: 991px) {
	.reverse-flex-xs {
		flex-direction: column-reverse;
	}

	.sidebar_product, .catalog-list-xs {
		display: none;
	}
	.catalog-title-xs::before {
		content: "\f0c9";
		font: normal normal normal 14px/1 FontAwesome;
		position: absolute;
		right: 15px;
		top: 17px;
		color: #fff;
	}
	.catalog-title-xs:hover::before{
		color: #333;
	}
	.navbar-header{
		border-radius: 0;
		padding: 0;
	}
	#main-menu .menu-text {
		text-align: left;
		position: relative;
		padding: 12px 30px;
	}
	#main-menu .menu-text button.navbar-toggle{
		display: block;
		position: absolute;
		margin: 0;
		top: 50%;
		left: auto;
		right: 0;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
	.navbar-toggle{
		padding: 13px 15px;
	}
	#main-menu .navbar-nav > li:nth-child(n+1) a {
		border-radius: 0;
	}
	#main-menu .navbar-collapse.collapse{
		display: none !important;
	}
	#main-menu .navbar-collapse.collapse.in{
		display: block !important;
	}
	#main-menu .navbar-nav > li.dropdown > a::before{
		display: none;
	}
	#main-menu .navbar-nav > li.dropdown .has-childs{
		display: block;
	}
	#main-menu .navbar-nav > li.dropdown .has-childs.active::before{
		content: '\f106';
	}
	#main-menu .dropdown-menu{
		width: 100%;
		position: static;
		top: 0;
		left: 0;
	}
	#main-menu .dropdown .dropdown-menu{
		display: none;
	}
	#main-menu .dropdown .has-childs.active + .dropdown-menu{
		display: block;
	}
	#main-menu .dropdown-menu > ul > li:nth-child(n+1) {
		border-top: 1px solid #dddddd;
	}
	#main-menu .dropdown-menu > ul > li:nth-child(n+1) > a{
		border-radius: 0;
	}
	#main-menu .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-nav {
		margin: 5px 0;
	}
	.burger-top-menu + div{
		display: inline-block;
		float: right;
		margin: 0;
	}
	.main-heading,
	.main-title{
		margin-top: 20px;
	}
	.side-heading.catalog-title-xs{
		border-radius: 0;
		cursor: pointer;
	}
	.header-email {
		text-align: left;
	}
}

/* Extra Small Devices Styles Starts */

@media (max-width: 767px) {
	#add-comment-form .g-recaptcha{
		margin: 0 -15px;
	}
	#add-comment-form .g-recaptcha > div{
		transform: scale(0.75);
	}
	.shopping-cart-table .img-thumbnail{
		height: auto;
	}

	footer .copyright > .container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
    .news-main-image{
        display: block;
        float: none;
        margin: 0 auto 20px auto ;
    }

	/* Responsive Image Styles Starts */

	.col3-banners .img-responsive, 
	.col2-banners .img-responsive, 
	.product-col .img-responsive{
		margin:0 auto;
	}
	#logo img.img-responsive{
		margin-top: 50px;
		margin-bottom: 10px;
	}
	.main-header{
		padding-top:0;
	}
	
	/* Currency & Languages Drop Down Styles Starts */

	.header-top .btn-link{
		padding:12px 15px;
	}
	.header-top .btn-group + .btn-group .btn-link{
		margin-left:-9px;
	}

	/* Header Links Styles Starts */

	.header-links ul.pull-left{
		float:none !important;
		text-align:center;
		margin:10px 0;
	}
	.header-links li a{
		padding:10px 3px 0;
	}

	/* Currency & Languages Drop Down Styles Starts */

	.header-top .pull-right{
		float:none !important;
		text-align:center;
	}
	.header-top .btn-group{
		display:inline-block;
	}
	.header-top .btn-link{
		margin:10px 0 0;
	}

	/* Latest Products Styles Starts */

	.product-head, .product-col{
		text-align:center;
	}
	.product-col.list .image{
		float:none;
		padding:0;
	}
	.product-col.list{
		text-align:center;
	}
			
	/* Three Column Banner Styles Starts */

	.col3-banners{
		margin-bottom:10px;
	}
	.col3-banners li + li{
		margin-top:20px;
	}

	/* Two Column Banner Styles Starts */

	.col2-banners{
		margin-bottom:10px;
	}
	.col2-banners li + li{
		margin-top:20px;
	}
		
	/* Page Content Styles Starts */

	.page-box h3{
		margin-top:20px;
	}		
	
	/* Tabs Styles Starts */

	.tabs-panel .nav-tabs > li{
		display:block;
		float:none;
		margin-bottom:10px;
	}
	
	/* Pagination Styles Starts */

	.pagination-block{
		text-align:center;
	}
		.pagination{
			margin-bottom:10px; 
		}
	.results{
		text-align:center;
		padding-top:0;
		margin-bottom:15px;
	}	

	/* Footer Links Styles Starts */
	
	.footer-links, 
	.footer-links .last{
		text-align:center;
	}
	.footer-links .col-xs-12{
		margin-bottom:20px;
	}
	.footer-links h5{
		margin:10px 0;
	}

	/* Copyright Styles Starts */
	
	.copyright{
	}
	.copyright p.pull-left, .copyright ul{
		text-align:center;
		float:none !important;
	}
	.copyright ul{
		margin-top:15px;
	}
	.copyright li{
		padding:2px;
	}
			
	/* Genric Styles Starts */

	.img-center-xs{
		margin-left:auto;
		margin-right:auto;
	}
	.header-top{
		min-height: 6px;
	}
	.header-top .header-links ul.navbar-nav.pull-left{
		display: none;
	}
    .header-account .header-links.active{
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .header-search #search.active{
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
	.main-header > .container{
		width: 100%;
		box-sizing: border-box;
	}
	.header-contacts + div.burger-top-menu{
		display: inline-block;
		float: left;
		margin: 10px 0 0;
	}
	.burger-top-menu{
		display: inline-block;
		padding: 3px 0;
		float: right;
		cursor: pointer;
	}
	.burger-top-menu::after{
		content: '';
		display: block;
		clear: both;
	}
	.burger-line{
		height: 4px;
		background: #0072B0;
		margin-bottom: 6px;
	}
	.burger-line-1{
		width: 21px;
	}
	.burger-line-2{
		width: 27px;
	}
	.burger-line-3{
		width: 32px;
	}
	.burger-lines{
		display: inline-block;
		float: right;
		padding: 15px 20px 0 0;
		z-index: 110;
	}
	.burger-line + .burger-line{
		margin-top: 5px;
	}
	.burger-top-menu + div{
		display: inline-block;
		float: right;
		margin: 0;
	}
	.burger-text{
		display: inline-block;
		float: left;
		margin-left: 12px;
		font-size: 19px;
		line-height: 19px;
		color: #3A3A3A;
		text-transform: uppercase;
	}
	.header-top .header-links ul.navbar-nav.mobile-active{
		display: block;
		width: 240px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}
	.header-top .header-links ul.navbar-nav.mobile-active li{
		width: 100%;
		display: block;
		border-top: 1px solid #d5d5d5;
	}
	.header-top .header-links ul.navbar-nav.mobile-active li:nth-child(1){
		border: none;
	}
	.header-top .header-links ul.navbar-nav.mobile-active li a{
		width: 100%;
		display: block;
		padding: 5px 20px;
		background: #f5f5f5;
		font-size: 14px;
		line-height: 24px;
		color: #424242;
		text-align: left;
	}
	.header-top .header-links ul.navbar-nav.mobile-active li a:hover{
		background: #3f97b0;
		color: #fff;
		text-decoration: none;
	}
	.header-top > .row > .container > .row > div{
		position: static;
	}
	.btn-cart-quick{
		display: block;
		width: auto;
		margin: 10px auto 0;
	}
	.product-col.list .image img{
		display: block;
		width: auto;
		height: auto;
		margin: 0 auto;
	}
	.product-col.list .description{
		padding: 5px 0;
		text-align: center;
	}
}
@media (max-width: 400px) {
	.product-full{
		width: 100%;
	}
    .header-account .header-links.active {
        left: auto;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .header-search #search.active{
        left: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}