<!DOCTYPE html>
<html lang="<?= $_SESSION['key_lang'] ?>" prefix="og: https://ogp.me/ns#">
<?= $vars['head'] ?>
<body>

<main class="main main-container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 navbar-container bg-light">
                <div class="row">
                    <?= $vars['header'] ?>
                </div>
                <div class="row">
                    <div class="menu_footer">
                    </div>
                </div>
            </div>
        <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 right-page-side">
            <div class="row">
                <?= isset($vars['info-message']) ? showInfoMessage($vars['info-message'], true) : '' ?>
                <div class="content top-line">
                    <?= $vars['content'] ?>
                    <?= $vars['footer'] ?>
                </div>
            </div>
        </div>
    </div>
</main>
<?= $vars['modals'] ?? '' ?>
<? include $_SERVER['DOCUMENT_ROOT'] . '/tpl/default/forms/contact_consult.phtml' ?>
<? include $_SERVER['DOCUMENT_ROOT'] . '/tpl/default/forms/cooperation_modal.phtml' ?>
<? include $_SERVER['DOCUMENT_ROOT'] . '/tpl/default/forms/send_apply.phtml' ?>
<? include $_SERVER['DOCUMENT_ROOT'] . '/tpl/default/forms/fast_form.phtml' ?>
<?= $vars['scripts'] ?>

<div class="widget-preview widget_cooperation">
    <div class="messenger">
        <div class="messenger__switch cooperation_switch-toggle" style="background-color: #d39d31;">
            <div id="messenger__static" class="messenger__static">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="messenger__static-icon" width="20" height="20" viewBox="0 0 20 20" version="1.1">
                    <g id="Canvas" transform="translate(-825 -308)">
                        <g id="Vector">
                            <use xlink:href="#path0_fill" transform="translate(825 308)" fill="#FFFFFF"></use>
                        </g>
                    </g>
                    <defs>
                        <path id="path0_fill" d="M 19 4L 17 4L 17 13L 4 13L 4 15C 4 15.55 4.45 16 5 16L 16 16L 20 20L 20 5C 20 4.45 19.55 4 19 4ZM 15 10L 15 1C 15 0.45 14.55 0 14 0L 1 0C 0.45 0 0 0.45 0 1L 0 15L 4 11L 14 11C 14.55 11 15 10.55 15 10Z"></path>
                    </defs>
                </svg>
                <div class="messenger__static-caption" style="color: #FFFFFF;">Сотрудничество</div>
            </div>
            <div id="messenger__close" class="messenger__close">
                <svg class="messenger__close-icon">
                    <g id="Canvas" transform="translate(-829 -1155)">
                        <g id="Shape">
                            <use xlink:href="#path1_fill" transform="matrix(0.707107 0.707107 -0.707107 0.707107 835 1151.52)" fill="#FFFFFF"></use>
                        </g>
                    </g>
                    <defs>
                        <path id="path1_fill" fill-rule="evenodd" d="M 14 6L 8 6L 8 0L 6 0L 6 6L 0 6L 0 8L 6 8L 6 14L 8 14L 8 8L 14 8L 14 6Z"></path>
                    </defs>
                </svg>
            </div>
            <div class="messenger__pulsation"></div>
            <div class="messenger__pulsation"></div>
        </div>
    </div>
</div>

<div class="widget-preview">
    <div class="messenger">
        <div id="messenger__block" class="messenger__block">
            <a rel="nofollow" target="_blank" href="https://googl.run/WlF9v" onclick=" gtag('event','click',{'event_category':'viber','event_action':'click'});" >
                <img class="messenger-icon" src="/tpl/default/img/viber_bot.svg"> <div class="messenger__btn-caption"><?= $vars['translate']['viber_bot']?></div>
            </a>
            <a rel="nofollow" target="_blank" href="https://googl.run/DtFcK" onclick="gtag('event','click',{'event_category':'telegram','event_action':'click'});return true;" >
                <img class="messenger-icon" src="/tpl/default/img/tg_bot.svg"><div class="messenger__btn-caption"><?= $vars['translate']['telegram_bot']?></div>
            </a>

            <?php if( $vars['settings']['viber'] ): ?>
            <a rel="nofollow" target="_blank" href="" onclick="redirectViberChat();" class="messenger__btn messenger__btn_viber">
                <div class="messenger__btn-caption">Менеджер в Viber</div>
            </a>
            <?php endif; ?>
            <?php if( $vars['settings']['telegram'] ): ?>
            <a rel="nofollow" target="_blank" href="tg://resolve?domain=<?= $vars['settings']['telegram']?>" onclick="gtag('event','click',{'event_category':'telegram','event_action':'click'});return true;" class="messenger__btn messenger__btn_telegram">
                <div class="messenger__btn-caption">Менеджер в Telegram</div>
            </a>
            <?php endif; ?>
            <div class="messenger_owner">
                <p>Перейти <a href="/contacts">в контакты</a></p>
            </div>
        </div>
        <div class="messenger__switch messenger_switch-toggle" style="background-color: #d39d31;">
            <div id="messenger__static" class="messenger__static">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="messenger__static-icon" width="20" height="20" viewBox="0 0 20 20" version="1.1">
                    <g id="Canvas" transform="translate(-825 -308)">
                        <g id="Vector">
                            <use xlink:href="#path0_fill" transform="translate(825 308)" fill="#FFFFFF"></use>
                        </g>
                    </g>
                    <defs>
                        <path id="path0_fill" d="M 19 4L 17 4L 17 13L 4 13L 4 15C 4 15.55 4.45 16 5 16L 16 16L 20 20L 20 5C 20 4.45 19.55 4 19 4ZM 15 10L 15 1C 15 0.45 14.55 0 14 0L 1 0C 0.45 0 0 0.45 0 1L 0 15L 4 11L 14 11C 14.55 11 15 10.55 15 10Z"></path>
                    </defs>
                </svg>
                <div class="messenger__static-caption" style="color: #FFFFFF;">Задать вопрос?</div>
            </div>
            <div id="messenger__close" class="messenger__close">
                <svg class="messenger__close-icon">
                    <g id="Canvas" transform="translate(-829 -1155)">
                        <g id="Shape">
                            <use xlink:href="#path1_fill" transform="matrix(0.707107 0.707107 -0.707107 0.707107 835 1151.52)" fill="#FFFFFF"></use>
                        </g>
                    </g>
                    <defs>
                        <path id="path1_fill" fill-rule="evenodd" d="M 14 6L 8 6L 8 0L 6 0L 6 6L 0 6L 0 8L 6 8L 6 14L 8 14L 8 8L 14 8L 14 6Z"></path>
                    </defs>
                </svg>
            </div>
            <div class="messenger__pulsation"></div>
            <div class="messenger__pulsation"></div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="/tpl/admin/js/jquery.cookie.js"></script>
<script src="/tpl/default/js/show_subscribe_modal.js"></script>
<script>
    $(function () {
        $('[data-fancybox]').fancybox();
    });
</script>

<script>
    function redirectViberChat(){
        let isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
        if(isSafari){
            isSafari = '+';
            gtag('event','click',{'event_category':'viber','event_action':'click'});
            window.location.href = "viber://chat?number=" + isSafari + <?= $vars['settings']['viber']?>;
            //Do something

        } else {
            isSafari = '';
            gtag('event','click',{'event_category':'viber','event_action':'click'});
            window.location.href = "viber://chat?number=" + isSafari + <?= $vars['settings']['viber']?>;
            // Do something
        }
    }
</script>

<!-- Binotel script start -->

<script type="text/javascript">
    (function(d, w, s) {
        var widgetHash = 'zyehnsmwgfoc5001lg1d', ctw = d.createElement(s); ctw.type = 'text/javascript'; ctw.async = true;
        ctw.src = '//widgets.binotel.com/calltracking/widgets/'+ widgetHash +'.js';
        var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(ctw, sn);
    })(document, window, 'script');
</script>

<script type="text/javascript">
    (function(d, w, s) {
        var widgetHash = 'edof41jb35wzmnirouss', gcw = d.createElement(s); gcw.type = 'text/javascript'; gcw.async = true;
        gcw.src = '//widgets.binotel.com/getcall/widgets/'+ widgetHash +'.js';
        var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(gcw, sn);
    })(document, window, 'script');
</script>

<!-- Binotel script end -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2DGD44"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>
</html>