<?
$site_url="https://{$_SERVER['HTTP_HOST']}/";
echo'<?xml version="1.0" encoding="utf-8"?>';
?>
<!DOCTYPE yml_catalog SYSTEM "shops.dtd">
<yml_catalog date="<?=date('Y-m-d H:i:s')?>">
    <shop>
        <name><?=$vars['sitename']?></name>
        <company><?=$vars['sitename']?></company>
        <url><?=$site_url?></url>
        <currencies>
            <currency id="UAH" rate="1"/>
        </currencies>
        <categories>
            <?
            foreach($vars['catalog'] as $row)
            {
                if($row['sub']==0)
                {
                    $descr_cat = String::sanitize($row["name"], true);
                    echo'<category id="'.$row["id"].'">'.$descr_cat.'</category>';
                    foreach($vars['catalog'] as $row2)
                    {
                        if($row['id']==$row2['sub'])
                        {
                            $descr_cat = String::sanitize($row2["name"], true);
                            echo '<category id="'.$row2["id"].'" parentId="'.$row["id"].'">'.$descr_cat.'</category>';

                            foreach($vars['catalog'] as $row3)
                            {
                                if($row2['id']==$row3['sub'])
                                {
                                    $descr_cat = String::sanitize($row3["name"], true);
                                    echo'<category id="'.$row3["id"].'" parentId="'.$row2["id"].'">'.$descr_cat.'</category>';
                                }
                            }
                        }
                    }
                }
                //catalog_market($id_cat);
            }
            ?>
        </categories>
        <offers>
            <?
            $n=0;
            $i=1;
            $parents_params = $vars['parents_params'];
            foreach($vars['product'] as $row)
            {
                $url = $site_url."product/".$row['url'];
                $cat_id=getRootCat($row["catalog_id"], $vars['catalog']);
                $img= $vars['product_photo'];

                if(file_exists($row['photo']))$img=$site_url.$row['photo'];
                if(file_exists($vars['AddPhoto'][$n][0]['photo']))$img_2 = $site_url.$vars['AddPhoto'][$n][0]['photo'];
                if(file_exists($vars['AddPhoto'][$n][1]['photo']))$img_3 = $site_url.$vars['AddPhoto'][$n][1]['photo'];
                if(file_exists($vars['AddPhoto'][$n][2]['photo']))$img_4 = $site_url.$vars['AddPhoto'][$n][2]['photo'];



                $name = String::sanitize($row["name"], true);
                $name = str_replace('&','&amp;', $name);
                $name = str_replace('"','&quot;', $name);
                $name = str_replace("'",'&apos;', $name);
                $name = str_replace('>','&gt;', $name);
                $name = str_replace('<','&lt;', $name);

                $text = String::sanitize($row["body"], true);
                $text = strip_tags(htmlspecialchars_decode($row["body"]));
                $text = str_replace('&','&amp;', $text);
                $text = str_replace('"','&quot;', $text);
                $text = str_replace("'",'&apos;', $text);
                $text = str_replace('>','&gt;', $text);
                $text = str_replace('<','&lt;', $text);
                $price=Numeric::viewPrice($row['price'], $row['discount']);

                $params = $row["params"];

                if($cat_id!=''&&$row["price"]!=''&&$name!=''){ ?>
                    <offer id="<?=$row["id"];?>" bid="<?=$i;?>" available="true">
                        <url><?=$url;?></url>
                        <price><?=($price['base_price'] + $vars['price_retail']['value'])*$_SESSION['currency']['rate'];?></price>
                        <prices>
                            <price>
                                <value><?=$price['cur_price'];?></value>
                                <quantity>3</quantity>
                            </price>
                        </prices>
                        <currencyId>UAH</currencyId>
                        <categoryId><?=$cat_id;?></categoryId>
                        <picture><?=$img;?></picture>
                        <picture><?=$img_2;?></picture>
                        <picture><?=$img_3;?></picture>
                        <picture><?=$img_4;?></picture>
                        <delivery>true</delivery>
                        <pickup>true</pickup>
                        <name><?=$name;?></name>
                        <description><?=$text;?></description>
                        <?php if( !empty( $params ) ): ?>
                            <?php foreach ( $params as $param ): ?>
                                <?php $fk = array_search( $param['sub'], array_column($parents_params, 'id') ); ?>
                                <?php if( $fk !== false ): ?>
                                    <param name="<?=$parents_params[$fk]['name'];?>"><?=$param['name'];?></param>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </offer>
                    <?php
                    $i++;
                    $n++;
                }
            }
            ?>
        </offers>
    </shop>
</yml_catalog>