<section id="cabinet">
    <div class="container cabinet-nav">
        <div class="panel panel-smart">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <?= $vars['translate']['cabinet'] ?>
                </h1>
            </div>
            <div class="panel-body">
                <div class="navigation">
                    <!-- Cabinet Navigation -->
                    <ul class="nav nav-tabs">
                        <? foreach ($vars['nav-tabs'] as $key => $item) { ?>
                            <li class="<?= $key == $vars['show-tab'] ? 'active' : '' ?>">
                                <a class="cabinet-nav-link"
                                   data-toggle="tab" href="#tab_<?= $key ?>">
                                    <?= $item['name'] ?>
                                </a>
                            </li>
                        <? } ?>
                    </ul>
                </div>
                <!-- Cabinet Tabs -->
                <div class="tab-content">
                    <? foreach ($vars['nav-tabs'] as $key => $item) { ?>
                        <div id="tab_<?= $key ?>" title="<?= $item['name'] ?>"
                             class="tab-pane fade <?= $key == $vars['show-tab'] ? 'in active' : '' ?> ">
                            <?= htmlspecialchars_decode($item['body']) ?>
                        </div>
                    <? } ?>
                </div>
            </div>
        </div>
    </div>
</section>