<?= showInfoMessage($vars['message']['message']) ?>
<section class="login-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h1 class="panel-title"><?= $vars['translate']['auth'] ?></h1>
                    </div>
                    <div class="panel-body">
                        <p> <?= $vars['translate']['enter_text'] ?> </p>
                        <form id="login-form" class="form-inline" method="POST" role="form">
                            <div class="form-group">
                                <input type="email" placeholder="<?= $vars['translate']['email'] ?>"
                                       maxlength="64" minlength="7" value="<?= $_POST['email'] ?>"
                                       required name="email" title="E-mail" class="form-control" tabindex="1"/>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="<?= $vars['translate']['password'] ?>"
                                       maxlength="32" minlength="7" value="<?= $_POST['password'] ?>"
                                       required name="password" title="<?= $vars['translate']['password'] ?>"
                                       tabindex="2" class="form-control"/>
                            </div>
                            <button type="submit" name="sign_up_action" value="DOTA2" class="btn btn-main">
                                <?= $vars['translate']['enter'] ?>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <?= $vars['translate']['create_acc'] ?>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p> <?= $vars['translate']['new_acc_info'] ?> </p>
                        <a href="<?= Links::getLink('/users/registration') ?>" class="btn btn-main">
                            <?= $vars['translate']['sign_up_action'] ?>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>