<?= showInfoMessage($vars['message']['message']) ?>
<section id="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-md-5">
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                          <?= $vars['translate']['sign_up'] ?>
                        </h1>
                    </div>
                    <div class="panel-body">
                        <form method="post" class="sing-up-form"
                              onsubmit="gtag('event','send',{'event_category':'reg','event_action':'send'});return true;">
                            <div class="form-group required-input">
                                <input type="text" placeholder="<?= $vars['translate']['name'] ?>"
                                       maxlength="64" minlength="2" value="<?= $_POST['name'] ?>"
                                       class="form-control" required name="name"
                                       title="<?= $vars['translate']['name'] ?>" tabindex="1"/>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="<?= $vars['translate']['sname'] ?>"
                                       maxlength="64" minlength="2" value="<?= $_POST['sname'] ?>"
                                       class="form-control" name="surname" required
                                       title="<?= $vars['translate']['sname'] ?>" tabindex="2"/>
                            </div>
                            <div class="form-group required-input">
                                <input type="text" data-type="phone" value="<?= $_POST['phone'] ?>"
                                       placeholder="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX"
                                       class="form-control" required name="phone"
                                       title="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX" tabindex="3"/>
                            </div>
                            <div class="form-group  required-input">
                                <input type="email" placeholder="<?= $vars['translate']['email'] ?>"
                                       maxlength="64" minlength="7" value="<?= $_POST['email'] ?>"
                                       class="form-control" required name="email"
                                       title="<?= $vars['translate']['email'] ?>" tabindex="4"/>
                            </div>
                            <div class="form-group  required-input">
                                <input type="password" placeholder="<?= $vars['translate']['password'] ?>"
                                       maxlength="32" minlength="7" value="<?= $_POST['password'] ?>"
                                       required name="password" class="form-control"
                                       title="<?= $vars['translate']['password'] ?>" tabindex="5"/>
                            </div>
                            <div class="form-group  required-input">
                                <input type="password" placeholder="<?= $vars['translate']['password_repeat'] ?>"
                                       maxlength="32" minlength="7" value="<?= $_POST['password_repeat'] ?>"
                                       class="form-control" required name="password_repeat"
                                       title="<?= $vars['translate']['password_repeat'] ?>" tabindex="6"/>
                            </div>
                            <div class="form-group d-flex justify-content-center align-items-center">
                                <input title="TERMS" type="checkbox" name="terms" required checked/>
                                <span class="m-l-15">
                                  <?= $vars['translate']['terms_agreed'] ?>
                                    <a href="<?= Links::getLink('/terms-of-use') ?>"
                                       target="_blank"><?= $vars['translate']['terms_text'] ?></a>
                                </span>
                            </div>
                            <div class="form-group d-flex justify-content-center align-items-center">
                                <div class="g-recaptcha"></div>
                            </div>
                            <div class="text-uppercase clearfix">
                                <button type="submit" name="sign_up_action" value="LOL"
                                        class="btn btn-main centered">
                                  <?= $vars['translate']['sign_up_action'] ?>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>