<div class="cm-notification-container"></div>
<?= $vars['message'] ?>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Редактирование пользователя:&nbsp;<?= $vars['edit']['name'] ?></h1>
	</div>
	<div class="extra-tools">

		<a class="tool-link" href="/admin/<?= $vars['action'] ?>/add">Добавить нового пользователя</a>
		<a class="tool-link cm-confirm" href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">Удалить
			этого пользователя</a>
	</div>
	<div class="mainbox-body">
		<div class="tabs cm-j-tabs cm-track">
			<ul>
				<li id="basic" class="cm-js cm-active"><a>Личные данные</a></li>
				<li id="params" class="cm-js"><a>Параметры</a></li>
				<li id="orders_page" class="cm-js"><a>Заказы</a></li>
				<li id="inc_orders_page" class="cm-js"><a>Незавершенные заказы</a></li>
			</ul>
		</div>
		<div class="cm-tabs-content">
			<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""
				  enctype="multipart/form-data">
				<input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>
				<!--Basic start-->
				<div id="content_basic" class="cm-tabs">
					<fieldset>
						<h2 class="subheader"> Личные данные </h2>

						<div class="form-field">
							<label for="page">Кол-во<br>выполненых заказов:</label>
							<?= $vars['sum']['cnt'] ?>
						</div>
						<div class="form-field">
							<label for="page">Сумма<br>выполненых заказов:</label>
							<?= $vars['sum']['total'] ?>
						</div>
						<div class="form-field">
							<label for="page">Имя:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['name'] ?>" size="32"
								   name="name"/>
						</div>
						<div class="form-field">
							<label for="page">Фамилия:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['surname'] ?>" size="32"
								   name="surname"/>
						</div>
						<div class="form-field">
							<label for="page">Отчество:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['patronymic'] ?>" size="32"
								   name="patronymic"/>
						</div>
						<div class="form-field">
							<label for="page">Телефон:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['phone'] ?>" size="32"
								   name="phone"/>
						</div>
						<div class="form-field">
							<label for="page">E-mail:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['email'] ?>" size="32"
								   name="email"/>
						</div>
						<div class="form-field">
							<label for="page">Город:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['city'] ?>" size="32"
								   name="city"/>
						</div>
						<div class="form-field">
							<label for="page">Адрес:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['address'] ?>" size="32"
								   name="address"/>
						</div>
						<div class="form-field">
							<label for="page">Почтовый индекс:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['post_index'] ?>" size="32"
								   name="post_index"/>
						</div>
<!--						<div class="form-field">-->
<!--							<label for="page">Skype:</label>-->
<!--							<input type="text" class="input-text" value="--><?//= $vars['edit']['skype'] ?><!--" size="32"-->
<!--								   name="skype" autocomplete="off"/>-->
<!--						</div>-->
						<div class="form-field">
							<label for="page">Промо код:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['code_discount'] ?>"
								   size="32" name="code_discount"/>
						</div>
						<div class="form-field">
							<label for="delivery_id">Способ доставки:</label>
							<select name="delivery_id" id="delivery_id" style="width: 230px;">
								<option value="0">Способ доставки не выбран</option>
								<?
								foreach ($vars['delivery'] as $row) {
									echo '<option value="' . $row['id'] . '"';
									if ($row['id'] == $vars['edit']['delivery_id']) echo ' selected';
									echo '>' . $row['name'] . '</option>';
								}
								?>
							</select>
						</div>
						<div class="form-field">
							<label for="payment_id">Способ оплаты:</label>
							<select name="payment_id" id="payment_id" style="width: 230px;">
								<option value="0">Способ оплаты не выбран</option>
								<?php foreach ($vars['payment'] as $row) {
									echo '<option value="' . $row['id'] . '"';
									if ($row['id'] == $vars['edit']['payment_id']) echo ' selected';
									echo '>' . $row['name'] . '</option>';
								} ?>
							</select>
						</div>
						<div class="form-field">
							<label for="page">Рассылка акций:</label>
							<input type="checkbox" class="input-text"
								   value="1"<? if ($vars['edit']['mailer'] == 1) echo ' checked="checked"'; ?> size="32"
								   name="mailer"/>
						</div>
						<div class="form-field">
							<label for="page_page_title">Доп. информация:</label>
							<textarea class="input-textarea" rows="10" cols="55"
									  name="info"><?= $vars['edit']['info'] ?></textarea>
						</div>
						<fieldset>
							<h2 class="subheader">Работа с клиентом</h2>

							<div class="form-field">
								<label for="page">Новое событие:</label>
								<textarea class="input-textarea" rows="10" cols="55" id="event_text"></textarea>
							<span class="submit-button cm-button-main">
								<input type="button" value="Добавить" id="add_event"/>
							</span>
							</div>
							<div class="clear"><br/></div>
							<div id="event_list">
								<? if (isset($vars['events'])) echo $vars['events']; ?>
							</div>
						</fieldset>
					</fieldset>
				</div>
				<!--Basic end-->

				<!--text_page start-->
				<div id="content_params" class="cm-tabs hidden">
					<fieldset>
						<h2 class="subheader"> Информация об учетной записи пользователя </h2>

						<div class="form-field">
							<label for="status_id">Статус пользователя:</label>
							<select name="status_id" id="status_id" style="width:150px;">
								<?
									foreach ($vars['status'] as $row) {
										echo '<option value="' . $row['id'] . '"';
										if ($row['id'] == $vars['edit']['status_id']) echo ' selected';
										echo '>' . $row['name'] . '</option>';
									}
								?>
                                   </select>
                                  <input type="checkbox" name="notice_user">
                                  <span>Уведомить пользователя</span>
                              </div>
                             <div class="form-field">
                                 <label for="input-old_pass">Новый пароль:</label>
                                 <input type="password" class="input-text" value="" size="32" name="password"
                                        id="input-old_pass"/>
                                 <button id="generate_new_pass">Сгенерировать новый пароль</button>
                             </div>
                             <div class="form-field">
                                 <label for="input-new_pass">Повтор нового пароля:</label>
                                 <input type="password" class="input-text" value="" size="32" name="password2"
                                        id="input-new_pass"/>
                             </div>
						<div class="form-field">
							<label for="page">Скидка:</label>
							<input type="text" class="input-text" value="<?= $vars['edit']['discount'] ?>" size="32"
								   name="discount"/>
						</div>
						<div class="form-field">
							<label>Состояние:</label>

							<div class="select-field">
								<input type="radio" class="radio" value="1" id="page_data_0_a"
									   name="active" <? if ($vars['edit']['active'] == 1) echo ' checked="checked"'; ?>>
								<label for="page_data_0_a">Вкл.</label>
								<input type="radio" class="radio" value="0" id="page_data_0_d"
									   name="active" <? if ($vars['edit']['active'] == 0) echo ' checked="checked"'; ?>>
								<label for="page_data_0_d">Выкл.</label>
							</div>
						</div>
					</fieldset>
				</div>
				<!--Basic end-->

				<!--text_page start-->
				<div id="content_orders_page" class="cm-tabs hidden">
					<?
						echo $vars['orders'];
					?>
				</div>
				<!--text_page start-->
				<div id="content_inc_orders_page" class="cm-tabs hidden">
					<?
						echo $vars['incomplete'];
					?>
				</div>

				<div class="buttons-container cm-toggle-button buttons-bg">
					<div class="cm-buttons-floating">
						<div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Сохранить" name="update"/>
							</span>&nbsp;
							<span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Сохранить и закрыть" name="update_close"
									   class="cm-save-and-close"/>
							</span> &nbsp;или&nbsp;&nbsp;
							<a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
						</div>
					</div>
				</div>

				<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
			</form>
		</div>
	</div>
</div>