<div class="cm-notification-container"><?= $vars['message'] ?></div>
<div>
    <div class="extra-tools float-right">
      <? if (!empty($vars['content_url']['url_position'])) { ?>
          <a class="tool-link" target="_blank" href="<?= $vars['content_url']['url_position'] ?>">
              Перейти на страницу комментария
          </a>
      <? } ?>
        <a class="tool-link cm-confirm"
           href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">
            Удалить комментарий
        </a>
    </div>
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Редактирование комментариев:</h1>
    </div>
    <div class="mainbox-body">
        <div class="cm-tabs-content">
            <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post"
                  enctype="multipart/form-data">
                <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>
                <div id="content_basic">
                    <fieldset>
                        <h2 class="subheader"> Информация </h2>

                        <div class="form-field">
                            <label class="cm-required" for="page">Автор:</label>
                            <input title="name" type="text" class="input-text-large main-input"
                                   value="<?= $vars['edit']['author'] ?>" size="55" name="name"/>
                        </div>
                        <div class="form-field">
                            <label class="cm-required" for="page">E-mail:</label>
                            <input title="mail" type="text" class="input-text-large main-input"
                                   value="<?= $vars['edit']['email'] ?>"
                                   size="55" name="email"/>
                        </div>
                        <div class="form-field">
                            <label class="cm-required" for="page">Телефон:</label>
                            <input title="phone" type="text" class="input-text-large main-input"
                                   value="<?= $vars['edit']['phone'] ?>"
                                   size="55" name="phone"/>
                        </div>
                        <div class="form-field">
                            <label for="page_meta_descr">Комментарий:</label>
                            <textarea title="text" class="input-textarea-long" rows="2" cols="55"
                                      name="text"><?= $vars['edit']['text'] ?></textarea>
                        </div>

                      <? if (!empty($vars['edit']['photo']) && file_exists($vars['edit']['photo'])) { ?>
                              <div class="position-relative">
                                  <a href='/admin/comments/edit/<?= $vars['edit']['id'] ?>/del-photo'
                                     class='cm-confirm absolute-left' data-question="фото">
                                      <img src='/images/del.png'/>
                                  </a>
                                  <img style="max-width: 100%" src='/<?= $vars['edit']['photo'] ?>'/>
                              </div>
                      <? } ?>

                      <? if (!empty($vars['edit']['video'])) { ?>
                          <div class="form-field">
                              <div class="position-relative">
                                  <iframe width="750" height="536" frameborder="0" allowfullscreen
                                          src="https://www.youtube.com/embed/<?= getYouTubeCode($vars['edit']['video']) ?>"
                                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
                                      YouTube Video
                                  </iframe>
                              </div>
                              <a href='/admin/comments/edit/<?= $vars['edit']['id'] ?>/del-video'
                                 class='cm-confirm' data-question="видео">
                                  удалить видео
                              </a>
                          </div>
                      <? } ?>

                    </fieldset>

                    <fieldset>
                        <h2 class="subheader"> Ответ на комментарий </h2>
                        <div class="form-field">
                            <label class="cm-required" for="page">Администратор:</label>
                            <input title="And NAME" type="text" class="input-text-large main-input"
                                   value="<?= $vars['edit']['author2'] == '' ? 'Администратор' : $vars['edit']['author2'] ?>"
                                   size="55" name="name2"/>
                        </div>
                        <div class="form-field">
                            <label for="page_meta_descr">Ответ:</label>
                            <textarea title="ADM_answer" class="input-textarea-long" rows="2" cols="55"
                                      name="text2"><?= $vars['edit']['text2'] ?></textarea>
                        </div>
                    </fieldset>

                    <fieldset>
                        <h2 class="subheader"> Настройки </h2>
                        <div class="form-field">
                            <label class="cm-required">Состояние:</label>
                            <div class="select-field">
                                <input type="radio" class="radio" value="1" id="page_data_0_a"
                                       name="active" <? if ($vars['edit']['active'] == 1) echo ' checked="checked"'; ?>>
                                <label for="page_data_0_a">Вкл.</label>
                                <input type="radio" class="radio" value="0" id="page_data_0_d"
                                       name="active" <? if ($vars['edit']['active'] == 0) echo ' checked="checked"'; ?>>
                                <label for="page_data_0_d">Выкл.</label>
                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="buttons-container cm-toggle-button buttons-bg">
                    <div class="cm-buttons-floating">
                        <div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Сохранить" name="update"/>
							</span>
                            <span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Сохранить и закрыть" name="update_close"
                                       class="cm-save-and-close"/>
							</span> или
                            <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
            </form>
        </div>
    </div>
</div>