<div class="form-group">
    <label class="col-sm-4 control-label">
	   <?= $vars['translate']['city'] ?>:
    </label>
    <div class="col-sm-8">
        <select title="<?= $vars['translate']['city'] ?>" class="form-control"
		  <?= !empty($vars['required']) ? 'required' : '' ?>
                name="<?= $vars['name'] ?>">
		  <? foreach ($vars['cities'] as $city) { ?>
                <option data-ref="<?= $city['ref'] ?>"
                        value="<?= $city['name'] ?>">
				<?= $city['name'] ?>
                </option>
		  <? } ?>
        </select>
    </div>
</div>