<style>
    #site-data label {
        margin-top: 20px
    }

    #site-data textarea {
        resize: none
    }

    [type="checkbox"] {
        border: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    *:focus {
        outline: none !important
    }
</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages: ["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var feedback = google.visualization.arrayToDataTable([<?=$vars['text3']?>]);
    var options_feedback = {title: 'Количество отправок формы обратной связи:'};
    var chart_feedback = new google.visualization.ColumnChart(document.getElementById('chart_div3'));
    chart_feedback.draw(feedback, options_feedback);
  }

  $(document).ready(function () {
    $(document).on('click', '#s-data-submit', function () {
      $.ajax({
        type: 'post',
        dataType: 'json',
        url: '/admin/ajax/siteConfig',
        data: $('#site-data').serialize(),
        success: function (req) {
          $('#message').append(req.message).show()
        }
      })
    })
  });
  $(document).on('click', '#add-phone', function () {
    $(this).parent('td').parent('tr').before('<tr><td><input class="form-control" data-phones="phone" value="" type="text"></td><td><input class="form-control" data-phones="fio" value="" type="text"></td><td><input class="form-control" data-phones="tg" value="" type="text"></td><td><input class="form-control" data-phones="vb" value="0" type="checkbox"></td><td><input class="form-control" data-phones="wu" value="0" type="checkbox"></td><td><input class="form-control" data-phones="sh" value="0" type="checkbox"></td><td style="text-align:center"><div class="btn btn-danger del-phone">&times;</div></td></tr>');
  });
  $(document).on('click', '#upd-phones', function () {
    var dt = '';
    $('#phones-tb>tbody>tr').each(function (iii) {
      if (iii > 0 && iii != $('#phones-tb>tbody>tr').length - 1) dt += '||';
      $(this).find('input').each(function (idd) {
        if (idd > 0) dt += ',';
        dt += $(this).data('phones') + ':' + $(this).val()
      })
    });
    $.ajax({
      type: 'post',
      data: 'phones=' + dt,
      url: '/admin/ajax/siteConfig',
      dataType: 'json',
      success: function (req) {
        $('#message').append(req.message).show()
      }
    })
  });
  $(document).on('click', '#phones-tb [type="checkbox"]', function () {
    if ($(this).val() == 1) $(this).val(0); else $(this).val(1)
  });
  $(document).on('click', '.del-phone', function () {
    if ($('.del-phone').length > 1) $(this).parent('td').parent('tr').remove()
  });

  $(document).on('click', '.sq-sort', function () {
  })

</script>
<div id="message"></div>
<div class="clear mainbox-title-container">
    <div class="hidden-xs tools-container">
        <a href="/admin/logout">Покинуть админ панель, <?= $_SESSION['admin']['login'] ?> ››</a>
    </div>
    <h1 class="mainbox-title"> Панель инструментов </h1>
</div>
<!-- main charts diagram -->
<div class="container-fluid">
    <div class="row mainbox-body">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Статистика</a>
            </li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Данные</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="col-xs-12 col-sm-8">
                    <?php if(isset($vars['total_sum'])): ?>
                        <script type="text/javascript">
                            google.load("visualization", "1", {packages:["corechart"]});
                            google.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var orders_sum = google.visualization.arrayToDataTable([<?=$vars['text']?>]);
                                var orders_count = google.visualization.arrayToDataTable([<?=$vars['text2']?>]);
                                var bascket_count = google.visualization.arrayToDataTable([<?=$vars['bascket']?>]);

                                var options_sum = { title: 'Суммы заказов:' };
                                var options_count = { title: 'Количество заказов:' };


                                var chart_sum = new google.visualization.AreaChart(document.getElementById('chart_div'));
                                var chart_count = new google.visualization.AreaChart(document.getElementById('chart_div2'));
                                var chart_bascket = new google.visualization.AreaChart(document.getElementById('chart_div4'));

                                chart_sum.draw(orders_sum, options_sum);
                                chart_count.draw(orders_count, options_count);
                                chart_bascket.draw(bascket_count, options_count);
                            }
                        </script>
                        <div class="statistics-box inventory">
                            <div id="title">
                                <h2 class="strong">Сумма заказов</h2>
                                <div class="statistics-body clear" style="padding:10px;">
                                    <form method="post">
                                        <label class="cm-required" for="page">От:</label>
                                        <input type="text" class="input-text cm-calendar hasDatepicker" value="<?=$vars['start']?>" name="start" id="start" />
                                        <label class="cm-required" for="page">До:</label>
                                        <input type="text" class="input-text cm-calendar hasDatepicker" value="<?=$vars['end']?>" size="55" name="end" id="end" />
                                        <span class="submit-button cm-button-main">
                                <input class="cm-process-items" type="submit"  value="OK" />
                            </span>
                                    </form>
                                </div>
                            </div>
                            <div class="statistics-body">
                                <div id="itogo">
                                    <p>
                                        <b>Итого кол-во: &nbsp;</b><span id="total_sum"><?=sizeof($vars['list']);?></span><br />
                                        <b>Итого сумма: &nbsp;</b><span id="total_sum"><?=Numeric::formatPrice($vars['total_sum']);?></span>
                                    </p>
                                    <a href="/admin/orders">Показать все</a>
                                </div>
                                <div id="stats">
                                    <div id="chart_div" style="width: 100%; height: 250px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statistics-box inventory">
                            <div id="title">
                                <h2 class="strong">Количество заказов</h2>
                                <div class="statistics-body clear" style="padding:10px;">
                                    <form method="post">
                                        <label class="cm-required" for="page">От:</label>
                                        <input type="text" class="input-text cm-calendar hasDatepicker" value="<?=$vars['start2']?>" name="start2" id="start2" />
                                        <label class="cm-required" for="page">До:</label>
                                        <input type="text" class="input-text cm-calendar hasDatepicker" value="<?=$vars['end2']?>" size="55" name="end2" id="end2" />
                                        <span class="submit-button cm-button-main">
                                            <input class="cm-process-items" type="submit"  value="OK" />
                                        </span>
                                    </form>
                                </div>
                            </div>
                            <div class="statistics-body">
                                <div id="itogo">
                                    <p><b>Итого: &nbsp;</b><span id="total_sum"><? echo sizeof($vars['list2']); ?></span></p>
                                    <a href="/admin/orders">Показать все</a>
                                </div>
                                <div id="stats">
                                    <div id="chart_div2" style="width: 100%; height: 250px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="statistics-box inventory">
                            <div id="title">
                                <h2 class="strong">Количество незавершенных заказов</h2>
                                <div class="statistics-body clear" style="padding:10px;">
                                    <form method="post">
                                        <label class="cm-required" for="page">От:</label>
                                        <input type="text" class="input-text cm-calendar hasDatepicker" value="<?=$vars['start4']?>" name="start4" id="start4" />
                                        <label class="cm-required" for="page">До:</label>
                                        <input type="text" class="input-text cm-calendar hasDatepicker" value="<?=$vars['end4']?>" size="55" name="end4" id="end4" />
                                        <span class="submit-button cm-button-main">
                            <input class="cm-process-items" type="submit"  value="OK" />
                        </span>
                                    </form>
                                </div>
                            </div>
                            <div class="statistics-body">
                                <div id="itogo">
                                    <p><b>Итого: &nbsp;</b><span id="total_sum"><? echo $vars['bascket_count']; ?></span></p>
                                    <a href="/admin/orders/act/incomplete">Показать все</a>
                                </div>
                                <div id="stats">
                                    <div id="chart_div4" style="width: 100%; height: 250px;"></div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>

                    <div class="statistics-box inventory">
                        <div id="title">
                            <h2>Формы обратной связи</h2>
                            <div class="statistics-body clear" style="padding:10px;">
                                <form method="post" class="row">
                                    <div class="col-xs-12 col-sm-3">
                                        <label class="cm-required" for="page">От:</label>
                                        <input type="text" class="input-text cm-calendar hasDatepicker" value="<?= $vars['start3'] ?>" name="start3" id="start3"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label class="cm-required" for="page">До:</label>
                                        <input type="text" class="input-text cm-calendar hasDatepicker" value="<?= $vars['end3'] ?>" size="55" name="end3" id="end3"/>
                                        <span class="submit-button cm-button-main">
										<input class="cm-process-items" type="submit" value="OK"/>
									</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="statistics-body">
                            <div id="itogo">
                                <p><b>Итого: &nbsp;</b><span id="total_sum"><? echo sizeof($vars['feedback']); ?></span></p>
                                <a href="/admin/feedback">Показать все</a>
                            </div>
                            <div id="stats">
                                <div id="chart_div3" style="width: 100%; height: 250px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right aside block	-->
                <div class="col-xs-12 col-sm-4">
                  <? if (isset($vars['rowscatalog']['all'])) { ?>
                      <div class="statistics-box inventory">
                          <div class="statistics-body">
                              <p class="strong">Наличие категорий</p>
                              <div class="clear">
                                  <ul>
                                      <li>Итого:&nbsp;<a href="/admin/catalog"><?= $vars['rowscatalog']['all'] ?> </a>
                                      </li>
                                      <li>Вкл.:&nbsp;<a href="/admin/catalog"><?= $vars['rowscatalog']['active1'] ?></a>
                                      </li>
                                      <li>Выкл.:&nbsp;<a
                                                  href="/admin/catalog"><?= $vars['rowscatalog']['active0'] ?></a></li>
                                  </ul>
                              </div>
                              <p class="strong product-inventory">Наличие товара</p>
                              <div class="clear">
                                  <ul>
                                      <li>Итого:&nbsp;<a href="/admin/product"><?= $vars['rowstovar']['all'] ?></a>
                                      </li>
                                      <li>Вкл.:&nbsp;<a href="/admin/product"><?= $vars['rowstovar']['active1'] ?></a>
                                      </li>
                                      <li>Выкл.:&nbsp;<a href="/admin/product"><?= $vars['rowstovar']['active0'] ?></a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
				  <?
			   }
			   ?>
                    <div class="statistics-box users">
                        <h2> Пользователи </h2>
                        <div class="statistics-body clear">
                            <ul>
						  <? if (isset($vars['rowsuser'])) echo '<li class="customer-users"> <span>Покупатели:</span> <em><a href="/admin/users">' . $vars['rowsuser'][0]['summa'] . '</a></em> </li>'; ?>
                                <li class="staff-users"><span>Модераторы:</span> <em><a
                                                href="/admin/moderatorstype"><?= $vars['rowsmadem'][0]['summa'] ?></a></em>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="statistics-box shortcuts">
                        <h2> Быстрый вызов </h2>
                        <div class="container-fluid">
                            <div class="row statistics-body">
                                <ul class="col-xs-12 col-lg-6 arrow-list">
                                    <li><a href="/admin/product">Все товары</a></li>
                                    <li><a href="/admin/catalog">Все категории</a></li>
                                </ul>
                                <ul class="col-xs-12 col-lg-6 arrow-list">
                                    <li><a href="/admin/config">Общие настройки</a></li>
                                    <li><a href="/admin/infoblocks">Инфо. блоки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="statistics-box users">
				    <?php include 'tech_support.phtml'; ?>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="container-fluid tab-pane" id="profile">
                <form id="site-data" class="row">
                    <fieldset class="col-md-6 col-xs-12">
                        <label for="sitename">Название сайта</label>
                        <input class="form-control" name="sitename" value="<?= $vars['settings']['sitename'] ?>"
                               id="sitename">
                    </fieldset>
                    <fieldset class="col-md-6 col-xs-12">
                        <label for="email">E-mail</label>
                        <input class="form-control" name="email" value="<?= $vars['settings']['email'] ?>" id="email">
                    </fieldset>
                    <fieldset class="col-md-6 col-xs-12">
                        <label for="webmaster_g">Google webmaster ID</label>
                        <input class="form-control" name="webmaster_g" value="<?= $vars['settings']['webmaster_g'] ?>"
                               id="webmaster_g">
                        <label for="google">Google Analitics</label>
                        <textarea name="google" id="google" class="form-control"
                                  rows="10"><?= $vars['settings']['google'] ?></textarea>
                    </fieldset>
                    <div class="col-xs-12" style="text-align:center"><br>
                        <div id="s-data-submit" class="btn btn-success">Сохранить</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="overlay"></div>