<div class="crop-area hidden">
	<div class="crop-container main-image-block" id="crop-container">
		<section class="image-sections img-container">
			<img src="" id="new_image">
		</section>
		<section class="image-sections cropper-config">

			<div class="docs-preview clearfix">
				<div class="img-preview preview-lg" style="width: <?=$vars['width']?>px; height: <?=$vars['height']?>px;"><img src=""></div>
				<div class="img-preview preview-md" style="width: <?=$vars['width']/2?>px; height: <?=$vars['height']/2?>px;"><img src=""></div>
			</div>
			<div class="btn-group">
				<span id="crop-rotate-left" class="btn btn-primary crop-btn"><i class="fa fa-undo" aria-hidden="true"></i></i></span>
				<span id="crop-rotate-right" class="btn btn-primary crop-btn"><i class="fa fa-repeat" aria-hidden="true"></i></span>
			</div>
			<div class="btn-group">
				<span id="crop-scalex" class="btn btn-primary crop-btn"><i class="fa fa-arrows-h" aria-hidden="true"></i></span>
				<span id="crop-scaley" class="btn btn-primary crop-btn"><i class="fa fa-arrows-v" aria-hidden="true"></i></span>
			</div>
			<div class="btn-group">
				<span id="crop-zoom-in" class="btn btn-primary crop-btn"><i class="fa fa-search-plus" aria-hidden="true"></i></span>
				<span id="crop-zoom-to-origin" class="btn btn-primary crop-btn"><i class="fa" aria-hidden="true">100%</i></span>
				<span id="crop-zoom-out" class="btn btn-primary crop-btn"><i class="fa fa-search-minus" aria-hidden="true"></i></span>
			</div>
			<div class="btn-group">
				<span id="crop-move-left" class="btn btn-primary crop-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
				<span id="crop-move-right" class="btn btn-primary crop-btn"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
				<span id="crop-move-up" class="btn btn-primary crop-btn"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
				<span id="crop-move-down" class="btn btn-primary crop-btn"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
			</div>
			<div class="btn-group">
				<span id="crop-reset" class="btn btn-primary crop-btn"><i class="fa fa-2x fa-refresh" aria-hidden="true"></i></span>
				<span id="crop-area" class="btn btn-primary crop-btn"><i class="fa fa-2x fa-crop" aria-hidden="true"></i></span>
				<span id="crop-abort" class="btn btn-primary crop-btn"><i class="fa fa-2x fa-ban" aria-hidden="true"></i></span>
			</div>
		</section>
		<div class="clear"></div>
	</div>
</div>