<div class="additional-images" id="multi_image_container">
    <section class="image-sections">
        <table width="100%">
            <tr>
                <td valign="top">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0"
                           class="table table-fixed hidden-inputs tb_sort" id="tb_extra_photo">
                        <? echo $vars['photo']; ?>
                    </table>
                    <div class="table-tools">
                        <a class="check_all" href="javascript:void(0);">Выбрать все</a> |
                        <a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
                        <span class="submit-button cm-button-main">
					        <input type="submit" name="dell" value="Удалить выбранные" class=""/>
				        </span>
                        <div class="more_photo manual-control <?= ((isset($_SESSION['manual-control']) == NULL) ?: 'show-element') ?>">
                            <button class="watermark" data-count="more" data-table="product">Установить водяной знак
                            </button>
                            <h4 style="margin: 10px 0">Вращение фотографий </h4>
                            <button class="rotateImg" data-rotate="-90">Поворот влево</button>
                            <button class="rotateImg" data-rotate="90">Поворот вправо</button>
                        </div>
                    </div>
                    <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
                    <input type="hidden" value="<?= $vars['action2'] ?>" id="action2"/>
                </td>
            </tr>
        </table>
    </section>
    <section class="image-sections">
        <h3 class="subheader">Мультизагрузка файлов</h3>
        <input type="hidden" value="<?= $vars['path'] ?>" id="path"/>
        <input type="file" name="extra_files" multiple="multiple" id="extra_files"
               accept="<?= "image/" . implode(",image/", explode(',', EXT_IMAGE)) ?>"/>
        <!--<span class="submit-button cm-button-main">
                <input type="submit" name="update" value="Загрузить файлы">
            </span>-->
        <div class="drag-n-drop">
            <span class="hint">Перетащите файлы сюда.<br/><?= EXT_IMAGE ?></span>
            <div class="files-list" id="files_list"></div>
        </div>
        <!--<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade"
			 id="myModal"
			 style="display: none; width:1111px; margin-left:-550px; height:701px; top:5%; left: 50%;">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close close_extra" type="button">×</button>
				<h3 id="myModalLabel">Выделите область</h3>
			</div>
			<div class="modal-body">
			<? /* // include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img_extra.phtml"; */ ?>
			</div>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-primary close_extra">Закрыть</button>
			</div>
		</div>-->
    </section>
</div>
<script src="/tpl/admin/js/additional_images.js"></script>
<script type="application/javascript">
    var muploader = new MultiImageUploader(document.getElementById('multi_image_container'),
        ['<?= implode("','", explode(',', EXT_IMAGE)) ?>'],
        <?= $vars['width'] ?>,
        <?= $vars['height'] ?>,
        <?= $vars['edit']['id'] ?>,
        '<?= $vars['action'] ?>');
</script>
<link rel="stylesheet" type="text/css" href="/tpl/admin/css/additional_images.css"/>