<div class="col-xs-12 main-image-block" id="image_uploader">
	<? include 'crop-area.phtml'; ?>
	<div id="processing-block" class="hidden"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Обработка</div>
	<div class="row base-image-block">
		<section class="col-sm-6 image-sections main-photo-section">
			<div class="uploaded-image">
				<h4>Изображение</h4>

				<div class="image">
					<?
						$src = (isset($vars['edit']['photo']) && file_exists($vars['edit']['photo'])) ? $vars['edit']['photo'] : "tpl/admin/images/no_image.gif";
						if (!file_exists($vars['edit']['photo'])) $src = 'tpl/admin/images/no_image.gif';
						echo '<img class="current-image" id="record_image" src="/' . $src . '?'.time().'" />
							<input type="hidden" id="current_photo" name="current_photo" value="' . $vars['edit']['photo'] . '" />';
					?>
					<div class="upload-hint">Загрузить новое изображение</div>
				</div>
			</div>
			<div class="upload-image-buttons">
				<div>
					<input type="file" id="image_file" name="image_file"
						   accept="<?= "image/" . implode(",image/", explode(',', EXT_IMAGE)) ?>"/>
					<input type="text" disabled="disabled" value="<?=EXT_IMAGE;?>"
						   class="input-text-large"/>
                    <label for="image_file" class="btn btn-primary">Загрузить с компьютера</label>
                </div>
                <div>
                    <input type="text" id="load_url_image" value="" placeholder="Укажите url" class="input-text-large"/>
                    <input type="button" value="Загрузить изображение по url" id="load_url_image_submit"
                           class="btn btn-primary">
                </div>
            </div>
            <div class="alert-text" id="alert_text"></div>
        </section>
        <section class="col-sm-4 image-sections configurate-section">
            <div class="config-option">
                <h4>Настройки загрузки</h4>

                <div id="display_image_type">
                    <div>
                        <input type="radio" id="type_upload1" name="type_upload"
                               value="1" <? if ($_SESSION['type_upload'] == 1) echo 'checked="checked"'; ?> />
						<label for="type_upload1"
							   class="type-upload-label <? if ($_SESSION['type_upload'] == 1) echo 'active'; ?>">Вырезать рабочую область</label>
					</div>
					<div>
						<input type="radio" id="type_upload2" name="type_upload"
							   value="2" <? if ($_SESSION['type_upload'] == 2) echo 'checked="checked"'; ?> />
						<label for="type_upload2"
							   class="type-upload-label <? if ($_SESSION['type_upload'] == 2) echo 'active'; ?>">Подогнать под размер</label>
					</div>
					<div>
						<input type="radio" id="type_upload3" name="type_upload"
							   value="3" <? if ($_SESSION['type_upload'] == 3) echo 'checked="checked"'; ?> />
						<label for="type_upload3"
							   class="type-upload-label <? if ($_SESSION['type_upload'] == 3) echo 'active'; ?>">Загрузить оригинал</label>
					</div>
				</div>
				<div class="config-parameters<? if ($_SESSION['type_upload'] == 3) echo ' hidden'; ?>">
					<h4>Размеры миниатюры</h4>

					<div>
						<input type="text" id="width_image" class="input-text" value="<?= $vars['width'] ?>"
							   data-limit="<?= MAX_WIDTH_IMAGE ?>"/>
						<label for="width_image">Ширина</label>
					</div>
					<div>
						<input type="text" id="height_image" class="input-text" value="<?= $vars['height'] ?>"
							   data-limit="<?= MAX_HEIGHT_IMAGE ?>"/>
						<label for="height_image">Высота</label>
					</div>
					<div class="crop-params">
						<input type="hidden" name="x" id="x"/>
						<input type="hidden" name="y" id="y"/>
						<input type="hidden" name="w" id="w"/>
						<input type="hidden" name="h" id="h"/>
                        <input type="hidden" name="src" id="src"/>
                        <input type="hidden" value="<?= $vars['path'] ?>" id="path_image"/>
                        <input type="hidden" name="resize_photo_id" id="resize_photo_id"
                               value="<?= $vars['image_id'] ?>"/>
                        <?
                        if (isset($vars['width2'])) echo '<input type="hidden" id="width_image2" value="' . $vars['width2'] . '" />';
                        if (isset($vars['height2'])) echo '<input type="hidden" id="height_image2" value="' . $vars['height2'] . '" />';
                        ?>
                    </div>
                </div>
                <div class="one_photo manual-control <?= ((isset($_SESSION['manual-control']) == NULL) ?: 'show-element') ?>">
                    <button class="watermark" data-count="one" data-table="product">Установить водяной знак</button>
                    <h4 style="margin: 10px 0">Вращение обложки </h4>
                    <button class="rotateImg" data-rotate="-90">Поворот влево</button>
                    <button class="rotateImg" data-rotate="90">Поворот вправо</button>
                </div>
            </div>
        </section>
        <section class="col-sm-2 image-sections configurate-section manual-control">
            <h4>Ручной режим</h4>
            <button class="manual-button"
                    onclick="return false"><?= ((isset($_SESSION['manual-control']) == NULL) ? 'Выкл' : 'Вкл') ?></button>
        </section>
    </div>
    <div class="clear"></div>
</div>