<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Language" content="ru"/>
	<meta name="keywords" content="Админ панель Skylogic—CMS v7.1"/>
	<meta name="description" content="Админ панель Skylogic—CMS v7.1"/>
	<title><?=$vars['meta']['title'] ?>Админ панель Skylogic—CMS v7.1</title>
	<?= $this->LoadResource('image', 'favicon.gif', 'admin'); ?>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<?= $vars['styles']; ?>
	<?= $vars['scripts']; ?>
</head>

<body>
	<div class="ajax-loading-box" id="ajax_loading_box">
		<div class="ajax-inner-loading-box" id="ajax-inner-loading-box">Загрузка...</div>
	</div>
	<?= $vars['menu_inc']; ?>
	<main class="main-content">
	<?
		if (!isset($vars['login'])) {
			?>
				<div class="container">
					<div class="row">

						<?php if ( isset($vars['left_menu']) ) {
							$right_menu_class = '';
							$content_class = 'col-md-10';
						} else {
							$right_menu_class = 'hidden';
							$content_class = '';
						} ?>

						<div class="col-xs-12 col-md-2 <?= $right_menu_class ?>" id="right_column">
							<div class="row"><?php if (isset($vars['left_menu'])) echo $vars['left_menu']; ?></div>
						</div>

						<div class="col-xs-12 <?= $content_class ?> content">
							<div class="mainbox-breadcrumbs">
								<?php if (isset($vars['breadcrumb'])) echo $vars['breadcrumb']; ?>
							</div>
							<div id="main_column" <?= (isset($vars['tb'])) ? 'class="'.$vars['tb'].'"' : '' ?>> <?php echo $vars['content']; ?> </div>
						</div>

					</div>
				</div>

			<?
		} else echo $vars['content']; ?>

	</main>

<?
	if (isset($vars['languages']) && count($vars['languages']) > 1) {
		$lang = '';
		$cur_lang = 'Russian';
		foreach ($vars['languages'] as $row) {
			if ($_SESSION['key_lang_admin'] == $row['language']) $cur_lang = $row['comment'];
            $lang .= '<li><a style="background-image: url(/tpl/admin/images/flags/' . $row['language'] . '.png);" href="/' . $row['language'] . '' . StringLibrary::getUrl3('/' . $row['language']) . '">' . $row['comment'] . '</a></li>';
		}
		?>
		<div id="bottom_menu">
			<div class="float-left" style="width:95px;">
				<div class="tools-container inline languages">
					<a id="sw_select_RU_wrap_" class="select-link cm-combo-on cm-combination"><?= $cur_lang ?></a>

					<div class="popup-tools cm-popup-box cm-smart-position" id="select_RU_wrap_">
						<ul class="cm-select-list popup-icons">
							<?= $lang ?>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<?
	}
?>

</body>
</html>