<?php
	if (isset($vars['menu']) && count($vars['menu']) != 0) {
		?>

		<div id="navigation" class="cm-j-tabs">
			<ul>
<!--				<li--><?// if (!isset($vars['sub'])) echo ' class="cm-active"'; ?>
				<li class="cm-active">
					<span>
						<a href="/admin/<?= $vars['action'] ?>">Параметры</a>
						<i class="fa fa-chevron-down"></i>
					</span>
				</li>
				<li>
					<ul>
						<?
						foreach ($vars['menu'] as $row) {
							$class = '';
							if (isset($vars['sub']) && $vars['sub'] == $row['name']) $class = ' class="cm-active"';
							echo '<li' . $class . '><span><a href="' . $row['url'] . '">' . $row['title'] . '</a></span></li>';
						}
						?>
					</ul>
				</li>
			</ul>
		</div>
		<?
	}
?>