<div class="cm-notification-container cm-notification-container-top">
	<?php
	if ($vars['err'] != "") {
		?>
		<?= $vars['err']; ?>
	<?php } ?>
</div>

<!-- START Форма авторизации -->
<div class="main_column_login"
     id="main_column_login"<? if (isset($_POST['email_forgot'])) {
	echo ' style="display:none;"';
} ?>>

    <div class="login-wrap">
        <h1 class="text-center">
            <a href="/admin">Skylogic CMS v7.1</a>
            <p>Управлять сайтом легко.</p>
        </h1>

        <form class="form cm-form-highlight cm-skip-check-items cm-check-changes" name="main_login_form" method="post">

            <div class="form-group clear-form-field">
                <label for="username">Логин:</label>
                <input type="text" name="login" class="form-control" id="username" autofocus>
            </div>

            <div class="form-group clear-form-field">
                <label for="password">Пароль:</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>

            <div class="form-group clear-form-field">
                <div class="clearfix">
                    <div class="pull-left" style="width: 50%;">
                        <label for="captcha">Введите символы:</label>
                        <input type="captcha" name="captcha" class="form-control" id="captcha">
                    </div>
                    <div class="pull-right" style="width: 50%;padding-top: 8px; padding-left: 11px; ">
                        <img src="/captcha" alt="Включите Imagick для капчи!"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox clear-form-field">

                    <label for="remember_admin">
                        <input type="checkbox" name="remember_admin" id="remember_admin">
                        Запомнить меня
                    </label>
                </div>
            </div>

            <div class="clearfix">

                <div class="pull-left" style="width: 50%;">
                    <input type="submit" tabindex="3" value="Войти" name="dispatch[auth.login]"
                           class="btn btn-primary">
                </div>
                <div class="pull-right text-right" style="width: 50%;">
                    <a href="javascript:showFormPass();" style="line-height: 32px; padding-right: 10px;">
                        Забыли пароль?</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END Форма авторизации -->

<!-- START Форма восстановления пароля -->
<div class="clear main_column_login"
     id="main_column_pass"<? if (!isset($_POST['email_forgot'])) {
	echo ' style="display:none;"';
} ?>>

    <div class="login-wrap">
        <h1 class="text-center">
            <a href="/admin">Skylogic CMS! v7.1</a>
            <p>Администраторская часть</p>
        </h1>

        <form class="form cm-form-highlight cm-skip-check-items cm-check-changes" name="forgot" method="post"
              action="/moderators" id="forgotAdminForm">

            <div class="form-group clear-form-field">
                <label for="email_forgot">E-mail:</label>
                <input type="text" class="form-control" name="email" id="email_forgot" autofocus ">
            </div>

            <div class="form-group clear-form-field">
                <div class="clearfix">

                    <div class="pull-left" style="width: 50%;">
                        <img src="/captcha" alt="#Enable images to see captcha."/>
                    </div>
                    <div class="pull-right" style="width: 50%;">
                        <label for="captcha">Введите текст с картинки:</label>
                        <input type="captcha" name="captcha" class="form-control" id="captcha">
                    </div>
                </div>
            </div>

            <div class="clearfix">

                <div class="pull-left" style="width: 50%;">
                    <input type="submit" tabindex="3" value="Сбросить пароль" name="dispatch[auth.login]"
                           class="btn btn-primary">
                </div>
                <div class="pull-right text-right" style="width: 50%;">
                    <a href="javascript:showFormPass();">Авторизация</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END Форма восстановления пароля -->
