<div class="header-wrap">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<!-- logo -->
				<div id="logo" class="col-xs-3">
					<a href="/" class="logo__link" target="_blank">
						<span class="logo__link-text">Перейти на сайт</span>
						<i class="icon icon-copy"></i>
					</a>
				</div>
				<!-- top_menu	-->
				<div class="col-xs-7 top_menu">
					<ul class="top_menu__list">
						<?
						$menu = '';
						foreach($vars['menu'] as $row)if($row['sub']==6&&$row['id']!=102&&$row['id'])$menu.='<li class="dropdown__item"><a class="dropdown__link" href="/admin/'.$row['controller'].'">'.$row['name'].'</a></li>';
						if($menu!='')echo '<li class="top_menu__item top_menu__item_settings"><a class="top_menu__item-link"><i class="icon icon-gear"></i><span class="top_menu__item-link-text">Администрирование</span></a><div class="dropdown"><ul class="dropdown__list">'.$menu.'</ul></div></li>';
						$menu = '';
						foreach($vars['menu_subsystem'] as $row)$menu.='<li class="dropdown__item"><a class="dropdown__link" href="/admin/'.$row['name'].'">'.$row['title'].'</a></li>';
						if($menu!='')echo '<li class="top_menu__item"><a class="top_menu__item-link"><i class="icon icon-tune"></i><span class="top_menu__item-link-text">Конфигурация</span></a><div class="dropdown"><ul class="dropdown__list">'.$menu.'</ul></div></li>';
						?>
					</ul>
				</div>
				<!-- top_quick_links -->
				<div class="col-xs-2 top_quick_links">
					<span class="header__admin-name"><?= $_SESSION['admin']['login']; ?></span>
					<span title="выйти" class="top-signout"> <a href="/admin/logout"><span class="icon icon-logout"></span></a></span>
				</div>
			</div>
		</div>
	</div>
	<!-- header menu -->
	<div class="header-menu">
		<div class="container">
				<div class="header-menu__holder">
					<ul id="menu" class="row header-menu__list">
						<li class="header-menu__item">
							<a title="Главная" href="/admin" class="header-menu__link header-menu__link_home">
                <i class="icon icon-home"></i>
              </a>
						</li>
						<?
						// Start: Веб сайт
						$menu = '';
						foreach($vars['menu'] as $row)if($row['sub']==1)include "menu__item.inc.phtml";
						if($menu!='')echo '<li class="header-menu__item"><span class="header-menu__link">Веб сайт <i class="icon icon-chevron"></i></span><div class="dropdown"><ul class="dropdown__list">'.$menu.'</ul></div></li>';
						// Start: Магазин
						$menu = '';
						foreach($vars['menu'] as $row)if($row['sub']==2&&$row['id']!=185)include "menu__item.inc.phtml";
						if($menu!='')echo '<li class="header-menu__item"><span class="header-menu__link">Магазин <i class="icon icon-chevron"></i></span><div class="dropdown"><ul class="dropdown__list">'.$menu.'</ul></div></li>';
						// Start: Пользователи
						$menu = '';
						foreach($vars['menu'] as $row)if($row['sub']==3)include "menu__item.inc.phtml";
						if($menu!='')echo '<li class="header-menu__item"><span class="header-menu__link">Пользователи <i class="icon icon-chevron"></i></span><div class="dropdown"><ul class="dropdown__list">'.$menu.'</ul></div></li>';
						// Start: Отчеты
						$menu = '';
						foreach($vars['menu'] as $row)if($row['sub']==23)include "menu__item.inc.phtml";
						if($menu!='')echo '<li class="header-menu__item"><span class="header-menu__link">Отчеты <i class="icon icon-chevron"></i></span><div class="dropdown"><ul class="dropdown__list">'.$menu.'</ul></div></li>';
						// Start: Ценообразование
						$menu = '';
						if($vars['prices'])
							echo '<li class="header-menu__item">
							<span class="header-menu__link">Ценообразование <i class="icon icon-chevron"></i></span>
							<div class="dropdown">
								<ul class="dropdown__list">
									<li class="blank">
										<a href="/admin/product_price" style="background-image:url(/tpl/admin/images/icons/menu/product_price.png);" class="header-menu__dropdown-link">
											<span>Групповая переоценка</span><span class="hint"></span>
										</a>
									</li>
									<li class="blank">
										<a href="/admin/currency" style="background-image:url(/tpl/admin/images/icons/menu/currency.png);" class="header-menu__dropdown-link"><span>Валюта & курсы</span>
											<span class="hint"></span>
										</a>
									</li>
									<li class="blank">
										<a href="/admin/product/act/pricetype" style="background-image:url(/tpl/admin/images/icons/menu/pricetype.png);" class="header-menu__dropdown-link"><span>Типы цен</span>
											<span class="hint"></span>
										</a>
									</li>
									<li class="blank">
										<a href="/admin/product/act/provider" style="background-image:url(/tpl/admin/images/icons/menu/provider.png);" class="header-menu__dropdown-link"><span>Поставщики и наценки</span>
											<span class="hint"></span>
										</a>
									</li>
								</ul>
							</div>
						</li>';
						// Start: Дополнительно
						foreach($vars['menu'] as $row)if($row['sub']==24)include "menu__item.inc.phtml";
						if($menu!='')echo '<li class="header-menu__item"><span class="header-menu__link">Дополнительно <i class="icon icon-chevron"></i></span><div class="dropdown"><ul class="dropdown__list">'.$menu.'</ul></div></li>';
						?>
						<!--			<li class="search">-->
						<!--				<form action="admin.php" method="get" id="global_search">-->
						<!--					<input type="hidden" value="search.results" name="dispatch">-->
						<!--					<input type="hidden" value="Y" name="compact">-->
						<!--					<div>-->
						<!--						<button id="search_button" type="submit">Go</button>-->
						<!--						<label for="gs_text"><a>-->
						<!--							<input type="text" autocomplete="off" name="q" id="gs_text" class="cm-tooltip">-->
						<!--							</a></label>-->
						<!--					</div>-->
						<!--				</form>-->
						<!--			</li>-->
					</ul>
				</div>
				<div class="burger">
<!--					<div class="fa fa-bars" style="font-style: 26px;"></div>-->
					<div class="burger__bar burger__bar_top"></div>
					<div class="burger__bar burger__bar_mid"></div>
					<div class="burger__bar burger__bar_bot"></div>
				</div>
		</div>
	</div>
	</div>
</div>