<?php

  if (file_exists('tpl/admin/images/icons/menu/' . $row['controller'] . '.png')) $style = ' style="background-image:url(/tpl/admin/images/icons/menu/' . $row['controller'] . '.png);"';
  else $style = '';

  $menu .= '<li class="blank">
              <a href="/admin/' . $row['controller'] . '" ' . $style . ' class="header-menu__dropdown-link">
                <span>' . $row['name'] . '</span> <span class="hint">' . $row['comment'] . '</span>
              </a>
            </li>';
?>


