<?
	if(isset($vars['sq'])){
		echo '<div><table class="table table-fixed" width="100%"><thead><tr><th width="60">К-во</th><th>Поисковый запрос</th><th width="100">Результатов</th><th width="130">Впервые</th><th width="130">Последний</th></tr></thead>';
		foreach($vars['qc'] as $i=>$q)echo '<tr><td width="40">'.$q['cnt'].'</td><td>'.$q['query'].'</td><td width="100">'.$q['results'].'</td><td width="130">'.Date::date_view($q['date_add'],'dd/mm/YY hh:ii:ss').'</td><td width="130">'.Date::date_view($q['date_update'],'dd/mm/YY hh:ii:ss').'</td></tr>';
		echo '</table></div>';
	}elseif(isset($vars['squ'])){
		$s_n='name asc';
		$s_f='found asc';
		$s_d='date_search desc';
		switch($_SESSION['squ_sort']){
			case 'name asc':$s_n='name desc';break;
			case 'found asc':$s_f='found desc';break;
			case 'date_search desc':$s_d='date_search asc';break;
		}
		echo '<table class="table"><thead><tr><th class="sq-sort" data-sort="'.$s_n.'" width="400">Пользователь</th><th>Запрос</th><th class="sq-sort" data-sort="'.$s_f.'" width="90">Результат</th><th class="sq-sort" data-sort="'.$s_d.'" width="130">Время</th></tr></thead>';
		foreach($vars['squ'] as $i=>$q)echo '<tr><td><a href="mailto:'.$q['email'].'">'.$q['name'].'</a></td><td>'.$q['query'].'</td><td>'.$q['results'].'</td><td>'.Date::date_view($q['date_search'],'dd/mm/YY hh:ii:ss').'</td></tr>';
		echo '</table>';
	}