<? if (!isset($_SESSION['type_upload'])) $_SESSION['type_upload'] = 1;
	include "image_upload_container.phtml";
	//Init uploader below ?>
<link rel="stylesheet" type="text/css" href="/tpl/admin/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/tpl/admin/css/image_block.css"/>
<script type="application/javascript" src="/tpl/admin/js/upload_image.js"></script>
<link href="/tpl/admin/css/cropper.min.css" rel="stylesheet">
<script src="/tpl/admin/js/cropper.min.js"></script>
<script type="application/javascript">
	var uploader = new ImageUploader(document.getElementById('image_uploader'),
		<?= $_SESSION['type_upload']?>,
		['<?= implode("','", explode(',',EXT_IMAGE)) ?>'],
		<?= $vars['width'] ?>,
		<?= $vars['height'] ?>,
		<?= $vars['image_id'] ?>,
		'<?= $vars['action'] ?>');

	if( $('#del_img').length ) {
		document.querySelector('#del_img').onclick = function(e) {
			e.preventDefault();
			var xhr = new XMLHttpRequest();
			xhr.onload = function () {
				if ( xhr.status==200 && xhr.readyState==4 ) {
					var response = JSON.parse(xhr.response);
					if ( response.access ) {
						document.querySelector('.cm-notification-container').innerHTML = response.access;
					} else {
						document.querySelector('.current-image').src = '/tpl/admin/images/no_image.jpg';
						document.querySelector('#del_img').style.display = 'none';
					}
				}
			};
			xhr.open('POST', '/admin/ajax/deletePhoto', true);
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			var vars = 'table=<?=$vars['action']?>&id=<?=$vars['image_id']?>';
			xhr.send(vars);
		};
	}

</script>