<div class="cm-notification-container">
    <?= $vars['message'] ?>
</div>
<div>
    <div class="mainbox-body">
        <div class="cm-tabs-content">
            <form class="cm-form-highlight cm-check-changes" method="post">
                <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>
                <div id="content_basic">
                    <fieldset>
                        <h2 class="subheader"> Иформация о новом заказе </h2>
                        <div class="form-field">
                            <label class="cm-required">Пользователь:</label>
                            <input type="text" class="input-text" size="32" name="username"/>
                        </div>
                        <div class="form-field">
                            <label class="cm-required">Телефон:</label>
                            <input type="text" class="input-text" size="32" name="phone"/>
                        </div>
                        <div class="form-field">
                            <label class="cm-required">E-mail:</label>
                            <input type="text" class="input-text" size="32" name="email"/>
                        </div>
                        <div class="form-field">
                            <label>Адрес:</label>
                            <input type="text" class="input-text" size="32" name="address"/>
                        </div>
                        <? if (!empty($vars['delivery'])) { ?>
                            <div class="form-field">
                                <label>Способ доставки:</label>
                                <select title="Способ доставки" name="delivery">
                                    <option value="0">Выберите вариант доставки</option>
                                    <? foreach ($vars['delivery'] as $row) {
                                        $price = '';
                                        if ($row['price'] != 0.00) {
                                            $price = Numeric::viewPrice($row['price']);
                                            $price = " +" . $price['price'];
                                        }
                                        echo '<option value="' . $row['id'] . '">' . $row['name'] . $price . '</option>';
                                    } ?>
                                </select>
                            </div>
                        <? } ?>
                        <? if (!empty($vars['payment'])) { ?>
                            <div class="form-field">
                                <label for="page">Способ оплаты:</label>
                                <select title="Способ оплаты" name="payment">
                                    <option value="0">Выберите вариант оплаты</option>
                                    <? foreach ($vars['payment'] as $row) { ?>
                                        <option value="<?= $row['id'] ?>">
                                            <?= $row['name'] ?>
                                        </option>
                                    <? } ?>
                                </select>
                            </div>
                        <? } ?>
                        <div class="form-field">
                            <label for="page_page_title">Комментарии к заказу:</label>
                            <textarea title="Комментарий" class="input-textarea" rows="5" cols="35"
                                      name="comment"></textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="buttons-container cm-toggle-button buttons-bg">
                    <div class="cm-buttons-floating">
                        <div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Создать" name="add"/>
							</span>&nbsp;
                            <span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Создать и закрыть" name="add_close"
                                       class="cm-save-and-close"/>
							</span> &nbsp;или&nbsp;&nbsp;
                            <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
            </form>
        </div>
    </div>
</div>