<div class="cm-notification-container">
    <?= $vars['message'] ?>
</div>
<div class="cm-tabs-content">
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title"> Редактирование заказа:&nbsp;№ <?= $vars['edit']['id'] ?></h1>
    </div>
    <div class="extra-tools">
        <a class="tool-link" href="/admin/<?= $vars['action'] ?>/add">Добавить новый заказ</a>
        <a class="tool-link cm-confirm" href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">
            Удалить этот заказ
        </a>
    </div>
    <div class="mainbox-body">
        <div class="tabs cm-j-tabs cm-track">
            <ul>
                <li id="basic" class="cm-js cm-active"><a>Общее</a></li>
                <li id="products" class="cm-js"><a>Состав заказа</a></li>
            </ul>
        </div>
        <form id="orders_edit" class="cm-form-highlight cm-check-changes form-horizontal"
              name="page_update_form" method="post" enctype="multipart/form-data">
            <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>
            <div id="content_basic" class="cm-tabs">
                <div class="row">
                    <div class="col-xs-12 col-md-7">
                        <fieldset>
                            <h2 class="subheader"> Информация об заказе</h2>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="date_add">Дата заказа:</label>
                                <div class="col-sm-9">
                                    <div><?= Date::date_view($vars['edit']['date_add'], "dd/mm/YY, hh:ii") ?></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="date_add">Дата изменения:</label>
                                <div class="col-sm-9">
                                    <div><?= Date::date_view($vars['edit']['date_edit'], "dd/mm/YY, hh:ii") ?></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="date_add">Кол-во товаров:</label>
                                <div class="col-sm-9">
                                    <div><?= $vars['edit']['amount'] ?> шт.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="date_add">Сумма заказа:</label>
                                <div class="col-sm-9">
                                    <div><?= $vars['edit']['sum'] ?> (<?= $vars['currencyOrder']['icon'] ?>)</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="date_add">Валюта/Курс при заказе:</label>
                                <div class="col-sm-9">
                                    <div><?= $vars['currencyOrder']['icon'] ?>/<?= $vars['edit']['rate'] ?></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Статус:</label>
                                <div class="col-sm-9">
                                    <select name="status">
                                        <? foreach ($vars['status'] as $row) {
                                            echo '<option value="' . $row['id'] . '"';
                                            if ($row['id'] == $vars['edit']['status_id']) echo ' selected';
                                            echo '>' . $row['name'] . '</option>';
                                        } ?>
                                    </select>
                                </div>
                            </div>

                            <? if (!empty($vars['delivery'])) { ?>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Способ доставки:</label>
                                    <div class="col-sm-9">
                                        <select title="Delivery" name="delivery">
                                            <option value="0">Выберите вариант доставки</option>
                                            <? foreach ($vars['delivery'] as $row) { ?>
                                                <option value="<?= $row['id'] ?>"
                                                    <?= ($row['id'] == $vars['edit']['delivery_id']) ? 'selected' : '' ?>>
                                                    <?= $row['name'] . (floatval($row['price']) > 0 ? " +" . $row['price'] . ' (' . $vars['currencyBase']['icon'] . ')' : '') ?>
                                                </option>
                                            <? } ?>
                                        </select>
                                    </div>
                                </div>
                            <? } ?>

                            <? if ($vars['payment']) { ?>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Способ оплаты:</label>
                                    <div class="col-sm-9">
                                        <select title="Способ оплаты" name="payment">
                                            <option value="0">Выберите вариант оплаты</option>
                                            <? foreach ($vars['payment'] as $row) {
                                                echo '<option value="' . $row['id'] . '"';
                                                if ($row['id'] == $vars['edit']['payment_id']) echo ' selected';
                                                echo '>' . $row['name'] . '</option>';
                                            } ?>
                                        </select>
                                    </div>
                                </div>
                            <? } ?>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="page_page_title">Комментарии к
                                    заказу:</label>
                                <div class="col-sm-9">
						<textarea class="input-textarea" rows="3" cols="70"
                                  name="comment"><?= $vars['edit']['comment'] ?></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="responsible">Ответственный менеджер:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="input-text" value="<?= $vars['edit']['responsible'] ?>"
                                           size="32"
                                           name="responsible"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="admin_comment">
                                    <strong>Комментарии администратора:</strong>
                                </label>
                                <div class="col-sm-9">
							<textarea class="input-textarea" rows="3" cols="70" name="admin_comment">
								<?= $vars['edit']['admin_comment'] ?>
							</textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <fieldset>
                            <h2 class="subheader">Информация о заказчике</h2>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="page">ФИО:</label>
                                <input type="text" class="input-text" value="<?= $vars['edit']['username'] ?>" size="32"
                                       name="username"/>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="page">Телефон:</label>
                                <input type="text" class="input-text" value="<?= $vars['edit']['phone'] ?>" size="32"
                                       name="phone"/>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="page">E-mail:</label>
                                <input type="text" class="input-text" value="<?= $vars['edit']['email'] ?>" size="32"
                                       name="email"/>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="page">Адрес:</label>
                                <textarea title="Адрес" name="address" class="input-text" cols="35"
                                          rows="5"><?= $vars['edit']['address'] ?></textarea>
                            </div>
                            <input type="hidden" value="" name="code_discount"/>
                        </fieldset>
                    </div>
                </div>
            </div>
            <!--metdata start-->
            <div id="content_products" class="cm-tabs hidden">
                <fieldset>
                    <h2 class="subheader"> Добавить товар </h2>
                    <div class="pull-left">
                        <select title="Каталоги" name="" id="catalog_add">
                            <option value="0">Корень...</option>
                            <? foreach ($vars['catalog'] as $row) {
                                if ($row['sub'] == 0) {
                                    echo "<option value='{$row['id']}'>{$row['name']}</option>";
                                    foreach ($vars['catalog'] as $row2) {
                                        if ($row['id'] == $row2['sub']) {
                                            echo "<option value='{$row2['id']}'>&nbsp;&nbsp;&nbsp;{$row2['name']}</option>";
                                        }
                                    }
                                }
                            } ?>
                        </select>
                    </div>
                    <div class="pull-left">
                        <select title="Список товаров" name="<?= $vars['edit']['id'] ?>" id="product_add">
                            <option value="0">Товаров нет...</option>
                        </select>
                    </div>
                    <div class="pull-left">
                        <select title="Список артикулов" name="<?= $vars['edit']['id'] ?>" id="articul_add">
                            <option value="0">По артикулу...</option>
                            <? foreach ($vars['articuls'] as $row) { ?>
                                <option value='<?= $row['id'] ?>'>
                                    <?= $row['code'] ?>
                                </option>
                            <? } ?>
                        </select>
                    </div>
                </fieldset>

                <fieldset>
                    <h2 class="subheader"> Товары </h2>
                    <div class="items-container multi-level">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0"
                               class="table table-fixed hidden-inputs" id="order_product">
                            <?= $vars['product'] ?>
                        </table>
                    </div>
                    <h3 align="right" style="padding-right:15px;" id="total">
                        Итого: <?= $vars['edit']['sum'] ?> <?= $vars['currencyOrder']['icon'] ?></h3>
                </fieldset>

            </div>
            <div class="buttons-container cm-toggle-button buttons-bg">
                <div class="cm-buttons-floating">
                    <div class="cm-buttons-placeholder">
						<span class="submit-button cm-button-main">
							<input type="submit" value="Сохранить" name="update"/>
						</span>&nbsp;
                        <span class="submit-button cm-button-main cm-save-and-close">
							<input type="submit" value="Сохранить и закрыть" name="update_close"
                                   class="cm-save-and-close"/>
						</span> &nbsp;
                        <span class="submit-button cm-button-main">
							<input type="submit" value="Сохранить и отправить пользователю заказ" name="update_send" />
						</span> &nbsp;или&nbsp;&nbsp;
                        <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                    </div>
                </div>
            </div>
            <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
        </form>
    </div>
</div>