<div id="message" class="cm-notification-container">
    <?= $vars['message'] ?>
</div>
<div style="margin-bottom: 15px;">
    <div class="clear mainbox-title-container">
        <div class="tools-container">
            <a href="#" class="filter-toggle"><i class="icon icon-filter"></i></a>
            <!--			<span class="action-add"> <a href="/admin/-->
            <? //=$vars['action'] ?><!--/add">Добавить</a> </span>-->
        </div>
        <h1 class="mainbox-title float-left"><?= $vars['name'] ?></h1>
    </div>
</div>
<div class="mainbox-body">
    <div id="ds_15014" class="toggle_on_mobile clear">
        <div class="container-fluid section-border">
            <form class="row cm-disable-empty " method="POST" name="search_form" action="/admin/<?= $vars['action'] ?>">

                <div class="nowrap search-field">
                    <label>Найти: <?= $_SESSION['search_admin']['word'] ?></label>
                    <div class="break">
                        <input type="text" class="search-input-text"
                               value="<?= $_SESSION['search_admin']['word'] ?>" size="20" name="word"/>
                        <input type="image" title="Поиск" alt="Поиск" class="search-go"
                               src="/tpl/admin/images/search_go.gif">
                    </div>
                    <?// unset($_SESSION['search_admin']['word']) ?>
                </div>

                <div class="nowrap search-field">
                    <label>Поиск по статусу:</label>

                    <div class="break clear correct-picker-but">
                        <select name="status" style="width:120px">
                            <option value="">- Все -</option>
                            <? foreach ($vars['status'] as $row) {
                                if ($row['type'] == 0) {
                                    echo "<option value='{$row['id']}'";
                                    if ($row['id'] == $_SESSION['search_order']['status']) echo " selected";
                                    echo ">{$row['name']}</option>";
                                }
                            } ?>
                        </select>
                    </div>
                </div>

                <div class="nowrap search-field">
                    <label>Сортировать:<?= $_SESSION['search_order']['word'] ?></label>

                    <div class="break clear correct-picker-but">
                        <select name="sort" style="width:200px">

                            <option value=""> - по дате оформления (по убыванию)</option>
                            <option
                                    value="date asc" <?= $_SESSION['search_order']['sort'] == 'date asc' ? 'selected="selected"' : ''; ?>>
                                - по дате оформления (по возростанию)
                            </option>
                            <option
                                    value="name asc" <?= $_SESSION['search_order']['sort'] == 'name asc' ? 'selected="selected"' : ''; ?> >
                                - по имени А-Я
                            </option>
                            <option
                                    value="name desc" <?= $_SESSION['search_order']['sort'] == 'name desc' ? 'selected="selected"' : ''; ?> >
                                - по имени Я-А
                            </option>
                            <option
                                    value="email asc" <?= $_SESSION['search_order']['sort'] == 'email asc' ? 'selected="selected"' : ''; ?> >
                                - по E-mail A-Z
                            </option>
                            <option
                                    value="email desc" <?= $_SESSION['search_order']['sort'] == 'email desc' ? 'selected="selected"' : ''; ?> >
                                - по E-mail Z-A
                            </option>
                            <option
                                    value="price desc" <?= $_SESSION['search_order']['sort'] == 'price desc' ? 'selected="selected"' : ''; ?> >
                                - по цене (по убыванию)
                            </option>
                            <option
                                    value="price asc" <?= $_SESSION['search_order']['sort'] == 'price asc' ? 'selected="selected"' : ''; ?> >
                                - по цене (по возростанию)
                            </option>
                        </select>
                    </div>
                </div>

                <div class="buttons-container">
                    <span class="submit-button ">
                        <input type="submit" value="Поиск" name="dispatch[products.manage]">
                    </span>
                    <span class="submit-button ">
                        <input type="submit" value="Очистить" name="clear">
                    </span>
                </div>
            </form>

        </div>
    </div>
    <div id="content_manage_users">
        <form name="userlist_form" method="post" action="/admin/<?= $vars['action'] ?>/update">
            <div id="pagination_contents">
                <?= $vars['list'] ?>
            </div>
            <div class="buttons-container buttons-bg">
                <div class="cm-buttons-placeholder">
                    <div class="cm-buttons-floating">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Сохранить" name="update" class="">
                        </span>
                        <span class="submit-button cm-button-main cm-confirm cm-process-items">
                            <input type="submit" value="Удалить выбранные" name="delete" class="cm-process-items">
                        </span>
                    </div>
                </div>
            </div>
            <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
        </form>
    </div>
</div>