<tr>
    <th width="50">ID</th>
    <th width="120">Фото</th>
    <th>Товар</th>
    <th width="150">Артикул</th>
    <th width="190">Цена за единицу (<?= $vars['currencyBase']['icon'] ?>)</th>
    <th width="100">в упаковке</th>
    <th width="190">Цена за упаковку (<?= $vars['currencyBase']['icon'] ?>)</th>
    <th width="75">Кол-во</th>
    <!--    <th width="100">Скидка</th>-->
    <th width="100">Сумма</th>
    <th width="80">&nbsp;</th>
</tr>
<? foreach ($vars['product'] as $row) {
    if (!empty($row['photo_basket']) && file_exists($row['photo_basket'])) {
        $src = $row['photo_basket'];
    } elseif (file_exists($row['photo'])) {
        $src = $row['photo'];
    } else $src = 'files/default.jpg'; ?>
    <tr>
        <td><?= $row['product_id'] ?></td>
        <td>
            <a href="<?= LINK . '/product/' . $row['url'] ?>" target="_blank">
                <img src="/<?= $src ?>" width="100"/>
            </a>
        </td>
        <td>
            <input title="Название" type="text" name="name[]" value="<?= $row['name'] ?>" size="30"/>
        </td>
        <td><?= $row['code'] ?></td>
        <td class="center">
            <input type="hidden" name="discount[]" value="<?= $row['discount'] ?>"/>
            <input title="Цена" type="text" name="price[]" value="<?= $row['price'] ?>" size="10"/>
        </td>
        <td class="center">
            <input title="Кол-во в упаковке" type="number" name="packaged[]" readonly
                   value="<?= $row['packaged'] ?>" />
        </td>
        <td class="center">
            <?= round($row['price'] * $row['packaged'], 2) ?>
        </td>
        <td>
            <input title="Кол-во упаковок" type="number" name="amount[]"
                   value="<?= $row['amount'] ?>" maxlength="5" size="5" min="1"/>
        </td>
        <td><?= $row['sum'] ?></td>
        <td class="center">
            <input type="hidden" name="product_id[]" value="<?= $row['id'] ?>"/>
            <ul class="cm-tools-list tools-list">
                <li>
                    <a href="/admin/orders/edit/<?= $vars['order_id'] . '/del/' . $row['id'] ?>" class="cm-confirm">
                        Удалить
                    </a>
                </li>
            </ul>
        </td>
    </tr>
<? } ?>