<style>
    .table-pdf {
        border: 1px solid #000;
        margin: 15px auto;
        width: 100%;
    }

    .left-id-zakaz p {
        font-size: 16px;
        font-weight: 600;
    }

    .right-data p {
        font-size: 16px;
        text-align: right;
    }

    .logo-pdf {
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }

    .left-id-zakaz {
        width: 35%;
        float: left;
    }

    .logo-pdf {
        width: 30%;
        float: left;
    }

    .right-data {
        width: 20%;
        float: right;
    }

    .top-table-pdf p {
        font-size: 13px;
        padding-left: 35px;
    }

    .left-table-pdf p {
        font-size: 10px;
        padding-left: 25px;
    }

    td.img-pdf {
        width: 150px;
        overflow: hidden;
    }

    td.img-pdf img {
        width: 100%;
        object-fit: contain;
    }

    p.name-pdf {
        font-size: 15px;
        text-decoration: underline;
    }

    table#order_product-pdf tr {
        border-top: 1px solid #828282;
        border-bottom: 1px solid #828282;
    }
</style>
<div id="printArea">
    <div style="display:flex;align-items: center;">
        <div class="left-id-zakaz">
            <p>Заказ №<?= $vars['order_info']['id'] ?></p>
        </div>
        <div class="logo-pdf"
             style="display: flex;flex-direction: column; align-items: center; justify-content: center;text-align: center; margin-right: 50px; ">
            <img height="40" src="/tpl/default/img/logo.png">
            <a style="color: black" href="https://kropiva.com.ua">https://kropiva.com.ua</a>
        </div>
        <div class="right-data">
            <p><?= date("Y.m.d") ?></p>
        </div>
    </div>

    <div class="table-pdf">
        <table style="width: 100%">
            <tr style="width: 100%">
                <td style="padding: 5px;width: 35%">
                    <p><b>Информация о заказчике</b></p>
                    <p><?= $vars['order_info']['username'] ?></p>
                    <p><?= $vars['order_info']['phone'] ?></p>
                    <p><?= $vars['order_info']['email'] ?></p>
                </td>
                <td style="padding: 5px;width: 65%">
                    <p><b>Способ доставки:</b> <?= $vars['order_info']['delivery'] ?></p>
                    <p><b>Адрес доставки:</b> <?= $vars['order_info']['address'] ?></p>
                    <p><b>Способ оплаты:</b> <?= $vars['order_info']['payment'] ?></p>
                    <p>
                        <b>Комментарий:</b>
                      <?= $vars['order_info']['comment'] ?>
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <fieldset>
        <div class="items-container multi-level">
            <table width="100%" id="order_product-pdf" border="1" style="border-collapse: collapse;">
              <? foreach ($vars['edit_prod'] as $key => $product) { ?>
                  <tr>
                      <td width="5%" style="text-align: center"><?= $key + 1 ?></td>
                      <td class="img-pdf" width="20%" style="text-align: center">
                          <img src="<?= $product['photo'] ?>" height="120">
                      </td>
                      <td width="40%" style="padding-left: 20px; padding-top: 35px">
                          <p class="name-pdf"><?= $product['name'] ?></p>
                          <p>Артикул: <?= $product['code'] ?></p>
                          <p>Кол-во в упаковке: <b><?= $product['packaged'] ?> шт.</b></p>

                        <? if (!empty($product['sizes'])) { ?>
                            <p>Размеры: <?= $product['sizes'] ?> </p>
                        <? } ?>

                        <? if (!empty($product['provider'])) { ?>
                            <p>Поставщик: <?= $product['provider'] ?></p>
                        <? } ?>

                      </td>
                      <td width="20%" style="text-align: center">
                          <p>
                              <? $prod_amount =  $product['packaged'] * $product['amount']?>
                               <?=$product['price']?> x <?=$prod_amount?> шт.
                          </p>
                      </td>
                      <td width="15%" style="text-align: center">
                          <p><?= $product['sum'] ?> грн.</p>
                      </td>
                  </tr>
              <? } ?>
            </table>
        </div>
        <h3 align="right" style="padding-right:15px;" id="total">
            Итого: <?= $vars['order_info']['sum'] ?> грн.</h3>
    </fieldset>
</div>


