<div class="items-container multi-level">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"
           class="table table-fixed hidden-inputs tb_sort table_982px">
        <tr>
            <th width="20" class="center">
                <input type="checkbox" class="check_all2" name="check_all"
                       title="Отметить/снять все" value="Y">
            </th>
            <th width="30">ID</th>
            <th width="100">Дата заказа</th>
            <th>Пользователь</th>
            <th>E-mail</th>
            <th width="100">Сумма (<?= $vars['currency']['icon'] ?>)</th>
            <th width="140" class="center">Статус</th>
            <th width="80" class="center">PDF</th>
            <th width="170" class="center">Действие</th>
            <th width="35"></th>
        </tr>
        <? foreach ($vars['list']['list'] as $row) { ?>
            <tr class="<?= $row['viewed'] ? 'normal' : 'not-viewed' ?>">
                <td class="center">
                    <input title="check" type="checkbox" class="check-item" value="<?= $row['id'] ?>" name="id[]"/>
                </td>
                <td>
                    <input type="hidden" value="<?= $row['id'] ?>" name="save_id[]"/>
                    <span><?= $row['id'] ?></span>
                </td>
                <td class="center">
                    <?= Date::date_view($row['date_add'], "dd/mm/YY  hh:ii") ?>
                </td>
                <td><?= $row['username'] ?></td>
                <td><a href="mailto:<?= $row['email'] ?>" class="tool-link"><?= $row['email'] ?></a></td>
                <td><?= $row['sum'] ?></td>
                <td>
                    <select name="status_id[]">
                        <? foreach ($vars['statuses'] as $status) { ?>
                            <option value="<?= $status['id'] ?>"
                                <?= $row['status_id'] == $status['id'] ? 'selected' : '' ?>>
                                <span><?= $status['name'] ?></span>
                            </option>
                        <? } ?>
                    </select>
                </td>
                <td class="center">
                    <a href="/admin/orders/pdf/<?= $row['id'] ?>" target="_blank">Смотреть</a>
                </td>
                <td>
                    <a href="/admin/<?= $vars['action'] . '/edit/' . $row['id'] ?>" class="tool-link">Редактировать</a>
                    |
                    <span class="tools-list">
                    <a href="/admin/<?= $vars['action'] . '/delete/' . $row['id'] ?>" class="cm-confirm">
                        Удалить
                    </a>
                  </span>
                </td>
                <td>
                    <a href="/admin/<?= $vars['action'] . '/return/' . $row['id'] ?>"
                       class="cm-confirm" title="Отменить заказ"
                       data-question="этот заказ" data-q-line="Хотите отменить ">
                        <img src="/tpl/admin/images/return.png"/>
                    </a>
                </td>
            </tr>
        <? } ?>
    </table>
</div>

<script>
    function showImportMessge() {
        $.stickr({
            note: 'Сейчас вам будет предложен для скачивания файл выгрузки заказа,этот файл предназначен для интеграции с системой учета 1С.' +
                ' Для интеграции свяжитесь с <a href="mailto:sup@skylogic.com.ua">администартором сайта</a>',
            className: "next",
            position: {right: "60%", bottom: "100%"},
            time: 5000,
            speed: 300
        });
    }
</script>

<div class="table-tools">
    <a class="check_all" href="javascript:void(0);">Выбрать все</a>|
    <a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>
<?= $vars['list']['paging'] ?>