<!DOCTYPE html>
<html lang="<?= $_SESSION['key_lang'] ?>">
<?= $vars['head'] ?>
<body>
<?= $vars['header'] ?>
<?= $vars['slider'] ?? '' ?>
<main class="main main-container">
    <?= isset($vars['info-message']) ? showInfoMessage($vars['info-message'], true) : '' ?>
    <?= isset($vars['breadcrumbs']) ? htmlspecialchars_decode($vars['breadcrumbs']) : '' ?>
    <div class="content">
	   <?= $vars['content'] ?>
	   <?= $vars['seo'] ?>
    </div>
</main>
<?= $vars['footer'] ?>
<?= $vars['modals'] ?? '' ?>
<?= $vars['scripts'] ?>
<? include $_SERVER['DOCUMENT_ROOT'] . '/tpl/default/forms/subscribe.phtml' ?>
<? include $_SERVER['DOCUMENT_ROOT'] . '/tpl/default/forms/contact_modal.phtml' ?>
<? include $_SERVER['DOCUMENT_ROOT'] . '/tpl/default/forms/quick_modal.phtml' ?>
<button type="button" class="go-top">
    <i class="fa fa-angle-up"></i>
</button>

<button type="button" class="callback-fixed"
        data-toggle="modal" data-target="#callback-modal">
    <i class="fa fa-phone"></i>
</button>

<script src="/tpl/admin/js/jquery.cookie.js"></script>
<script src="/tpl/default/js/show_subscribe_modal.js"></script>
</body>
</html>