<h2 class="panel-title">
    <?= $vars['translate']['contact'] ?>
</h2>
<p><?= $vars['translate']['contact_form_description'] ?></p>
<form class="form-horizontal contact-form" method="post" role="form">
    <input type="hidden" name="form-type" value="contact">
    <div class="col-xs-12">
        <div class="row">
            <div class="form-group">
                <div class="col-lg-6">
                    <input type="text" class="validate custom-input" name="name"
                           value="<?= $_POST['name'] ?>" required tabindex="1"
                           placeholder="<?= $vars['translate']['name'] ?>*"
                           title="<?= $vars['translate']['name'] ?>">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6">
                    <input type="text" data-type="phone" value="<?= $_POST['phone'] ?>"
                           placeholder="<?= $vars['translate']['phone'] ?> "
                           class="custom-input" required name="phone" tabindex="2"
                           title="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX"/>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" style="width: 250px; margin-top: 25px;" tabindex="3"
            class="btn btn-main text-uppercase">
        <?= $vars['translate']['submit'] ?>
    </button>
</form>