<div id="callback-modal" class="modal fade " role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><?= $vars['translate']['callback_me'] ?></h4>
            </div>
            <form class="content form-custom" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="validate form-control" name="name"
                               placeholder="<?= $vars['translate']['name'] ?>*" required
                               title="<?= $vars['translate']['name'] ?>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="validate form-control" name="phone"
                               data-type="phone" required
                               placeholder="<?= $vars['translate']['phone'] ?>* (0XX) XXX-XX-XX"
                               title="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX">
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha"></div>
                    </div>

                </div>
                <div class="modal-footer text-center">
                    <input type="hidden" name="form-type" value="callback">
                    <input type="hidden" name="error-type" value="toast">
                    <button type="submit" class="btn btn-main">
                        <?= $vars['translate']['submit'] ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


