<div id="form-popup" class="white-popup mfp-hide">
    <form method="post">
        <input type="hidden" name="form_type" value="contact">
        <div class="form-group">
            <label for="exampleFormControlInput1">Ваше Имя</label>
            <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Впишите ваше имя" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Ваш телефон</label>
            <input type="text" name="phone" class="form-control" id="exampleFormControlInput1" placeholder="+380997593456" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Ваш коментарий</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3" required></textarea>
        </div>
        <button type="button" class="js-form-submit callback-wrap-button w-auto word-nowrap">Отправить заявку</button>
        <div id="spinner"></div>
    </form>
</div>