<div id="cooperation-popup" class="white-popup mfp-hide">
    <form method="post">
        <div class="form-group">
            <input type="hidden" name="form_type" value="cooperation">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Название компании</label>
            <input type="text" name="company_name" class="form-control" id="exampleFormControlInput1"
                   placeholder="Впишите название компании" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Ваш телефон</label>
            <input type="text" name="phone" class="form-control" id="exampleFormControlInput1"
                   placeholder="+380997593456" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Контактное лицо</label>
            <input type="text" name="name" class="form-control" id="exampleFormControlInput1"
                   placeholder="Впишите ваше имя" required>
        </div>
        <button type="button" class="js-cooperation-submit callback-wrap-button w-auto word-nowrap">Отправить заявку
        </button>
        <div id="spinner"></div>
    </form>
</div>