<div id="fast-popup" class="white-popup mfp-hide">
    <h3>Оставьте контактные данные для получения скорейшей консультации и решения Ваших вопросов</h3>
    <form method="post">
        <input type="hidden" name="form_type" value="fast">
        <div class="form-group">
            <label for="exampleFormControlInput1">Ваше Имя</label>
            <input type="text" name="name" class="form-control" placeholder="Впишите ваше имя" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Ваш телефон</label>
            <input type="text" name="phone" class="form-control" placeholder="+380997593456" required>
        </div>
        <button type="button" class="js-fast-submit callback-wrap-button w-auto word-nowrap">Отправить заявку</button>
        <div id="spinner"></div>
    </form>
</div>