<div id="quick_order" class="modal fade " role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><?= $vars['translate']['quick_buy'] ?></h4>
            </div>
            <div class="quick-body">
                <div class="left_quick">

                </div>
                <div class="right_quick">

                    <form method="POST" action="/orders/checkout" class="checkout__form-quick">
                        <input type="hidden" name="user_id" value="<?= $_SESSION['user_id'] ?>">
                        <div class="form-group">
                            <label class="control-label">
                                <?= $vars['translate']['fio'] ?> :
                            </label>
                            <input title="<?= $vars['translate']['fio'] ?>" required
                                   value="<?= fillField('name') ?>"
                                   type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label for="inputPhone" class="control-label">
                                <?= $vars['translate']['phone'] ?> :
                            </label>
                            <input type="text" class="form-control" name="phone" required
                                   data-type="phone" placeholder="(0XX) XXX-XX-XX"
                                   value="<?= fillField('phone') ?>"
                                   title="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX">
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                <?= $vars['translate']['amount'] ?> :
                            </label>
                            <div class="input-group btn-block-150 quantity-control">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                    data-type="minus" data-field="">
                              <span class="glyphicon glyphicon-minus"></span>
                            </button>z
                        </span>
                                <input title="Qt" type="text" name="amount" data-cart-id=""
                                       class="form-control input-number-modal " value="" min="1">
                                <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                    data-type="plus" data-field="">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                            </div>
                        </div>
                            <button type="submit" name="order_action" value="CS:GO"
                                    class="btn btn-main btn_quick">
                                <?= $vars['translate']['to_order'] ?>
                            </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>