<h2 class="panel-title text-center">
    <?= $vars['translate']['request'] ?>
</h2>
<p class="text-center contact_form_description"><?= $vars['translate']['contact_form_description'] ?></p>
<form class="form-horizontal text-center contact-form" method="post" role="form">
    <input type="hidden" name="form-type" value="contact">
    <div class="form-group" style="text-align: -webkit-center;">
        <input type="text" class="validate custom-input" name="name"
               value="<?= $_POST['name'] ?>" required tabindex="1"
               placeholder="<?= $vars['translate']['name'] ?>*"
               title="<?= $vars['translate']['name'] ?>">
    </div>
    <div class="form-group" style="text-align: -webkit-center;">
        <input type="text" data-type="phone" value="<?= $_POST['phone'] ?>"
               placeholder="<?= $vars['translate']['phone'] ?> "
               class="custom-input" required name="phone" tabindex="2"
               title="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX"/>
    </div>
    <div class="form-group">
        <button type="submit" style="width: 250px;" tabindex="3"
                class="btn btn-main text-uppercase">
            <?= $vars['translate']['submit'] ?>
        </button>
    </div>
</form>