<div id="send_apply" class="apply-popup mfp-hide">
    <form id="regForm" action="">
        <input type="hidden" name="form_type" value="apply">
        <div class="top-wrapper">
            <p id="top-wrapper-title">Уточнение деталей заявки</p>
           <div class="progress_form">
               <div class="progress_bar" style="width: 14.3333%;"></div>
           </div>
        </div>


        <!-- One "tab" for each step in the form: -->
        <div class="tab"> <h3>
                Выберите одну или несколько услуг:
            </h3>
            <div>
                <input type="checkbox" id="check" name="checkbox[]"
                       value="Новый паспорт моряка" />
                <label for="check">Новый паспорт моряка</label>
            </div>
            <div>
                <input type="checkbox" id="check1" name="checkbox[]"
                       value="Продление паспорта моряка" />
                <label for="check1">Продление паспорта моряка</label>
            </div><div>
                <input type="checkbox" id="check2" name="checkbox[]"
                       value="Морские сертификаты" />
                <label for="check2">Морские сертификаты</label>
            </div>
            <div>
                <input type="checkbox" id="check3" name="checkbox[]"
                       value="Рабочий диплом или подтверждение к нему" />
                <label for="check3">Рабочий диплом или подтверждение к нему</label>
            </div><div>
                <input type="checkbox" id="check4" name="checkbox[]"
                       value="Послужная книжка" />
                <label for="check4">Послужная книжка</label>
            </div>
            <div>
                <input type="checkbox" id="check5" name="checkbox[]"
                       value="КПК" />
                <label for="check5">КПК</label>
            </div><div>
                <input type="checkbox" id="check6" name="checkbox[]"
                       value="Экзамен ГКК" />
                <label for="check6">Экзамен ГКК</label>
            </div>
            <div>
                <input type="checkbox" id="check7" name="checkbox[]"
                       value="Медицинская комиссия" />
                <label for="check7">Медицинская комиссия</label>
            </div><div>
                <input type="checkbox" id="check8" name="checkbox[]"
                       value="Другое" />
                <label for="check8">Другое</label>
            </div>
        </div>

        <div class="tab"><h3>Ваша должность:</h3>
            <div>
                <input type="radio" id="radio" name="staff[]" value="Офицер" />
                <label for="radio">Офицер</label>
            </div>
            <div>
                <input type="radio" id="radio1" name="staff[]" value="Рядовой" />
                <label for="radio1">Рядовой</label>
            </div><div>
                <input type="radio" id="radio2" name="staff[]" value="Сервисный персонал"/>
                <label for="radio2">Сервисный персонал</label>
            </div>
            <div>
                <input type="radio" id="radio3" name="staff[]" value="Курсант" />
                <label for="radio3">Курсант</label>
            </div>
        </div>

        <div class="tab"><h3>Укажите необходимые сроки, пожалуйста:</h3>
            <div>
                <input type="radio" id="day" name="duration[]" value="1 день" />
                <label for="day">1 день</label>
            </div>
            <div>
                <input type="radio" id="day1" name="duration[]" value="5 дней" />
                <label for="day1">5 дней</label>
            </div><div>
                <input type="radio" id="day2" name="duration[]" value="10 дней" />
                <label for="day2">10 дней</label>
            </div>
        </div>

        <div class="tab"><h3>Ваши контактные данные для связи:</h3>
            <p><input name="name" placeholder="Ваше Имя..." oninput="this.className = ''"></p>
            <p><input name="phone" placeholder="Телефон..." oninput="this.className = ''"></p>
            <p><input name="email" placeholder="Ваш e-mail..." oninput="this.className = ''"></p>
        </div>

        <div style="overflow:auto;">
            <div id="spinner"></div>
            <div style="display: flex; justify-content: space-between; padding: 30px">

                <button type="button" id="prevBtn" class="btn_step_form btn_step_form--prev" onclick="nextPrev(-1)">Назад</button>
                <button type="button" id="nextBtn" class="btn_step_form" onclick="nextPrev(1)">Дальше</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>

    </form>
</div>

<script>
    let currentTab = 0; // Current tab is set to be the first tab (0)

    let list_service = document.getElementsByName("checkbox[]");
    let list_staff = document.getElementsByName("staff[]");
    let list_duration = document.getElementsByName("duration[]");

    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form ...
        let x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        // ... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("top-wrapper-title").innerHTML = "Вам ответит ваш персональный морской инспектор";
            document.getElementById("nextBtn").innerHTML = "Отправить";
        } else {
            document.getElementById("top-wrapper-title").innerHTML = "Уточнение деталей заявки"
            document.getElementById("nextBtn").innerHTML = "Дальше";
        }
        // ... and run a function that displays the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        let x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form... :
        if (currentTab >= x.length) {
            //...the form gets submitted:
            send_apply();

        }
        document.getElementById('spinner').innerHTML = ' ';
        document.getElementById('spinner').classList.remove('invalid')
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        let x, y, i, phone_input, valid = true;

        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
         phone_input = x[currentTab].querySelectorAll("input[name=phone]");

        let list = [];

        for (let i= 0; i<y.length;i++) {
            if (y[i].checked === true) {
                list.push(y[i].value);
            }
        }

        if (phone_input.length > 0 ){
            if (phone_input[0].value == ""){
                document.getElementById('spinner').innerHTML = 'Заполните Телефон';
                document.getElementById('spinner').className = ' invalid';
                valid = false;
            }else{
                valid = true;
            }
        }else{
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                if (list.length < 1){
                    document.getElementById('spinner').innerHTML = 'Выберите хотябы один пункт';
                    document.getElementById('spinner').className = ' invalid';
                    valid = false;
                }
            }
        }

        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementById('spinner').innerHTML = ' ';
            document.getElementById('spinner').classList.remove('invalid')
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        let i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class to the current step:
        x[n].className += " active";
    }
</script>