<div class="container">
    <div class="row section-20 justify-content-center">
	   <? if (!empty($vars['products'])) { ?>

	   <? } else { ?>
            <h2 class="text-center">
			 <?= $vars['translate']['no-favorites-now'] ?>
                <i class="fa fa-frown-o m-l-15"></i>
            </h2>
	   <? } ?>
    </div>
</div>