<div class="row section-20 justify-content-center">
    <? if (!empty($vars['orders'])) { ?>
        <div class="table-responsive col-xs-12">
            <table class="table table-bordered">
                <thead>
                <tr valign="middle">
                    <td width="60" class="text-center"> №</td>
                    <td class="text-center">
				    <?= $vars['translate']['date'] ?>
                    </td>
                    <td class="text-center">
				    <?= $vars['translate']['count_products'] ?>
                    </td>
                    <td class="text-center">
				    <?= $vars['translate']['sum'] ?>
                    </td>
                    <td class="text-center">
				    <?= $vars['translate']['status'] ?>
                    </td>
                </tr>
                </thead>
                <tbody>
			 <? foreach ($vars['orders'] as $order) { ?>
                    <tr>
                        <td class="text-center">
					   <?= $order['id'] ?>
                        </td>
                        <td class="text-center">
					   <?= $order['date_edit'] ?>
                        </td>
                        <td class="text-center">
					   <?= $order['amount'] ?>
                        </td>
                        <td class="text-center">
					   <?= Numeric::formatPrice($order['sum']) ?>
                        </td>
                        <td class="text-center">
					   <?= $order['status'] ?>
                        </td>
                    </tr>
			 <? } ?>
                </tbody>
            </table>
        </div>
    <? } else { ?>
        <h2 class="text-center">
		  <?= $vars['translate']['no-orders-now'] ?>
            <i class="fa fa-frown-o m-l-15"></i>
        </h2>
    <? } ?>
</div>