<div class="row section-20">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-smart">
            <div class="panel-heading">
                <h3 class="panel-title">
				<?= $vars['translate']['info_user'] ?>
                </h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group required-input">
                        <input type="email" placeholder="<?= $vars['translate']['email'] ?>" readonly
                               maxlength="64" minlength="7" value="<?= $_SESSION['user_info']['email'] ?>"
                               class="form-control" required name="email" title="E-mail" tabindex="1"/>
                    </div>
                    <div class="form-group required-input">
                        <input type="text" placeholder="<?= $vars['translate']['name'] ?>"
                               maxlength="64" minlength="2" value="<?= $_SESSION['user_info']['name'] ?>"
                               class="form-control"
                               required name="name" title="<?= $vars['translate']['name'] ?>" tabindex="2"/>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="<?= $vars['translate']['sname'] ?>"
                               maxlength="64" minlength="2" value="<?= $_SESSION['user_info']['sname'] ?>"
                               class="form-control"
                               name="surname" title="<?= $vars['translate']['sname'] ?>" tabindex="3"/>
                    </div>
                    <div class="form-group required-input">
                        <input type="text" data-type="phone" value="<?= $_SESSION['user_info']['phone'] ?>"
                               placeholder="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX"
                               required name="phone" title="<?= $vars['translate']['phone'] ?> (0XX) XXX-XX-XX"
                               tabindex="4" class="form-control"/>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" name="save_user_info" tabindex="5"
                                value="save" class="btn btn-main">
					   <?= $vars['translate']['save'] ?>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-smart">
            <div class="panel-heading">
                <h3 class="panel-title">
				<?= $vars['translate']['tab_password'] ?>
                </h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group  required-input">
                        <input type="password" placeholder="<?= $vars['translate']['password'] ?>"
                               maxlength="32" minlength="7" tabindex="6" required class="form-control"
                               name="password" title="<?= $vars['translate']['password'] ?>"/>
                    </div>
                    <div class="form-group  required-input">
                        <input type="password" placeholder="<?= $vars['translate']['password_repeat'] ?>"
                               maxlength="32" minlength="7" tabindex="7" required class="form-control"
                               name="password_repeat" title="<?= $vars['translate']['password_repeat'] ?>"/>
                    </div>
                    <div class="row justify-content-center">

                        <button type="submit" name="save_new_password" tabindex="8"
                                value="new_password" class="btn btn-main">
					   <?= $vars['translate']['save'] ?>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>