<div class="cm-notification-container"><?= $vars['message'] ?></div>
<div class="cm-tabs-content">
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title"> Город : <?= $vars['edit']['name'] ?></h1>
    </div>
    <div class="extra-tools">
        <a class="tool-link cm-confirm"
           href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">Удалить</a>
    </div>
    <div class="mainbox-body">
        <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""
              enctype="multipart/form-data">
            <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>
            <div id="content_basic" class="cm-tabs">
                <fieldset>

                    <h2 class="subheader"> Информация </h2>
                    <div class="form-field">
                        <label>Название:</label>
                        <input title="Название" type="text" class="input-text-large main-input"
                               value="<?= $vars['edit']['name'] ?>"
                               name="name"/>
                    </div>
                    <h2 class="subheader"> Отделения </h2>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <td width="100">ID</td>
                                <td class="text-left">Название</td>
                            </tr>
                            </thead>
                            <tbody>
                            <? foreach ($vars['departments'] as $department) { ?>
                                <tr>
                                    <td><?= $department['id'] ?></td>
                                    <td class="text-left"><?= $department['name'] ?></td>
                                </tr>
                            <? } ?>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div class="buttons-container cm-toggle-button buttons-bg">
                <div class="cm-buttons-floating">
                    <div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Сохранить" name="update"/>
                        </span>
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Сохранить и закрыть" name="update_close"
                                   class="cm-save-and-close"/>
                        </span> или
                        <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                    </div>
                </div>
            </div>
            <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
        </form>
    </div>
</div>