<div id="message" class="cm-notification-container">
  <?= $vars['message'] ?>
</div>
<div>
    <div class="clear mainbox-title-container">
        <div class="tools-container">
            <span class="action-add">
                <a href="/admin/<?= $vars['action'] ?>/update-list/all">Обновить базу</a>
            </span>
        </div>
        <h1 class="mainbox-title float-left">
          <?= $vars['name'] ?>
        </h1>
    </div>
    <div class="mainbox-body">
        <div id="content_manage_users">
            <form name="userlist_form" method="post" action="/admin/<?= $vars['action'] ?>/update"
                  enctype="multipart/form-data">
                <div id="pagination_contents">
                  <?= $vars['list'] ?>
                </div>
                <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
            </form>
        </div>
    </div>
</div>