<div class="items-container multi-level">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"
           class="table table-fixed hidden-inputs tb_sort table_982px">
        <tr class="noDrop">
            <th width="100">ID</th>
            <th class="text-left">Название</th>
            <th width="100">Действие</th>
        </tr>
      <? foreach ($vars['list'] as $row) { ?>
          <tr id="sort<?= $row['id'] ?>">
              <td><span><?= $row['id'] ?></span></td>
              <td class="text-left">
                  <a href="/admin/<?= $vars['action'] . '/edit/' . $row['id'] ?>">
                    <?= $row['name'] ?>
                  </a>
              </td>
              <td>
                  <span class="tools-list">
                      <a href="/admin/<?= $vars['action'] . '/delete/' . $row['id'] ?>"
                         class="cm-confirm">Удалить</a>
                  </span>
              </td>
          </tr>
      <? } ?>
    </table>
</div>