<div class="cm-notification-container">
  <?= $vars['message'] ?>
</div>
<div>
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Выгрузка</h1>
    </div>
    <div class="mainbox-body">
        <div class="cm-tabs-content">
            <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post"
                  enctype="multipart/form-data">
                <div id="content_basic">
                    <fieldset>
                        <h2 class="subheader"> Импорт </h2>
                        <div>
                            Файл с указаного адреса будет скопирован и добавлен в очерень на загрузку. Загрузка будет
                            происходить каждый час.
                        </div>
                        <div class="form-field">
                            <label class="cm-required">
                                Ссылка для ипорта
                                <br/>
                                (prom.ua)
                            </label>
                            <input title="Ссылка для ипорта" name="link_import" class="form-control ">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" name="upload"
                                    style="margin: auto;display: block">
                                Загрузить
                            </button>
                        </div>
                    </fieldset>

                    <fieldset>
                      <? if (isset($vars['busy'])) { ?>
                          <div style="color: green;margin: 25px"> Выполняется выгрузка</div>
                      <? } ?>
                      <? if (count($vars['files']) > 0) { ?>
                          <h2 class="subheader"> Загруженные файлы </h2>
                          <div style="margin: 10px">
                            <? foreach ($vars['files'] as $key => $file) { ?>
                                <div> <?= $file ?></div>
                            <? } ?>
                          </div>
                      <? } ?>
                    </fieldset>
                </div>
                <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
            </form>
        </div>
    </div>
</div>