<div class="cm-notification-container"></div>
<?= $vars['message'] ?>
<div class="cm-tabs-content">
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Новый фотоальбом:&nbsp;</h1>
	</div>
	<div class="extra-tools">

	</div>
	<div class="mainbox-body">
		<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
			<div id="content_basic" class="cm-tabs">
				<fieldset>
					<h2 class="subheader"> Информация </h2>

					<div class="form-field">
						<label class="cm-required" for="page">Название:</label>
						<input type="text" class="input-text-large main-input" value="" size="55" name="name"/>
					</div>
                    <div class="form-field">
                        <label>Заглавие:</label>
                        <input type="text" class="input-text-large main-input" value="<?= $vars['edit']['title'] ?>" name="title"/>
                    </div>
                    <div class="form-field">
                        <label>Описание:</label>
                        <?= showEditor('body', ''); ?>
                    </div>
                    <div class="form-field">
                        <label >Положение кнопки:</label>
                        <div class="select-field">
                            <input type="radio" class="radio" value="0" name="button" checked="checked" >
                            <label >Выкл.</label>
                            <input type="radio" class="radio" value="1" name="button" >
                            <label >Слева</label>
                            <input type="radio" class="radio" value="2" name="button">
                            <label >По центру</label>
                            <input type="radio" class="radio" value="3" name="button">
                            <label >Справа</label>
                        </div>
                    </div>
					<div class="form-field">
						<label class="cm-required">Состояние:</label>
						<div class="select-field">
							<input type="radio" class="radio" value="1" name="active" checked="checked"/>
							<label>Вкл.</label>
							<input type="radio" class="radio" value="0" name="active"/>
							<label>Выкл.</label>
						</div>
					</div>
                    <h2 class="subheader">Обложка</h2>
                      <?php
                      $path = "files/tmp/";
                      $vars['path'] = $path;
                      $vars['image_id'] = mktime();
                      $_SESSION['tmp_image'] = $vars['image_id'];
                      include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml";
                      ?>
                    <input type="hidden" name="tmp_image" value="<?= $vars['image_id'] ?>"/>
				</fieldset>
			</div>

			<div class="buttons-container cm-toggle-button buttons-bg">
				<div class="cm-buttons-floating " style="display: block;">
					<div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Создать" name="add"/>
                        </span>&nbsp;
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Создать и открыть" name="add_open" class="cm-save-and-close"/>
                        </span> &nbsp;или&nbsp;&nbsp;
						<a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
					</div>
				</div>
			</div>
			<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>