<div class="cm-notification-container"></div>
<?= $vars['message'] ?>
<div class="cm-tabs-content">
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Редактирование:&nbsp;<?= $vars['edit']['name'] ?></h1>
    </div>
    <div class="extra-tools">
        <a class="tool-link" href="/admin/<?= $vars['action'] ?>/add">Добавить</a>
        <a class="tool-link cm-confirm"
           href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">Удалить</a>
    </div>
    <div class="mainbox-body">
        <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""
              enctype="multipart/form-data">
            <input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>

            <div id="content_basic" class="cm-tabs">
                <fieldset>
                    <h2 class="subheader"> Информация </h2>
                    <div class="form-field">
                        <label class="cm-required" for="page">Название:</label>
                        <input type="text" class="input-text-large main-input" value="<?= $vars['edit']['name'] ?>"
                               size="55" name="name"/>
                    </div>
                    <div class="form-field">
                        <label>Заглавие:</label>
                        <input type="text" class="input-text-large main-input" value="<?= $vars['edit']['title'] ?>"
                               name="title"/>
                    </div>
                    <div class="form-field">
                        <label for="page_descr">Описание:</label>
                      <?= showEditor('body', $vars['edit']['body']); ?>
                    </div>
                    <div class="form-field">
                        <label >Положение кнопки:</label>
                        <div class="select-field">
                            <input type="radio" class="radio" value="0"
                                   name="button" <? if ($vars['edit']['button'] == 0) echo ' checked="checked"'; ?>>
                            <label >Выкл.</label>
                            <input type="radio" class="radio" value="1"
                                   name="button" <? if ($vars['edit']['button'] == 1) echo ' checked="checked"'; ?>>
                            <label >Слева</label>
                            <input type="radio" class="radio" value="2"
                                   name="button" <? if ($vars['edit']['button'] == 2) echo ' checked="checked"'; ?>>
                            <label >По центру</label>
                            <input type="radio" class="radio" value="3"
                                   name="button" <? if ($vars['edit']['button'] == 3) echo ' checked="checked"'; ?>>
                            <label >Справа</label>
                        </div>
                    </div>
                    <div class="form-field">
                        <label class="cm-required">Состояние:</label>
                        <div class="select-field">
                            <input type="radio" class="radio" value="1" id="page_data_0_a"
                                   name="active" <? if ($vars['edit']['active'] == 1) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_a">Вкл.</label>
                            <input type="radio" class="radio" value="0" id="page_data_0_d"
                                   name="active" <? if ($vars['edit']['active'] == 0) echo ' checked="checked"'; ?>>
                            <label for="page_data_0_d">Выкл.</label>
                        </div>
                    </div>

                        <h2 class="subheader">Обложка</h2>
                      <? $vars['image_id'] = $vars['edit']['id'];
                      include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml"; ?>
                        <input type="hidden" name="tmp_image" value="<?= $vars['image_id'] ?>"/>
                </fieldset>
            </div>
            <div class="buttons-container cm-toggle-button buttons-bg">
                <div class="cm-buttons-floating" style="display: block;">
                    <div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Сохранить" name="update"/>
                        </span>&nbsp;
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Сохранить и закрыть" name="update_close"
                                   class="cm-save-and-close"/>
                        </span> &nbsp;или&nbsp;&nbsp;
                        <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>