<div class="items-container multi-level">
	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="table table-fixed hidden-inputs tb_sort table_982px">
		<tr class="noDrop">
			<th width="40">ID</th>
            <th width="160">Фото</th>
            <th>Название</th>
			<th width="110">Состояние</th>
			<th width="100" style="text-align:center;">Действие</th>
		</tr>
		<?php
			foreach ($vars['list'] as $row) {
                  if (file_exists($row['photo'])) $src = "/" . $row['photo'] . "?" . time();
                  else $src = "/tpl/admin/images/no_image.gif";
				if ($row['active'] == 1) $active = '<div class="selected-status status-a"><a> Вкл. </a></div>';
				else $active = '<div class="selected-status status-d"><a> Выкл. </a></div>';
				echo '<tr id="sort' . $row['id'] . '">
					<td><span>' . $row['id'] . '</span></td>
					<td><img src="' . $src . '" style="max-height:100px;max-width:150px;" /></td>
					<td><input type="text" value="' . $row['name'] . '" name="name[]" class="input-text"></td>
					<td><input type="hidden" value="' . $row['id'] . '" name="save_id[]" />
						<div class="select-popup-container active_status" id="active' . $row['id'] . '">' . $active . ' </div>
					</td>
					<td width="10%">
						<a href="/admin/' . $vars['action'] . '/edit/' . $row['id'] . '" class="tool-link">Редактировать</a>
					</td>
				</tr>';
			}
		?>
	</table>

</div>
<?= $vars['list']['paging'] ?>