<section id="preview_order">
    <div class="container">
      <? if (!empty($vars['products'])) { ?>
          <h1 class="main-title"><?= $vars['translate']['your_ order'] ?></h1>
          <div class="row">
              <div class="col-12">
                  <div class="row d-flex justify-content-center flex-wrap">
                    <?= $vars['product-thumbs'] ?>
                  </div>
              </div>
              <div class="col-12">
                  <hr class="gray-line"/>
                  <div class="row section-20">
                      <div class="col-12 col-md-6">
                          <div class="preview-total-sum">
                              <span><?= $vars['translate']['sum'] ?> - </span>
                              <span class="basket-total-sum"></span>
                          </div>
                          <a class="c-btn info-btn" href="<?= LINK . '/orders/checkout' ?>">
                            <?= $vars['translate']['go_pay'] ?>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      <? } else { ?>
          <div class="product-info-box">
              <h4 class="heading"> <?= $vars['translate']['cart_empty'] ?> </h4>
          </div>
          <div class="empty-cart-block">
              <img src="/tpl/default/img/other/cart-empty.png" alt="cart-empty">
          </div>
      <? } ?>
    </div>
</section>
