<div class="table-responsive shopping-cart-table">
    <table class="table table-bordered">
        <thead>
        <tr valign="middle">
            <td width="240" class="text-center">
                <?= $vars['translate']['photo'] ?>
            </td>
            <td class="text-center">
                <?= $vars['translate']['desc'] ?>
            </td>
            <td width="160" class="text-center">
                <?= $vars['translate']['amount'] ?>
            </td>
            <td width="120" class="text-center">
                <?= $vars['translate']['price_one'] ?>
            </td>
            <td width="120" class="text-center">
                <?= $vars['translate']['price_pack'] ?>
            </td>
            <td class="text-center">
                <?= $vars['translate']['sum'] ?>
            </td>
            <td width="60" class="text-center"></td>
        </tr>
        </thead>
        <tbody>
        <? foreach ($vars['products'] as $product) {
            $price = Numeric::getPrice($product) ?>
            <tr>
                <td class="text-center">
                    <a href="<?= Links::getLink('/product/' . $product['url']) ?>">
                        <img src="<?= Links::setDefaultImage(xsPhoto($product['photo'])) ?>"
                             alt="<?= $product['name'] ?>" title="<?= $product['name'] ?>" class="img-thumbnail"/>
                    </a>
                </td>
                <td class="text-center">
                    <a href="<?= Links::getLink('/product/' . $product['url']) ?>">
                        <?= $product['name'] ?>
                    </a>
                    <ul class="list-unstyled">
                        <? foreach (array('code', 'sizes', 'material', 'packaged') as $param) {
                            if (!empty($product[$param])) { ?>
                                <li>
                                    <span><?= $vars['translate'][$param] ?> : </span>
                                    <?= $product[$param] ?>
                                </li>
                            <? } ?>
                        <? } ?>
                    </ul>
                </td>
                <td class="text-center">
                    <div class="input-group btn-block quantity-control">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                    data-type="minus" data-field="">
                              <span class="glyphicon glyphicon-minus"></span>
                            </button>z
                        </span>
                        <input title="Qt" type="text" name="amount" data-cart-id="<?= $product['cart_id'] ?>"
                               class="form-control input-number" value="<?= $product['amount'] ?>" min="1">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                    data-type="plus" data-field="">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <td class="text-center">
                    <?= $price['price_format'] ?>
                </td>
                <td class="text-center">
                    <?= $price['price_pack_format'] ?>
                </td>
                <td class="text-center">
                    <div class="text-center" data-cart-sum="<?= $product['cart_id'] ?>">
                    <?= Numeric::formatPrice($price['price_pack'] * $product['amount']); ?>
                    </div>
                </td>
                <td class="text-center">
                    <button type="button"
                            onclick="DeleteFromBasket(<?= $product['cart_id'] ?>,$(this).parents('tr'));"
                            title="<?= $vars['translate']['delete'] ?>"
                            class="btn btn-default tool-tip">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </td>
            </tr>
        <? } ?>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-right">
                <strong><?= $vars['translate']['total'] ?> : </strong>
            </td>
            <td colspan="2" class="text-left">
                <span class="basket-total-sum"></span>
            </td>
        </tr>
        </tfoot>
    </table>
</div>