<div class="cm-notification-container"></div>
<?= $vars['message'] ?>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Шаблоны и цветовые схемы</h1>
	</div>
	<div class="mainbox-body">
		<div class="cm-tabs-content">
			<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
				<div id="content_basic" style="display: block;">
					<fieldset>
						<h2 class="subheader"> Активный шаблон: </h2>
						<?
							foreach ($vars['edit'] as $row) {
								echo '<div class="form-field">
										<label for="theme_' . $row . '"><strong style="font-size: 24px;">' . $row . '</strong></label>
										<input type="radio" name="themes" value="' . $row . '" id="theme_' . $row . '"';
								if ($row == $vars['theme']['value']) echo ' checked="checked"';
								echo ' /><br />
									 </div>
									 <h4>Цветовые схемы шаблона '.$row.':</h4>
									 <div class="form-field color_theme_selector">
									 <div class="colors_list">';
								foreach ($vars['colors'][$row] as $c) {
									echo '<div>
										<label for="theme_color_' . $c . '">' . $c . ':</label>
										<input type="radio" name="theme_color" value="' . $c . '" id="theme_color_' . $c . '"';
									if ($c == $vars['theme_color']['value']) echo ' checked="checked"';
									echo ' /><br />';
									echo '<a href="/tpl/' . $row . '/colors/' . $c . '/images/screen.jpg" rel="lightbox">
											<img src="/tpl/' . $row . '/colors/' . $c . '/images/screen.jpg" alt="" class="template_preview"/>
											</a>';
									echo '</div>';
								}
								echo '</div></div><hr/><hr/>';
							}
						?>
					</fieldset>
				</div>
				<div class="buttons-container cm-toggle-button buttons-bg">
					<div class="cm-buttons-floating">
						<div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Сохранить" name="update"/>
							</span>
						</div>
					</div>
				</div>
				<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
			</form>
		</div>
	</div>
</div>