<? if (isset($vars['banner']) && file_exists($vars['banner']['photo'])) { ?>
    <div class="container-fluid">
        <div class="row">
            <div class="banner">
                <img src="<?= getPathNoCache($vars['banner']['photo']) ?>" alt="<?= $vars['banner']['name'] ?>">
                <div class="banner-text section-10">
                    <div class="container">
                        <div class="banner-title">
                          <?= htmlspecialchars_decode($vars['banner']['title']) ?>
                        </div>
                        <div class="banner-body">
                          <?= htmlspecialchars_decode($vars['banner']['body']) ?>
                        </div>
                      <? if (isset($vars['banner']['button']) && $vars['banner']['button'] != 0) { ?>
                          <div class="btn-inform text-uppercase but_ban_position_<?= $vars['banner']['button'] ?>"
                               data-m-target="#callback-modal">
                            <?= $vars['translate']['button-banner-text'] ?>
                          </div>
                      <? } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<? } ?>