<?php if (!empty($vars['photos'])): ?>
    <div class="reviews_slider">
        <?php foreach ($vars['photos'] as $key => $photo): ?>
            <div>
                <a data-fancybox="images" href="<?= Links::setDefaultImage($photo['photo']) ?>">
                    <img src="<?= Links::setDefaultImage($photo['photo']) ?>" title="<?= $photo['name'] ?>"
                         alt="<?= $photo['name'] ?>" class="img-responsive"/>
                </a>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
