<? if (!empty($vars['photos'])) { ?>
    <div class="slider">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <? foreach ($vars['photos'] as $key => $photo) { ?>
                    <div class="item <?= $key == 0 ? 'active' : '' ?>">
                        <? if($photo['url']): ?>
                            <a href="<?=$photo['url'];?>" target="_blank" rel="nofollow noopener">
                                <img src="<?= Links::setDefaultImage($photo['photo']) ?>" title="<?= $photo['name'] ?>"
                                     alt="<?= $photo['name'] ?>" class="img-responsive"/>
                            </a>
                        <? else: ?>
                            <img src="<?= Links::setDefaultImage($photo['photo']) ?>" title="<?= $photo['name'] ?>"
                                 alt="<?= $photo['name'] ?>" class="img-responsive"/>
                        <? endif; ?>
                    </div>
                <? } ?>
            </div>

            <!-- Controls Starts -->
            <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <!-- Controls Ends -->
        </div>
    </div>
<? } ?>