.w-100 {
    width     : 100% !important;
    max-width : 100% !important;
}

.row {
    display   : flex;
    flex-wrap : wrap;
}

.justify-content-center {
    justify-content : center;
}

.d-block {
    display : block;
}

@media (max-width : 580px) {
    .row {
	   flex-direction : column;
    }
}

@media (max-width : 768px) {
    .row {
	   justify-content : center;
    }
}