/*modal custom*/
.custom-modal {
    display         : none;
    position        : fixed;
    top             : 0px;
    left            : 0px;
    width           : 100%;
    height          : 100%;
    z-index         : 900;
    background      : rgba(11, 0, 0, 0.5);
    justify-content : center;
    align-items     : center;
}

.custom-modal .content {
    position   : relative;
    padding    : 40px 50px;
    z-index    : 901;
    width      : 600px;
    max-width  : 95%;
    background : white;
}

.custom-modal .body-modal {

}

.custom-modal .foot-modal {

}

.custom-modal .btn-custom {
    margin           : 25px auto 0 auto;
    background-color : #F9F9F9;
}

.custom-modal .head-modal {
    text-align    : center;
    font-size     : 24px;
    line-height   : 34px;
    color         : black;
    margin-bottom : 10px;
}

.custom-modal .head-modal span {
    display        : block;
    margin         : auto;
    width          : max-content;
    text-transform : uppercase;
}

.custom-modal .head-modal span.under-title {
    margin-top  : 5px;
    font-size   : 14px;
    line-height : 20px;

}

form.content .body-modal .g-recaptcha {
    display         : flex;
    justify-content : center;
    margin          : 10px 0 0 0;
}

.custom-modal .close-modal:hover {
    color : red;
}

.message-modal {
    text-align : center;
    display    : none;
    padding    : 10px;
}

form.content .body-modal input,
form.content .body-modal textarea {
    margin : 5px 1px;
}

form.content .body-modal label {
    font-weight : bold;
}

form.content .body-modal,
form.content .foot-modal {
    display        : flex;
    flex-direction : column;
}

.custom-modal .close-modal {
    transition    : 0.3s;
    cursor        : pointer;
    text-align    : center;
    width         : 21px;
    height        : 21px;
    border-radius : 100%;
    line-height   : 18px;
    padding       : 2px 1px 0 1px;
    position      : absolute;
    font-weight   : bold;
    color         : #B2B2B2;
    font-size     : 37px;
    top           : 15px;
    right         : 20px;
}

#subscribe-modal .modal-dialog {
    transform : translate(0, -50%);
    top       : 50%;
    margin    : 0 auto;
}

#subscribe-modal .close {
    width      : 18px;
    margin-top : -5px;
}

#subscribe-modal .modal-content {
    border-radius : 1px;
    border        : 0;
}

.subscribe-modal-content {
    width  : 70%;
    margin : 50px auto 75px auto;
}

.subscribe-modal-content-title {
    text-transform : uppercase;
    font-size      : 20px;
    margin-bottom  : 35px;
    color          : #274B58;
}

.subscribe-modal-btn {
    background-color : #2897AF;
    color            : white;
    text-transform   : uppercase;
    border-bottom    : 1px solid #2897AF;
    border-top       : 1px solid #2897AF;
    border-right     : 1px solid #2897AF;
    border-left      : 0;
}

.subscribe-modal-btn:hover, .subscribe-modal-btn:focus {
    background-color : #1F6B7B;
    border-bottom    : 1px solid #1F6B7B;
    border-top       : 1px solid #1F6B7B;
    border-right     : 1px solid #1F6B7B;
    border-left      : 0;
    color            : white;
}

.subscribe-validate {
    color      : red;
    margin-top : 10px;
}

.thanks-for-subs {
    text-align : center;
    color      : #274B58;
    font-size  : 30px;
}

#subscribe-modal .swal2-icon.swal2-success .swal2-success-fix {
    top : .3em !important;
}

#subscribe-modal .swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    right : .3em !important;
}

#subscribe-modal .swal2-success-custom-text {
    text-align : center;
    font-size  : 18px;
    color      : #274B58;
    margin     : 30px 0;
}