:root {
    --color            : #1C1C1C;
    --color-hover      : #87AB5F;
    --color-border     : #009CB0;
    --bg-color         : #87AB5F;
    --press-text-color : #6A9837;
    --price-color      : #6C8F46;
    --brawn-text       : #6E4733;
    --gray-light       : #808080;
    --title-bg         : #E0EED0
}

html {
    width     : 100%;
    height    : 100%;
    font-size : 14px;
}

button.go-top {
    background  : #2897AF;
    position    : fixed;
    bottom      : 20px;
    right       : 25px;
    border      : 1px solid #1D7373;
    color       : white;
    display     : none;
    z-index     : 900;
    font-size   : 32px;
    line-height : 1;
    padding     : 5px 10px 7px 10px;
}

button.callback-fixed {
    background         : #2897AF;
    position           : fixed;
    bottom             : 70px;
    right              : 25px;
    border             : 1px solid #1D7373;
    color              : white;
    z-index            : 900;
    line-height        : 1;
    font-size          : 27px;
    -webkit-transition : 0.2s;
    -o-transition      : 0.2s;
    transition         : 0.2s;
    padding            : 7px 10px 5px 10px;
}

button.callback-fixed:hover {
    background-color : #1F6B7B;
}

#callback-modal .modal-dialog {
    max-width : 400px;
}

#callback-modal .modal-footer {
    text-align : center;
}

#callback-modal .modal-footer .btn {
    width : 250px;
}

#callback-modal .g-recaptcha {
    min-width : 305px;
}

@media (max-width : 768px) {
    #callback-modal .modal-dialog {
	   margin : 30px auto;
    }
}

@media (max-width : 355px) {
    #callback-modal .g-recaptcha {
	   margin-left       : -18px;
	   -webkit-transform : scale(0.9);
	   -ms-transform     : scale(0.9);
	   transform         : scale(0.9);
    }
}

.default-color {
    color : #1C1C1C;
}

body {
    background              : #FFF;
    color                   : var(--color);
    font                    : 14px/22px 'Roboto Condensed', sans-serif;
    width                   : 100%;
    min-height              : 100%;
    margin                  : auto;
    display                 : -moz-flex;
    display                 : -ms-flex;
    display                 : -o-flex;
    display                 : -ms-flexbox;
    display                 : -webkit-box;
    display                 : flex;
    -webkit-box-orient      : vertical;
    -webkit-box-direction   : normal;
    -ms-flex-flow           : column;
    flex-flow               : column;
    word-wrap               : break-word;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

iframe, img {
    max-width : 100%;
}

header {
    z-index : 30;
}

main.main {
    -ms-flex         : 1 0 auto;
    -webkit-box-flex : 1;
    flex             : 1 0 auto;
    background       : white;
    position         : relative;
    z-index          : 20;
    font-size        : 14px;
    max-width        : 100%;
    overflow         : hidden;
}

main.main .content {
    position : relative;
    z-index  : 50;
}

*, *:before, *:after {
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
}

/* Standard Styles Starts */

a {
    color : #1D7373;
}

a:hover,
a:active,
a:focus {
    color : #FF2E2B;
}

a:focus {
    outline : none;
}

h1, h2, h3, h4, h5, h6 {
    font-family : 'Roboto Condensed', sans-serif;
    color       : #1C1C1C;
}

h1 {
    font-size : 38px;
}

h2 {
    font-size : 32px;
}

h3 {
    font-size : 26px;
}

h4 {
    font-size : 20px;
}

h5 {
    font-size : 18px;
}

h6 {
    font-size : 14px;
}

.main-heading {
    font-size   : 42px;
    line-height : 1.1;
}

.main-heading span {
    font-size : 18px;
    color     : #1D7373;
}

.main-heading2 {
    font-size : 24px;
}

.main-heading,
.main-heading2,
.sub-heading {
    text-transform : uppercase;
}

.sub-heading {
    font-size : 24px;
    padding   : 10px 0;
}

hr {
    border-color : #909090;
    border-style : solid;
}

/* Form & Buttons Styles Starts */

.btn-main {
    background-color : #006363;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active {
    background-color : #1D7373;
}

.btn-main,
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active {
    color : #FFF;
}

/* Header Area Styles Starts */

#header-area {
    background      : -webkit-gradient(linear, left bottom, left top, color-stop(20%, #2897AF), color-stop(60%, #31A5BE));
    background      : -o-linear-gradient(bottom, #2897AF 20%, #31A5BE 60%);
    background      : linear-gradient(to top, #2897AF 20%, #31A5BE 60%);
    background-size : cover;
}

.header-top {
    background-color : #1D7373;
}

/* Header Links Styles Starts */
.header-links li {
    display : inline-block;
}

.header-links li .fa {
    margin-right : 3px;
}

.header-links li a {
    color     : white;
    font-size : 13px;
    padding   : 5px 7px;
}

.header-links li:first-child a {
    padding-left : 0;
}

.header-links li:last-child a {
    padding-right : 0;
}

.header-links li a:hover,
.header-links li a:focus,
.header-links li.active a {
    background      : none;
    text-decoration : underline;
    color           : #FFF;
}

.phones-header {
    display               : -webkit-box;
    display               : -ms-flexbox;
    display               : flex;
    -webkit-box-align     : center;
    -ms-flex-align        : center;
    align-items           : center;
    -webkit-box-orient    : vertical;
    -webkit-box-direction : normal;
    -ms-flex-direction    : column;
    flex-direction        : column;
    -webkit-box-pack      : center;
    -ms-flex-pack         : center;
    justify-content       : center;
    font-size             : 18px;
    padding               : 5px;
}

.phones-header > a {
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    padding           : 3px;
}

.phones-header > a .phone-icon {
    display      : block;
    width        : 20px;
    margin-right : 5px;
}

.phones-header > a .phone-icon > img {
    display : block;
}

.head-socials {
    font-size         : 18px;
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    -webkit-box-pack  : center;
    -ms-flex-pack     : center;
    justify-content   : center;
}

.head-socials > a {
    color       : black;
    display     : inline-block;
    margin      : 0 10px;
    line-height : 1;
    font-size   : 20px;
}

.head-socials > a:hover {
    color : #2897AF;
}

textarea {
    max-width : 100%;
}

.comment-thumb {
    min-height : calc(100% - 20px);
}

.catalog-thumb .review-author {
    font-weight : 600;
}

.show-slide-down {
    display : none;
}

.comment-thumb .panel-title {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : justify;
    -ms-flex-pack    : justify;
    justify-content  : space-between;
}

.m-b-20 {
    margin-bottom : 20px;
}

/* Currency & Languages Drop Down Styles Starts */

.header-top .btn-group {
    display : table-cell;
}

.header-top .btn-link {
    position        : relative;
    padding         : 12px 15px;
    background      : #1C1C1C;
    color           : #FFF;
    text-transform  : uppercase;
    text-decoration : none;
    border          : none;
}

.header-top .btn-link i.fa {
    margin-left : 5px;
}

.header-top .btn-group + .btn-group .btn-link {
    margin-left : -1px;
    padding     : 12px 15px;
}

.header-top .btn-group:first-of-type .btn-link {
    background : #1C1C1C;
}

/* Main Header & Search Styles Starts */

.main-header {
    padding          : 15px 0;
    background-color : white;
}

#logo {
}

#logo img.img-responsive {
    margin-left  : auto;
    margin-right : auto;
}

.d-flex {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
}

.flex-column {
    -webkit-box-orient    : vertical;
    -webkit-box-direction : normal;
    -ms-flex-direction    : column;
    flex-direction        : column;
}

.justify-content-around {
    -ms-flex-pack   : distribute;
    justify-content : space-around;
}

#search {
    display       : block;
    border        : 1px solid #BABABA;
    border-radius : 5px;
}

#search .input-group {
}

#search .input-group .form-control {
    padding-left : 0;
    font-size    : 14px;
}

#search .input-group .form-control::-moz-placeholder {
    color : #BABABA;
}

#search .input-group .form-control:-ms-input-placeholder {
    color : #BABABA;
}

#search .input-group .form-control::-webkit-input-placeholder {
    color : #BABABA;
}

#search .input-group .form-control,
#search .input-group .btn {
    height             : 33px;
    padding            : 10px;
    background         : none;
    font-size          : 14px;
    border             : none;
    color              : black;
    border-radius      : 0;
    -webkit-box-shadow : none;
    box-shadow         : none;
}

#search .input-group .btn {
    padding     : 5px 10px 5px 5px;
    font-size   : 14px;
    color       : #BABABA;
    line-height : normal;
}

.subs-form input {
    max-width : 270px;
}

.subs-form button {
    border             : 1px solid white;
    background         : transparent;
    color              : white;
    text-transform     : uppercase;
    padding            : 7px 15px 5px 15px;
    margin             : 0 2px;
    line-height        : 1;
    -webkit-transition : 0.2s;
    -o-transition      : 0.2s;
    transition         : 0.2s;
}

.subs-form button:hover {
    background-color : #1C1C1C;
}

@media (max-width : 768px) {
    .subs-form .d-flex {
	   -webkit-box-pack : center;
	   -ms-flex-pack    : center;
	   justify-content  : center;
    }
}

/* Cart Style Starts */

#cart.sticky {
    position           : fixed;
    top                : 0;
    background         : white;
    -webkit-box-shadow : 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow         : 0 0 4px rgba(0, 0, 0, 0.4);
}

#cart .fa {
    color : #4A7731;
}

#cart.sticky > a {
    padding      : 10px;
    border-color : #2897AF;
}

.height-45 {
    height : 45px;
}

.m-t-10 {
    margin-top : 10px;
}

#cart .btn {
    -webkit-transition : 0.2s;
    -o-transition      : 0.2s;
    transition         : 0.2s;
    color              : black;
    background         : none;
    text-align         : left;
    padding            : 10px;
    position           : relative;
    font-size          : 16px;
    text-transform     : uppercase;
    border-bottom      : 2px solid #775231;
    border-left        : 2px solid transparent;
    border-right       : 2px solid transparent;
    -webkit-box-shadow : none;
    box-shadow         : none;
}

#cart .btn:after {
    display            : block;
    content            : ' ';
    -webkit-transition : 0.5s;
    -o-transition      : 0.5s;
    transition         : 0.5s;
    position           : absolute;
    width              : 0;
    height             : 2px;
    background         : #1D7373;
    top                : 100%;
    left               : 0;
}

#cart .btn:hover:after {
    width : 100%;
}

#cart .btn,
#cart .dropdown-menu {
    border-radius : 0;
}

#cart .btn .fa-shopping-cart {
    margin-right : 15px;
    line-height  : 1;
    font-size    : 22px;
}

#cart .btn.dropdown-toggle span {
}

#cart .btn span#cart-total {
    margin-left : 5px;
}

#cart .btn .fa-shopping-cart,
#cart .btn span {
    float : left;
}

#cart .btn i.fa-caret-down {
    float : right;
}

#cart .dropdown-menu {
    min-width  : 100%;
    margin-top : 10px;
    background : #1C1C1C;
    color      : #FFF;
    z-index    : 1001;
    padding    : 5px;
}

#cart .open > .dropdown-menu {
    display : block;
}

#cart .dropdown-menu table {
    margin-bottom : 10px;
}

#cart .dropdown-menu table,
#cart .dropdown-menu table td {
    background : none;
    border     : none;
}

#cart .dropdown-menu table.hcart td,
.line-bottom {
    border-bottom : 1px solid #434343;
}

.line-top,
.btn-block1 {
    border-top : 1px solid #434343;
}

#cart .btn-block1 {
    padding : 20px 0 0;
}

#cart .btn-block1 a {
    padding         : 8px 12px;
    margin-left     : 10px;
    text-transform  : uppercase;
    font-size       : 12px;
    text-decoration : none;
}

#cart .btn-block1 a:hover, #cart .btn-block1 a + a {
    background : #34ACC5;
    color      : #FFF;
}

#cart .btn-block1 a, #cart .btn-block1 a + a:hover {
    background : #FFF;
    color      : #1C1C1C;
}

#cart .dropdown-menu li > div {
    min-width : 427px;
    padding   : 0 10px;
}

#cart .dropdown-menu li p {
    margin : 20px 0;
}

#cart .dropdown-menu table.total {
}

#cart .dropdown-menu table.total td {
    padding : 2px 8px;
}

#cart .dropdown-menu table td a {
    color : #34ACC5;
}

#cart .dropdown-menu table td a:hover {
    color : #FFF;
}

.shopping-cart-table .img-thumbnail {
    width         : 200px;
    height        : 150px;
    -o-object-fit : cover;
    object-fit    : cover;
}

.empty-cart-block {
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-pack  : center;
    -ms-flex-pack     : center;
    justify-content   : center;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
}

.centered {
    display : block;
    margin  : 0 auto;
}

.shopping-cart-table .table > tbody > tr > td,
.shopping-cart-table .table > tbody > tr > th,
.shopping-cart-table .table > tfoot > tr > td,
.shopping-cart-table .table > tfoot > tr > th,
.shopping-cart-table .table > thead > tr > td,
.shopping-cart-table .table > thead > tr > th {
    vertical-align : middle;
}

.g-recaptcha {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
}

/* Main Menu Styles Starts */

#main-menu {
    text-align : center;
}

#main-menu .menu-text {
    font-size         : 16px;
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-pack  : end;
    -ms-flex-pack     : end;
    justify-content   : flex-end;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
}

#main-menu.navbar {
    margin             : 0;
    padding            : 4px 0 0px;
    background         : #1D7373;
    border             : none;
    border-radius      : 0;
    -webkit-box-shadow : 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow         : 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#main-menu .navbar-nav > li {
}

#main-menu .navbar-nav > li + li {
}

#main-menu .navbar-nav > li a {
    color          : white;
    font-size      : 16px;
    text-transform : uppercase;
    padding-top    : 10px;
    padding-bottom : 10px;
    border-radius  : 5px;
}

#main-menu .navbar-nav > li > a:hover,
#main-menu .navbar-nav > li > a:focus,
#main-menu .navbar-nav > li.open a {
    background : #099;
    color      : #FFF;
}

#main-menu .navbar-nav > li.open > a {
    border-radius : 5px 5px 0 0;
}

#main-menu .dropdown-menu {
    background         : #099;
    border             : none;
    padding            : 0;
    border-radius      : 0 5px 5px 5px;
    -webkit-box-shadow : none;
    box-shadow         : none;
}

#main-menu .dropdown-menu li a {
    font-size      : 15px;
    color          : #FFF;
    padding-top    : 8px;
    padding-bottom : 8px;
}

#main-menu .dropdown-menu li:hover a {
    background      : #1588A3;
    text-decoration : none;
    border-radius   : 0;
}

#main-menu .dropdown-menu li:first-child:hover a {
    border-radius : 0 5px 0 0;
}

#main-menu .dropdown-menu li:last-child:hover a {
    border-radius : 0 0 5px 5px;
}

#main-menu .dropdown-inner {
    display : table;
    padding : 10px 0;
}

#main-menu .dropdown-inner ul {
    display : table-cell;
}

#main-menu .dropdown-inner .dropdown-header {
    font-size      : 15px;
    text-transform : uppercase;
    color          : #FFF;
    padding        : 15px 0 10px 15px;
}

#main-menu .dropdown-inner li a {
    min-width : 160px;
    display   : block;
    padding   : 3px 20px;
    clear     : both;
}

#main-menu .dropdown-menu .dropdown-inner li:last-child:hover a {
    border-radius : 0;
}

/* Breadcrumb Styles Starts */

.breadcrumb {
    text-transform : uppercase;
    padding        : 5px 0 15px;
    margin-bottom  : 30px;
    border         : solid #1C1C1C;
    border-width   : 0 0 1px 0;
    background     : none;
    border-radius  : 0;
}

.breadcrumb li {
    padding-right : 5px;
    color         : #1C1C1C;
}

.breadcrumb > li + li:before {
    padding-right : 10px;
    content       : "\00BB";
    color         : #1C1C1C;
}

.breadcrumb li a {
    color : #1C1C1C;
}

.breadcrumb li.active a {
    pointer-events : none;
    color          : #1D7373;
}

/* Slider Section Styles Starts */

.slider {
    padding-top     : 40px;
    padding-bottom  : 40px;
    /*background: url(/tpl/default/img/slider-bg.jpg) no-repeat center;*/
    background-size : cover;
}

.top-col-banners ul > li {
    margin-top : 40px;
}

/* Three Column Banner Styles Starts */

.col3-banners {
    margin-bottom : 20px;
}

/* Products Box Styles Starts */

.products-list {
    margin-bottom : 15px;
}

.product-head {
    margin         : 10px 0 30px;
    font-size      : 30px;
    text-align     : center;
    text-transform : uppercase;
}

a.product-head {
    display : block;
    color   : #1C1C1C;
}

.product-col {
    padding       : 15px 15px 10px;
    margin-bottom : 20px;
    text-align    : center;
    background    : #FFF;
    /*-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);*/
    /*-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);*/
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);*/
}

.product-col:hover {
    padding            : 15px 15px 10px;
    margin-bottom      : 20px;
    text-align         : center;
    background         : #FFF;
    -webkit-box-shadow : 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow         : 0 0 4px rgba(0, 0, 0, 0.4);
}

.product-col .price_one {
    font-weight : bold;
    color       : black;
    font-size   : 14px;
}

.product-col > .image img {
    width         : 270px;
    max-width     : 100%;
    height        : 230px;
    -o-object-fit : cover;
    object-fit    : cover;
}

.product-col.side-product {
    border     : 1px solid #DDD;
    background : #FFF;
}

.product-col.list {
    text-align    : left;
    margin-bottom : 30px;
}

.product-col.list .image {
    padding : 20px 30px 20px 0;
    float   : left;
}

.product-col .caption {
    padding : 10px 0;
}

.product-col h4 {
    font-size : 18px;
}

.product-col .thumb-title {
    color         : #1C1C1C;
    font-size     : 18px;
    margin-top    : 10px;
    margin-bottom : 10px;
    font-weight   : 500;
    line-height   : 1.1;
}

.product-col .thumb-title > a {
    color : #1C1C1C;
}

.product-col h4,
.product-col h4 a,
.product-col .description {
    color : #1C1C1C;
}

.product-col h4 a:hover,
.product-col h4 a:focus {
    color : #1DA1BD;
}

.product-col .description {
    padding     : 5px 0;
    font-size   : 12px;
    line-height : 18px;
    text-align  : justify;
}

.product-col .description ul {
    list-style : none;
    padding    : 0 10px;
    margin     : 0;
    color      : #8B8B8B;
}

.product-col.list .description {
    padding-right : 20px;
}

.product-col .price {
    padding : 15px 0 10px;
}

.product-col .price .price-tax {
    font-size      : 14px;
    color          : #452E11;
    text-transform : uppercase;
}

.product-col .price span.price-new {
    color         : #1D7373;
    font-size     : 28px;
    padding-right : 5px;
}

.product-col .price span.price-old {
    font-size       : 18px;
    color           : #717171;
    text-decoration : line-through;
}

.product-col .cart-button {
    padding-top : 7px;
}

.product-col .btn-wishlist,
.product-col .btn-compare {
    font-size   : 18px;
    color       : #1C1C1C;
    background  : none;
    margin-left : 3px;
}

.product-col .btn-wishlist:hover,
.product-col .btn-wishlist:focus,
.product-col .btn-compare:hover,
.product-col .btn-compare:focus {
    color : #1D7373;
}

.product-col .btn-cart {
    -webkit-transition : 0.2s;
    -o-transition      : 0.2s;
    transition         : 0.2s;
    padding            : 8px 15px;
    font-size          : 14px;
    color              : #FFF;
    background         : #775231;
    text-transform     : uppercase;
    border             : none;
}

.product-col .btn-cart .fa-shopping-cart {
    font-size    : 17px;
    margin-right : 5px;
}

.product-col .btn-cart:hover {
    background : #FF3C37;
}

/* Two Column Banner Styles Starts */

.col2-banners {
    margin-bottom : 20px;
}

/* Shopping Cart Page Styles Starts */

.shopping-cart-table {
    margin-top     : 30px;
    background     : #FFF;
    text-transform : uppercase;
}

.shopping-cart-table .list-unstyled {
    text-align     : left;
    text-transform : unset;
    font-size      : 14px;
    margin-top     : 10px;
}

.shopping-cart-table thead > tr > td {
    font-size     : 15px;
    font-weight   : 600;
    border-bottom : none;
}

.shopping-cart-table tbody > tr > td {
    font-size : 16px;
}

.shopping-cart-table tbody > tr > td a:hover {
    color : #252A2F;
}

/* Compare Page Styles Starts */

.compare-table {
    margin-top     : 30px;
    text-transform : uppercase;
}

.compare-table .table {
    background : #FFF;
}

.compare-table thead {
    background : #F9F9F9;
}

.compare-table thead > tr > td {
    font-size     : 15px;
    font-weight   : 600;
    border-bottom : none;
}

.compare-table tbody > tr > td {
    font-size : 14px;
}

.compare-table tbody > tr > td a:hover {
    color : #252A2F;
}

.compare-table td {
    text-align : center;
}

.compare-table .rating .fa-star {
    color : #1D7373;
}

/* Login & Registration Section Styles Starts */

.login-area {
    padding-top : 30px
}

.registration-area {
    padding-top : 20px;
}

.panel-smart {
    padding       : 20px;
    background    : #FFF;
    /*border: 1px solid #e8e8e8;*/
    border-radius : 0;
}

.panel-smart .panel-heading {
    padding       : 5px 0 15px 0;
    color         : #252A2F;
    border-bottom : 1px solid #929497;
}

.panel-smart h3.panel-title {
    font-size : 24px;
}

.panel-smart .panel-body {
    padding : 20px 0 0;
}

.registration-area .inner {
    margin-top    : 30px;
    margin-bottom : 20px;
}

.registration-area .control-label {
    color       : #8B8B8B;
    font-weight : 600;
}

.registration-area .form-control, .registration-area .btn {
    border-radius : 0;
}

.registration-area .dl-horizontal {
}

.registration-area .dl-horizontal dt {
    font-weight : normal;
}

.registration-area .dl-horizontal dd {
    font-weight : bold;
}

.registration-area .dl-horizontal dt, .registration-area .dl-horizontal dd {
    margin-bottom : 5px;
}

.registration-area .dl-horizontal.total {
    color     : #1D7373;
    font-size : 18px;
}

.registration-area .dl-horizontal.total dt,
.registration-area .dl-horizontal.total dd {
    margin-bottom : 0;
}

/* Main Container Styles Starts */

.main-container {
    margin-top    : 25px;
    margin-bottom : 25px;
}

/* Category Intro Content Styles Starts */

.cat-intro {
    padding-top : 10px;
}

.cat-intro .img-thumbnail {
    border-radius : 0;
}

.cat-intro .cat-body {
    color        : #8B8B8B;
    font-size    : 13px;
    padding-left : 5px;
    text-align   : justify;
}

/* Product Filter Styles Starts */

.product-filter {
    margin       : 30px 0;
    padding      : 8px 0;
    border       : solid #1C1C1C;
    border-width : 1px 0;
}

h6.lead {
    margin : 5px 0;
}

.product-filter .display {
    padding-top : 5px;
}

.product-filter .display button {
    color        : #1C1C1C;
    font-size    : 24px;
    margin-right : 6px;
    border       : none;
    background   : transparent;
}

.product-filter .display button.active {
    color : #1D7373;
}

.product-filter .control-label {
    padding-top : 5px;
    font-size   : 18px;
    font-weight : normal;
}

.product-filter .form-control {
    height        : 30px;
    padding       : 3px 6px;
    border-radius : 0;
}

/* Product Page Styles Starts */

.product-info {
    padding-top : 10px;
}

.product-info .images-block {
}

.product-info .images-block .thumbnail {
    padding : 10px;
}

.product-info .images-block ul .thumbnail {
    width         : 175px;
    -o-object-fit : cover;
    object-fit    : cover;
    height        : 100px;
}

.product-info.full .images-block .list-inline {
    margin-left      : -5px;
    margin-right     : -5px;
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
}

.product-info.full .images-block .list-inline li {
    padding-left  : 5px;
    padding-right : 5px;
}

.product-info .images-block .list-inline {
    margin-left : -2px;
}

.product-info .images-block .list-inline li {
    padding-left  : 2px;
    padding-right : 2px;
}

.product-info .images-block .list-inline .thumbnail {
    padding : 5px;
}

.product-info .product-details {
}

.product-info .product-details h1 {
    margin-top : 0;
    font-size  : 24px;
}

.product-info .product-details h3 {
    font-size : 22px;
}

.product-info .product-details h2, .product-info .product-details h3 {
    text-transform : uppercase;
}

.product-info .product-details .manufacturer {
    color          : #1D7373;
    text-transform : uppercase;
}

.product-info .product-details .manufacturer .price-one span {
    width     : auto;
    min-width : unset;
}

.product-info .product-details .manufacturer .price-one .bold {
    font-size    : 16px;
    font-weight  : bold;
    margin-right : 10px;
}

.product-info .product-details .manufacturer .price-one .old,
.product-info .product-details .manufacturer .price-one .old span {
    text-decoration : line-through;
    display         : unset;
}

.product-info .product-details .manufacturer span {
    min-width : 130px;
    display   : inline-block;
    color     : #452E11;
}

.product-info .product-details .price {
}

.product-info .product-details .price-head {
    padding-right  : 10px;
    font-size      : 24px;
    color          : #452E11;
    text-transform : uppercase;
}

.product-info .product-details .price-tax {
    padding-top    : 5px;
    font-size      : 14px;
    color          : #452E11;
    text-transform : uppercase;
}

.product-info .product-details .price-new {
    color         : #1D7373;
    font-size     : 24px;
    padding-right : 5px;
}

.product-info .product-details .price-old {
    font-size       : 18px;
    color           : #452E11;
    text-decoration : line-through;
}

.product-info .product-details .options {
}

.product-info .product-details .options h3 {
    margin-bottom : 20px;
}

.product-info .product-details .options h6 {
    font-weight : 700;
}

.product-info .product-details .cart-button {
}

.product-info .product-details .cart-button .btn {

}

.product-info .product-details .btn-wishlist,
.product-info .product-details .btn-compare {
    font-size   : 18px;
    color       : #1C1C1C;
    background  : none;
    margin-left : 3px;
}

button {
    outline : none !important;
}

.product-info .product-details .btn-wishlist:hover,
.product-info .product-details .btn-wishlist:focus,
.product-info .product-details .btn-compare:hover,
.product-info .product-details .btn-compare:focus {
    color : #1D7373;
}

.quantity-right-plus .glyphicon,
.quantity-left-minus .glyphicon {
    top : 3px;
}

.product-info .product-details .btn-cart {
    padding        : 8px 15px;
    font-size      : 14px;
    color          : #FFF;
    background     : #4A7731;
    text-transform : uppercase;
    border         : none;
}

.product-info .product-details .btn-cart .fa-shopping-cart {
    font-size    : 17px;
    margin-right : 5px;
}

.product-info .product-details .btn-cart:hover,
.product-info .product-details .btn-cart:focus {
    background : #1D7373;
}

@media (max-width : 768px) {
    .product-info .product-details .cart-button .btn {
	   display : block;
	   margin  : auto;
    }
}

.product-info-box {
    padding-top : 10px;
}

.product-info-box + .product-info-box {
    padding-top : 30px;
}

.product-info-box .heading,
.heading-title {
    padding    : 12px 20px;
    font-size  : 18px;
    color      : #FFF;
    background : #1D7373;
}

.product-info-box .content {
    background : none;
    padding    : 20px;
    border     : 1px solid #DDD;
}

/* Tabs Styles Starts */

.tabs-panel {
    margin-top : 30px;
}

.tabs-panel.panel-smart {
    padding    : 0;
    background : none;
    border     : none;
}

.tabs-panel .nav-tabs {
    font-size     : 16px;
    border-bottom : 1px solid #1D7373;
}

.tabs-panel .nav-tabs > li {
    margin-bottom : 0;
    margin-right  : 5px;
}

.tabs-panel .nav-tabs > li > a {
    color  : #452E11;
    margin : 0;
}

.tabs-panel .nav-tabs > li > a,
.tabs-panel .btn,
.tabs-panel .form-control {
    border-radius : 0;
}

.tabs-panel .nav-tabs > li.active > a,
.tabs-panel .nav-tabs > li.active > a:hover,
.tabs-panel .nav-tabs > li.active > a:focus,
.tabs-panel .nav > li > a:hover,
.tabs-panel .nav > li > a:focus {
    background : none;
}

.tabs-panel .nav-tabs > li > a,
.tabs-panel .nav-tabs > li.active > a,
.tabs-panel .nav-tabs > li.active > a:hover,
.tabs-panel .nav-tabs > li.active > a:focus,
.tabs-panel .nav-tabs > li > a:hover {
    border : none;
}

.tabs-panel .nav-tabs > li.active,
.tabs-panel .nav-tabs > li.active > a,
.tabs-panel .nav-tabs > li > a:hover {
    background    : #1D7373;
    color         : #FFF;
    border-radius : 5px 5px 0 0;
}

.tabs-panel .tab-content {
    padding : 20px 0;
}

.tabs-panel .tab-content .table {
    background : #FFF;
}

.tabs-panel label.control-label {
    text-transform : uppercase;
    font-weight    : normal;
}

.tabs-panel label.control-label.ratings {
    padding-top : 1px;
}

.tabs-panel .btn {
    margin-left : -10px;
}

/* Pagination Styles Starts */
.pagination-block {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap;
}

.pagination {
    margin : 0;
}

.pagination > li > a {
    color : #444C53;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius : 0;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    border           : 1px solid #DDD;
    background-color : white;
    padding          : 0 0 10px 0;
}

.list-group-item.active > a, .list-group-item.active > a:focus, .list-group-item.active > a:hover {
    background-color : #2897AF;
    padding          : 10px 15px;
    display          : block;
    border           : none;
    color            : white;
}

.list-group-item.active > ul {
    color  : #2897AF;
    margin : 10px 0 0 0;
}

.list-group-item.active > ul .otm.active {
    pointer-events  : none;
    text-decoration : underline;
    color           : red;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background   : #1D7373;
    border-color : #1D7373;
}

.results {
    padding-top : 10px;
    text-align  : right;
}

/* Page Content Styles Starts */

.page-box {
    color         : #8B8B8B;
    font-size     : 13px;
    margin-bottom : 40px;
}

.page-box h3 {
    margin    : 0;
    font-size : 24px;
    color     : #252A2F;
}

.page-box h3, .page-box h4 {
    text-transform : uppercase;
}

.page-box h4 {
    margin    : 5px 0 15px;
    color     : #1D7373;
    font-size : 18px;
}

.page-box .sm-links {
    margin-bottom : 20px;
}

.page-box .sm-links li {
    background : #1C1C1C;
    width      : 34px;
    text-align : center;
    padding    : 5px 0 4px;
    margin     : 0 0 0 4px;
}

.page-box .sm-links li:hover,
.page-box .sm-links li:focus {
    background : #1D7373;
}

.page-box .sm-links li a .fa {
    color     : #FFF;
    font-size : 24px;
}

/* Content Box Styles Starts */

.content-box {
    margin-top : 20px;
    padding    : 0;
}

.content-box .special-heading {
    font-size     : 100px;
    color         : #1D7373;
    margin-top    : 0;
    margin-bottom : 30px;
}

/* Map Wrapper Styles Starts */

#map-wrapper {
    border : 1px solid #FEFFFF;
    margin : 20px 0;
    height : 250px;
}

/* Sidebar Styles Stars */

.side-heading {
    margin-top : 0;
    padding    : 12px 20px;
    font-size  : 18px;
    color      : #FFF;
    background : #1D7373;
    position   : relative;
}

.catalog-list-xs {
    display : block;
}

.list-group, .list-group-item:first-child, .list-group-item:last-child {
    border-radius : 0;
    border        : 0px;
    font-size     : 16px;

}

.list-group-item {
    color          : #252A2F;
    font-size      : 16px;
    text-transform : none;
    border         : 0px;
}

.list-group-item .fa {
    font-size     : 12px;
    padding-right : 6px;
}

.filter-group {
    margin-left : 20px;
}

/* Blockquote Styles Starts */

.panel-smart blockquote {
    margin    : 0;
    padding   : 5px 15px;
    color     : #8B8B8B;
    font-size : 13px;
    border    : none;
}

.panel-smart blockquote footer {
    padding-top : 10px;
    color       : #252A2F;
    font-size   : 14px;
}

/* Contact Details Box Styles Starts */

.contact-details li + li {
    margin-top : 20px;
}

.contact-details li .fa {
    color     : #1D7373;
    padding   : 5px 10px 0 0;
    font-size : 18px;
}

/* Footer Links Styles Starts */

.footer-links {
    background : #303333;
    /*background-image:  url(/tpl/default/img/footer-bg.jpg) no-repeat ;*/
    padding    : 30px 0 40px;
}

.footer-links .h5 {
    text-transform : uppercase;
    margin-bottom  : 20px;
    font-size      : 18px;
}

.footer-links ul {
    list-style : none;
    margin     : 0;
    padding    : 0;
}

.footer-links li {
    padding : 4px 0;
}

.footer-links,
.footer-links li,
.footer-links li a,
.footer-links li a:hover,
.footer-links h4,
.footer-links .h5 {
    color       : #FFF;
    font-weight : 500;
}

.footer-links .last h4.lead {
    font-size     : 24px;
    margin-bottom : 0;
}

.footer-links .last h4.lead span {
}

/* Copyright Styles Starts */

.copyright {
    background : #1C1C1C;
    padding    : 18px 0 8px;
}

.copyright,
.copyright a {
    color : #FFF;
}

.copyright p {
    padding-top : 4px;
}

footer .copyright > .container {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : justify;
    -ms-flex-pack    : justify;
    justify-content  : space-between;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap;
}

/* Genric Styles Starts */

.thumbnail,
.form-control,
.btn {
    border-radius : 0;
}

.no-box-shadow {
    -webkit-box-shadow : none;
    box-shadow         : none;
}

.load-more-holder {
    cursor            : pointer;
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    margin            : auto;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    width             : -webkit-max-content;
    width             : -moz-max-content;
    width             : max-content;
}

.load-more-holder .load-more-gif {
    margin-right : 10px;
}

.news-main-image {
    float  : left;
    margin : 5px 20px 15px 0;
}

.catalog-thumb {
    display            : block;
    -webkit-box-shadow : 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow         : 0 0 4px rgba(0, 0, 0, 0.4);
    padding            : 20px 10px;
}

.catalog-thumb img {
    width         : 320px;
    height        : 240px;
    -o-object-fit : cover;
    object-fit    : cover;
    display       : block;
    margin        : auto;
}

.catalog-thumb .title-catalog-thumb {
    display        : block;
    padding        : 10px;
    text-align     : center;
    font-size      : 16px;
    text-transform : uppercase;
    line-height    : 30px;
}

.item-sidebar {
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    -ms-flex-wrap     : wrap;
    flex-wrap         : wrap;
    margin-bottom     : 10px;
}

.left_pr {
    width    : 35%;
    overflow : hidden;
}

.right_pr {
    width        : 65%;
    padding-left : 10px;
}

.item-sidebar img {
    -webkit-transition : .3s;
    -o-transition      : .3s;
    transition         : .3s;
}

.item-sidebar:hover img {
    -webkit-transform : scale(1.3);
    -ms-transform     : scale(1.3);
    transform         : scale(1.3);
}

.map-contact iframe {
    margin-bottom : 25px;
    width         : 100%;
}

/*стилизация рейтинга*/
.rating {
    unicode-bidi : bidi-override;
    direction    : rtl;
    text-align   : left
}

.rating > span {
    display   : inline-block;
    position  : relative;
    width     : 1em;
    font-size : 24px;
    cursor    : pointer;
    color     : #CDCDCD
}

.rating > span:hover, .rating > span:hover ~ span {
    color : transparent
}

.rating > span:before {
    content  : "\2605";
    position : absolute;
    left     : 0;
    color    : #CDCDCD
}

.rating > span.rating-active:before {
    content  : "\2605";
    position : absolute;
    left     : 0;
    color    : #FFC321
}

.rating > span:hover:before, .rating > span:hover ~ span:before {
    content  : "\2605";
    position : absolute;
    left     : 0;
    color    : #F40000
}

.left_active_xs, .close-left_section, .hidden {
    display : none;
}

.input-number, .input-number-modal {
    text-align : center;
}

.btn-cart-quick i {
    padding-right : 8px;
}

.btn-cart-quick {
    background         : #1D7373;
    color              : #FFF;
    text-transform     : uppercase;
    padding            : 8px 13px;
    -webkit-transition : 0.2s;
    -o-transition      : 0.2s;
    transition         : 0.2s;
    cursor             : pointer;
}

.btn-cart-quick:hover, .btn-cart-quick:focus {
    background-color : #2897AF;
    color            : #FFF;
}

.quick-body {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
}

.btn-center {
    text-align : center;
}

.left_quick, .right_quick {
    width   : 50%;
    padding : 10px 25px;
}

.btn-block-150 {
    width : 150px;
}

.btn_quick {
    width : 150px;
}