<div class="cm-notification-container"></div>
<?= $vars['message'] ?>
<div class="cm-tabs-content">
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Редактирование каталог:&nbsp;<?= $vars['edit']['name'] ?></h1>
	</div>
	<div class="extra-tools">

		<a class="tool-link" href="/admin/<?= $vars['action'] ?>/add">Добавить новый каталог</a>
		<a class="tool-link cm-confirm" href="/admin/<?= $vars['action'] ?>/delete/<?= $vars['edit']['id'] ?>">Удалить
			этот каталог</a>

		<div class="float-right preview-link">
			<a href="/catalog/<?= $vars['edit']['url'] ?>" title="<?= $vars['edit']['url'] ?>" class="tool-link"
			   target="_blank">Предпросмотр</a>
		</div>
	</div>
	<div class="mainbox-body">

		<div class="tabs cm-j-tabs cm-track">
			<ul>
				<li id="basic" class="cm-js cm-active"><a>Общее</a></li>
				<li id="photo" class="cm-js"><a>Обложка</a></li>
				<?php if($vars['params']): ?><li id="params" class="cm-js"><a>Фильтры</a></li><?php endif ?>
				<li id="metadata" class="cm-js"><a>Мета данные</a></li>
			</ul>
		</div>
		<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action=""
			  enctype="multipart/form-data">
			<input type="hidden" value="<?= $vars['edit']['id'] ?>" name="id"/>

			<div id="content_basic" class="cm-tabs">
				<fieldset>
					<h2 class="subheader"> Информация </h2>

					<div class="form-field">
						<label class="cm-required" for="page">Название:</label>
						<input type="text" class="input-text-large main-input" value="<?= $vars['edit']['name'] ?>"
							   size="55" name="name"/>
					</div>
					<div class="form-field">
						<label class="cm-required" for="page">URL:</label>
						<input type="text" class="input-text-large main-input" value="<?= $vars['edit']['url'] ?>"
							   size="55" name="url"/>
					</div>
					<div class="form-field">
						<label class="cm-required" for="page">Раздел:</label>
						<select name="sub">
							<option value="0">Корень...</option>
							<?php
								foreach ($vars['catalog'] as $row) {
									if ($row['sub'] == 0 && $vars['edit']['id'] != $row['id']) {
										echo "<option value='{$row['id']}'";
										if ($row['id'] == $vars['edit']['sub']) echo " selected";
										echo ">{$row['name']}</option>";
										foreach ($vars['catalog'] as $row2) {
											if ($row['id'] == $row2['sub'] && $vars['edit']['id'] != $row2['id']) {
												echo "<option value='{$row2['id']}'";
												if ($row2['id'] == $vars['edit']['sub']) echo " selected";
												echo ">&nbsp;&nbsp;&nbsp;{$row2['name']}</option>";
												foreach ($vars['catalog'] as $row3) {
													if ($row2['id'] == $row3['sub'] && $vars['edit']['id'] != $row3['id']) {
														echo "<option value='{$row3['id']}'";
														if ($row3['id'] == $vars['edit']['sub']) echo " selected";
														echo ">&nbsp;&nbsp;&nbsp; - {$row3['name']}</option>";
													}
												}
											}
										}
									}
								}
							?>
						</select>
					</div>
					<div class="form-field">
						<label for="page_descr">Описание:</label>
						<?= showEditor('body', $vars['edit']['body']); ?>
					</div>
					<div class="form-field">
						<label class="cm-required">Состояние:</label>

						<div class="select-field">
							<input type="radio" class="radio" value="1" id="page_data_0_a"
								   name="active" <? if ($vars['edit']['active'] == 1) echo ' checked="checked"'; ?>>
							<label for="page_data_0_a">Вкл.</label>
							<input type="radio" class="radio" value="0" id="page_data_0_d"
								   name="active" <? if ($vars['edit']['active'] == 0) echo ' checked="checked"'; ?>>
							<label for="page_data_0_d">Выкл.</label>
						</div>
					</div>
                    <h2 class="subheader">Сыылки на главной</h2>
                    <style>
                        .table{
                            width: 100%;
                            border: 1px solid lightgrey;
                        }
                        .table thead{
                            text-align: center;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                        .table td{
                            border-left: 1px solid lightgrey ;
                        }
                        .table tr{
                            border-top: 1px solid lightgrey ;
                        }
                        .table input{
                            width: 100%;
                        }
                    </style>
                    <table class="table">
                        <thead>
                            <tr>
                                <td width="50"><div class="btn-info btn">№</div></td>
                                <td>текст </td>
                                <td>ссылка</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><input type="text" value="<?= $vars['links'][0][0] ?>" name="link_name[]"></td>
                            <td><input type="text" value="<?= $vars['links'][0][1] ?>" name="link_url[]"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><input type="text" value="<?= $vars['links'][1][0] ?>" name="link_name[]"></td>
                            <td><input type="text" value="<?= $vars['links'][1][1] ?>" name="link_url[]"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><input type="text" value="<?= $vars['links'][2][0] ?>" name="link_name[]"></td>
                            <td><input type="text" value="<?= $vars['links'][2][1] ?>" name="link_url[]"></td>
                        </tr>
                        </tbody>
                    </table>

				</fieldset>
			</div>
			<!--metdata start-->
			<div id="content_photo" class="cm-tabs hidden">
				<fieldset>
					<h2 class="subheader">Обложка</h2>

					<?php
						$vars['path'] = "files/catalog/";
						$vars['image_id'] = $vars['edit']['id'];
						include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml";
					?>

					<h2 class="subheader">Иконка</h2>

					<div class="form-field">
						<input type="file" name="icon"
                               accept="<?= "image/" . implode(",image/", explode(',', EXT_IMAGE)) ?>" />
						<?
							if (file_exists("files/catalog/icon{$vars['edit']['id']}.jpg"))
								echo "<br /><img src='/files/catalog/icon{$vars['edit']['id']}.jpg' />";
						?>
					</div>
				</fieldset>
			</div>
			<!--metdata start-->
			<?php if($vars['params']): ?>
			<div id="content_params" class="cm-tabs hidden">
				<fieldset>
					<h2 class="subheader">Фильтры, которые присуствуют в данной группе каталога</h2>

					<div style="margin-left:15px; max-height:500px; overflow:auto;">
						<?php
							foreach ($vars['params'] as $row) {
								if ($row['sub'] == 0) {
									echo ' <input name="cat_id[]" type="checkbox" id="cat' . $row['id'] . '" value="' . $row['id'] . '"';
									if ($row['catalog_id'] == $vars['edit']['id']) echo ' checked="checked"';
									echo '><label for="cat' . $row['id'] . '">' . $row['name'] . '</label><br />';
									foreach ($vars['params'] as $row2) {
										if ($row['id'] == $row2['sub']) {
											echo '&nbsp;&nbsp;&nbsp;&nbsp;<input name="cat_id[]" type="checkbox" id="cat' . $row2['id'] . '" value="' . $row2['id'] . '"';
											if ($row2['catalog_id'] == $vars['edit']['id']) echo ' checked="checked"';
											echo '><label for="cat' . $row2['id'] . '">' . $row2['name'] . '</label><br />';
											foreach ($vars['params'] as $row3) {
												if ($row2['id'] == $row3['sub']) {
													echo '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="cat_id[]" type="checkbox" id="cat' . $row3['id'] . '" value="' . $row3['id'] . '"';
													if ($row3['catalog_id'] == $vars['edit']['id']) echo ' checked="checked"';
													echo '><label for="cat' . $row3['id'] . '">' . $row3['name'] . '</label><br />';
												}
											}
										}
									}
								}
							}
						?>
					</div>
				</fieldset>
			</div>
			<?php endif ?>
			<!--metdata start-->
			<div id="content_metadata" class="cm-tabs hidden">
				<fieldset>
					<h2 class="subheader"> Meta данные </h2>

					<div class="form-field">
						<label for="page_page_title">Заголовок раздела:</label>
						<input type="text" class="input-text-large" value="<?= $vars['edit']['title'] ?>" size="55"
							   id="page_page_title" name="title"/>
					</div>
					<div class="form-field">
						<label for="page_meta_keywords">META ключевые слова:</label>
						<textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_keywords"
								  name="keywords"><?= $vars['edit']['keywords'] ?></textarea>
					</div>
					<div class="form-field">
						<label for="page_meta_descr">META описание:</label>
						<textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_descr"
								  name="description"><?= $vars['edit']['description'] ?></textarea>
					</div>
				</fieldset>
			</div>
			<div class="buttons-container cm-toggle-button buttons-bg">
				<div class="cm-buttons-floating">
					<div class="cm-buttons-placeholder">
                        <span class="submit-button cm-button-main">
                            <input type="submit" value="Сохранить" name="update"/>
                        </span>&nbsp;
                        <span class="submit-button cm-button-main cm-save-and-close">
                            <input type="submit" value="Сохранить и закрыть" name="update_close"
								   class="cm-save-and-close"/>
                        </span>
						<a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
					</div>
				</div>
			</div>
			<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>