<!-- Колонка в базе данных, которая парситьс -->
<? //  htm 13.11.2018 ?>
<div class="form-field">
    <label class="cm-required">Заготовка под заказ:</label>
    <div class="select-field">
        <input onclick="$('#inp-block-form').slideDown()" type="radio" class="radio" value="1"
               name="form" <? if ($vars['edit']['form'] == 1) echo ' checked="checked"'; ?>>
        <label>Вкл.</label>
        <input onclick="$('#inp-block-form').slideUp()" type="radio" class="radio" value="0"
               name="form" <? if ($vars['edit']['form'] == 0) echo ' checked="checked"'; ?>>
        <label>Выкл.</label>
    </div>
</div>
<div id="inp-block-form" style="display: <?= $vars['edit']['form'] ? 'block' : 'none' ?>">
    <h2 class="subheader">Текст блока для формы "Заготовка под заказ"</h2>

    <div class="btn btn-info" data-count="<?= count($vars['form']) ?>" style="font-size: 14px" id="add-form-block"> Добавить блок</div>
  <? foreach ($vars['form'] as $form) { ?>
      <div id="form_text_holder">
          <div class="form_text_item">
              <div class="form-field">
                  <label>Заглавие:</label>
                  <input type="text" class="input-text-large main-input"
                         value="<?= $form['title'] ?>" name="form_title[]"/>
              </div>
              <div class="form-field">
                  <label>Описание:</label>
                  <textarea name="form_body[]"><?= $form['body'] ?></textarea>
              </div>
              <div class="btn btn-danger" onclick="$(this).parent().remove()"> удалить</div>
          </div>
      </div>
  <? } ?>
</div>
<style>
    .form_text_item{
        position: relative;
        background: #F9F9F9;
        padding: 10px;
        margin-top: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;: ;
    }
    .form_text_item .btn.btn-danger{
        position: absolute;
        top: 80px;
        left: 5px
    }
    .form_text_item textarea{
        width: 100%;
        height: 90px
    }
</style>
<script>
    $(document).on('click', '#add-form-block', function () {
      var count = parseInt($(this).data('count'));
      console.log(count);
      if (count < 5) {
        count++;
        $(this).data('count',count);
        $('#form_text_holder').append('' +
            '<div class="form_text_item">' +
                '<div class="form-field">' +
                    '<label>Заглавие:</label>' +
                    '<input type="text" class="input-text-large main-input" name="form_title[]"/>' +
                '</div>' +
                '<div class="form-field">' +
                    '<label>Описание:</label>' +
                    '<textarea name="form_body[]"></textarea>' +
                '</div>' +
                '<div class="btn btn-danger" onclick="$(this).parent().remove()" > удалить</div>' +
            '</div>');
      }
    })
</script>