<div class="cm-notification-container"></div>
<div id="message"><?= $vars['message'] ?></div>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title float-left"><?= $vars['name'] ?></h1>
		<div class="tools-container">
			<span class="action-add"> <a href="/admin/<?= $vars['action'] ?>/add">Добавить</a> </span>
		</div>
		<div class="mainbox-title-select-holder">
			<input type="text" id="search_text" class="input-text-large" placeholder="Поиск" value="">
		</div>
	</div>
</div>
<div class="mainbox-body">
	<div id="ds_15014" class="clear">

	</div>
	<div id="content_manage_users">
		<form name="userlist_form" method="post" action="">
			<div id="pagination_contents">
				<?php echo $vars['list']; ?>
			</div>
			<div class="buttons-container buttons-bg">
				<div class="cm-buttons-placeholder">
					<div class="cm-buttons-floating">
						<span class="submit-button cm-button-main">
							<input type="submit" value="Сохранить" name="update" class="">
						</span>
						<span class="submit-button cm-button-main cm-confirm cm-process-items">
							<input type="submit" value="Удалить выбранные" name="delete" class="cm-process-items">
						</span>
					</div>
				</div>
			</div>
			<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>
</div>
</div>
<script>
	document.getElementById("search_text").addEventListener("keyup", function () {
		var message = this.value;
		var xhr = new XMLHttpRequest();
		xhr.open("POST", '/admin/ajax/catalog/search');
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		xhr.onreadystatechange = function () {
			if (this.readyState == 4) {
				if (this.status == 200) {
					var json = JSON.parse(this.responseText);
					if (json.status == true) $("#pagination_contents").html(json.content);
				}
			}
		};
		xhr.send("message=" + message);
	});
</script>