<div class="form-group">
    <label class="col-sm-4 control-label">
      <?= $vars['translate']['department'] ?>:
    </label>
    <div class="col-sm-8">
        <select title="<?= $vars['translate']['department'] ?>" class="form-control"
            <?= !empty($vars['required']) ? 'required' : '' ?>
                name="<?= $vars['name'] ?>">
          <? foreach ($vars['departments'] as $department) { ?>
              <option value="<?= $department['name'] ?>">
                <?= $department['name'] ?>
              </option>
          <? } ?>
        </select>
    </div>
</div>