<div class="cm-notification-container">
  <?= $vars['message'] ?>
</div>
<div>
    <div class="clear mainbox-title-container">
        <h1 class="mainbox-title">Новый способ оплаты: </h1>
    </div>
    <div class="mainbox-body">
        <div class="cm-tabs-content">
            <form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
                <div id="content_basic">
                    <fieldset>
                        <h2 class="subheader"> Информация </h2>
                        <div class="form-field">
                            <label class="cm-required" for="page">Название:</label>
                            <input title="" type="text" class="input-text-large main-input" name="name"/>
                        </div>
                        <div class="form-field">
                            <label class="cm-required">Состояние:</label>
                            <div class="select-field">
                                <input type="radio" class="radio" value="1" id="page_data_0_a" name="active"
                                       checked="checked"/>
                                <label for="page_data_0_a">Вкл.</label>
                                <input type="radio" class="radio" value="0" id="page_data_0_d" name="active"/>
                                <label for="page_data_0_d">Выкл.</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="buttons-container cm-toggle-button buttons-bg">
                    <div class="cm-buttons-floating">
                        <div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Создать" name="add"/>
							</span>
                            <span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Создать и закрыть" name="add_close"
                                       class="cm-save-and-close"/>
							</span> или
                            <a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
            </form>
        </div>
    </div>
</div>