<div class="items-container multi-level">
    <table width="100%" cellspacing="0" cellpadding="0" border="0"
           class="table table-fixed hidden-inputs tb_sort table_550px">
        <tr class="noDrop">
            <th width="25"></th>
            <th width="30" class="center">
                <input type="checkbox" class="check_all2" name="check_all"
                       title="Отметить/снять все" value="Y">
            </th>
            <th width="30">ID</th>
            <th>Название</th>
            <th width="130">По умолячанию</th>
            <th width="100">Состояние</th>
            <th width="80" class="center">Действие</th>
        </tr>
      <? foreach ($vars['list'] as $row) {
        if ($row['active'] == 1) $active = '<div class="selected-status status-a"><a> Вкл. </a></div>';
        else $active = '<div class="selected-status status-d"><a> Выкл. </a></div>'; ?>
          <tr id="sort<?= $row['id'] ?>">
              <td class="move"></td>
              <td class="center">
                  <input title="" type="checkbox" class="check-item"
                         value="<?= $row['id'] ?>" name="id[]"/>
              </td>
              <td>
                  <span><?= $row['id'] ?></span>
                  <input type="hidden" value="<?= $row['id'] ?>" name="save_id[]"/></td>
              <td>
                  <input title="Название" type="text" class="input-text w-100"
                         value="<?= $row['name'] ?>" name="name[]">
              </td>

              <td class="center">
                  <input title="Default" type="radio" <?= $row['base'] ? 'checked' : '' ?>
                         value="<?= $row['id'] ?>" name="base">
              </td>
              <td>
                  <div class="select-popup-container active_status" id="active<?= $row['id'] ?>">
                    <?= $active ?>
                  </div>
              </td>
              <td class="center">
                  <a href="/admin/<?= $vars['action'] . '/delete/' . $row['id'] ?>" class="cm-confirm">
                      Удалить
                  </a>
              </td>
          </tr>
      <? } ?>
    </table>
</div>
<div class="table-tools">
    <a class="check_all" href="javascript:void(0);">Выбрать все</a>|
    <a class="uncheck_all" href="javascript:void(0);">Снять выделение со всех</a>
</div>