<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(function() {
        $(function() {
            var orders_count = google.visualization.arrayToDataTable([<?= $vars['text'] ?>]);
            var options_count = {title: 'Активность регистраций:'};
            var chart_count = new google.visualization.AreaChart(document.getElementById('chart_div<?= $vars['compare'] ?>'));
            chart_count.draw(orders_count, options_count);
        });
    });

</script>

<div class="statistics-box inventory">
    <div id="title"> 
        <h2 class="strong">Активность регистраций</h2>
        <div class="statistics-body clear" style="padding:10px;">
            <form method="post">
                <label class="cm-required" for="start1">От:</label>
                <input type="text" class="input-text cm-calendar hasDatepicker" value="<?= $vars['date_start'] ?>" name="start1" id="start1" />
                <label class="cm-required" for="end1">До:</label>
                <input type="text" class="input-text cm-calendar hasDatepicker" value="<?= $vars['date_end'] ?>" size="55" name="end1" id="end1" />
                &nbsp;&nbsp;&nbsp;
                <input id="startcompare" type="checkbox" name="startcompare" <?= $_SESSION['Stat_reg_startcompare'] == 1 ? "checked='checked'" : "" ?> />
                <label class="cm-required" for="startcompare">Сравнить периоды</label> 
                &nbsp;
                <span id="compare_wrapper">
                    <label class="cm-required" for="start2">От:</label>
                    <input type="text" class="input-text cm-calendar hasDatepicker" value="<?= $vars['date_start_c'] ?>" name="start2" id="start2" /> 
                    <label class="cm-required" for="end2">&nbsp;До:</label>
                    <input type="text" class="input-text cm-calendar hasDatepicker" value="<?= $vars['date_end_c'] ?>" size="55" name="end2" id="end2" />&nbsp&nbsp 
                </span>
                
                <div style="display: inline-block; vertical-align: middle;" id="compare_wrapper">
                    <input id="type_switcher1" type="radio" name="type_switcher" value="1" <?= $_SESSION['Stat_reg_type_switcher'] == 1 ? "checked='checked'" : "" ?> />
                    <label class="cm-required" for="type_switcher1">За все время:</label><br/>
                    <input id="type_switcher2" type="radio" name="type_switcher" value="2" <?= $_SESSION['Stat_reg_type_switcher'] == 2 ? "checked='checked'" : "" ?> />
                    <label class="cm-required" for="type_switcher2">За период:</label>
                </div>

                <span class="submit-button cm-button-main">
                    <input class="cm-process-items submitStat<?= $vars['compare'] ?>" type="submit" value="OK" />
                </span>
            </form>
        </div>
    </div>
    <div class="statistics-body">

        <div id="stats">
            <div id="chart_div<?= $vars['compare'] ?>" style="width: 100%; height: 250px;"></div>
        </div>

        <div class="itogo">
            <p>
                <b>Итого кол-во: &nbsp;</b><span id="total_sum"><?= $vars['total_sum']; ?></span><br />
            </p>
        </div>
    </div>

</div>