<section id="contacts">
    <div class="container">
	   <h2 class="main-heading text-center">
		  <?= $vars['page']['name'] ?>
	   </h2>
	   <div class="row">
		  <div class="col-xs-12">
			 <div class="map-contact">
				<iframe
				    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12344.3320970679!2d30.64313684291546!3d46.44483511269853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63286af7a6797%3A0xce1ad1ad2834fbb8!2z0YPQuy4g0JHQsNC30L7QstCw0Y8sIDE3LCDQntC00LXRgdGB0LAsINCe0LTQtdGB0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDY1MDAw!5e0!3m2!1sru!2sua!4v1570483508289!5m2!1sru!2sua"
				    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			 </div>
		  </div>
		  <div class="col-xs-12 col-md-5">
			 <div class="panel panel-smart">
				<div class="panel-heading">
				    <h3 class="panel-title">
					   <?= $vars['translate']['contact_info'] ?>
				    </h3>
				</div>
				<div class="panel-body">
				    <ul class="list-unstyled contact-details">
					   <li class="clearfix">
						  <i class="fa fa-home pull-left"></i>
						  <span class="pull-left">
                                    <?= $vars['contacts']['address']['value'] ?>
								</span>
					   </li>
					   <li class="clearfix">
						  <i class="fa fa-phone pull-left"></i>
						  <span class="pull-left">
									<? foreach ($vars['contacts']['phone'] as $phone) { ?>
									    <a onclick="gtag('event','click',{'event_category':'button_tel','event_action':'click'});return true;"
										  class="default-color" href="tel:<?= $phone['row'] ?>">
                                            <span><?= $phone['format'] ?></span>
                                        </a><br>
									<? } ?>
								</span>
					   </li>
					   <li class="clearfix">
						  <i class="fa fa-envelope-o pull-left"></i>
						  <span class="pull-left">
                                    <? foreach ($vars['contacts']['emails'] as $email) { ?>
								<a onclick="gtag('event','click',{'event_category':'mail','event_action':'click'});return true;"
								   class="default-color" href="mailto:<?= $email ?>">
                                            <span><?= $email ?></span>
                                        </a><br>
							 <? } ?>
								</span>
					   </li>
				    </ul>
				</div>
			 </div>
			 <div class="panel panel-smart">
				<?= htmlspecialchars_decode($vars['page']['body']) ?>
			 </div>
		  </div>

		  <div class="col-xs-12 col-md-7">
			 <?= $vars['contact-form'] ?>
		  </div>
	   </div>
    </div>
</section>
<script>
    function myMaps() {
	   var myLatLng = new google.maps.LatLng(<?=$vars['settings']['google_map']?>);
	   var mapOptions = {
		  center: myLatLng,
		  zoom: <?=$vars['settings']['google_map_zoom']?>,
		  gestureHandling: 'greedy',
		  streetViewControl: true,
		  mapTypeId: google.maps.MapTypeId.ROADMAP
	   };

	   if (document.getElementById("map-wrapper")) {
		  var map = new google.maps.Map(document.getElementById("map-wrapper"), mapOptions);
		  var marker = new google.maps.Marker({position: myLatLng, map: map});
	   }
    }
</script>
<script type="text/javascript"
	   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmPY8-Hw2Gn43_zbZvE0Izbxd5isCJHPw&callback=myMaps"></script>


