<section class="body">
    <div class="container">
	   <?= htmlspecialchars_decode($vars['body']['body']) ?>
    </div>
</section>
<section class="products-list">
    <div class="container">
	   <div class="product-head">
		  <?= $vars['translate']['new-products'] ?>
	   </div>
	   <div class="row">
		  <?= $vars['list-new-products'] ?>
	   </div>
    </div>
</section>


<section class="products-list">
    <div class="container">
	   <h2 class="product-head">
		  <?= $vars['translate']['featured-products'] ?></h2>
	   <div class="row">
		  <?= $vars['list-featured-products'] ?>
	   </div>
    </div>
</section>

<?= $vars['news-block'] ?>

