<div class="cm-notification-container"></div>
<?= $vars['message'] ?>
<div>
	<div class="clear mainbox-title-container">
		<h1 class="mainbox-title">Новая страница:&nbsp;</h1>
	</div>
	<div class="extra-tools">

	</div>
	<div class="mainbox-body">
		<div class="tabs cm-j-tabs cm-track">
			<ul>
				<li id="basic" class="cm-js cm-active"><a>Общее</a></li>
				<li id="images" class="cm-js"><a>Обложка</a></li>
				<li id="meta" class="cm-js"><a>Мета данные</a></li>
			</ul>
		</div>
		<div class="cm-tabs-content">

			<form class="cm-form-highlight cm-check-changes" name="page_update_form" method="post" action="">
				<!--Basic start-->
				<div id="content_basic" class="cm-tabs">
					<fieldset>
						<h2 class="subheader"> Информация </h2>

						<div class="form-field">
							<label class="cm-required" for="page">Название:</label>
							<input type="text" class="input-text-large main-input" value="" size="55" name="name"/>
						</div>
						<div class="form-field">
							<label for="page">URL:</label>
							<input type="text" class="input-text-large main-input" value="" size="55" name="url"/>
						</div>
						<div class="form-field">
							<label class="cm-required" for="page">Дата:</label>
							<input type="text" class="input-text cm-calendar hasDatepicker"
								   value="<?= date("Y-m-d H:i:s"); ?>" size="55" name="date" id="news_date"/>
							<img alt="Календарь" title="Календарь" rev="news_date"
								 class="cm-external-focus calendar-but" src="/tpl/admin/images/icons/calendar.png">
						</div>
						<div class="form-field">
							<label for="page_descr">Краткое описание:</label>
							<textarea class="input-textarea-long" rows="10" cols="55" id="body_m"
									  name="body_m"></textarea>
						</div>
						<div class="form-field">
							<label for="page_descr">Описание:</label>

							<?= showEditor('body', ''); ?>
						</div>
						<div class="form-field">
							<label class="cm-required">Состояние:</label>

							<div class="select-field">
								<input type="radio" class="radio" value="1" id="page_data_0_a" name="active"
									   checked="checked"/>
								<label for="page_data_0_a">Вкл.</label>
								<input type="radio" class="radio" value="0" id="page_data_0_d" name="active"/>
								<label for="page_data_0_d">Выкл.</label>
							</div>
						</div>
					</fieldset>
				</div>
				<!--Basic start-->
				<div id="content_images" class="cm-tabs hidden">
					<fieldset>
						<h2 class="subheader">Обложка</h2>

						<?php
							/*
							if(file_exists($dir[0]."{$vars['edit']['id']}_s.jpg"))$src="/".$dir[0]."{$vars['edit']['id']}_s.jpg";
							else $src="/tpl/admin/images/no_image.gif";<label for="page_page_title"><img src="<?=$src?>?<?=date("Y-m-d-H-i-s");?>" alt="" style="max-width: 150px;" /></label>
							<input type="file" name="photo"
							accept="<?= "image/" . implode(",image/", explode(',', EXT_IMAGE)) ?>" />*/
							$path = "files/tmp/";
							$vars['path'] = $path;
							$vars['image_id'] = mktime();
							$_SESSION['tmp_image'] = $vars['image_id'];
							include $_SERVER['DOCUMENT_ROOT'] . "/tpl/admin/upload_img.phtml";
						?>
						<input type="hidden" name="tmp_image" value="<?= $vars['image_id'] ?>"/>

					</fieldset>
				</div>
				<!--Basic start-->
				<div id="content_meta" class="cm-tabs hidden">
					<fieldset>
						<h2 class="subheader"> Meta данные </h2>

						<div class="form-field">
							<label for="page_page_title">Заголовок раздела:</label>
							<input type="text" class="input-text-large" value="" size="55" id="page_page_title"
								   name="title"/>
						</div>
						<div class="form-field">
							<label for="page_meta_keywords">META ключевые слова:</label>
							<textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_keywords"
									  name="keywords"></textarea>
						</div>
						<div class="form-field">
							<label for="page_meta_descr">META описание:</label>
							<textarea class="input-textarea-long" rows="2" cols="55" id="page_meta_descr"
									  name="description"></textarea>
						</div>
					</fieldset>
				</div>
		</div>
		<div class="buttons-container cm-toggle-button buttons-bg">
			<div class="cm-buttons-floating">
				<div class="cm-buttons-placeholder">
							<span class="submit-button cm-button-main">
								<input type="submit" value="Создать" name="add"/>
							</span>&nbsp;
							<span class="submit-button cm-button-main cm-save-and-close">
								<input type="submit" value="Создать и закрыть" name="add_close"
									   class="cm-save-and-close"/>
							</span> &nbsp;или&nbsp;&nbsp;
					<a class="underlined tool-link" href="/admin/<?= $vars['action'] ?>">Отменить</a>
				</div>
			</div>
		</div>
		<input type="hidden" value="<?= $vars['action'] ?>" id="action"/>
		</form>
	</div>
</div>
</div>