<div class="cm-j-tabs" id="navigation">
	<ul>
		<li class="cm-active"><span><a href="/admin/<?= $vars['action'] ?>">Новости</a></span></li>
		<li><span><a href="/admin/<?= $vars['action'] ?>/translate">Переводы</a></span></li>
		<li class="cm-last-item"><span><a href="/admin/<?= $vars['action'] ?>/config">Настройки</a></span></li>
	</ul>
</div>