<section id="review-block">
    <div id="review-block-links">
        <div class="main-title"><?= $vars['translate']['reviews'] ?></div>
        <div class="row flex-wrap justify-content-between">
            <a class="review-block-item col-12 col-md-4"
               href="<?= LINK ?>/comments/site">
                <div class="img-holder">
                    <img src="/tpl/default/img/reviews/site.png" class="img-cover"
                         alt="<?= $vars['translate']['all_reviews'] ?>">
                </div>
                <span> <?= $vars['translate']['all_reviews'] ?> </span>
            </a>
            <a class="review-block-item  col-12 col-md-4"
               href="<?= LINK ?>/comments/instagram">
                <div class="img-holder">
                    <img src="/tpl/default/img/reviews/instagram.png" class="img-cover"
                         alt="<?= $vars['translate']['instagram_reviews'] ?>">
                </div>
                <span> <?= $vars['translate']['instagram_reviews'] ?> </span>
            </a>
            <a class="review-block-item  col-12 col-md-4"
               href="<?= $vars['settings']['google_reviews'] ?>" target="_blank">
                <div class="img-holder">
                    <img src="/tpl/default/img/reviews/google.png" class="img-cover"
                         alt="<?= $vars['translate']['google_reviews'] ?>">
                </div>
                <span> <?= $vars['translate']['google_reviews'] ?> </span>
            </a>
        </div>
    </div>

  <? if (!empty($vars['videos'])) { ?>
      <div id="review-block-videos">
          <div class="main-title"><?= $vars['translate']['video-reviews'] ?></div>
          <div id="video-slider" class="owl-carousel owl-theme custom-owl">
            <? foreach ($vars['videos'] as $item) { ?>
                <a class="video-prev-holder video-holder" data-fancybox data-small-btn="true"
                   href="<?= $item['video'] ?>">
                    <img class="img-cover"
                         src="https://img.youtube.com/vi/<?= getYouTubeCode($item['video']) ?>/0.jpg"/>
                </a>
            <? } ?>
          </div>
      </div>
  <? } ?>

  <? if (!isset($vars['hide_form'])) include $_SERVER['DOCUMENT_ROOT'] . '/tpl/default/forms/add_comment.phtml' ?>

</section>