<section id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <?= $vars['menu_catalogs'] ?>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12">
                <?= isset($vars['breadcrumbs']) ? htmlspecialchars_decode($vars['breadcrumbs']) : '' ?>
                <h1 class="main-heading2 category-name">
                    <?= $vars['title'] ?>
                </h1>
                <div id="load-more" class="row d-flex flex-wrap justify-content-center">
                    <div class="col-xs-12 col-sm-6 col-md-6"> <?= $vars['form'] ?></div>
                    <?= $vars['list'] ?>
                </div>

                <? if ($vars['no-load']) { ?>
                    <div class="load-more-holder">
                        <span class="load-more-gif fa fa-refresh"></span>
                        <div class="btn-more" data-offset="1"
                             onclick="getMoreThumbs(this,'<?= $vars['table'] ?>')">
                            <?= $vars['translate']['download_more_reviews'] ?>
                        </div>
                    </div>
                <? } ?>
            </div>
        </div>
    </div>
</section>